/*
* Surchargez ce fichier dans votre thème pour personnaliser le module
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

ol {
	margin-left: 1.482em;
}

.futur-cat-pages {
	padding-left: 1em;
}

.article-pages header h1 {
	text-align: left;
	font-size: 1.456em;
}

.article-pages header .actions {
	padding-top: 0.456em;
}

.article-pages .options {
	float: left;
	width: auto;
}

.article-pages .content {
	padding-bottom: 85px;
}
