/* --------------------------------------
		global.css
 Contient les classes globales au site, peuvent être utilisées partout.
--------------------------------------*/ /* Classes générales
--------------------------------------*/
    /* Case générale des tableaux du site*/
.row1,.block_contents1 {
    background:#dbe6d8;
    border:1px solid #a5b492;
    padding:6px;
    margin-bottom:-1px;
}

.block_contents1 {
    padding:20px 6px;
}

.row2,.block_contents2 {
    background:#f1f4ea;
    border:1px solid #a5b492;
    padding:6px;
    margin-bottom:-1px;
}

.block_contents2 {
    padding:20px 6px;
    margin-bottom:-1px;
}

.row3,.block_contents3 {
    background:#dff3d7;
    border:1px solid #a5b492;
    padding:6px;
    margin-bottom:-1px;
}

.block_contents3 {
    padding:20px 6px;
}

/* Case résultat recherche membre AJAX */
.xmlhttprequest_result_search {
    overflow:auto;
    height:100px;
    width:100px;
    overflow:auto;
    font-size:11px;
    background:#dbeace;
    border:1px solid #a5b492;
    color:#061729;
    padding:2px;
}

/*Affichage du mini calendrier */
.calendar_block {
    position:absolute;
    text-align:center;
    padding:6px 4px;
    background:#bee2bc;
    border:1px solid #a5b492;
    bottom:28px;
    width:204px;
    z-index:100;
}

/* Déplacement des fichiers*/
.upload_selected_cat {
    background:#bee2bc;
    border:1px solid #a5b492;
}

/* Lien du site
--------------------------------------*/
/* Liens petite taille */
a.small_link {
    font-size:10px;
}

a.small_link:hover {
    font-size:10px;
}

/* Liens grande taille */
a.big_link {
    font-size:15px;
}

a.big_link:hover {
    font-size:15px;
}

/* Liens des commentaires. */
a.com {
    color:#459a03;
    font-size:10px;
    font-weight:bold;
}

a.com:hover {
    color:#66b804;
    font-size:10px;
    font-weight:bold;
}

/* Lien des utilisateurs => ne pas changer le nom de ces classes! */
a.admin {
    color:#FFA34F;
    font-size:11px;
    font-weight:bold;
}

a.modo {
    color:#006699;
    font-size:11px;
    font-weight:bold;
}

a.membre {
    color:#000000;
    font-size:11px;
    font-weight:bold;
}

/* Liens pagination
--------------------------------------*/
.pagination {
    font-size:11px;
}

.pagination_current_page {
    text-decoration:underline;
}

/*Menu dynamique des liens
--------------------------------------*/
/* Lien du menu */
.dynamic_menu h5 {
    color:#0578CC;
    	background:url(images/sub.png) repeat-x;
		height:15px;
		width:90px;
    border:1px solid #a5b492;	
}

.dynamic_menu h5:hover {
    color:#01528D;
    background:url(images/subover.png) repeat-x;
	  border:1px solid #000;
}
.dynamic_menu h5 a:hover {
    color:#fff;
  
	  
}

/* Séparateur */
.dynamic_menu ul li.separator {
    background:#849AAC;
}

.dynamic_menu ul li.extend {
	background:url(images/bgmenu_extend.png);
}

/* Case du menu */
.dynamic_menu li ul {
    border:1px solid #000;
}

.dynamic_menu li li {
    color:#fff;
    background: url(images/fon.png);
}

.dynamic_menu li li a {
    color:#fff;
}

.dynamic_menu li li a:hover {
    background-color:#000;
    border:1px solid #000;
	color:#fff;
}
