/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
 * colors for code blocks
*/

pre span[style*="color: #000000;"] {color: var(--txt-main) !important;}
pre span[style*="color: #000066;"] {color: var(--txt-main) !important;}
pre span[style*="color: #000080;"] {color: var(--txt-main) !important;}
pre span[style*="color: #000099;"] {color: var(--txt-main) !important;}
pre span[style*="color: #0000cd;"] {color: var(--txt-main) !important;}
pre span[style*="color: #0000dd;"] {color: var(--txt-main) !important;}
pre span[style*="color: #0000FF;"] {color: var(--txt-main) !important;}
pre span[style*="color:#0000FF"] {color: var(--txt-main) !important;}
pre span[style*="color: #003366;"] {color: var(--txt-main) !important;}
pre span[style*="color: #004000;"] {color: var(--txt-main) !important;}
pre span[style*="color: #006600;"] {color: var(--txt-main) !important;}
pre span[style*="color: #006633;"] {color: var(--txt-main) !important;}
pre span[style*="color: #006699;"] {color: var(--txt-main) !important;}
pre span[style*="color: #008000;"] {color: var(--txt-main) !important;}
pre span[style*="color: #008080;"] {color: var(--txt-main) !important;}
pre span[style*="color: #009900;"] {color: var(--txt-main) !important;}
pre span[style*="color: #009933;"] {color: var(--txt-main) !important;}
pre span[style*="color: #009966;"] {color: var(--txt-main) !important;}
pre span[style*="color: #00AA00;"] {color: var(--txt-main) !important;}
pre span[style*="color:#00AF07;"] {color: var(--txt-main) !important;}
pre span[style*="color: #00bbdd;"] {color: var(--txt-main) !important;}
pre span[style*="color: #00CC00;"] {color: var(--txt-main) !important;}
pre span[style*="color: #202020;"] {color: var(--txt-main) !important;}
pre span[style*="color: #208080;"] {color: var(--txt-main) !important;}
pre span[style*="color: #3333ff;"] {color: var(--txt-main) !important;}
pre span[style*="color: #3366CC;"] {color: var(--txt-main) !important;}
pre span[style*="color: #339933;"] {color: var(--txt-main) !important;}
pre span[style*="color: #404040;"] {color: var(--txt-main) !important;}
pre span[style*="color: #483d8b;"] {color: var(--txt-main) !important;}
pre span[style*="color: #660066;"] {color: var(--txt-main) !important;}
pre span[style*="color: #660099;"] {color: var(--txt-main) !important;}
pre span[style*="color: #666666;"] {color: var(--txt-main) !important;}
pre span[style*="color: #6666cc;"] {color: var(--txt-main) !important;}
pre span[style*="color: #6666ff;"] {color: var(--txt-main) !important;}
pre span[style*="color: #66cc66;"] {color: var(--txt-main) !important;}
pre span[style*="color: #800080;"] {color: var(--txt-main) !important;}
pre span[style*="color: #8000FF;"] {color: var(--txt-main) !important;}
pre span[style*="color: #808080;"] {color: var(--txt-main) !important;}
pre span[style*="color: #990099;"] {color: var(--txt-main) !important;}
pre span[style*="color: #9900FF;"] {color: var(--txt-main) !important;}
pre span[style*="color: #933;"]    {color: var(--txt-main) !important;}
pre span[style*="color: #993333;"] {color: var(--txt-main) !important;}
pre span[style*="color: #999900;"] {color: var(--txt-main) !important;}
pre span[style*="color: #a1a100;"] {color: var(--txt-main) !important;}
pre span[style*="color: #b1b100;"] {color: var(--txt-main) !important;}
pre span[style*="color: #CC0000;"] {color: var(--txt-main) !important;}
pre span[style*="color: #cc00cc;"] {color: var(--txt-main) !important;}
pre span[style*="color: #cc66cc;"] {color: var(--txt-main) !important;}
pre span[style*="color: #dc143c;"] {color: var(--txt-main) !important;}
pre span[style*="color: #ddbb00;"] {color: var(--txt-main) !important;}
pre span[style*="color: #FF0000;"] {color: var(--txt-main) !important;}
pre span[style*="color: #ff0000;"] {color: var(--txt-main) !important;}
pre span[style*="color: #ff4500;"] {color: var(--txt-main) !important;}
pre span[style*="color: #ff7700;"] {color: var(--txt-main) !important;}
pre span[style*="color: #FF8000;"] {color: var(--txt-main) !important;}
pre span[style*="color: #FF9900;"] {color: var(--txt-main) !important;}
pre span[style*="color: #black;"]  {color: var(--txt-main) !important;}
