/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
*/

.explorer h2 { font-size: 1.618em; }

.explorer .content {
	padding: 0;
	min-height: 120px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.explorer .content ul a.parent {
	float: left;
	height: 0;
}

.explorer .content ul a.parent [id^="img2_"] {
	margin-left: -1em;
	margin-right: 0.1618em;
}

.explorer .content ul a {
	display: block;
	padding: 0.228em 0.309em;
	text-decoration: none;
	text-align: left;
}

.explorer .content ul i {
	width: 1.309em;
	vertical-align: top;
	margin-right: 0.309em;
}

.explorer .content ul i:before { vertical-align: middle; }

.explorer .content ul a.parent i:first-child { width: 0.809em; }

.explorer .content ul a.parent i:first-child:before { font-size: 0.809em; }
