/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
*/

fieldset,
.fieldset {
	margin: 1.618em 0;
	background: none;
	border: none;
}

legend,
.legend {
	display: block;
	padding: 0 0.809em;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: transparent;
	text-transform: none;
	font-size: 1.809em;
}

.fieldset-inset { padding: 0.618em 0; }

.fieldset-refresh { text-align: center; }

.fieldset-refresh a:hover { text-decoration: none; }

.fieldset-refresh a:hover span { text-decoration: underline; }

.fieldset-inset h2 { width: 100%; }

.fieldset-mini {
	margin: 1.309em auto auto auto;
	width: 540px;
}

.fieldset-submit { text-align: center; }

.fieldset-submit .fieldset-inset { justify-content: center; }

.fieldset-submit legend {
	position: absolute;
	left: -9000px;
}

fieldset[id*="_captcha_fieldset"],
fieldset[id*="_captcha_fieldset"] .fieldset-inset {
	padding: 0 0.309em;
	margin: 0;
}

@media (min-width: 769px) {
	fieldset[id*="_captcha_fieldset"] { padding: 0 1.309em; }
}

.horizontal-fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	align-items: center;
}

.horizontal-fieldset .horizontal-fieldset-element { align-self: stretch; }

.horizontal-fieldset-desc,
.grouped-inputs .horizontal-fieldset-desc { padding: 0.618em; }

@media (min-width: 769px) {
	.horizontal-fieldset { flex-direction: row; }

	.horizontal-fieldset .horizontal-fieldset-element { align-self: start; }
	.horizontal-fieldset .form-element { width: 100%; }
}
