/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
*/

.formatter-title {
	margin: 1.618rem 0 1.309rem 0;
	font-weight: 300;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: transparent;
}

h2.formatter-title {
	border-width: 0 0 3px;
	margin-top: 2.618rem;
}

h3.formatter-title { border-width: 0 0 2px; }

h4.formatter-title { text-decoration: underline; }

h5.formatter-title {
	font-style: italic;
	text-decoration: underline;
}

h6.formatter-title { font-style: italic; }

h2.formatter-title { font-size: 2.8rem; margin-left: 0; }
h3.formatter-title { font-size: 2.6rem; margin-left: 1.618rem; }
h4.formatter-title { font-size: 2.4rem; margin-left: 3.236rem; }
h5.formatter-title { font-size: 2.2rem; margin-left: 4.854rem; }
h6.formatter-title { font-size: 2.0rem; margin-left: 6.472rem; }

.formatter-title + br + .formatter-title { margin-top: 0; }

.formatter-container {
	position: relative;
	display: block;
}

.formatter-container .formatter-title { font-weight: bold; }

.formatter-content {
	margin: 0;
	padding: 0.456em;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.formatter-hide .formatter-content {
	height: 0;
	max-height: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	transform: scaleY(0);
	transition: transform 0.15s linear;
	transform-origin: 50% 0;
	margin-top: 0.618em;
}

.formatter-show .formatter-content,
.formatter-hide.no-js:hover .formatter-content {
	height: auto;
	max-height: 500px;
	padding: 0.456em;
	overflow: auto;
	visibility: visible;
	transform: scaleY(1);
}

pre span { font-weight: normal !important; }

pre[style*="display:inline;"] {
    padding: 0 0.228em;
    display: inline-block !important;
}

.formatter-hide .formatter-hide-message {
	display: block;
	font-style: italic;
	font-weight: normal;
	font-size: 0.809em;
	padding: 0.228em 0.456em;
	width: 100%;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	margin-top: 0.618em;
}

.formatter-show .formatter-hide-message { display: none; }

.formatter-hide-close-button.pinned {
	padding: 0.228em 1em;
	position: absolute;
	display: none;
	top: 0;
	right: 0;
	font-size: 0.8em;
	font-style: italic;
	cursor: pointer;
	transition: all 0.3s linear;
}

.formatter-show .formatter-hide-close-button { display: block; }

.formatter-hide-close-button:hover { transition: all 0.3s linear; }

.formatter-code .formatter-title { margin: 1rem 0 0.5rem 0; }

.formatter-code .formatter-content {
	overflow: auto;
	max-height: 500px;
	clear: both;
}

.copy-code-content { border-style: dashed; }

.formatter-blockquote .title-perso { padding-left: 1.618em; }

.formatter-blockquote .formatter-content {
	border-width: 0;
	padding: 1.618em;
	font-style: italic;
	position: relative;
}

.formatter-blockquote .formatter-content:before,
.formatter-blockquote .formatter-content:after {
	position: absolute;
	font-family: 'Font Awesome 6 Free';
	font-weight: 900;
	font-size: 1.256em;
}

.formatter-blockquote .formatter-content:before {
	content: '\f10d';
	top: -0.256em;
	left: -0.256em;
}

.formatter-blockquote .formatter-content:after {
	content: '\f10e';
	bottom: -0.256em;
	right: -0.1618em;
}

.copy-code {
	float: right;
	padding: 1.228rem 0.618rem 0.618rem 0;
	font-size: 0.8em;
	font-style: italic;
	cursor: copy;
	transition: all 0.3s linear;
}

.copy-code-txt { padding: 0 0 0 0.228em; }

.formatter-acronym { cursor: help; }

.formatter-block {
	display: block;
	margin: 0.309em 1.309em;
	padding: 0.309em;
	overflow: hidden;
}

.formatter-fieldset { margin: 0.618em; }

.formatter-ul {
	text-align: left;
	list-style-position: inside;
}

.code ol { margin-left: 3em; }

/* --- menu de flux --- */
.feed-list {
	margin: 0.309em 0;
	list-style-type: none;
	text-align: left;
}

@media (max-width: 768px) {
	.feed-list li a {
		margin: 1px 0;
		padding: 0.456em 0;
		display: inline-block;
	}
}
