.modal-button {
    cursor: pointer;
}

.modal-enclosure {
    display: inline-block;
    position: relative;
}

.modal {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.5, 0.5, 0.5, 0.5) 0.3s;
    z-index: -1;

    &.active-modal {
        z-index: 10001;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s cubic-bezier(0.5, 0.5, 0.5, 0.5);
    }

    &.modal-full {
        position: fixed;
        top: 0;
        left: 0;
        height:100vh;
        width:100vw;
    }

    &.modal-pop {
        position: absolute;
        width: 340px;
    }
}

.modal-content {
    padding: 0.618em;
}

.modal-full {
    .modal-content {
        position: absolute;
        top: 0;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.3s cubic-bezier(0.5, 0.5, 0.5, 0.5);
    }
    &.active-modal .modal-content {
        top: 2.618em;
        transition: all 0.3s cubic-bezier(0.5, 0.5, 0.5, 0.5) 0.3s;
        max-height: 100vh;
        overflow-y: scroll;
    }
    .modal-overlay {
        position: fixed;
        top: 0;
        right: 0;
        width:100%;
        height:100%;
    }
}

.hide-modal {
    position: absolute;
    top: 0.456em;
    right: 0.618em;
}

.close-modal { cursor: pointer; }

@media (min-width:769px) {
    .modal-content { padding: 1.618em; }
    .modal-full {
        .modal-content {
            top: calc(50% + 50px);
            transform: translate(-50%, -50%);
            width: 80%;
            max-height: calc(100vh - 3.236em);
        }
        &.active-modal .modal-content {
            top: 50%;
            overflow-y: auto;
        }
    }

    .modal-full {
        &.modal-25 .modal-content,
        &.modal-quarter .modal-content  { width: 25%; }
        &.modal-50 .modal-content,
        &.modal-half .modal-content     { width: 50%; }
        &.modal-auto .modal-content     { width: auto; }
        &.modal-calendar .modal-content { width: 380px; }
    }

    .modal-pop {
        &.modal-pop-bottom {
            transform: translateX(-50%);
            left: 50%;
            top: 100%;
        }
        &.modal-pop-top {
            transform: translateX(-50%);
            left: 50%;
            bottom: 100%;
        }
        &.modal-pop-left {
            top: 0;
            right: 100%;
        }
        &.modal-pop-right {
            top: 0;
            left: 100%;
        }
    }
}

.expand-modal { position: relative; }

.expand-modal::after {
    position: absolute;
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 0.809em;
    content: '\f065'; /* fa-expand */
    top: 0.228em;
    right: 0.309em;
}

/* colors.css */
.modal-pop .modal-content {
    box-shadow: 0 0 3px 2px rgba(var(--darken), 0.5);
}
.modal-content {
    background-color: var(--bgc-main);
}