pre.precode {
    display: flex;
    background-color: var(--bgc-sub);
    overflow: auto;
    margin: 0 0 1.228em;
    padding: 0.618em 1em;
    white-space: pre;
}

pre.precode code,
pre.precode .line-number {
    font-family: Monospace;
    display: block;
}

pre.precode .line-number {
    margin: 0 1em 0 -1em;
    border-right: 1px solid var(--bdr-sub);
    text-align: right;
    user-select: none;
}

pre.precode .line-number span {
    display: block;
    padding: 0 .5em 0 1em;
}
