/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
 * Contains elements for responsive Tabs Menu.
*/

/* hack bbcode */
.tabs-container > br,
.tabs-nav > br,
.tabs-items > br,
.tabs-wrapper > br { display: none; }

.tabs-container {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1.228em;
    position: relative;
    display: flex;
    flex-direction: column;
}

.tabs-nav {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tabs-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.228em;
}

.tabs-bottom > .tabs-nav {
    order: 2;
}

.tab-item {
    padding: 0.309em 0.618em;
    margin: 0 0 0.228em;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 0.309em;
    border-width: 1px;
    border-style: solid;
    border-color: var(--bdr-main);
    color: var(--txt-sub);
    background-color: var(--bgc-sub);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.228em;
}

.tab-item img {
    max-width: 16px;
    max-height: 16px;
}

.tabs-bottom > .tabs-nav > .tabs-items .tab-item {
    margin: 0.228em 0 0;
}

.tab-item.current-tab {
    background-color: var(--bgc-main);
    color: var(--txt-main);
}

.tabs-wrapper {
    order: 2;
    border-width: 1px;
    border-style: solid;
    border-color: var(--bdr-main);
    padding: 1.228em;
    flex: 1 1 auto;
}

.tabs-bottom > .tabs-wrapper {
    order: 1;
}

.tab-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.tab-content:not(.current-tab) .current-tab { display: none; }

.tab-content.current-tab {
    opacity: 1;
    visibility: visible;
    height: auto;
}

@media (min-width: 769px) {
    .tabs-container.tabs-left,
    .tabs-container.tabs-right {
        flex-direction: row;
    }

    .tabs-left > .tabs-nav,
    .tabs-left > .tabs-nav > .tabs-items,
    .tabs-right > .tabs-nav,
    .tabs-right > .tabs-nav > .tabs-items {
        flex-direction: column;
    }

    .tabs-right > .tabs-nav {
        order: 2;
    }

    .tabs-left > .tabs-nav > .tabs-items .tab-item {
        margin: 0 0.228em 0 0;
    }

    .tabs-right > .tabs-nav > .tabs-items .tab-item {
        margin: 0 0 0 0.228em;
    }

    .tabs-right > .tabs-wrapper {
        order: 1;
    }
}

.tab-content.fieldset-inset {
    padding: 0;
}

.tabs-container .fieldset-submit {
    order: 3;
}