.informations-side {
	margin: 69px 0;
	width: 38%;
}

.form-side {
	width: 60%;
}

.per-default {
	margin: 0 13px 0 15px;
}

.is_default_title {
	margin-right: 30px;
}

.name_title {
	margin-right: 45%;
}

div[id*="AdminContactFieldFormController_possible_values_"] {
	margin: 10px 0 0 0;
	clear: both;
}

div[id*="AdminContactFieldFormController_possible_values_"] .form-field-checkbox {
	display: inline-block;
	vertical-align: middle;
}

input[id*="field_name_AdminContactFieldFormController_possible_values_"] {
	margin-bottom: 5px;
	width: 45%;
}

input[id*="field_email_AdminContactFieldFormController_possible_values_"] {
	margin-bottom: 5px;
	width: 40%;
}

select[id*="field_recipient_"] {
	width: 40%;
	height: 37px;
	margin-bottom: 4px;
}

#add-AdminContactFieldFormController_possible_values i[class*="fa-plus"] {
	float: right;
}
