.informations-side {
	width: 38%;
	margin: 69px 0;
}

.form-side { width: 60%; }

.per-default { margin: 0 13px 0 15px; }
.is_default_title { margin-right: 30px; }
.name_title { margin-right: 92px; }
