/* -- Social Connect -- */
/* -------------------- */
a.social-connect {
	display: inline-block;
	vertical-align: middle;
	padding: 0.309em;
	text-align: center;
	font-size: 0.618em;
}

.horizontal-fieldset a.social-connect {
	margin: 0;
	vertical-align: middle;
}

a.social-connect i:before {
	transition: 0.2s ease-out;
}

a.social-connect:hover i:before {
	transition: 0.2s ease-out;
}

span.social-connect i:before { font-size: 1.618em; }
span.social-connect { padding: 1em 1.618em; }

a.social-connect i:before { font-size: 1.618em; }

a.social-connect { padding: 1em 1.618em; }

a.social-connect span {
	display: none;
}

.social-connect { color: #DEDEDE; }

.social-connect i:before       { color: #DFDFDF; }
.social-connect:hover i:before { color: #EFEFEF; }

/* -- Social Share -- */
/* ------------------ */
.social-element > a {
	color: #FFFFFF;
}

/* -- Color Social network -- */
/* -------------------------- */
.discord    { background-color: #7289DA; }
.facebook   { background-color: #3b5998; }
.flickr     { background-color: #f40083; }
.github     { background-color: #24292E; }
.googleplus { background-color: #DD4b39; }
.google     { background-color: #4285f4; }
.instagram  { background-color: #c32aa3; }
.line       { background-color: #00b900; }
.linkedin   { background-color: #0077B5; }
.pinterest  { background-color: #BD081C; }
.reddit     { background-color: #FF4500; }
.skype      { background-color: #00AFF0; }
.slack      { background-color: #4d394b; }
.snapchat   { background-color: #FFFC00; }
.soundcloud { background-color: #FF8800; }
.spotify    { background-color: #1ed760; }
.steam      { background-color: #171A21; }
.telegram   { background-color: #0088CC; }
.tumblr     { background-color: #35465d; }
.twitch     { background-color: #6441A4; }
.twitter    { background-color: #1da1f2; }
.viber      { background-color: #675CA8; }
.wechat     { background-color: #7BB32E; }
.whatsapp   { background-color: #25D366; }
.yahoo      { background-color: #430297; }
.youtube    { background-color: #ff0000; }


/* -- Configuration -- */
/* -------------------------- */
.sortable-block .sortable-title { padding: 8px 5px 10px 10px; }
.sortable-block .sortable-title > span { font-size: .6em; }