/*
* Copy this file in your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

#download-sources-container {
	margin: 1em 1em 1em 2em;
}

.download-sources-title {
	font-weight: bold;
}

.article-download.several-items .actions {
	padding-top: 0.618em;
}


@media (min-width: 769px) {
	#DownloadFormController_file_size_field,
	#DownloadFormController_file_size_unit_field {
		display: inline-block;
	}

	#onblurContainerResponseDownloadFormController_file_size,
	#DownloadFormController_file_size_field,
	#DownloadFormController_file_size_field label,
	#DownloadFormController_file_size_unit_field {
		width: auto;
		margin-right: 0.618em;
	}

	#DownloadFormController_file_size_unit_field  label {
		display: none;
	}

	#DownloadFormController_file_size_unit_field  select {
		width: 120px;
	}
}

@media (min-width: 1025px) {
	#DownloadFormController_file_size_field label {
		margin-right: 10em;
	}
}

@media (min-width: 1367px) {
	#DownloadFormController_file_size_field label {
		margin-right: 14em;
	}
}
