.download-picture {
	display: block;
	padding-bottom: 10px;
	text-align: center;
}

.options {
	max-width: 280px;
}

@media (min-width: 480px) {
	.download-picture {
		float: right;
		padding-left: 10px;
	}
}