# Kernel
kernel/db/config.php

# Cache
cache/*

# Images & files
images/group/*
images/avatars/*
images/maths/*
images/customization/*
images/smileys/*
upload/*

# Modules
!modules
# Ignore modules => PHPBoost/Modules
modules/*.*
modules/*
# Exceptions
!modules/.empty
!modules/connect
!modules/lobby
!modules/pages

# Themes
!templates
# Ignore themes => PHPBoost/Themes
templates/*.*
templates/*
# Exceptions
!templates/base
!templates/__default__

# Languages
!lang
# Ignore languages => PHPBoost/Langs
lang/*.*
lang/*
# Exceptions :
!lang/french
!lang/english

# Root
robots.txt
sitemap.xml
*.swp
*.orig
*.htaccess
nginx.conf

# Editor folder/file projects
nbproject
*.sublime-project
*.sublime-workspace
*.tags
*.tags_swap
*.vscode
*.github

# Directories starting by a dot (.)
.*/
