# Kernel
cache/*
stats/cache/*
robots.txt
sitemap.xml
kernel/db/config.php
*.swp
*.orig
*.htaccess
update/update_log.txt

# Images & files
images/group/*
images/avatars/*
images/maths/*
images/customization/*
images/smileys/*
gallery/pics/*
upload/*

# Non official modules
birthday
countdown
CMSMigrant
dictionary
EasyCss
GoogleAnalytics
HomeCustom
HomeLanding
lastcoms
newscat
PHPBoostOfficial
quotes
ServerStatus
smallads
steam
teamspeack
WikiStatus

# Non official graphic templates
!templates
# Ignore template directories :
templates/*.*
templates/*
# Except following templates :
!templates/base
!templates/__default__

# Non official languages
!lang
# Ignore language directories :
lang/*.*
lang/*
# Except following languages :
!lang/french
!lang/english

# Editor folder/file projects
nbproject
*.sublime-project
*.sublime-workspace
*.tags
*.tags_swap

# Directories starting by a dot (.)
.*/

# nginx file configuration
nginx.conf
