cache/*
robots.txt
sitemap.xml
kernel/db/config.php
*.swp
*.orig
*.htaccess
images/avatars/*
images/maths/*
images/customization/*
images/smileys/*
gallery/pics/*
stats/cache/*
upload/*
update/update_followed.txt
HomeCustom

!templates
# Ignore le répertoire des thèmes:
templates/*.*
templates/*

# Sauf les thèmes suivants :
!templates/base
!templates/default
!templates/phpboost
