Options +FollowSymlinks
RewriteEngine on
# Articles #
RewriteRule ^(.*)articles/articles-([0-9]+)-?([0-9]*)-?([0-9]*)(\+?[^.]*)\.php$ /PHPBoost2/articles/articles.php?cat=$2&id=$3&p=$4 [L,QSA]

# Calendrier #
RewriteRule ^(.*)calendar/calendar-([0-9]+)-([0-9]+)-([0-9]+)-?([0-9]*)\.php$ /PHPBoost2/calendar/calendar.php?d=$2&m=$3&y=$4&e=$5 [L,QSA]

# Téléchargement #
RewriteRule ^(.*)download/download-([0-9]+)-?([0-9]*)-?([0-9]*)(\+?[^.]*)\.php$ /PHPBoost2/download/download.php?cat=$2&id=$3&p=$4 [L,QSA]

# Forum #
RewriteRule ^(.*)forum/forum-([0-9]+)-?([0-9]*)(\+?[^.]*)\.php$ /PHPBoost2/forum/forum.php?id=$2&p=$3 [L,QSA]
RewriteRule ^(.*)forum/topic-([0-9]+)-?([0-9]*)-?([0-9]*)-?([0-9]*)(\+?[^.]*)\.php$ /PHPBoost2/forum/topic.php?id=$2&pt=$3&idm=$4&quote=$5 [L]
RewriteRule ^(.*)forum/cat-([0-9]+)(\+?[^.]*)\.php$ /PHPBoost2/forum/index.php?id=$2 [L,QSA]

# Galerie #
RewriteRule ^(.*)gallery/gallery-([0-9]+)-?([0-9]*)-?([0-9]*)(\+?[^.]*)\.php$ /PHPBoost2/gallery/gallery.php?cat=$2&id=$3&p=$4 [L,QSA]

# News #
RewriteRule ^(.*)news/news-([0-9]+)-?([0-9]*)-?([0-9]*)(\+?[^.]*)\.php$ /PHPBoost2/news/news.php?cat=$2&id=$3&p=$4 [L,QSA]

# Sondages #
RewriteRule ^(.*)poll/poll-([0-9]+)-?([0-9]*)-?([0-9]*)\.php$ /PHPBoost2/poll/poll.php?id=$2&r=$3&p=$4 [L,QSA]

# Stats #
RewriteRule ^(.*)stats/stats-([a-z]+)\.php$ /PHPBoost2/stats/stats.php?$2=1 [L]

# Web #
RewriteRule ^(.*)web/web-([0-9]+)-?([0-9]*)-?([0-9]*)(\+?[^.]*)\.php$ /PHPBoost2/web/web.php?cat=$2&id=$3&p=$4 [L,QSA]

# Wiki #
RewriteRule ^(.*)wiki/([a-z0-9-]+)$ /PHPBoost2/wiki/wiki.php?title=$2

# Pages #
RewriteRule ^(.*)pages/([a-z0-9-]+)$ /PHPBoost2/pages/pages.php?title=$2

# FAQ #
RewriteRule ^(.*)faq/faq-([0-9]+)(\+?[^.]*)\.php(\?question=([0-9]+))?$ /PHPBoost2/faq/faq.php?id=$2&id_question=$4 [L,QSA]

# Core #
RewriteRule ^(.*)member/member-([0-9]+)-?([0-9]*)\.php$ /PHPBoost2/member/member.php?id=$2&p=$3 [L,QSA]
RewriteRule ^(.*)member/pm-?([0-9]+)-?([0-9]{0,})-?([0-9]{0,})-?([0-9]{0,})-?([a-z_]{0,})\.php$ /PHPBoost2/member/pm.php?pm=$2&id=$3&p=$4&quote=$5 [L,QSA]

# Error page #
ErrorDocument 404 http://localhost/PHPBoost2/news/news.php

# Bandwith protection #
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://localhost
ReWriteRule .*upload/.*$ - [F]