/* --------------------------------------
		global.css
 Contient les classes globales au site, peuvent être utilisées partout.
--------------------------------------*/

/* Classes générales
--------------------------------------*/
/* Case générale des tableaux du site*/
.row1{
	background:#D1E4F4;
	border:1px solid #487B9C;
	padding:6px;
}
.row2{
	background:#B8D3EA;
	border:1px solid #487B9C;
	padding:6px;
}
.row3{
	background:#9EC2DB;
	border:1px solid #487B9C;
	padding:6px;
}
/* Case résultat recherche membre AJAX */
.xmlhttprequest_result_search{
	overflow:auto;
	height:100px;
	width:100px;	
	overflow:auto;
	font-size:11px;
	background:#DEF2FF;
	border:1px solid #2C5169;
	color:#061729;
	padding:2px;
}
/*Affichage du mini calendrier */
.calendar_block{
	position:absolute;
	text-align:center;
	padding:6px 4px;
	background:#AFD2E8;
	border:1px solid #2C5169;
	bottom:28px; 
}
/* Déplacement des fichiers*/
.upload_selected_cat{
	background:#AFD2E8;
	border:1px solid #2C5169;
}


/* Lien du site 
--------------------------------------*/
a{ 
	color:#153A59; 
	text-decoration:none; 
	font-weight:bold;
	font-size:11px;
}
a:hover{ 
	color:#2C84CF; 
	text-decoration:underline;
	font-weight:bold;
	font-size:11px; 
}
/* Liens petite taille */
a.small_link{ 
	color:#2A5579;
	font-size:10px;
}
a.small_link:hover{ 
	color:#001b35;
	font-size:10px;
}
/* Liens des commentaires. */
a.com{
	color:#2A5579; 
	font-size:10px;
	font-weight:bold;
}
a.com:hover{ 
	color:#001b35; 
	font-size:10px;
	font-weight:bold;
}
/* Lien des utilisateurs => ne pas changer le nom de ces classes! */
a.admin{
	color:#FFA34F; 
	font-size:11px;
	font-weight:bold;
}
a.modo{
	color:#006699; 
	font-size:11px;
	font-weight:bold;
}
a.member{
	color:#E7E7E7; 
	font-size:11px;
	font-weight:bold;
}


/*Menu dynamique des liens
--------------------------------------*/
#dynamic_menu h5
{
	color:#edfff0;
	text-align:center;
	background:#1C618C;
	border:1px solid #122B40;
	padding:4px 0px;
	font-weight:bold;
	font-size:12px;
	cursor:pointer;
}
#dynamic_menu h5.horizontal
{
	height:16px;
	padding:4px 2px;
	margin-left:15px !important;	
	margin-left:8px;
	float:left;
}
#dynamic_menu h5:hover
{
	background:#6090B8;
}
#dynamic_menu .vertical_block{
	margin:0;
	padding:0;
	width:171px;
	z-index:100;
	position:absolute;
	display:none;
	background:url("images/border_right.png") repeat-y right;
	padding-right:2px;
	margin:-23px 150px !important;
	margin:-42px 150px;
}
#dynamic_menu .horizontal_block{
	margin:0;
	padding:0;
	width:171px;
	z-index:100;
	position:absolute;
	display:none;
	background:url("images/border_right.png") repeat-y right;
	padding-right:2px;
	margin:26px 0px !important;
	margin:26px -80px;
}
#dynamic_menu ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:169px;
	border-top:1px solid #122B40;
	border-bottom:1px solid #122B40;
}
/* Effet d'ombre en bas du menu */
html>body .dm_bottom{
	display:block;
	height:4px;
	width:164px;
	margin-left:5px;
	background:url("images/border_bottom.png") repeat-x;
}
/* Case du menu */
#dynamic_menu li{
	color:#000000;	
	background:#6D9AC0 url("images/bgmenu.gif") repeat-y;
	text-align:left;
	display:block;
	width:167px;
	border-left:1px solid #122B40;
	border-right:1px solid #122B40;
	text-decoration:none;
}
#dynamic_menu li a{
	color:#000000;	
	font-size:0.85em;
	text-decoration:none;
	padding-left:32px;
	width:131px;
	display:block;
	white-space:nowrap; 	
	margin:auto;
	padding-top:6px;
	padding-bottom:6px;	
}
#dynamic_menu li a:hover{	
	background-color:#93C1E9;
	border:1px solid #287FC9;
	padding-top:5px;
	padding-bottom:5px;
}
