/*
* Copy this file in your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

.map-address-input {
	width: 100%;
}

.map-canvas {
	width: 100%;
	padding-bottom: 56.25%;
}

.googlemap {
	width: 100%;
	padding-bottom: 56.25%;
}
