.map-canvas {
	height: 200px;
}

.googlemap {
	width: 100%;
	padding-bottom: 56.25%;
}

input.map-address-input {
	width: 100%;
}

input.marker-address-input {
	width: calc(100% - 183px);
}

.markers-container input.marker-address-input {
	width: calc(100% - 200px);
}

input.marker-desc-input {
	width: 179px;
}

@media (max-width: 768px) {
	div[id*="address_field"] > .form-field,
	div[id*="marker_field"] > .form-field,
	div[id*="markers_field"] > .form-field {
		display: block;
	}

	input.marker-address-input {
		width: calc(100% - 154px);
	}

	.markers-container input.marker-address-input {
		width: calc(100% - 175px);
	}

	input.marker-desc-input {
		width: 150px;
	}
}

@media (min-width: 769px) {
	div[id*="address_field"] > .form-field,
	div[id*="marker_field"] > .form-field,
	div[id*="markers_field"] > .form-field {
		width: 59%;
	}
}
