.wiki_paragraph1
{
	width:98%;
	margin:auto;
	color:#E53B00;
	font-size:14px;
	font-weight:bold;
	margin-bottom:-15px;
	padding:0px 5px;
	border-bottom:2px solid #E53B00;
}
.wiki_paragraph2
{
	display:inline;
	color:#333333;
	font-size:14px;
	font-weight:bold;
	margin-left:45px;
	margin-bottom:45px;
	padding:2px 5px;
	font-weight:bold;
	background:#FFFFFF;	
	border:1px solid #0578CC;
	border-top:3px solid #0578CC;
}
.wiki_paragraph3
{
	text-indent:60px;
	font-size:16px;
	font-style:italic;
	text-decoration:underline;
}
.wiki_paragraph4
{
	text-indent:80px;
	font-size:14px;
	font-style:italic;
	text-decoration:underline;
}
.wiki_paragraph5
{
	text-indent:100px;
	font-size:12px;
	font-style:italic;
}
.wiki_list_1
{
	list-style-type:upper-roman;
}
.wiki_list_2
{
	list-style-type:decimal;
}
.wiki_list_3
{
	list-style-type:upper-alpha;
}
.wiki_list_4
{
	list-style-type:lower-alpha;
}
.wiki_list_5
{
	list-style-type:lower-greek;
}

.wiki_button
{
	width:145px;	
	height:20px;
	background:#A7C7DF;	
	font-weight:bold;
	color:#edfff0;
	text-align:center;
	text-decoration:none;
	border:1px solid #6D93B4;
	margin-left:10px;
	padding:4px 2px;
	cursor:pointer;
}
 .wiki_selected_cat
 {
	background:#A7C7DF;
	border:1px solid #5B6974;
 }
 ol{
	margin-left:25px;
 }
