/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

#wiki-sources-container { margin: 1em 1em 1em 2em; }

.wiki-sources-title { font-weight: bold; }

.several-items .article-wiki .actions { padding-top: 0.618em; }

@media (min-width: 769px) {
	#WikiFormController_file_size_field,
	#WikiFormController_file_size_unit_field { display: inline-block; }

	#onblurContainerResponseWikiFormController_file_size,
	#onblurContainerResponseWikiFormController_file_size_unit,
	#WikiFormController_file_size_field label,
	#WikiFormController_file_size_unit_field label {
		width: auto;
		margin-right: 0.618em;
	}

	#WikiFormController_file_size_unit_field  select { width: 120px; }
}

/*
 * summary menu
*/
#summary-list li { 
	font-size: 0.809em;
	padding: 0; 
}

#summary-list li a { 
	display: flex;
	flex-direction: row;	
	padding: 0.228em;
	text-decoration: none;
}

#summary-list .inner-title { 
	flex: 1 1 auto; 
	margin-left: 0.309em;
}

#summary-list .smaller { align-self: center; }

/* --- Thumbnail --- */

.item-thumbnail {
	padding: 0.309em 0;
	display: block;
	background-color: var(--bgc-main);
}

@media (min-width: 769px) {
	.item-thumbnail {
		max-width: 38%;
		float: right;
		padding: 0.309em 0 0.618em 0.618em;
		position: relative;
		z-index: 2;
	}
}

.nav-items-list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
}

.root-items {
	margin: 0;
	padding-left: 1.618em;
	position: relative;
}

.reorder-items {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

#category-nav ul ul { padding-left: 1.618em; }

.list-item:hover { background-color: rgba(var(--main-rgb-d), 0.2); }

.list-item {
	position: relative;
	flex: 1 1 auto;
	padding: 0.456em;
}

#category-nav .has-children>[class*="toggle-menu-button-"] > .list-item { padding-left: 1.618em; }

#category-nav .has-children>[class*="toggle-menu-button-"] { cursor: pointer; }

#category-nav .has-children>[class*="toggle-menu-button-"] > .list-item:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0.456em;
	content: '\f0fe';
	font-family: 'Font Awesome 7 free';
	font-weight: 400;
}

#category-nav .has-children>[class*="toggle-menu-button-"]>.is-open-menu.list-item::before { content: '\f146'; }

#category-nav [class*="items-list-"]:not([class*="items-list-0"]) {
	opacity: 0;
	visibility: hidden;
	height: 0;
}

#category-nav [class*="items-list-"].show-list {
	opacity: 1;
	visibility: visible;
	height: auto;
}

#overview-nav [data-p-id="0"] > span {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: var(--bdr-main);
    padding-bottom: 0.228em;
}

#overview-nav .cell { padding-top: 0.228em; }

#overview-nav [data-sub] { padding: 0 0 0 1.618em; }

.active-content td { background-color: var(--bgc-sub); }

.large-table p.ellipsis { margin: 0; }

.show-anchor {
    background-color: var(--bgc-main);
    width: 300px;
    z-index: 5;
    position: fixed;
    top: 1.618em;
    left: -400px;
    transition: all 0.5s;
}

.show-anchor.active-anchor {
    left: 1.618em;
    transition: all 0.5s;
}
.summary-sticky.cell-name {
    padding: 0.309em;
    background-color: var(--bgc-alt);
    color: var(--txt-alt);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-220px);
    opacity: 0.5;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 5;
}

.summary-sticky.cell-name:hover {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s;
}

.summary-sticky.cell-name i { margin-left: 0.618em; }

.summary-sticky.cell-list {
    padding: 0.618em;
    background-color: var(--bgc-main);
    border-right: 1px solid var(--bdr-main);
    max-width: 500px;;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s;
    overflow-y: auto;
}

.summary-sticky.cell-list.open-summary {
    transform: translateX(0);
    transition: all 0.5s;
}