/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

.wiki-paragraph-1 {}
.wiki-paragraph-2 {}
.wiki-paragraph-3 {}
.wiki-paragraph-4 {}
.wiki-paragraph-5 {}

.wiki-list {
	margin: 0.456em 0 0 2.618em;
}

.wiki-list-1 > li {
	margin: 0.3em 0 0 0;
}

.wiki-list-1 { list-style-type: upper-roman; 	}
.wiki-list-2 { list-style-type: decimal; 	}
.wiki-list-3 { list-style-type: upper-alpha; 	}
.wiki-list-4 { list-style-type: lower-alpha; 	}
.wiki-list-5 { list-style-type: lower-greek; 	}

ul.no-list {
	margin: 0 0 0 1.309em;
}

ul.no-list a i.fa {
	width: 1.228em;
}

#module-wiki .content .options {
	float: none;
	text-align: center;
	margin: 2.618em 0 0;
}

#module-wiki hr {
	margin: 0 auto 1.618em;
}

.wiki-summary {
	display: inline-block;
	padding: 0.382em 0.809em;
	width: 100%;
	background-color: var(--bgc-alt);
	border-width: 1px;
	border-style: solid;
	border-color: var(--bdr-alt);
	margin-bottom: 2.618em;
}

.wiki-summary-title {
	font-weight: bold;
}

.futur-cat-pages {
	padding-left: 1em;
}

#article-wiki .content {
	margin-bottom: 1.618em;
}

#article-wiki .content .options {
	float: none;
	width: 50%;
}

.wiki-hits {
	margin: 0.456em auto 0.618em auto;
	text-align: center;
}

.wiki-bbcode {
	margin-bottom: -0.382em;
}

.wiki-bbcode .bbcode-containers {
	border-top: none;
}

.bbcode li.bbcode-elements > a.bbcode-wiki-insert {
	width: 100%;
}

.wiki-bbcode.bbcode li:nth-child(3).bbcode-elements > a {
	padding: 0;
}

.wiki-tools-container {
	margin-bottom: 1.482em;
}

#wiki-link-container li {
	margin: 0 0.228em 0 0;
}

.explorer h1,
.wiki-history h1 {
	font-size: 1.456em;
	margin-bottom: 1.309rem;
}

.explorer h2 {
	font-size: 1.228em;
}

/* Main categories - Last articles */

.wiki-list-top {
	padding: 0.382em;
	background-color: rgba(var(--main-rgb-d), 0.1);
	font-weight: bold;
}

.wiki-list-item {
	padding: 0.1618em 0.309em;
}

.wiki-list-item i {
    font-size: 0.809em;
}

.col-max{
    max-width: 200px;
}

/* --- sticky needs --- */

body {
	overflow: hidden;
	overflow-y: auto;
	left: 0;
}

.wiki-sticky-title {
	position: fixed;
	top: 0.1em;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.1em 0.809em;
	background-color: var(--main-dark);
	color: var(--txt-light);
	display: block;
}

@media (min-width: 769px) {
	.wiki-sticky-title {
		padding: 0.618em 0.809em;
		top:8.618em;
		left: -3.618em;
		transform: translateX(0);
		opacity: 0.3;
		transform: rotate(-90deg);
	}

	.wiki-sticky-title:hover {
		opacity: 1;
	}
}

.wiki-sticky-title {
	cursor: pointer;
	z-index: 400;
}

.wiki-sticky {
	padding: 0.382em 0.809em;
	left: -9000px;
  	top: 1.618em;
  	position: fixed;
  	overflow-y: auto;
	background-color: var(--bgc-main);
	margin-bottom: 2.618em;
	height: 100%;
}

.wiki-sticky ol {
	margin-left: 0.618em;
}

@media (min-width: 769px) {
	.wiki-sticky {
		top: 5em;
	}

	.wiki-sticky > ol {
		margin-left: 3.618em;
	}

	.wiki-sticky ol ol{
		margin-left: 1.618em;
	}
}

.wiki-sticky a:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.wiki-sticky > ol > li > a {
	text-transform: uppercase;
}
