/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

.cell .upload-help { margin: 0.618em !important; }

.db-restore { padding: 5px; }

#breadcrumb { font-size: 1em; }

.db-executed-query { margin: 0; }

.db-executed-query p { font-size: 1em; }

.flex-database {
    display: flex;
    justify-content: space-around;
}

.flex-database button { margin: 0.618em; }
