.legend-line {
    padding: 0 0 8px 0;
}

.legend-color {
    font-size: 2em;
    vertical-align: -1px;
}

.legend {
    padding-right: 20px;
}

.title-column {
    width: 30%;
}

.small-column {
    width: 10%;
}

.medium-column {
    width: 20%;
}

#status-chart {
    width: 90%;
}

/* Surcharge de la classe block pour mettre un fond blanc */
.block {
    background: #FFFFFF
}

table.version-list tfoot tr th,
table.categories-list tfoot tr th {
	padding: 8px 0;
}

table.version-list input[id*="release_date"]{
    width: 80%;    
}

table.bt tbody td .bt-content {
    width:65% !important;
}

td .form-field-checkbox {
    margin: auto;
}

.cw25 {
    width: 100%;
    text-align: center;
}

@media (min-width:980px){
    .cw25 {
        width: calc(100% / 4);        
    }
}

div[id*="calendar"] {
    width: 250px;
    left: auto !important;
    right: auto !important;
}

@media (min-width:980px){
    div[id*="calendar"] {
        width: 320px;
    }
}


