/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

#cssmenu-bugtrackerpageslist { margin-bottom: 0.809em; }

.cssmenu-group .cssmenu-title-icon {
	border-width: 1px 0 1px 0;
}

.legend-line { padding: 0 0 0.618em 0; }

.legend-color {
	font-size: 2em;
	vertical-align: -1px;
}

.legend { padding-right: 1.309em; }

.bugtracker-actions a { padding: 0.228em; }

@media (max-width: 768px) {
	.bugtracker-actions a {
		display: inline-block;
		padding: 1em;
	}
}

.bugtracker-filter { text-align: left; }

.table-form .fieldset-content,
.table-form .horizontal-fieldset,
.table-form .horizontal-fieldset-element,
.table-form .form-element {
	margin: 0;
	padding: 0;
	display: block;
}

.table-form select { width : 100%; }

table.bt .bt-content { width: 65% !important; }

.cell-progressbar { width: 50%; }
