#cssmenu-bugtrackerpageslist {
	margin-bottom: 10px;
}

.legend-line {
	padding: 0 0 8px 0;
}

.legend-color {
	font-size: 2em;
	vertical-align: -1px;
}

.legend {
	padding-right: 20px;
}

.title-column 	{ width: 30%; }
.small-column 	{ width: 10%; }
.medium-column 	{ width: 20%; }
#status-chart 	{ width: 90%; }

/* Surcharge de la classe block pour mettre un fond blanc */
.block {
	background-color: #FFFFFF;
}

#module-bugtracker table#table {
	table-layout: fixed;
}

table.version-list tfoot tr th,
table.categories-list tfoot tr th {
	padding: 8px 0;
}

table.version-list input[id*="release_date"] {
	width: 80%;    
}

table.bt tbody td .bt-content {
	width: 65% !important;
}

td .form-field-checkbox {
	margin: auto;
}

.form-field-progressbar {
	width: 25%;
}

.cw25 {
	width: 100%;
	text-align: center;
}

@media (min-width: 981px) {
	.cw25 {
		width: calc(100% / 4);        
	}
}

div[id*="calendar"] {
	left: auto !important;
	right: auto !important;
}

@media (max-width: 980px) {
	table.version-list div[id*="calendar"] {
		display: none !important;
	}
	
	table.version-list .fa-calendar {
		display: none !important;
	}
}
