/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

.content .media-content { margin: 1.618em 0; }

.media-filter fieldset { margin: 0; }

.media-filter .fieldset-inset { padding: 0.618em 0 0; }
