/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
 * Contains all the elements colors of the dashboard if not in colors.css or if different
*/

 /* --- dashboard_shape.css --- */
	body {
		background-color: var(--bgc-sub);
		color: var(--txt-main);
	}

	#header-admin {
		background-image: linear-gradient(to bottom, var(--main-tone) 0%, var(--main-dark) 100%);
		background-color: var(--bgc-alt);
		color: var(--txt-alt);
	}

	#site-name { color: var(--txt-alt); }

	#footer {
		background-color: var(--main-dark);
		border-color: var(--main-tone);
	}

	#footer span { color: var(--txt-alt); }

	#footer a { color: var(--logo-tone); }

/* --- Content --- */
.options { background-color: var(--bgc-main); }

.db-executed-query { background-color: var(--bgc-main); }

.addon-auth-content { background-color: var(--bgc-main);}

/* --- cell.css --- */
.cell-tile .cell > [class*="cell-"] { background-color: var(--bgc-main); }

.cell-thumbnail a:hover { color: var(--txt-alt); }

.cell-modal .content-panel.cell { background-color: var(--bgc-main); }

.cell-textarea .form-element { border-color: transparent; }

.sortable-element,
.sortable-element:hover { background-color: var(--bgc-main); }

/* --- Table --- */
table thead th {
	background-color: var(--bgc-alt);
	color: var(--txt-alt);
}

table thead th a { color: var(--txt-alt); }

.html-table-header-sortable:hover a,
.html-table-header-sortable.sort-active a {
	background-color: var(--bgc-main);
	color: var(--txt-main);
}

.alert-very-low-priority  { color: var(--notice-tone); border-color: var(--notice-tone); background-color: rgba(var(--notice-rgb-t), 0.2); }
.alert-low-priority       { color: var(--question-tone); border-color: var(--question-tone); background-color: rgba(var(--question-rgb-t), 0.2); }
.alert-medium-priority    { color: var(--success-tone); border-color: var(--success-tone); background-color: rgba(var(--success-rgb-t), 0.2); }
.alert-high-priority      { color: var(--warning-tone); border-color: var(--warning-tone); background-color: rgba(var(--warning-rgb-t), 0.2); }
.alert-very-high-priority { color: var(--error-tone); border-color: var(--error-tone); background-color: rgba(var(--error-rgb-t), 0.2); }

/* --- Form elements --- */

@media (min-width: 769px) {
	.form-element { border-color: var(--bdr-main); }
}

/* --- Input --- */
[type=text],
[type=email],
[type=url],
[type=number],
[type=color],
[type=tel],
[type=search],
[type=password],
[type=file],
textarea,
select { background-color: var(--bgc-main); }

/* --- Checkbox --- */
.mini-checkbox .checkbox [type="checkbox"] + span::before {
	background-color: var(--bgc-main);
	box-shadow: 0 0 1px 2px rgba(var(--darken), 0.25);
}

.mini-checkbox .checkbox [type="checkbox"]:checked + span::after { color: var(--main-tone); }

.custom-checkbox .checkbox [type="checkbox"] + span::before { border-color: var(--error-tone); }

.custom-checkbox .checkbox [type="checkbox"]:checked + span::before { border-color: var(--success-tone); }

.custom-checkbox .checkbox [type="checkbox"] + span::after {
	background-color: var(--error-tone);
	color: var(--txt-alt);
}

.custom-checkbox .checkbox [type="checkbox"]:checked + span::after {
	background-color: var(--success-tone);
	color: var(--txt-alt);
}

.custom-radio .radio [type="radio"]:not(:checked) + span::before,
.custom-radio .radio [type="radio"]:checked + span::before {
	background-color: var(--bgc-main);
	box-shadow: 0 0 1px 2px rgba(var(--darken), 0.25);
}

.custom-radio .radio [type="radio"]:not(:checked) + span:after,
.custom-radio .radio [type="radio"]:checked + span:after {
	background-color: var(--bgc-sub);
	background-image: linear-gradient(to bottom, rgba(var(--lighten), 0.18) 0%, rgba(var(--darken), 0.1) 100%);
}

.custom-radio .radio [type="radio"]:checked + span:after {
	background-color: var(--bgc-alt);
	background-image: linear-gradient(to bottom, rgba(var(--lighten), 0.18) 0%, rgba(var(--darken), 0.1) 100%);
}

/* --- Lined textarea --- */
.linedtextarea { background-color: var(--bgc-sub); }

.linedwrap .lines { background-color: var(--bgc-sub); }

/* -- AdminMenu ModalMenu CssMenu ------------------------------------------- */

/* --- Menu header --- */
.menu-title { background-color: rgba(var(--darken), 0.2); }

/* --- admin_menus --- */
.admin-menu > ul > li:hover { background-color: rgba(var(--darken), 0.3); }

.admin-li.current:not(:hover) > a { background-color: rgba(var(--lighten), 0.1); }

.admin-menu ul.modal-menu li:hover > a,
.modal-menu li.current > a,
.modal-menu li:hover > a,
.admin-li.current:hover > a { border-color: var(--main-tone); }

nav.admin-index li:hover { background-color: rgba(var(--darken), 0.1); }

nav.admin-index a { color: var(--txt-alt); }

.admin-li > a { color: var(--txt-alt); }

.admin-li > a:hover { text-shadow: 3px 3px var(--main-dark); }

.modal-menu > li > a {
	border-color: var(--bdr-main);
	color: var(--txt-main);
}

#admin-quick-menu { background-color: var(--administrator-tone); }

#admin-quick-menu li .quick-link { color: var(--txt-alt); }

.js-menu-button { color: var(--txt-alt)}

@media (min-width: 769px) {
	#admin-quick-menu {
		background-color: var(--bgc-main);
		border-color: var(--bdr-main);
	}

	#admin-quick-menu li .quick-link { color: var(--main-tone); }

	#admin-quick-menu li:hover .quick-link { color: var(--main-light); }
}

.admin-extend-menu li:hover { background-color: var(--bgc-main); }

/* --- Menu Manager --- */
@media (max-width: 768px) {
    .themesmanagement {
    	background-color: var(--administrator-tone);
    	color: var(--txt-alt);
    }

    .themesmanagement select {
        background-color: var(--bgc-main);
        color: var(--administrator-tone)
    }
}

@media (min-width: 769px) {
	.themesmanagement {
		background-color: var(--bgc-main);
		color: var(--main-tone);
	}
}

.menu-block-libelle {
	background-color: var(--bgc-main);
	border-color: var(--bdr-main);
}

.menus-block-add {
	background-color: var(--bgc-main);
	border-color: var(--bdr-main);
}

.menus-block-add-links:last-child {
	border-color: var(--bdr-main);
}

.menus-block-container {
	background-color: var(--bgc-main);
	border-color: var(--bdr-main);
}

#mod_topheader, #mod_header, #mod_subheader, #mod_left,
#mod_right, #mod_topcentral,
#mod_central, #mod_bottomcentral,
#mod_topfooter, #mod_footer { border-color: var(--bdr-main); }

.addon.notice 	     { color: var(--notice-tone); 	     border-color: var(--notice-tone); }
.addon.question 	 { color: var(--question-tone); 	 border-color: var(--question-tone); }
.addon.success 	     { color: var(--success-tone); 	     border-color: var(--success-tone); }
.addon.warning 	     { color: var(--warning-tone); 	     border-color: var(--warning-tone); }
.addon.error 		 { color: var(--error-tone); 		 border-color: var(--error-tone); }
.addon.visitor 	     { color: var(--visitor-tone); 	     border-color: var(--visitor-tone); }
.addon.custom-author { color: var(--custom-author-tone); border-color: var(--custom-author-tone); }
.addon.member 	     { color: var(--member-tone); 	     border-color: var(--member-tone); }
.addon.moderator 	 { color: var(--moderator-tone); 	 border-color: var(--moderator-tone); }
.addon.administrator { color: var(--administrator-tone); border-color: var(--administrator-tone); }
.addon.logo-color    { color: var(--logo-tone); 		 border-color: var(--logo-tone); }
.addon.link-color    { color: var(--main-tone); 		 border-color: var(--main-tone); }
.addon.star  		 { color: var(--star-tone); 		 border-color: var(--star-tone); }
