/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
 * Dashboard specifics
*/

/* --- Home page --- */
.welcome-desc h2 { padding: 0 0 0.382em; }

.index-logo {
	float: right;
	width: 100px;
	height: 100px;
	background-image: url(../theme/images/logo.svg);
	background-repeat: no-repeat;
	background-position: center ;
	background-size: contain;
}

/* --- System report --- */
.system-report { font-family: monospace; }

/* --- statistiques --- */
@media (max-width: 768px) {
	#menustats .js-menu-button { display: block; }
}

.bargraph img { width: 100%; }

@media (min-width: 641px) {
	.bargraph img { width:auto; }
}

.fieldset-img { width: 100%; }

@media (min-width: 641px) {
	.fieldset-img { width: auto; }
}
