/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
 * Contains specific css properties for dashboard
*/

/* --- Dashboard preloader --- */
#preloader-status {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
}

/* --- Dashboard homepage --- */
#admin-index .cell h3 { font-size: 1.482em; }

.cell-body form { margin: -0.618em; }

.cell-body fieldset,
.cell-body .fieldset-inset,
.cell-body .form-element {
    padding: 0;
    margin: 0;
}

.cell-body legend {
    padding: 0.309em;
    font-size: 1.482em;
}

.cell-body textarea { margin: 0; }

.dashboard-writting-pad form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dashboard-writting-pad form textarea {
    flex: 1 1 auto;
    min-height: 180px;
}

/* --- Alerts --- */
.alert-priority {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

td.alert-priority { border-width: 0 0 1px 0; }

/* --- multitabs --- */
.close-modal { width: calc(100% - 230px); }

@media (min-width: 769px) {
    .modal {
        left: 230px;
        width: calc(100% - 230px);
    }

	.tabs-container .fieldset-submit {
		position: fixed;
		right: 0.618em;
		bottom: 5%;
	}
}

/* --- Text helper --- */
.text-helper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-helper span { width: 100%; }

@media (min-width: 769px) {
    .text-helper span { width: calc(100% / 2.1); }
}


/* --- Copy to clipboard --- */
.copy-to-clipboard {
	display: block;
	margin: 0 auto;
}

/* --- Sortable menu edition --- */
@media (min-width: 769px) {
    .menu-elements-container .sortable-selector,
    .menu-elements-container .sortable-actions { margin: 1.228em 0 0; }

}

/* --- Push menu --- */
.pushmenu .nav-container { width: 230px; }

.pushmenu.nav-position-left .nav-container  { transform: translate3d(-230px, 0, 0); }
.pushmenu.nav-position-right .nav-container { transform: translate3d(230px, 0, 0); }

/* --- Debugger --- */
@media (min-width: 769px) {
    .debugger { margin-left : 240px; }
}

/* --- Config user default avatar */
@media (min-width: 769px) {
    #AdminMemberConfigController_default_avatar_field,
    #AdminMemberConfigController_default_avatar_preview {
        margin: 0;
        display: inline-block;
        vertical-align: top;
        width: 48%;
    }

    #AdminMemberConfigController_default_avatar_preview { margin-top: -30px; }

    #AdminMemberConfigController_default_avatar_preview label { font-weight: bold;}
}

/* --- Phpinfo --- */
@media (max-width: 768px) {
    table.phpinfo td .bt-content {word-break: break-word;}
}
