.calendar_container{

}

.calendar_containt{
	padding:6px;
	border:1px solid #BEBEBE;
	border-top:none;
}

.calendar_top_l{
	float:left;
	height:30px;
	width:39px;
	padding-top:7px;
	background: #336397;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	border-top:1px solid #BEBEBE;
	border-left:1px solid #BEBEBE;
}

.calendar_top_l a, .calendar_top_l a:hover, .calendar_top_r a, .calendar_top_r a:hover{
	font-size:14px;
	color:#FFFFFF;
	font-weight:bold;
}

.calendar_top_r {
	float:right;
	height:30px;
	width:39px;
	padding-top:7px;
	background: #336397;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	border-top:1px solid #BEBEBE;
	border-right:1px solid #BEBEBE;
}

.calendar_top{
	font-size:15px;
	font-weight:bold;
	color:#FFFFFF;
	height:30px;
	padding-top:7px;
	margin:0px 40px;
	background: #336397;
	border-top:1px solid #BEBEBE;
}

.calendar_table{
	background:none;
	border:none;
}

.calendar_table td{ height:40px; }
	
.text_month{
	font-size:13px;
	font-weight:bold;
}

.c_row{
	border-top:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
}

.c_row a, .c_row a:hover{
	color: #3F5164;
}

.c_row:first-child{	
	border-top:none;
	border-right:1px solid #DDDDDD; 
}

.c_row_last{
	border-top:1px solid #DDDDDD;
	height: 10px;
}

.calendar_today {
	background:#DBEEDD;
	font-weight:bold;
	padding:2px;
}

.calendar_event {
	background:#DBE5EE;
	font-weight:bold;
	padding:2px;
}

.calendar_other {
	background:#F9F9F9;
	padding:2px;
}

.calendar_none {
	padding:2px;
}

.calendar_weekend{
	background:#F1F1F1;
	padding:2px;
}

.calendar_week{
	color:#BEBEBE;
	padding:2px;	
}


div.event_top_title{
	text-align:center;
	font-size:15px;
	height:25px;
	border-bottom: 2px #336397 solid;
	margin-bottom: 20px;
}

div.event_date{
	text-align:center;
	font-size:13px;
	margin:auto;
	margin-bottom: 30px;
	border-bottom: 3px #336397 solid;
	border-radius: 8px;
	width:30%;
}