/* Affichage du mois en cours*/
.calendar-top-container {
	padding:2px;
	float:none;
	margin:0px;
}
.calendar-top-content {
	font-weight:bold;
	text-align:center;
	padding-top:1px;	
}

.calendar-top-container a, 
.calendar-top-container a:hover {
	color:#666666;
	cursor:pointer;
}

.calendar-top-l,
.calendar-top-r {
	padding-top:0px;
}
.calendar-top-l { float:left; padding-left:7px; }
.calendar-top-r { float:right; padding-right:7px; }

/* Couleur des différents évenements */
table tbody tr td.calendar-none { background:#FFFFFF; }
table tbody tr td.calendar-today { background:#B5E5B9; }
table tbody tr td.calendar-event { background:#DBE5EE; }
table tbody tr td.calendar-other { background:#F1F1F1; }

table tbody tr td.calendar-week { border-right:1px solid #AAAAAA; }
table tbody tr td.calendar-weekend { background:#FFE3B6; }