/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

.online-users-container {
	margin: 0.618em 0;
}

.online-user {
	display: block;
	margin: auto;
}
