/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

#module-mini-themesswitcher .cssmenu-select .has-sub > .cssmenu-title { margin: 0; }

.themes-switcher { padding: 0.809em; }

.themes-switcher-vertical select {
	display: block;
	margin: 0 auto 0.309em auto;
}
