@media (max-width: 768px) {
    div#site-name-container {
        padding: 10px;
    }
}
div#install-site-logo {
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    background-position: center ; 
    background-size: cover;
    width: 25px;
    height:25px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}

a#site-name {
    font-size: 1.8em;    
}

#site-slogan {
    color: #ffffff;
    display: none;
    padding: 5px;
}

@media (min-width: 769px) {
    #site-slogan {
        display: block;
    }
}

/*--- Menus ====================================================================== */

h3.menu-title {
    padding-left: 15px;
}

select {
    width: 150px;
    margin: 5px 0 5px 20px;
    padding: 5px 10px;
}

.cssmenu > ul > li {
    width: 100%;
}

.cssmenu > ul > li > .cssmenu-title {
    padding: 12px 17px;
    display: table;
}

.cssmenu > ul > li > .cssmenu-title i, 
.cssmenu > ul > li > .cssmenu-title span{
    display: table-cell;
    color: #dddddd;
}

.cssmenu > ul > li > .cssmenu-title i{
    padding-right: 8px;
}

.row-success {
	background: #8AC77F;
}

.row-current {
	background: #FF9900;
}
.cssmenu > ul > li.row-current > .cssmenu-title span{
    color: #ffffff;
}
    
.help-menu.cssmenu > ul > li > a:hover.cssmenu-title i, 
.help-menu.cssmenu > ul > li > a:hover.cssmenu-title span {
    color: #8AC77F;
}

.progressbar-container {
    width: 90%;
    margin: 10px auto;
}

@media (max-width:768px) {
    
    .cssmenu ul {
        display: block;
    }
    
    .cssmenu > ul > li {
        float: left;
        width: calc(100% / 2);
        display: block;
    }
    
    .step-menu.cssmenu > ul > li {
        width: calc(100% / 7);
    }
    
    .cssmenu > ul > li > .cssmenu-title {
        padding: 5px;
    }
    
    .step-menu.cssmenu > ul > li > .cssmenu-title {
        padding: 5px;
        text-align: center;
    }
    
    .help-menu.cssmenu > ul > li > .cssmenu-title i {
        vertical-align: top;
    }
    
    .step-menu.cssmenu > ul > li > .cssmenu-title i {
        display: inline-block;
        padding: 0;
    }
    
    .step-menu.cssmenu > ul > li > .cssmenu-title span {
        display: none;
    }
}

/* --- contenu ====================================================================== */
section#global, article {
    margin: 0;
    width: 100%;
}

section header {
    margin-bottom: 10px
}

section header h1 {
    padding: 10px;
    border-bottom: 2px solid #BBBBBB;
}

article header h2 {
    border-bottom: none;
    padding: 10px;
    font-weight: 400;
}

article h3 {
    padding: 15px;
}

article {
    padding: 10px;
    min-height: calc(95vh - 59px);
}

.content > a > img {
    margin: 0 0 5px 10px;
}

.next-step .fieldset-inset {
    padding: 0;
}

.next-step button {
    margin: 5px 0;
}

@media (min-width:769px) {
	
	section#global {
		width:100%;
		padding-left:230px;
	}
    
    article {
        padding: 20px;
    }

    article header h2 {
        font-size: 2.5em;
    }
}

/* --- welcome --- */

.pbt-box {
    padding: 8px;
    padding-top: 0px;
    padding-right: 25px;
    width: 150px;
}

@media (min-width: 769px){
    .pbt-box {width:auto;}
}
/* --- Bloc License --- */

.license-container {
	padding: 15px 0px;
	border: 1px solid #DFDFDF;
	background-color: #ffffff;
	margin-bottom: 10px;
}

.license-content {
	padding: 0px 15px;
	width: auto;
	height: 340px;
	overflow-y: scroll;
}

/* --- config serveurs --- */

.success-block {
	float: left;
	margin-left: 5px;
	text-align: center;
	width: calc(50% - 10px);
	background: #8AC77F;
	color: green;
	font-weight: bold;
	padding: 2px;
}
.failure-block {	
	float: left;
	margin-left: 5px;
	text-align: center;
	width: calc(50% - 10px);
	background: #ee8d8d;
	color: red;
	font-weight: bold;
	padding: 2px;
}

#chmod .form-element {
    padding: 2px;
}

/* --- finish --- */

nav.finish-menu ul {
    list-style-type: none;
    display: table;
    margin: 20px auto;
    padding: 0;
}

nav.finish-menu ul li {
    display: inline-block;
    text-align: center;
    padding:10px;
    width: 100%;
}

nav.finish-menu ul li a {
    text-decoration: none;
}

nav.finish-menu ul li i,
nav.finish-menu ul li span {
    display: block;
}

@media (min-width:769px){
    
    nav.finish-menu ul li {
        width: 200px;
        vertical-align: top;
    }
    
    nav.finish-menu ul li i,
    nav.finish-menu ul li span {
        display: block;
    }
}

/* --- footer --- */

section > footer {
    padding: 10px;
    text-align: right;
    background: #404040;
    margin: 0;
    min-height: 5vh;
    color: #ffffff;
    border-top: 5px solid #366393;
}