/* Corps du site */
html {
	font-size: 100%;
	font-size: 10px;
}

body {
	position: relative;
	min-height: 100%;
	height: auto;
    background: #E8EDF3 url(images/body.png) repeat-x;
	font-size: 1.3em;
	font-family: "Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
	color: #555555;
}

/* Conteneurs */
div#global {
	width: 1000px;
    margin: auto;
    padding-bottom: 60px; /* Taille du footer */
}
div#header-container {
	margin-bottom: 8px;
	height: 174px;
}

div#site-infos {
	float: left;
	height: 90px;
	max-width: 690px;
	margin: 20px 20px 0px 20px;
}

div#site-logo {
	float: left;
	margin-right: 20px;
	background: url('images/logo.png') no-repeat;
	height: 90px;
	width: 90px;
}

div#site-name-container {
	float: left;
	margin-top: 10px;
}

a#site-name {
	color: #F9FCFF;
	font-size: 50px;
	font-weight: bold;
	line-height: 1em;
	text-shadow: 0px 0px 0 rgb(0,0,0), 1px 0px 0 rgb(-255,-255,-255), 2px 0px 1px rgba(0,0,0,0.1), 2px 0px 1px rgba(0,0,0,0.2), 0px 0px 1px rgba(0,0,0,.1);
	letter-spacing: 1.1pt;
	text-decoration: none;
}

span#site-slogan {
	display: block;
	color: #FFFFFF;
	font-size: 12px;
	padding-left: 4px;
	letter-spacing: 1.5pt;
}



div#left-menu {
	width: 225px;
	padding-left: 6px;
	font-size: 11px;
	float: left;
}

div#main { 
	width:auto;
	width:775px;
	float:left;
}

div#main-content {
	padding: 20px 20px;
	border-spacing: 1px;
	border: 1px #BEBEBE solid;
	background: #FFFFFF;
}

html>body #main {
	height: auto;
	min-height: 450px;
}
div#footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	clear: both;
    padding:10px 0px;
    text-align: center;
	border-top: #336397 2px solid;
	background: #212121;
}
div#footer span {
    color: #FFF;
    font-size: 10px;
}
div#footer span a {
    color: #FFF;
    font-size: 10px;
}

.table-contents {
	width: 98%;
	margin: auto;
	border: 1px solid #CCCCCC;
	border-spacing: 1px;
	background: #FFF;
}

.row-contents {
	padding: 20px;
	height: 500px;
	vertical-align: top;
}

html>body #row-contents {
	height: auto;
	min-height: 500px;
}
.table-left {
	width: 95%;
	margin: auto;
	border-spacing: 1px;
	border: 1px solid #CCCCCC;
	margin-bottom: 20px;
	background: #FFF;
}

h1 {
	color: #5C5C5C;
	font-size: 18px;
}

img { border: 0px; }

th {
	font-size: 16px;
	text-transform: uppercase;
	border-bottom: 1px solid #F1F1F1;
	color: #5C5C5C;
	padding: 10px;
}


/* Classes texte */
.row-top {
	text-align: center;
	font-weight: bold;
	color: #5C5C5C;
	padding: 6px;
	border-bottom: 2px #336397 solid;
}
.row-success {
	background: #8AC77F;
	padding: 4px;	
	padding-left: 6px;	
}
.row-current {
	background: #FF9900;
	padding: 4px;
	padding-left: 6px;	
}
.row-next {
	background: #FFF;
	padding: 4px;
	padding-left: 6px;	
}
.row-final {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
.row-right {
	width: auto;
	display: block;
	margin-top: -15px;
	margin-left: 70%;
}
.success-block {
	float: left;
	margin-left: 5px;
	text-align: center;
	width: 150px;
	background: #8AC77F;
	color: green;
	font-weight: bold;
	padding: 2px;
}
.failure-block {	
	float: left;
	margin-left: 5px;
	text-align: center;
	width: 150px;
	background: #ee8d8d;
	color: red;
	font-weight: bold;
	padding: 2px;
}
.text-small {
	font-size: 10px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
.valign-middle { vertical-align: middle; }

/* Lien du site */
a {
	color: #4372AA;
	text-decoration: none;
}
a:hover {
	color: #2D4D73;
	text-decoration: underline;
}

.table-left a,
.table-left a:hover { font-size: 10px; }

/* Bloc License */
.licence-container {
	padding: 15px 0px;
	border: 1px solid #DFDFDF;
	background-color: #F1F1F1;
	margin-bottom: 10px;
}

.license-content {
	padding: 0px 15px;
	width: auto;
	height: 340px;
	overflow-y: scroll;
}

/* Barre de progression */
.progressbar-container {
	background: #F5F5F5;
	margin: 4px 0px 10px;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	position: relative;
}
.progressbar-container .progressbar-infos {
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	width: 100%;
	position: absolute;
}
.progressbar {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.progressbar[style*="100"] {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.progressbar-container .progressbar {
	height: 13px;
	background-color: #8ECF67;
	transition: width .6s ease;
}

/* Icônes spécifique PHPBoost
------------------------------------ */
.fa-success:before { color: #478948; }
.fa-forbidden:before { color: #BA4B49; }
.fa-error:before { color: #BA4B49; }
.fa-warning:before { color: #C19954; }

/* Erreurs */
div.message-helper-small { width: 50% }

.error, .notice, .warning, .success, .question { 
	height: auto;
	padding: 10px 10px 10px 40px;
	margin: 5px auto 15px auto;
	line-height: 20px;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	position: relative;
	display: block;
}
			
.error:before, .notice:before, .warning:before, .success:before, .question:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 2em;
	position: absolute;
	left: 6px;
	top: 7px;
	width: 28px;
	text-align: center;
}
			
.error:before { content: "\f00d"; }
.error, .error:before { color: #BA4B49; }
.notice:before { content: "\f12a"; }
.notice, .notice:before { color: #888888; }
.warning:before { content: "\f071"; }
.warning, .warning:before { color: #C19954; }
.success:before { content: "\f00c"; }
.success, .success:before { color: #478948; }
.question:before { content: "\f128"; }
.question, .question:before { color: #3B88AE; }
			
.question { background-color: #DAEEF8; border-color: #BDE9F2; }
.notice { background-color: #F0F0F0; border-color: #E2E2E2; }		
.warning { background-color: #FDF9E4; border-color: #FBECCD; }
.error { background-color: #F3DFDF; border-color: #ECCDD2; }
.success { background-color: #E0F1D9; border-color: #D7EAC7; }

/* Boutons
------------------------------------ */
/* Normal */

button, .button {
	height: auto;
	padding: 4px 12px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.18) 0%,rgba(56,56,56,0.10) 100%);
	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
	border-color: #E1E1E1 #E1E1E1 #BFBFBF #CFCFCF;
	border-radius: 4px;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0px 2px rgba(0, 0, 0, 0.05);
}

button:hover, .button-hover {
	background-color: #FDFDFD;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0px 2px rgba(0, 0, 0, 0.1);
	transition: all 0.1s linear;
}

button:active, .button-active { 
	background-color: #F1F1F1;
	border: 1px solid #DDDDDD;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0px 2px rgba(0, 0, 0, 0.05);
}

button.small, .button-small {
	font-size: 11px;
	padding: 2px 6px;
}

button.submit {
	color: #FEFEFE;
	background-color: #3B6B9F;
	border-color: #366393;
}
button.submit:hover {
	background-color: #366393;
	border-color: #315A86;
}

/* Bouton basic */
.basic-button {
	display: inline-block;
	padding: 1px 6px;
	font-weight: bold;
	text-align: center;
	border-radius: 2px;
	background: #2F5B8A;
	color: #FFFFFF;
	margin: 1px;
}

.basic-button:hover {
	background: #3D6997;
	color: #FFFFFF;
	text-decoration: none;
}

.basic-button.alt { background: #AAAAAA; }
.basic-button.alt:hover { background: #BBBBBB; }

button.image { 
	padding: 3px 13px 6px 12px;
	color: #555555;	
}
button.image:hover { color: #336397; }

button.image i.fa-refresh { color: #336397; }

/* Formulaires */
.fieldset-mini {
	width: 540px;
	margin: auto;
	margin-top: 20px;
}

fieldset {
	margin: 20px 0;
	border: none;
	background: none;
}

fieldset.fieldset-submit {
	margin-top: 10px;
	padding-bottom: 15px;
	width: 99%;
	text-align: center;
	background: none;
	border: none;
}

fieldset.fieldset-submit legend { /* A supprimer ou remplacer par un div */
	display: none;
}

optgroup { font-weight: bold; border: none; border-bottom: 1px solid #5B5A5A; }
option { padding: 0px 3px; }

/* Prévisualition */
.xmlhttprequest-preview {
	font-size: 11px;
	border-left: 1px solid #99b1cb;
	border-top: 1px solid #99b1cb;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-color: #FFFFFF;	
	color: #2E3B5F;
	padding: 0px 2px;
}

.xmlhttprequest-preview img { max-width: 600px; }

legend {
	display: block;
	margin: 0px 0px 15px 0px;
	width: 100%;
	text-transform: none;
	color: #474747;
	font-size: 18px;
	border-bottom: 1px solid #DDDDDD;
}

/* --- Elements de saisie --- */
input[type=text],
input[type=email],
input[type=url],
input[type=number],
input[type=color],
input[type=tel],
input[type=search],
input[type=password],
input[type=file],
textarea,
select {
	color: #555555;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.01);
	padding: 4px 18px 4px 6px;
}
input[type=text]:hover,
input[type=email]:hover,
input[type=url]:hover,
input[type=number]:hover,
input[type=color]:hover,
input[type=tel]:hover,
input[type=search]:hover,
input[type=password]:hover,
input[type=file]:hover,
textarea:hover,
select:hover {
	color: #333333;
	border: 1px solid #BBBBBB;
	background-color: #FFFFFF;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=number]:focus,
input[type=color]:focus,
input[type=tel]:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=file]:focus,
textarea:focus,
select:focus {
	color: #222222;
	border-color: #BBBBBB;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.01), 0 0 6px rgba(0, 0, 0, 0.2);
}

input[type=color] {
	padding: 0px 2px 0px 2px;
	width: 25px;
}

form input:focus:invalid,
form textarea:focus:invalid,
form .constraint-status-right input,
form .constraint-status-right textarea {
	border-color: rgba(196, 60, 43, 0.3);
	box-shadow: 0 0 3px rgba(196, 60, 43, 0.1);
}

form input:focus:valid,
form textarea:focus:valid,
form .constraint-status-right input,
form .constraint-status-right textarea {
	border-color: rgba(71, 137, 72, 0.3);
	box-shadow: 0 0 5px rgba(71, 137, 72, 0.1);
}

input.field-smaller { width: 29px;  }
input.field-small   { width: 77px;  }
input.field-large   { width: 200px; }
input.field-xlarge  { width: 300px; }

/* Cache le generateur de mot de passe sur chrome */
.cip-icon-key-small {
	display: none !important;
}

/* --- Element du formulaire (englobe le label et l'input d'un champ) --- */
.form-element,
.form-element-textarea {
	margin: 0px 1em 1em 1em;
	position: relative;
}

.fieldset-description {
	margin: 0px 1em 1.5em 1em;
}

/* CSS applique aux tablettes */
@media ( max-width: 768px ) {
	.form-element,
	.form-element-textarea {
		margin: 0px 0.6em 1em 0.6em;
	}

	.fieldset-description {
		margin: 0px 0.6em 1.3em 0.6em;
	}
}

/* CSS applique aux smartphones */
@media ( max-width: 480px ) {
	.form-element,
	.form-element-textarea {
		margin: 0px 0.6em 0.5em 0.6em;
	}

	.fieldset-description {
		margin: 0px 0.6em 0.9em 0.6em;
	}
}

.form-field {
	display: inline-block;
	max-width: 600px;
	position: relative;
}

.form-field-free-large {
	width: 100%;
	max-width: none;
}

/* --- Label pour les checkbox et radio --- */
.form-field label {
	margin: 0 10px 0 0;
	display: block;
}

/* --- Label pour les inputs [for] et pour les elements sans associations --- */
.form-element > label {
	display: inline-block;
	width: 40%;
	text-align: left;
	padding-right: 10px;
	vertical-align: top;
}

.field-description {
	font-size: 0.8em;
	display: block;
	line-height: 12px;
}

/* CSS applique aux tablettes */
@media ( max-width: 768px ) {

	.form-element > label {
		width: 100%;
	}

	span.field-description {
		display: inline-block;
		font-size: 0.7em;
		font-style: italic;
	}
}

input[disabled=disabled],
input[disabled=disabled]:hover,
input[disabled=disabled]:focus,
textarea[disabled=disabled],
textarea[disabled=disabled]:hover,
textarea[disabled=disabled]:focus,
select[disabled=disabled],
select[disabled=disabled]:hover,
select[disabled=disabled]:focus {
	cursor: not-allowed;
	background: #F1F1F1;
	color: #AAAAAA;
	border: 1px solid #CCCCCC;
}

input[readonly=readonly],
input[readonly=readonly]:hover,
input[readonly=readonly]:focus,
textarea[readonly=readonly],
textarea[readonly=readonly]:hover,
textarea[readonly=readonly]:focus,
select[readonly=readonly],
select[readonly=readonly]:hover,
select[readonly=readonly]:focus {
	background: #FAFAFA;
	color: #888888;
	border: 1px solid #CCCCCC;
}

/* --- Textarea --- */
.form-field-textarea {
	display: inline;
	width: 99%;
	position: relative;
	margin: 5px auto;
}

textarea {
	overflow: auto;
	resize: vertical;
}

.form-element-textarea { width: 98%; }
.form-element-textarea textarea { width: 100%; }
.form-element-textarea .form-field-textarea { display: block; }
.form-element-textarea .form-field-textarea div { float: left; }

.form-element-preview {
	text-align: center;
	margin: 5px auto 0 auto;
}

.bbcode ~ .form-field-textarea textarea {
	border-radius: 0px 0px 4px 4px;
	border-width: 0px 1px 1px 1px;
}

/* CSS applique aux écrans PC */
@media ( min-width: 769px ) {
	.form-element-textarea-small {
		width: 49%;
	}
}

/* CSS applique aux tablettes */
@media ( max-width: 768px ) {
	.form-field-textarea {
		width: 100%;
	}
}

/* CSS applique aux smartphones */
@media ( max-width: 480px ) {
	.form-element-auth .form-field .advanced-auth-input {
		float: none;
		margin: 5px 0px 0px 0px;
	}
}

/* --- Verification des contraintes de formulaire --- */
.constraint-status-error input,
.constraint-status-error textarea {
	border-color: rgba(196, 60, 43, 0.3);
	box-shadow: inset 0 0 3px rgba(196, 60, 43, 0.1);
	color: #C43C35;
}

.constraint-status-error input:hover,
.constraint-status-error input:focus,
.constraint-status-error textarea:hover,
.constraint-status-error textarea:focus {
	border-color: rgba(196, 60, 43, 0.5);
	box-shadow: inset 0 0 6px rgba(196, 60, 43, 0.3);
	color: #C43C35;
}

.text-status-constraint {
	position:absolute;
	display: block;
	z-index: 1;
	padding: 6px 5px;
	left: 5px;
	min-width: 20em;

	background: #FEFEFE;
	border: 1px solid #EAEAEA;
	box-shadow: 1px 3px 6px rgba(0,0,0,0.3);
	border-radius: 3px;

	font-size: 0.8em;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
}

input + .text-status-constraint {
	top: 25px;
}

.text-status-constraint:before {
	content: " ";
	position: absolute;
	border-bottom: 9px solid rgba(230, 230, 230, 1);
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	left: 8px;
	top: -9px;
}

.text-status-constraint:after {
	content: " ";
	position: absolute;
	border-bottom: 8px solid rgba(250, 250, 250, 1);
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	left: 9px;
	top: -8px;
}

div.field-required:after,
div.picture-status-constraint:after {
	display: inline-block;
	position: absolute;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	right: 4px;
}

div.field-required:after {
	content: "\f069";
	color: #C43C35;
	opacity: 0.6;
	font-size: 0.8rem;
	top: 8px;
}

.form-field-date.field-required:after {
	right: 24px;
}

.form-field-select.field-required:after,
.form-field-number.field-required:after,
.form-field-decimal.field-required:after {
	right: -10px;
}

.form-field-datetime.field-required:after {
	right: -15px;
}

.form-field-checkbox.field-required:after {
	right: -10px;
	top: 4px;
}

.form-field-upload-file.field-required:after {
	right: 45px;
	top: 10px;
}

.constraint-status-right .form-field-select:after,
.constraint-status-right .form-field-number:after,
.constraint-status-right .form-field-decimal:after {
	right: -20px;
}

.constraint-statuts-right .form-field-datetime:after {
	right: -22px;
}

.form-field-number input,
.form-field-decimal input,
.form-field-datetime input {
	padding-right: 2px;
}

.form-element-date .constraint-status-error div.field-required:after,
.form-element-date .constraint-status-right div.field-required:after {
	right: 10px;
}

.form-field-textarea.field-required:after,
.constraint-status-right .form-field-textarea.field-required:after,
.constraint-status-right .form-field-textarea.field-required:after {
	top: 45%;
}

.constraint-status-right div.field-required:after {
	content: " ";
}

.constraint-status-right div.picture-status-constraint:after {
	opacity: 1;
	font-size: 1.5rem;
	top: 4px;
}

.constraint-status-error .form-field-textarea .picture-status-constraint:after,
.constraint-status-right .form-field-textarea .picture-status-constraint:after {
	top: 40%;
}

.constraint-status-right div.picture-status-constraint:after {
	content: "\f00c";
	color: #57A957;
}

.constraint-status-error i.picture-status-constraint {
	content: "\f056";
	color: #C43C35;
}

.form-field-multi-select.field-required:after {
	display: none;
}

.constraint-status-right .form-field-multi-select select {
	border-color: rgba(71, 137, 72, 0.3);
	box-shadow: 0 0 5px rgba(71, 137, 72, 0.1);
}

.form-field-radio.field-required:after,
.form-field-multiple-checkbox.field-required:after {
	top: 3px;
	right: 0px;
}

.field-button {
	display: inline-block;
	font-size: 0;
	white-space: nowrap;
}

.field-button input {
	border-radius: 4px 0 0 4px;
}

.field-button button {
	font-size: 11px;
	margin-left: -1px;
	border-radius: 0 4px 4px 0;
	padding: 4px 8px;
}

/* ################ */


#chmod label {
	display: inline-block;
	height: 19px;
	width: 188px;
	vertical-align: top;
	font-size: 12px;
}