#module-mini-web .partner-picture {
	padding: 5px;
}

article.web-partner {
	border-width: 7px 1px 1px 1px;
	border-top-color: #103B67;
}

article.web-privileged-partner {
	border-width: 7px 1px 1px 1px;
	border-top-color: #E2BE47;
}
