/** BBcode **/
/* Tableau du bbcode */
.bbcode, .bbcode2{
	width:485px;
	background:url(images/bb_form.png);
	border:1px solid #63839F;
	border-collapse:collapse;
	border-spacing:0px;
}
.bbcode2{
	width:485px;
}
/* Curseur de la souris au passage sur les icônes */
.bbcode_hover{
	cursor:pointer;
}
/* Menu caché du BBcode */
.bbcode_block{
	position:absolute;
	text-align:center;
	padding:6px 4px;
	background:#87A6BE;
	border:1px solid #2C5169;
	bottom:2px; 
	z-index:100;
}
/* Affichage des smiley */
.smiley{
	vertical-align:middle;
}
/** Titres **/
h3.title1, h3.title2{
	width:98%;
	margin:auto;
	font-size:12px;
	margin-bottom:-5px;
	padding:0px 5px;
	border-bottom:2px solid #4F6A7F;
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
/* Titre 1 */
h3.title1{
	color:#36424F;
	border-bottom:2px solid #36424F;
}
/* Titre 2 */
h3.title2{
	background:#FFFFFF;	
	color:#36424F;
	padding:2px 5px;
	border:1px solid #4F6A7F;
	border-left:3px solid #4F6A7F;
	border-right:3px solid #4F6A7F;
}
h4.stitle1, h4.stitle2{
	display:inline;
	color:#36424F;
	font-size:12px;
	font-weight:bold;
	margin-left:35px;
	padding:2px 5px;
	font-weight:bold;
	background:#FFFFFF;	
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
/* Sous titre 1 */
h4.stitle1{
	border:1px solid #6B9BBF;
	border-left:3px solid #6B9BBF;
	border-right:3px solid #6B9BBF;
}
/* Sous titre 2 */
h4.stitle2{
	margin-left:50px;
	border:1px solid #6B9BBF;
	border-top:3px solid #6B9BBF;
}
.float_left
{
	float:left;
	margin:5px;
}
.float_right
{
	float:right;
	margin:5px;
}
/* Tableaux */
.bb_table{
	border:1px solid #2C5169;
	border-spacing:0px;
	border-collapse:collapse;
	margin:2px;
}
.bb_table_col{
	border:1px solid #2C5169;
	padding:6px;
}
/* Listes */
.bb_ul{
	margin-left:20px;
}
.bb_ol{
	margin-left:35px;
}
/** Styles **/
.question{
    color:blue;
    background:#eeeeee url(../images/question.png) no-repeat;
}
.notice{
    color:#FFFFFF;
    background:#ACA899 url(../images/notice.png) no-repeat;
}
.warning{
    color:#FFFFFF;
    background:#FF9900 url(../images/important.png) no-repeat;
}
.error{
    color:#FFFFFF;
    background:#d92e00 url(../images/stop.png) no-repeat;
}
.success{
    color:#FFFFFF;
    background:#8AC77F url(../images/success.png) no-repeat;
}
.question, .notice, .warning, .error, .success{
    display:block;
    height:35px;
    padding-top:4px;
    padding-bottom:10px;
    padding-left:40px;
    padding-right:5px;
    margin:4px 25px;
    border:1px solid #b7b7b7;   
    background-position:4px 4px;
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
html>body .question, html>body .notice, html>body .warning, html>body .error, html>body .success
{
    height:auto;
    min-height:30px;
}
.notice a{
	color:#FFF;
}

/* Affichage balise quote, code, hide */
.text_blockquote, .text_code, .text_hide{
	display:block;
	width:93%;
	padding-bottom:2px;
	font-weight:bold;
	margin:auto;
}
.blockquote, .code, .hide {
	overflow:auto;
	max-height:500px;
	background:#F8F8F8;
	border:1px solid #2C5169;
	border-left:5px solid #2C5169;
	border-right:5px solid #2C5169;
	color:#000000;
	padding:8px;
	margin:0px 25px;
}
.hide{
	cursor:pointer;
	height:10px;
	overflow:auto;
}
.hide2{
	visibility:hidden;
}
.indent{
	margin-left:30px;
}
.bb_acronym{
	cursor:help;
}

.bb_block{
	margin:5px 20px;
	padding:5px;
	border:1px solid #C4CED6;
}

.bb_fieldset{
	margin:10px;
}

/* Prï¿½visualisation AJAX. */
.xmlhttprequest_preview{
	overflow:auto;
	height:220px;
	width:94%;
	font-size:11px;
	margin:auto;
	margin-top:4px;
	margin-bottom:3px;			
	padding:1px 2px;
}

/* Code avec numï¿½rotation des listes */
.code ol{
	margin-left:3em;
}

/*Lien vers Wikipï¿½dia*/
a.wikipedia_link:before{
   content:url(../images/wikipedia_icon.png);
   vertical-align:middle;
   padding-right:2px;
}

a.wikipedia_link{
	border-bottom:1px dotted;
}

