/*
 * content.css
 * Contains:
 * 	- Containers, module elements,
 * 	- Paging,
 * 	- Categories explorer,
 * 	- Categories managemnt,
 * 	- mini module,
 * 	- posted messages,
 * 	- maintenance,
 * 	- sharing elements
*/

/* -- Containers, module elements -- */
/* ------------------------------------ */
section,
article {
	position: relative;
	margin: 0 auto;
	width: 100%;
	vertical-align: top;
	padding: 0 0 0.809em;
}

@media (min-width: 769px) {
	section,
	article {
		margin: 0.809em auto;
	}
}

/* --- Page title / Module element title --- */
section header,
article header {
	padding: 0 0.809em;
}

@media (min-width: 769px) {
	article header {
		margin: 0 0 0.809em 0;
	}
}

section header a:hover {
	text-decoration: none;
}

.cat-actions {
	text-align: right;
}

.elements-container {
	padding: 1.618em 0 0
}

/* --- Footer title --- */
@media (min-width: 769px) {
	section footer,
	article footer {
		margin-bottom: 1.618em;
	}
}

section footer,
article footer {
	clear: both;
}

/* --- Icones actions (edition, suppression, etc) --- */
.actions {
	float: right;
}

.actions a {
	display: inline-block;
	padding: 0 0.456em;
}

@media (max-width: 768px) {
	.actions a {
		padding: 0 0.809em;
	}
}

header h2 .actions {
	font-size: 0.456em;
}

.actions-menu {
	position: relative;
}

.actions-title {
	position: relative;
	display: block;
	padding: 0.309em 0.456em;
}

@media (max-width: 768px) {
	.actions-title {
		position: relative;
		display: block;
		padding: 1em 1.309em;
	}
}

.actions-menu.opened .fa-actions-menu:before {
	content: "\f00d";
}

.actions-submenu {
	position: absolute;
	list-style: none;
	padding: 0;
	top: 100%;
	left: -9999px;
	width: 250px;
	z-index: 1;
}

.opened .actions-submenu {
	left: auto;
	right: 0;
}

.action a {
	display: block;
	font-size: 1.5rem;
	padding: 0.309em 0.456em;
}

@media (max-width: 768px) {
	.action a {
		padding: 1em 0.618em;
	}
}

.action i {
	text-align: center;
	width: 20px;
}

/* --- Contenu --- */
.content {
	text-align: justify;
	padding: 0.809em;
}

.content::after,
.content::before {
    content: '';
    display: block;
    clear: both;
}

.content + aside {
	clear: both;
	padding: 0.809em;
}

/* --- Id Card --- */
.id-card {
	margin: 1.618em 0 0;
}

.id-card::after,
.id-card::before {
    content: '';
    display: block;
    clear: both;
}

/* --- Block --- */
.block {
	border-width: 2px 1px 1px 1px;
	border-style: solid;
	border-color: transparent;
	margin: 0 0 1.618em;
	width: 100%;
}

@media (min-width: 769px) {
	.block { width: 98%; }
}

.no-style .block,
.no-style .block header {
	background-color: transparent !important;
	border: none !important;
}

.block h1 {
	border: none;
}

.block header {
	margin: 0 0 0.618em 0;
}

.block footer {
	margin: 0;
}

/* --- Gestion en colonnes pour ecran large --- */
@media (min-width: 769px) {
	.columns-1 .block { width: 98%; }
	.columns-2 .block { width: calc(100% / 2.1); }
	.columns-3 .block { width: calc(100% / 3.1); }
	.columns-4 .block { width: calc(100% / 4.1); }
	.columns-5 .block { width: calc(100% / 5.1); }
	.columns-6 .block { width: calc(100% / 6.1); }
	.columns-7 .block { width: calc(100% / 7.1); }

	.block-xlarge { width: 100% !important; }
}

/* --- Gestion des media --- */
.thumbnail-item {
	padding: 0.309em 0;
	display: block;
}

@media (min-width: 769px) {
	.thumbnail-item {
		max-width: 38%;
		float: left;
		padding: 0.309em 0.618em 0.309em 0;
	}

	.columns-3 .thumbnail-item,
	.columns-4 .thumbnail-item,
	.columns-5 .thumbnail-item,
	.columns-6 .thumbnail-item,
	.columns-7 .thumbnail-item {
		float: none;
		max-width: 100%;
		padding: 0.309em 0;
	}
}

@media (max-width: 768px) {
	.media-content {
		clear: both;
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
	}

	.media-content object,
	.media-content embed,
	.media-content video,
	.media-content iframe,
	.media-content .video-player {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@media (min-width:769px) {
	.media-content embed,
	.media-content iframe {
		width: auto;
		height: auto;
	}
}

/* --- Friends content --- */
.content-friends {
	border-width: 7px 1px 1px 1px;
}

.content-privileged-friends {
	border-width: 7px 1px 1px 1px;
}


/* -- Pagination des pages -- */
/* -------------------------- */
section footer ul.pagination {
	text-align: center;
}

ul.pagination {
	margin: 0;
}

ul.pagination .fa:before {
	font-size: 0.809em;
}

ul.pagination-block {
	margin: 0.309em 0;
}

ul.pagination-block li {
	padding: 0.1618em;
}

ul.pagination-block li a {
	display: inline-block;
	padding: 0.1618em 0.618em;
	outline: none;
	font-weight: bold;
	font-size: 0.809em;
	text-align: center;
	text-decoration: none;
}

ul.pagination-block li a {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	transition: all 0.2s linear;
}

ul.pagination-block li a:hover {
	transition: all 0.1s linear;
}

ul.pagination-block li a:active {
	transition: all 0.2s linear;
}

ul.pagination-block li a.current-page {
	text-decoration: none;
}

ul.pagination-block-bis li a.prev-page:hover,
ul.pagination-block-bis li a.next-page:hover {
	text-decoration: underline;
}

.pages-pagination a {
	text-decoration: none;
}


/* -- Exploreur des categories -- */
/* ------------------------------ */
.explorer .cats,
.explorer .files {
	width: 100%;
	display: inline-block;
	margin: 0.309em 0;
	vertical-align: top;
}

.explorer h2 {
	font-size: 1.618em;
}

@media (min-width: 481px) {
	.explorer .cats,
	.explorer .files {
		width: calc(100% / 2.1);
	}
}

.explorer .cats {
	min-width: 200px;
}

.explorer .content {
	padding: 0;
	min-height: 120px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.explorer .content ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.explorer .content ul ul {
	margin-left: 1em;
}

.explorer .content ul a.parent {
	float: left;
	height: 0;
}

.explorer .content ul a.parent [id^="img2_"] {
	margin-left: -1em;
	margin-right: 0.1618em;
}

.explorer .content ul a {
	display: block;
	padding: 0.228em 0.309em;
	text-decoration: none;
	text-align: left;
}

.explorer .content ul i {
	width: 1.309em;
	vertical-align: top;
	margin-right: 0.309em;
}

.explorer .content ul i:before {
	vertical-align: middle;
}

.explorer .content ul a.parent i:first-child {
	width: 0.809em;
}

.explorer .content ul a.parent i:first-child:before {
	font-size: 0.809em;
}

.options {
	margin: 0.309em 0;
	padding: 0.456em 0.809em;
	max-width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	font-size: 0.809em;
}

@media (min-width: 769px) {
	.options {
		float: right;
		margin: 0.309em 0 0.309em 1em;
	}
}

.options .horizontal-fieldset,
.options .horizontal-fieldset-element,
.options .horizontal-fieldset .form-element {
	margin: 0;
}

.options h6 {
	margin: 0 auto;
	vertical-align: middle;
	font-weight: 400;
	padding: 0.228em;
}

.infos {
	width: 100%;
}

.infos img {
	padding: 0 0 0.618em 0;
	display: block;
	margin: auto;
}

@media (min-width: 769px) {
	.infos {
		max-width: 38%;
	}
}

.infos-options {
	display: block;
}


/* -- Gestion des categories -- */
/* ---------------------------- */
.cat-description {
	margin: 0.618em 0.309em;
	text-align: left;
}

.subcat-element {
	text-align: center;
}

.subcat-thumbnail,
.subcat-title,
.subcat-options {
	display: block;
}

.subcat-thumbnail {
	margin-bottom: 0.309em;
}

/* --- Systeme de drag&Drop --- */
.sortable-block .sortable-element > .sortable-block {
	flex: 1 0 calc(100% - 0.618em);
	-ms-flex: 1 0 calc(100% - 0.618em);
	-webkit-flex: 1 0 calc(100% - 0.618em);
	margin: 0 0 0 0.618em;
}

.sortable-block {
	margin: 0;
	padding: 0;
	min-height: 24px;
	list-style-type: none;
	list-style-position: outside;
}

.sortable-block .sortable-element {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: center;
	-ms-flex-wrap: center;
	margin-bottom: 0.309em;
	padding: 0;
	width: 100%;
	transition: all 0.2s;
}

.sortable-block .sortable-element:hover {
	transition: all 0.2s;
}

.sortable-block .sortable-selector {
	padding: 0 0 0 0.309em;
}

@media (min-width:769px){
	.sortable-block .sortable-element .sortable-selector {
		flex: 0 0 1.309em;
		-ms-flex: 0 0 1.309em;
		-webkit-flex: 0 0 1.309em;
		opacity: 0.2;
		transition: opacity 0.3s;
		cursor: move;
	}

	.sortable-selector:after {
		content: "\f0b2";
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
	}
}

.sortable-block .sortable-element:hover .sortable-actions {
	opacity: 1;
	transition: opacity 0.3s;
}

.sortable-block .sortable-element:hover .sortable-selector {
	opacity: 1;
	transition: opacity 0.3s;
}

.sortable-block .sortable-title {
	flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	padding: 0.618em;
	max-width: calc(100% - 5.2em)
}

.sortable-block .sortable-title:hover {
	transition: all 0.2s linear;
}

.sortable-block .sortable-title > span {
	font-size: 1.482em;
}

.sortable-block .sortable-title span.cat-desc {
	font-size: 0.8em;
	font-weight: normal;
	font-style: italic;
}

.sortable-block fieldset {
	padding: 0 1.618em;
}

.sortable-block .sortable-actions {
	flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	padding: 0.1618em;
	opacity: 0.2;
	transition: opacity 0.2s;
}

.sortable-block .sortable-element hr {
	margin-top: 0.309em;
}

.sortable-block .sortable-element label {
	margin-left: 0.809em;
}

.sortable-block .sortable-actions img,
.sortable-block .sortable-element:hover label,
.sortable-block .sortable-element .fa:hover {
	cursor: pointer;
}

.dragged {
	position: absolute;
	opacity: 0.9;
	z-index: 2000;
}

body.dragging,
body.dragging * {
	cursor: move !important;
}

.dropzone {
	margin: 0.618em 0;
	padding: 0.309em;
	opacity: 0.6;
	text-align: center;
	border-width: 1px;
	border-style: dashed;
	border-color: transparent;
}

.preview img {
	overflow: hidden;
}


/* -- Modules minis -- */
/* ------------------- */
.module-mini-container {
	margin: 0 0 0.618em 0;
	clear: both;
}

.module-mini-top {
	padding: 0.1618em 0;
	min-height: 1.482em;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: transparent;
	text-align: center;
}

.module-mini-container .sub-title {
	display: block;
	margin-top: 0.309em;
	font-weight: bold;
}

.module-mini-contents {
	padding: 0.309em;
	text-align: center;
}

.module-mini-bottom {
	height: 1em;
}


/* -- Messages postes par les membres -- */
/* ------------------------------------- */
#comments-list {
	clear: both;
}

#comments-list > header {
	display: none;
}

#comments-list .message > header {
	display:none;
}

.message {
	margin-bottom: 1.309em;
	overflow: auto;
}

.message > footer {
	clear: both;
}

.message-user-infos,
.message-date {
	overflow: hidden;
	padding: 0.309em;
}

.message-pseudo {
	float: left;
}

.message-avatar {
	float: right;
	max-width: 3.82em;
}

.view-topic {
	padding: 0.809em 0;
}

.view-topic i {
	margin: 0 0 0.1618em 0.309em;
}

/* --- infos du message --- */
@media (min-width: 769px) {
	.message-pseudo,
	.message-avatar {
		float: none;
	}

	.message-avatar {
		max-width: 100%;
		padding: 0.309em 0 0;
	}

	.message-user-infos {
		float: left;
		width: 120px;
		text-align: center;
		padding: 0;
	}

	.message-date {
		padding: 0;
	}

	.message-date {
		margin-left: 150px;
	}

	.message-message {
		position: relative;
		margin: 0.309em 0 0 150px;
		min-height: 4.56em;
		border-width: 1px;
		border-style: solid;
		border-color: transparent;
	}

	.message-message::before {
		position: absolute;
		top: 15px;
		bottom: auto;
		left: -20px;
		display: block;
		width: 0;
		border-width: 15px 20px 15px 0;
		border-style: solid;
		border-color: transparent;
		content: "";
	}

	.message-message::after {
		position: absolute;
		content: "";
		top: 16px;
		bottom: auto;
		left: -19px;
		display: block;
		width: 0;
		border-width: 14px 19px 14px 0;
		border-style: solid;
		border-color: transparent;
	}

	.message-content {
		padding: 0.809em;
	}

	.view-topic {
		padding: 0.809em;
	}
}

/* --- Moderation des messages --- */
.message-moderate {
	margin-bottom: 0.618em;
	padding: 0.309em 0 0.309em 0;
	width: 98%;
	text-align: center;
	vertical-align: middle;
}

.message-moderate a {
	vertical-align: top;
}

i.message-announce,
i.message-announce-new,
i.message-announce-track {
	font-size: 1.618em;
}


/* -- Le maintenance -- */
/* -------------------- */
#maintain {
	margin: 0.618em 0;
}

div.delay {
	margin: 1.309em 0;
}

#global.global-maintain {
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
}

div#message-maintain {
	position: absolute;
	z-index: 20;
	top: 1em;
	width: 100%;
	opacity: 0.98;
	text-align: center;
}

div#message-maintain > div {
	margin: 0 auto;
}

div#release {
	margin-top: 1.309em;
}


/* -- Elements .more d'un contenu -- */
/* --------------------------------- */

/* --- General --- */
.more {
	padding: 0.618em 0.618em 1.618em;
	font-size: 0.809em;
	font-size: 0.809em;
	font-style: italic;
}

/* --- Sharing items --- */
.more-element-sharing {
	position: relative;
	margin: 0.309em 0 0 0;
	padding: 0;
}

@media (min-width: 769px) {
	.more-element-sharing {
		margin: 1.309em 0 0.309em 0;
	}
}

.sharing-button {
	display: none;
}

.sharing-elements-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	text-align: center;
	justify-content: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

@media (min-width: 769px) {
	.sharing-elements-list {
		justify-content: flex-start;
		-ms-flex-pack: flex-start;
		-webkit-justify-content: flex-start;
	}
}

.sharing-element {
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
}

@media (min-width: 769px) {
	.sharing-element {
		margin: 0 0.309em 0.309em 0;
	}
}

.sharing-element a {
	display: block;
	padding: 0.618em 1.228em;
	display: block;
	margin: 0 0.1em 0.309em 0;
}


/* easytabs */
.tab-container > nav > ul {
    margin: 0;
    padding: 0;
}

.tab-container > nav > ul > li {
    display: inline-block;
}

.tab-container > nav > ul > li a {
    display: block;
    padding: 0.618em;
    outline: none;
    text-decoration: none;
}

.tab-container > nav > ul > li a.shown {
    position: relative;
}

.tab-container .panel-container {
    margin: 0.618em;
}

.tab-container .form-subtitle h2 {
	display: block;
	margin: 0 0 0.809em 0;
	padding: 0 0.809em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: transparent;
	text-transform: none;
	font-size: 1.5em;
	font-weight: 300;
}

/* wizard */
