/*--------------------------------------
		design.css
Contient les conteneurs de mise en page.
Le design.css permet de mettre en forme votre site web avec le design de votre choix
--------------------------------------*/


/* -- Elements HTML generiques specifique au theme --
--------------------------------------*/
html {
	font-size: 100%;
	font-size: 10px;
}

body {
	position: relative;
	height: auto;
	min-height: 100%;
	background-color: #E8EDF3 ;
	color: #555555;
	font-size: 1.3em;
	font-family: "Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
}

@media (max-width: 768px) {
	body {
		font-size: 1.4em;
	}
}

/* -- En-tete de page - Header --
--------------------------------------*/
header#header {
	background-color: #366393;
}

/* --- Partie superieure du header --- */

div#top-header {
	min-height: 139px;
	max-width: 1024px;
	margin: auto;
	display: flex;
	flex-direction: row;
}

@media (max-width: 768px) {
	div#top-header {
		flex-direction: column;
	}
}

div#top-header-content {
	flex: 1 1 auto;
}

@media (max-width: 768px) {
	div#top-header-content {
		align-self: flex-end;
	}
}

/* --- Partie inferieur du header --- */
div#sub-header {
	min-height: 35px;
	background-color: #353535;
	border-top: 1px solid #8B9193;
}

div#sub-header-content{
	max-width: 1024px;
	margin: auto;
}

/* --- Logo et Nom du site web --- */
div#site-infos {
	max-width: 940px;
	margin: 1.5em 0 0 1.5em;
	flex: 1 1 auto;
	display: flex;
	display: -ms-flexbox;
}

div#site-logo {
	margin: 0 1em 0 0;
	background: url('images/logo.png') no-repeat center center;
	background-size: cover;
	width: 90px;
	height: 90px;
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
}

div#site-name-container {
	margin: 1em 0 0 0;
}

a#site-name {
	color: #F9FCFF;
	font-size: 4em;
	font-weight: bold;
	line-height: 1em;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-shadow: 0 0 0 rgb(0, 0, 0), 1px 0 0 rgb(0, 0, 0), 2px 0 0.1px rgba(0, 0, 0, 0.1), 2px 0 0.1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, .1);
}

span#site-slogan {
	display: block;
	padding: 0.1em 0 0 0.1em;
	color: #FFFFFF;
	font-size: 1em;
	letter-spacing: 0.1em;
}

@media (max-width: 768px) {
	div#site-logo {
		width: 60px;
		height: 60px;
	}

	div#site-name-container {
		margin: 0.4em 0 0 0;;
	}

	a#site-name {
		font-size: 3em;
	}
	
}

/* -- Conteneur global du site --
--------------------------------------*/
div#global {
	max-width: 1024px;
	margin: 1.5em auto 0 auto;
	padding: 0 10px;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row; /* IE10 Tricks */
	-webkit-flex-direction: row;
}

div#main {
	max-width: 100%;
}

@media (min-width: 769px) {
	div#global {
		min-height: 100vh;
	}

	#main {
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
		flex: 1;
		-ms-flex: 1;
		padding: 0 10px;
	}

	aside#menu-left,
	aside#menu-right {
    	width: 200px;
	}

	aside#menu-left  { 
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
	}
	aside#menu-right { 
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
	}

	div#top-footer {
		order : 4;
		-ms-flex-order: 4;
		-webkit-flex-order: 4;
		flex-basis:100%;
		-ms-flex-basis:100%;
	}
}

@media (max-width: 768px) {

	div#global {
		flex-direction: column;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
	}

	#main {
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
		padding: 0 0 10px 0;
	}

	aside#menu-left,
	aside#menu-right {
    	width: 100%;
	}

	aside#menu-left  {
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
	}
	aside#menu-right {
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
	}

	div#top-footer {
		order : 4;
		-ms-flex-order: 4;
		-webkit-flex-order: 4;
	}
}

div#top-footer {
	padding: 2% 0;
}


/* -- Contenu de la page --
--------------------------------------*/
/* --- Contenu central --- */
div#main-content {
	padding: 1.5em 0.8em;
	border: 1px #BEBEBE solid;
	background-color: #FFFFFF;
}

/* --- Emplacement au dessus et en dessous du contenu de la page --- */
div#top-content {
	margin: 0 0 2% 0;
}

div#bottom-content {
	margin: 2% 0 0 0;
}

div.block-container {
	margin-top: 15px;
}

/* --- Emplacement au dessus du pied de page --- */



/* -- Pied de page - Footer --
--------------------------------------*/
footer#footer {
	clear: both;
	width: 100%;
	background-color: #212121;
	border-top: #336397 2px solid;
}

footer#footer .footer-content {
	margin: 0 auto 0 auto;
	max-width: 1024px;
	padding: 1.5em 0;
	border-bottom: 2px groove #444444;
}

footer#footer .footer-infos {
	min-height: 40px;
	text-align: center;
	padding-top: 10px;
}

footer#footer .footer-infos span {
	color: #FFFFFF;
	font-size: 0.8em;
}


/* -- Elements specifiques PHPboost --
--------------------------------------*/
/* --- Compteur de visite --- */
div#compteur {
	color: #E9ECD9;
	position: absolute;
	top: 50px;
	right: 0;
	font-size: 0.9em;
	margin-right: 15px;
	text-align: right;
}

/* --- Barre d'outils --- */
#actions-links-menu {
	float:right;
	margin: 0 5px 5px 5px;
}

/* --- Barre de lien rapide --- */
nav#breadcrumb {
	text-indent: 10px;
	margin: 0 0 20px 10px;
}

nav#breadcrumb ol {
	list-style: none;
	margin: 0;
}

nav#breadcrumb ol li {
	display: inline;
}

nav#breadcrumb ol li:not(.current):after {
	content: '/';
	color: #616161;
}
