/* -------------------------------------
		global.css
 Contient les classes globales au site, peuvent etre utilisees partout.
 - Mise en forme du texte
 - Mise en forme du contenu
 - Les Icones specifiques PHPBoost de FontAwesome 
 - Systeme d upload
--------------------------------------*/


/* -- La mise en forme du texte -- */
/* ------------------------------- */

/* --- Les liens du site --- */
a {
	color: #4372AA;
	text-decoration: none;
}

a:hover {
	color: #2D4D73;
	text-decoration: underline;
}

/* --- Couleur des liens --- */
a.admin  { color: #FFA34F; }
a.modo   { color: #006699; }
a.member { color: #000000; }

/* --- Couleur de texte --- */
.color-alert 		{ color: #B22222; }
.color-notavailable { color: #B22222; }
.color-available 	{ color: #008000; }
.color-unknown 		{ color: #004b80; }

.bkgd-color-visible 	{ background-color: #CCFFCC; }
.bkgd-color-unvisible 	{ background-color: #FFEE99; }
.bkgd-color-unaprobed 	{ background-color: #FFCCCC; }

.bkgd-color-fixed 		{ background-color: #7FFF9C; }
.bkgd-color-processing 	{ background-color: #FFD86F; }
.bkgd-color-unknown 	{ background-color: #FF796F; }

/* --- Tailles de polices --- */
.smaller { font-size: 0.7em; }
.small   { font-size: 0.9em; }
.normal  { font-size: 1.0em; }
.big     { font-size: 1.2em; }
.bigger  { font-size: 1.5em; }
.biggest { font-size: 2.0em; }

/* --- Les titres (balise h) --- */
h1 { font-size: 2.2rem; }
h2 { font-size: 2.0rem; }
h3 { font-size: 1.9rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.6rem; }
h6 { font-size: 1.4rem; }

h1, h2, h3, h4, h5, h6 {
	overflow: hidden;
}

/* --- Les Titres bbcode --- */
.formatter-title {
	display: inline-block;
	margin: 0.5rem 0;
}

h1.formatter-title {  }
h2.formatter-title { margin-left: 1.5rem; }
h3.formatter-title { margin-left: 3rem; }
h4.formatter-title { margin-left: 5rem; }

h3.formatter-title,
h4.formatter-title {
	border-bottom: 1px solid #366393;
}


/* -- Mise en forme du contenu -- */
/* ------------------------------ */

/* --- Affichage du mini calendrier --- */
.calendar-block-container {
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
}

.form-field .calendar-container {
	display: inline-block;
}

.calendar-block {
	position: absolute;
	border: 1px solid #999999;
	top: 2px;
	left: 17px;
	z-index: 10;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.calendar-block .date-picker {
	margin: 0;
	width: 178px;
	table-layout: fixed;
}

.calendar-block .date-select-container {
	background: #F5F5F5;
	padding: 2px 0;
	border-radius: 3px 3px 0 0;
}

.calendar-block .date-select-previous {
	float: left;
	margin: 1px 4px 0 4px;
}

.calendar-block .date-select-next {
	float: right;
	margin: 1px 4px 0 4px;
}

.calendar-block .date-select-next i,
.calendar-block .date-select-previous i {
	color: #666666;
}

.calendar-block .date-select-content {
	margin: auto;
	width: 150px;
}

.calendar-block .date-select-content select,
.calendar-block .date-select-content select:focus {
	padding: 1px 1px;
	font-size: 0.9em;
	border: none;
	background: none;
	box-shadow: none;
}

.calendar-block .date-select-month {
	width: 87px;
	margin: 0 1px 0 5px;
}

.calendar-block .date-select-year {
	width: 53px;
	margin: 0;
}

.calendar-block .date-picker select,
.calendar-block .date-picker select:focus {
	box-shadow: none;
	max-width: 75px;
}

.calendar-block .date-picker thead tr th {
	border-top: 1px solid #CCCCCC;
	padding: 5px 0;
	border-radius: 0;
	background: #FFFFFF;
	font-weight: bold;
	color: #666666;
}

.calendar-block .date-picker tbody tr:last-child {
	border-bottom: none;
}

.calendar-block .date-picker tbody td {
	height: 23px;
	padding: 1px 2px;
}

.calendar-block .date-picker tbody td:first-child { border-left: none; }
.calendar-block .date-picker tbody td:last-child  { border-right: none; }

.calendar-block .date-picker tbody td.calendar-none    { background: #FFFFFF; }
.calendar-block .date-picker tbody td.calendar-today   { background: #B5E5B9; }
.calendar-block .date-picker tbody td.calendar-event   { background: #DBE5EE; }
.calendar-block .date-picker tbody td.calendar-weekend { background: #FFE3B6; }

.calendar-block .date-picker tbody tr:last-child td {
	border-bottom: none;
}

.calendar-block .date-picker tbody tr:last-child td:first-child { border-radius: 0 0 0 2px; }
.calendar-block .date-picker tbody tr:last-child td:last-child	{ border-radius: 0 0 2px 0; }

td.calendar-week {
    border-right: 1px solid #BBBBBB;
}

/* --- les blocs bbcode --- */
.bbcode-block-container {
	position: absolute;
	text-align: center;
	margin: 0;
	padding: 0;
	z-index: 20;
	top: 26px;
	left: -4px;
}

.bbcode-block {
	background: #F3F3F3;
	border-radius: 3px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid #AAAAAA;
	margin: 0;
}

.bbcode-block a {
	cursor: pointer;
	text-decoration: none;
}

/* --- Le selecteur de couleur --- */
.color-picker {
	position: absolute;
	z-index: 100;
}

.color-picker .bbcode-block table {
	border-collapse: collapse;
	margin: auto;
	border: none;
}

.color-picker td {
	padding: 0;
	border: 1px solid #F3F3F3;
}

.color-picker td a {
	display: block;
	width: 14px;
	height: 14px;
}

/* --- les blocs de quote, de code ou caches --- */
.formatter-blockquote, .formatter-code, .formatter-hide {
	display: block;
	width: 93%;
	padding: 2px 0;
	font-weight: bold;
	margin: auto;
}

.blockquote, .code, .hide {
	overflow: auto;
	max-height: 500px;
	background: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	color: #444444;
	padding: 8px;
	margin: 0 25px;
}

.hide {
	cursor: pointer;
	height: 10px;
	overflow: hidden;
}

.hide2 {
	visibility: hidden;
	overflow: auto;
}

/* --- les autres element bbcode --- */
.indent {
	margin-left: 30px;
}

.formatter-acronym {
	cursor: help;
}

.formatter-block {
	margin: 5px 20px;
	padding: 5px;
	border: 1px solid #C4CED6;
	display: block;
	overflow: hidden;
}

.formatter-fieldset {
	margin: 10px;
}

.formatter-ul {
	text-align: left;
}

/* --- les listes numerotees --- */
.code ol {
	margin-left: 3em;
}

/* --- menu de flux --- */
.feed-list {
	list-style-type: none;
	text-align: left;
	margin: 5px 0;
}

/* --- La recherche de membre (AJAX) --- */
.xmlhttprequest-result-search {
	overflow: auto;
	min-height: 40px;
	width: 100px;
	overflow: auto;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 2px;
	margin: 2px 0 0 0;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.01);
}

/* --- La barre de progression --- */
.progressbar-container {
	background: #F5F5F5;
	margin: 4px 0 10px;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	position: relative;
}

.progressbar-container .progressbar-infos {
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	width: 100%;
	position: absolute;
}

.progressbar {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.progressbar[style*="100"] {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.progressbar-container .progressbar {
	height: 13px;
	background-color: #8ECF67;
	transition: width .6s ease;
}

/* --- Le systeme de notation --- */
.notation,
.static-notation {
	display: inline-block;
}

.notation .star,
.static-notation .star {
	color: #E3CF7A;
	font-size: 14px;
	padding-right: 5px;
	text-decoration: none;
}


/* -- Les Icones specifiques PHPBoost de FontAwesome -- */
/* ---------------------------------------------------- */

/* --- les couleurs d icones --- */
.fa-syndication:before { color: #F57900; }
.fa-success:before     { color: #478948; }
.fa-forbidden:before   { color: #BA4B49; }
.fa-error:before       { color: #BA4B49; }
.fa-warning:before     { color: #C19954; }
.fa-ban:before         { color: #BA4B49; }
.fa-unban:before       { color: #478948; }
.fa-male:before        { color: #8DC3E9; }
.fa-female:before      { color: #F49CC4; }
.fa-online:before      { color: #52D132; }
.fa-offline:before     { color: #E05759; }
.fa-trend-up:before    { color: #478948; }
.fa-trend-down:before  { color: #BA4B49; }

/* --- Les alertes --- */
li.small-block .fa-stack {
	height: 2.34em;
}

.fa-circle-alert {
	z-index: 1;
	position: absolute;
	top: -3px;
	left: 20px;
	font-size: 1.32em;
	color: #BA4B49;
}

.fa-circle-alert span {
	display: block;
	position: absolute;
	top: 4px;
	width: 100%;
	margin: 0 auto;
	color: white;
	font-size: 0.7em;
	text-align: center;
}

/* -- Les messages d erreurs -- */
/* ---------------------------- */
div.message-helper-small {
	width: 50%
}

.error, .notice, .warning, .success, .question {
	height: auto;
	padding: 10px 10px 10px 40px;
	margin: 5px auto 15px auto;
	line-height: 20px;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	position: relative;
	display: block;
	text-align: left;
	overflow: hidden;
}

.error:before, .notice:before, .warning:before, .success:before, .question:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 2em;
	position: absolute;
	left: 6px;
	top: 7px;
	width: 28px;
	text-align: center;
}

.error:before    { content: "\f00d"; }
.notice:before   { content: "\f12a"; }
.warning:before	 { content: "\f071"; }
.success:before	 { content: "\f00c"; }
.question:before { content: "\f128"; }

.error, .error:before       { color: #BA4B49; }
.notice, .notice:before     { color: #888888; }
.warning, .warning:before   { color: #C19954; }
.success, .success:before   { color: #478948; }
.question, .question:before { color: #3B88AE; }

.error    { background-color: #F3DFDF; border-color: #ECCDD2; }
.notice   { background-color: #F0F0F0; border-color: #E2E2E2; }
.warning  { background-color: #FDF9E4; border-color: #FBECCD; }
.success  { background-color: #E0F1D9; border-color: #D7EAC7; }
.question { background-color: #DAEEF8; border-color: #BDE9F2; }


/* -- Systeme d Upload -- */
/* ---------------------- */
#module-user-upload {
	margin: 5px;
}

.upload-address-bar {
	background: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	color: #444444;
	margin: 0 25px;
	padding: 6px;
}

.upload-address-bar-links {
	float: right;
	margin: 0 25px 25px 25px;
}

.upload-address-bar-links a {
	margin-left: 10px;
}

#empty-folder {
	width: 70%;
}

.upload-elements-container {
	margin: 10px 0 0 20px;
}

.upload-elements-file,
.upload-elements-repertory {
	float: left;
	margin: 10px;
}

.upload-elements-repertory {
	height: 60px;
}

a.upload-recent-file {
	color: #BA4B49;
}

.upload-input-bbcode {
	margin-top: 2px;
	cursor: pointer;
}

.upload-cat-list,
.upload-cat-explorer {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: normal;
}

.upload-cat-explorer {
	padding-left: 30px
}

.upload-no-sub-cat {
	padding-left: 17px
}

/* --- Deplacement des fichiers --- */
.upload-selected-cat {
	background: #F5FBFF;
	border: 1px solid #2C5169;
}

.upload-elements-move-to,
.upload-elements-move-to-cat,
.upload-elements-move-file,
.upload-elements-move-folder {
	float: left;
	width: 33%;
	text-align: center;
}

.upload-elements-move-to {
	margin-top: 50px;
}

.upload-elements-move-file img {
	width: 100px;
	height: auto;
}

.upload-root-cat {
	padding: 0 0 0 17px;
}
