/* --------------------------------------
		global.css
 Contient les classes globales au site, peuvent être utilisées partout.
--------------------------------------*/ 

/* Classes générales
--------------------------------------*/
/* Case générale des tableaux du site*/
.row1, .block_contents1 {
    background:#E0E9EF;
	padding:8px 6px;
	border-top:1px solid #CCCCCC;
}

.block_contents1 {
    padding:20px 6px;	
}

.row2, .block_contents2 {
	padding:8px 6px;
}

.block_contents2 {
    padding:20px 6px;	
}

.row3, .block_contents3 {
	background:#F2F7FB;
    border-color:#C4CED6;
    padding:8px 6px;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	-moz-border-radius:0px 0px 5px 5px;
	-khtml-border-bottom-right-radius:5px;
	-khtml-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
    border-radius:5px;
}

.block_contents3 {
    padding:20px 6px;	
}

/* Case résultat recherche membre AJAX */
.xmlhttprequest_result_search {
    overflow:auto;
    height:100px;
    width:100px;
    overflow:auto;
    font-size:11px;
    background:#f5fbff;
    border:1px solid #2C5169;
    color:#061729;
    padding:2px;
}

/* Affichage du mini calendrier */
.calendar_block {
    position:absolute;
    text-align:center;
    padding:6px 4px;
    background:#f5fbff;
    border:1px solid #2C5169;
    bottom:28px;
    width:204px;
    z-index:100;
}

.calendar_block .row3{
	border:none;	
}

/* Déplacement des fichiers */
.upload_selected_cat {
    background:#f5fbff;
    border:1px solid #2C5169;
}

/* Lien du site
--------------------------------------*/
a {
	color:#2F5B8A;
    text-decoration:none;
    font-size:12px;
    font-weight:bold;
}

a:hover {
    color:#718396;
    text-decoration:underline;
    font-weight:bold;
}

.img_link, .img_link:hover{
	text-decoration:none;
}

/* Liens des commentaires. */
a.com {
    color:#515C68;
    font-size:10px;
    font-weight:bold;
}

a.com:hover {
    color:#01528D;
}

/* Lien des utilisateurs => ne pas changer le nom de ces classes! */
a.admin {
    color:#FFA34F;
    font-weight:bold;
}

a.modo {
    color:#006699;
    font-weight:bold;
}

a.member {
    color:#000000;
    font-weight:bold;
}

/* Mise en forme
-------------------------------------------*/

/* Taille police alternative */
.smaller { font-size: 10px; }
.small { font-size: 12px; }
.big { font-size: 16px; }
.bigger { font-size: 18px; }
.biggest { font-size: 20px; }

/* Titres */
h1 { font-size:32px; }
h2 { font-size:28px; }
h3 { font-size:24px; }
h4 { font-size:20px; }
h5 { font-size:18px; }
h6 { font-size:16px; }

h2.title {
    font-size:16px;
    font-weight:bold;
}

h3.title {
    font-size:12px;
    font-weight:bold;
    display:inline;
}

/* Sous-Titres */
h5.sub_title { /* Titre des menu */
    font-size:13px;
    color:#515C68;
}

h6.sub_title2 { /* Sous titre dans les menu */
    font-size:12px;
    font-weight:bold;
    padding-top:4px;
    text-indent:10px;
    width:155px;
    height:32px;
    color:#515C68;
}

/* Titre 1 */
h3.title1{
	color:#3E4D5C;
	border-bottom:2px solid #366393;
	font-size:15px;
	font-weight:bold;
	padding:0px 5px;
}

/* Titre 2 */
h3.title2{
	font-size:14px;
	text-decoration:underline;
	font-weight:bold;
	color:#3E4D5C;
	padding:0px 5px;
}

/* Sous titre 1 */
h4.stitle1, h4.stitle2{
	display:inline;
	color:#3E4D5C;
	font-size:12px;
	font-weight:bold;
	margin-left:35px;
	padding:4px 5px;
	font-weight:bold;
	background:#ECEFFA;	
	border-radius:8px;
}

/* Sous titre 1 */
h4.stitle1{
	border:1px solid #336397;
	border-left:4px solid #336397;
	border-right:4px solid #336397;
}

/* Sous titre 2 */
h4.stitle2{
	margin-left:50px;
	background:none;
	border-bottom:3px solid #336397;
}

/* Listes */
ul{ margin-left:20px; }
ol{ margin-left:35px; }
li{ text-align:left; }

/* Menu dynamique des liens
--------------------------------------*/
/* Lien du menu */
.dynamic_menu h5 {
    color:#515C68;
    background:#F2F7FB;
    border:1px solid #C4CED6;
	margin-right:2px;
}

.dynamic_menu h5:hover {
    color:#01528D;
    background:#eaedee;
}

/* Séparateur */
.dynamic_menu ul li.separator {
    background:#e8edf3;
}

.dynamic_menu ul li.extend {
	background:url(images/bgmenu_extend.png);
}

/* Case du menu */
.dynamic_menu li ul {
    border:none;
    border:1px solid #C4CED6;
    border-bottom:1px solid #99B1CB;
}

.dynamic_menu li li {
    color:#0578CC;
    background:#FFFFFF url(images/bgmenu.png) repeat-y;
}

.dynamic_menu li li a {
    color:#0578CC;
}

.dynamic_menu li li a:hover {
    background-color:#D2E3F1;
    
}

h3.menu_vertical_0{
	margin-top:0px;
}

/* Erreurs
--------------------------------------*/
.question{
    color:#FFFFFF;
    background:#98c0ea url(../images/question.png) no-repeat;
    border:1px solid #7796b8;
}

.notice{
    color:#334455;
    background:#dadfe5 url(../images/notice.png) no-repeat;
    border:1px solid #aaaeb3;
}

.warning{
    color:#FFFFFF;
    background:#e5ad54 url(../images/important.png) no-repeat;
    border:1px solid #b38742;
}

.error{
    color:#FFFFFF;
    background:#C43C35 url(../images/stop.png) no-repeat;
    border:1px solid #802722;
}

.success{
    color:#FFFFFF;
    background:#57A957 url(../images/success.png) no-repeat;
  	border:1px solid #418041;
}

.question, .notice, .warning, .error, .success{
    display:block;
    height:35px;
    padding-top:4px;
    padding-bottom:10px;
    padding-left:40px;
    padding-right:5px;
    margin:4px 25px;  
    background-position:4px 4px;
    border-radius:6px;
}

html>body .question, html>body .notice, html>body .warning, html>body .error, html>body .success{
    height:auto;
    min-height:25px;
}

.error_handler_position {
	margin-top:5px;
	margin-bottom:15px;
}