/* --------------------------------------
		global.css
 Contient les classes globales au site, peuvent être utilisées partout.
--------------------------------------*/ /* Classes générales
--------------------------------------*/
/* Case générale des tableaux du site*/
.row1,.block_contents1 {
    background:#E0E9EF;
	padding:8px 6px;
	border-top:1px solid #CCCCCC;
}

.block_contents1 {
    padding:20px 6px;	
}

.row2,.block_contents2 {
	padding:8px 6px;
	border-top:1px solid #CCCCCC;
	-moz-border-radius:0px 0px 5px 5px;
	-khtml-border-bottom-right-radius:5px;
	-khtml-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
    border-radius:5px;
}

.block_contents2 {
    padding:20px 6px;	
}

.row3,.block_contents3 {
    background:#F2F7FB;
    border-color:#C4CED6;
    padding:8px 6px;
	border-top:1px solid #CCCCCC;
	-moz-border-radius:0px 0px 5px 5px;
	-khtml-border-bottom-right-radius:5px;
	-khtml-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
    border-radius:5px;
}

.block_contents3 {
    padding:20px 6px;	
}

/* Case résultat recherche membre AJAX */
.xmlhttprequest_result_search {
    overflow:auto;
    height:100px;
    width:100px;
    overflow:auto;
    font-size:11px;
    background:#f5fbff;
    border:1px solid #2C5169;
    color:#061729;
    padding:2px;
}

/*Affichage du mini calendrier */
.calendar_block {
    position:absolute;
    text-align:center;
    padding:6px 4px;
    background:#f5fbff;
    border:1px solid #2C5169;
    bottom:28px;
    width:204px;
    z-index:100;
}

/* Déplacement des fichiers*/
.upload_selected_cat {
    background:#f5fbff;
    border:1px solid #2C5169;
}

/* Lien du site
--------------------------------------*/
a {
	color:#445766;
    text-decoration:none;
    font-size:11px;
    font-weight:bold;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

a:hover {
    color:#2F404D;
    text-decoration:underline;
    font-weight:bold;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}


/* Liens petite taille */
a.small_link {
    font-size:10px;
}

a.small_link:hover {
    font-size:10px;
}

/* Liens grande taille */
a.big_link {
    font-size:15px;
}

a.big_link:hover {
    font-size:15px;
}

/* Liens des commentaires. */
a.com {
    color:#515C68;
    font-size:10px;
    font-weight:bold;
}

a.com:hover {
    color:#01528D;
    font-size:10px;
    font-weight:bold;
}

/* Lien des utilisateurs => ne pas changer le nom de ces classes! */
a.admin {
    color:#FFA34F;
    font-size:11px;
    font-weight:bold;
}

a.modo {
    color:#006699;
    font-size:11px;
    font-weight:bold;
}

a.membre {
    color:#000000;
    font-size:11px;
    font-weight:bold;
}

/* Liens pagination
--------------------------------------*/
.pagination {
    font-size:11px;
}

.pagination_current_page {
    text-decoration:underline;
}

/*Menu dynamique des liens
--------------------------------------*/
/* Lien du menu */
.dynamic_menu h5 {
    color:#515C68;
    background:#F2F7FB;
    border:1px solid #C4CED6;
	margin-right:2px;
	-moz-border-radius-topleft:12px;
    -khtml-border-radius-topleft:12px;
    -webkit-border-radius-topleft:12px;
    -moz-border-radius-bottomright:12px;
    -khtml-border-radius-bottomright:12px;
    -webkit-border-radius-bottomright:12px;
    border-radius:12px;
}

.dynamic_menu h5:hover {
    color:#01528D;
    background:#eaedee;
}

/* Séparateur */
.dynamic_menu ul li.separator {
    background:#849AAC;
}

.dynamic_menu ul li.extend {
	background:url(images/bgmenu_extend.png);
}

/* Case du menu */
.dynamic_menu li ul {
    border:1px solid #849AAC;
}

.dynamic_menu li li {
    color:#0578CC;
    background:#FFFFFF url(images/bgmenu.png) repeat-y;
}

.dynamic_menu li li a {
    color:#0578CC;
}

.dynamic_menu li li a:hover {
    background-color:#D2E3F1;
    border:1px solid #8BBFE8;
}
