/* -------------------------------------
		global.css
 Contient les classes globales au site, peuvent etre utilisees partout.
 - Mise en forme du texte
 - Mise en forme du contenu
 - Les Icones specifiques PHPBoost de FontAwesome
 - Systeme d upload
------------------------------------- */


/* -- La mise en forme du texte -- */
/* ------------------------------- */

/* --- Les liens du site --- */
a {
	text-decoration: none;
	font-weight: normal;
}

a:hover,
.link-color:hover {
	text-decoration: underline;
	transition: all 0.3s ease;
}

/* --- Tailles de polices --- */
.smaller { font-size: 0.618em;  }
.small   { font-size: 0.809em;  }
.normal  { font-size: 1.000em;  }
.big     { font-size: 1.228em;  }
.bigger  { font-size: 1.456em;  }
.biggest { font-size: 2.1618em; }

/* --- Les titres (balise h) --- */
h1 { font-size: 2.4em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	word-wrap: normal;
	overflow-wrap: normal;
	hyphens: none;
	line-height: normal;
}

/* --- Les Titres bbcode --- */
.formatter-title {
	display: inline-block;
	margin: 1.618rem 0 1.309rem 0;
	font-weight: 300;
}

h2.formatter-title {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-color: transparent;
	margin-top: 2.618rem;
}

h3.formatter-title {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: transparent;
}

h4.formatter-title {
	text-decoration: underline;
}

h5.formatter-title {
	font-style: italic;
	text-decoration: underline;
}

h6.formatter-title {
	font-style: italic;
}

h2.formatter-title { font-size: 2.8rem; margin-left: 0; }
h3.formatter-title { font-size: 2.6rem; margin-left: 1rem; }
h4.formatter-title { font-size: 2.4rem; margin-left: 2rem; }
h5.formatter-title { font-size: 2.2rem; margin-left: 3rem; }
h6.formatter-title { font-size: 2.0rem; margin-left: 4rem; }

.formatter-title + br + .formatter-title {
	margin-top: 0;
}


/* -- Mise en forme du contenu -- */
/* ------------------------------ */

/* --- Affichage du mini calendrier --- */
.calendar-block-container {
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
}

.form-field .calendar-container {
	display: inline-block;
	position: relative;
}

.calendar-container a .fa-calendar {
	font-size: 1.6em;
}

.calendar-block {
	position: absolute;
	z-index: 10;
}

.calendar-block {
	top: 2em;
	left: -104px;
}

.calendar-block .date-picker {
	margin: 0;
	width: 250px;
	table-layout: fixed;
}

.calendar-block .date-select-container {
	padding: 0.809em 0 0.309em;
}

.calendar-block .date-select-previous {
	float: left;
}

.calendar-block .date-select-next {
	float: right;
}

.calendar-block .date-select-previous i,
.calendar-block .date-select-next i {
	padding: 0.1618em 0.309em;
}


.calendar-block .date-select-content {
	margin: auto;
	width: 185px;
	text-align: center;
}

.calendar-block .date-select-content select,
.calendar-block .date-select-content select:focus {
	padding: 0.1618em;
	font-size: 0.809em;
	border: none;
	background: none;
	box-shadow: none;
}

.calendar-block .date-select-month {
	width: 92px;
	margin: 0 0.1618em 0 0.309em;
}

.calendar-block .date-select-year {
	width: 55px;
	margin: 0;
}

.calendar-block .date-picker select,
.calendar-block .date-picker select:focus {
	box-shadow: none;
	max-width: 75px;
}

.calendar-block .date-picker thead tr th {
	padding: 0.309em 0;
	font-weight: bold;
}

.calendar-block .date-picker tbody tr td {
	border-bottom: none;
}

.calendar-block .date-picker tbody td {
	padding: 0.1618em;
}

.calendar-block .date-picker tbody td a {
	display: block;
	font-size: 0.809em;
	padding: 0.456em;
}

.calendar-block .date-picker tbody td:first-child { border-left: none;  }
.calendar-block .date-picker tbody td:last-child  { border-right: none; }

.calendar-block .date-picker tbody tr:last-child td {
	border-bottom: none;
}

.calendar-block .date-picker tbody td.calendar-event a {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

/* --- Le selecteur de couleur --- */
.color-picker {
	position: absolute;
	z-index: 100;
}

.color-picker .bbcode-block table {
	margin: auto;
	border: none;
	border-collapse: collapse;
}

.color-picker td {
	padding: 0;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.color-picker td a {
	display: block;
	width: 0.809em;
	height: 0.809em;
}

/* --- les blocs de quote, de code ou caches --- */
.formatter-container {
	position: relative;
	display: block;
	margin: auto;
	width: 93%;
}

.formatter-container .formatter-title {
	font-weight: bold;
}

.formatter-content {
	margin: 0;
	padding: 0.456em;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.formatter-hide .formatter-content {
	height: 0;
	max-height: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	transform: scaleY(0);
	transition: transform 0.15s linear;
	transform-origin: 50% 0;
}

.formatter-show .formatter-content,
.formatter-hide.no-js:hover .formatter-content {
	height: auto;
	max-height: 500px;
	padding: 0.456em;
	overflow: auto;
	visibility: visible;
	transform: scaleY(1);
}

.formatter-hide .formatter-hide-message {
	display: block;
	font-style: italic;
	font-weight: normal;
	font-size: 0.809em;
	padding: 0.228em 0.456em;
	width: 100%;
	margin: 0 auto 0 auto;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.formatter-show .formatter-hide-message {
	display: none;
}

.formatter-hide-close-button {
	position: absolute;
	display: none;
	top: 2.618em;
	right: 0;
	font-size: 0.8em;
	font-style: italic;
	cursor: pointer;
	transition: all 0.3s linear;
}

.formatter-hide-close-button-txt {
	padding: 0 0 0 0.228em;
}

.formatter-show .formatter-hide-close-button {
	display: block;
}

.formatter-hide-close-button:hover {
	transition: all 0.3s linear;
}

.formatter-code .formatter-title {
	margin: 1rem 0 0.5rem 0;
}

.formatter-code .formatter-content {
	overflow: auto;
	max-height: 500px;
}

.copy-code-content {
	border-style: dashed;
}

.formatter-blockquote .formatter-content{
	border-width: 0;
	padding: 1.618%;
	font-style: italic;
	position: relative;
}

.formatter-blockquote .formatter-content:before,
.formatter-blockquote .formatter-content:after {
	position: absolute;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 1.618em;
}

.formatter-blockquote .formatter-content:before {
	content: '\f10d';
	top: -10px;
	left: -15px;
}

.formatter-blockquote .formatter-content:after {
	content: '\f10e';
	bottom: -10px;
	right: -15px;
}

.copy-code {
	float: right;
	padding: 1.2rem 0.5rem 0 0;
	font-size: 0.8em;
	font-style: italic;
	cursor: copy;
	transition: all 0.3s linear;
}

.copy-code-txt {
	padding: 0 0 0 0.228em;
}

/* --- les autres element formates --- */
.indent {
	margin-left: 1.618em;
}

.formatter-acronym {
	cursor: help;
}

.formatter-block {
	display: block;
	margin: 0.309em 1.309em;
	padding: 0.309em;
	overflow: hidden;
}

.formatter-fieldset {
	margin: 0.618em;
}

.formatter-ul {
	text-align: left;
}

/* --- les listes numerotees --- */
.code ol {
	margin-left: 3em;
}

/* --- menu de flux --- */
.feed-list {
	margin: 0.309em 0;
	list-style-type: none;
	text-align: left;
}

@media (max-width: 768px) {
	.feed-list li a {
		margin: 1px 0;
		padding: 0.456em 0;
		display: inline-block;
	}
}

/* --- La recherche de membre (AJAX) --- */
.xmlhttprequest-result-search {
	overflow: auto;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

/* --- La barre de progression --- */
.progressbar-container {
	position: relative;
	margin: 0.228em 0 0.618em;
}

.progressbar-container .progressbar-infos {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	line-height: 0.809em;
	font-size: 0.618em;
	text-align: center;
}

.progressbar-container .progressbar {
	height: 1.618em;
	transition: width .6s ease;
}

/* --- Le systeme de notation --- */
.notation,
.static-notation {
	display: inline-block;
}

.notation .star,
.static-notation .star {
	position: relative;
	font-size: 1.5rem;
	text-decoration: none;
}

.static-notation .star {
	cursor: default;
}

.notation .star-width {
	position: absolute;
	display: inline-block;
	top:0;
	left:0;
}

.notation .star-width:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	color: #E3CF7A;
	left: 0;
	top:0;
	content:"\f005";
	display:block;
	overflow:hidden;
}

.star-width-0   { width: 0%;   }
.star-width-10  { width: 30%;  }
.star-width-25  { width: 41%;  }
.star-width-50  { width: 50%;  }
.star-width-75  { width: 65%;  }
.star-width-90  { width: 78%;  }
.star-width-100 { width: 100%; }


/* --- Les alertes --- */
li.small-block .fa-stack {
	height: 2.34em;
}

.fa-circle-alert {
	position: absolute;
	z-index: 1;
	top: -3px;
	left: 20px;
	font-size: 1.32em;
}

.fa-circle-alert span {
	position: absolute;
	top: 4px;
	display: block;
	margin: 0 auto;
	width: 100%;
	font-size: 0.7em;
	text-align: center;
}


/* -- Les messages d erreurs -- */
/* ---------------------------- */
.message-helper {
	position: relative;
	display: block;
	margin: 0.309em auto 1em auto;
	padding: 0.618em 0.618em 0.618em 2.618em;
	height: auto;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	line-height: 1.2;
	text-align: left;
	overflow: hidden;
}

.message-helper:before {
	position: absolute;
	left: 6px;
	top: 7px;
	width: 28px;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900; /* Solid icons*/
	font-style: normal;
	line-height: normal;
	font-size: 1.5em;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.message-helper-small {
	width: 50%;
}

.message-helper.error:before       { content: "\f00d"; } /* copy times */
.message-helper.notice:before      { content: "\f12a"; } /* copy exclamation */
.message-helper.warning:before     { content: "\f071"; } /* copy exclamation-triangle */
.message-helper.success:before     { content: "\f00c"; } /* copy check */
.message-helper.question:before    { content: "\f128"; } /* copy question */
.message-helper.member-only:before { content: "\f071"; } /* copy exclamation-triangle */
.message-helper.modo-only:before   { content: "\f071"; } /* copy exclamation-triangle */
.message-helper.admin-only:before  { content: "\f071"; } /* copy exclamation-triangle */

.floating-message-container {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	top: 0.618em;
}

.floating-message-container.active {
	z-index: 100;
}

.floating-message-container .message-helper {
	overflow: visible;
	opacity: 0;
}

@media (max-width: 768px) {
	.floating-message-container {
		width: 100%;
		top: 1em;
	}

	.floating-message-container .message-helper {
		max-width: 90%;
		padding: 10px 10px 10px 50px;
	}
}

.floating-message-container .message-helper-button {
	position: absolute;
	z-index: 1;
	top: -13px;
	right: -12px;
	height: 1.482em;
	width: 1.482em;
	border-radius: 100em;
	text-align: center;
	padding-top: 0.1618em;
}

.floating-message-container .fa-close-message {
	display: inline-block;
	color: white;
	font-size: 1em;
	margin: auto;
}

.floating-message-container .fa-close-message:before {
	content: "\f00d";
}

.floating-message-container .message-helper > a {
	color: inherit;
	cursor: pointer;
}


/* -- Systeme d Upload -- */
/* ---------------------- */
#module-user-upload {
	margin: 0;
	padding: 0.309em;
}

.upload-address-bar {
	margin: 0 1.482em;
	padding: 0.382em;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.upload-address-bar-links {
	float: right;
	margin: 0 1.482em 1.482em 1.482em;
}

.upload-address-bar-links a {
	margin-left: 0.618em;
}

#empty-folder {
	width: 70%;
}

.upload-elements-container {
	margin: 0.618em 0 0 1.309em;
	overflow: hidden;
	text-align: left;
}

.upload-elements-file,
.upload-elements-repertory {
	display: inline-block;
	vertical-align: top;
	margin: 0.618em;
}

.upload-elements-repertory {
	line-height: 50px;
	width: 180px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.upload-repertory-controls {
	font-size: 0;
}

.upload-repertory-controls span {
	font-size: 1.6rem;
	width: calc(100% / 3);
	display: inline-block;
}

.upload-elements-file {
	width: 180px;
}

.upload-elements-file a:hover {
	text-decoration: none;
}

.upload-elements-file input {
	width: 100%;
}

.upload-element-name {
	width: 100%;
	text-align: center;
}

.upload-element-picture {
	width: 100%;
	height: 100px;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.upload-element-icon {
	width: 100%;
	line-height: 100px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.upload-file-controls {
	font-size: 0;
}

.upload-file-controls a {
	font-size: 1.6rem;
	width: calc(100% / 4);
	display: inline-block;
	text-align: center;
	padding: 0.228em 0;
}

.upload-input-bbcode {
	margin-top: 0.1618em;
	cursor: pointer;
}

.upload-cat-list,
.upload-cat-explorer {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: normal;
}

.upload-cat-explorer {
	padding-left: 1.618em;
}

.upload-no-sub-cat {
	padding-left: 1em;
}

/* --- Deplacement des fichiers --- */
.upload-selected-cat {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.upload-elements-move-to,
.upload-elements-move-file,
.upload-elements-move-to-cat,
.upload-elements-move-folder {
	float: left;
	width: 33%;
	text-align: center;
}

.upload-elements-move-to {
	margin-top: 2.809em;
}

.upload-elements-move-file img {
	width: 100px;
	height: auto;
}

.upload-root-cat {
	padding: 0 0 0 1em;
}


/* -- Les icones d'annonces et de messagerie -- */
/* -------------------------------------------- */

/* --- Les icones d'annonces --- */
.fa-announce:before,
.fa-announce-new:before 		{ content: "\f075"; } /* copy comment */
.fa-announce-hot:before,
.fa-announce-new-hot:before 	{ content: "\f086"; } /* copy comments */
.fa-announce-lock:before,
.fa-announce-new-lock:before 	{ content: "\f023"; } /* copy lock */
.fa-announce-post:before,
.fa-announce-new-post:before 	{ content: "\f071"; } /* copy exclamation-triangle */
.fa-announce-top:before,
.fa-announce-new-top:before 	{ content: "\f06a"; } /* copy exclamation-circle */

/* --- Icones de messagerie --- */
.fa-msg-display:before 			{ content: "\f00c"; } /* copy check */
.fa-msg-not-display:before 		{ content: "\f00d"; } /* copy times */
.fa-msg-track:before 			{ content: "\f004"; } /* copy heart */
.fa-msg-not-track:before 		{ content: "\f004"; } /* copy heart */
.fa-pm-track:before 			{ content: "\f27a"; } /* copy comment-alt */
.fa-pm-not-track:before 		{ content: "\f27a"; } /* copy comment-alt */
.fa-mail-track:before 			{ content: "\f0e0"; } /* copy envelope */
.fa-mail-not-track:before 		{ content: "\f0e0"; } /* copy envelope */
.fa-lastview:before 			{ content: "\f017"; } /* copy clock-o */
.fa-notread:before 				{ content: "\f15c"; } /* copy file-alt, regular fonts */
.fa-showmymsg:before 			{ content: "\f4ad"; } /* copy comments-dots, regular fonts*/

.fa-notread,
.fa-lastview,
.fa-showmymsg {
	font-weight: 200;
}
