/* --------------------------------------
		login.css
Contient les elements pour afficher la page de connexion a l'administration ou au site lorsqu'il est en maintenance.
--------------------------------------*/

.fieldset-content {
	margin: 0px auto;
	width: 450px;
	max-width: 100%;
}

body {
	background-color: #E8EDF3;
	height: 100%;
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

div#global {
	padding: 20px;
	border-spacing: 1px;
	border: 1px #bebebe solid;
	background-color: #ffffff;
	min-height: 0;
	width: 100%;
}

#connect { margin-bottom:40px; }
