/* -------------------------------------
		shape.css
 Contient la structure des emplacements propre à PHPBoost.
 - Structure des emplacements
 - Structure des éléments
------------------------------------- */

/* -- Structure des emplacements -- */
/* -------------------------------- */

/* --- Partie superieure du header --- */
#top-header {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
}

#top-header-content {
	flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
}

@media (min-width: 769px) {
	#top-header {
		flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
	}

	#top-header-content {
		align-self: flex-end;
		-ms-align-self: flex-end;
		-webkit-align-self: flex-end;
	}
}

/* --- Logo et Nom du site web --- */
#site-infos {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;;
	flex: 1 1 auto;
}

#site-logo {
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
}

/* --- Contenu du site --- */
#global {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
}

#main {
	order : 1;
	-ms-flex-order: 1;
	-webkit-flex-order: 1;
}

#menu-left {
	order : 2;
	-ms-flex-order: 2;
	-webkit-flex-order: 2;
}

#menu-right {
	order : 3;
	-ms-flex-order: 3;
	-webkit-flex-order: 3;
}

@media (min-width: 769px) {
	#global {
		flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
	}

	#menu-left  {
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
	}

	#menu-right {
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
	}

	#main {
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
		flex: 1 0 auto;
		-ms-flex: 1 0 100%;
		-webkit-flex: 1 0 auto;
	}

	#main.main-with-left,
	#main.main-with-right,
	#main.main-with-left.main-with-right {
		-ms-flex: 1 0 auto;
	}
}


/* -- Structure des éléments -- */
/* ---------------------------- */
.elements-container {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	align-content: flex-start;
	-ms-flex-line-pack: start;
	-webkit-align-content: flex-start;
	justify-content: space-around;
	-ms-flex-pack: distribute;
	-webkit-justify-content: space-around;
	clear: both;
}

.elements-container > .block {
	flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
}

@media (min-width: 769px) {
	.elements-container {
		flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
	}
}
