/* --------------------------------------
		table.css
Contient les elements pour l'affichage des tableaux HTML et responsive.
 - Affichage des tableaux basic
 - Table responsive basictable.js
-------------------------------------- */

/* -- Affichage des tableaux basic -- */
/* ---------------------------------- */
table {
	margin: 0.618em 0;
	padding: 0;
	width: 100%;
	border-spacing: 0;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

/* --- Entete du tableau --- */
table caption {
	margin: 0.456em 0 0.456em 1.482em;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: transparent;
	font-size: 0.8em;
	text-align: left;
}

table thead th,
.table-head {
	padding: 0.228em;
	font-size: 0.9em;
	text-align: center;
	font-weight: normal;
}

/* --- Contenu du tableau --- */
table tbody td,
.table-element-container {
	padding: 0.228em;
	font-size: 0.9em;
	text-align: center;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: transparent;
}

.bt tbody tr td {
	border-bottom-width: 0;
}

.bt tbody tr td:last-child {
	border-width: 0 0 1px;
}

/* --- Pied de tableau --- */
table tfoot tr td {
	padding: 0.228em;
	font-size: 0.9em;
}

table tfoot tr td:only-child {
	text-align: right;
}

table tfoot tr td * {
	vertical-align: middle;
}

table tfoot tr td select {
	padding: 0.1618 0.309em;
}

@media (min-width: 769px) {
	table thead th,
	table tbody td,
	table tfoot tr td {
		padding: 0.309em;
		font-size: 1em;
	}
}

/* --- Patch thead tableaux formates --- */
.formatter-table td.formatter-table-head {
	padding: 0.618em;
	font-size: 1.482em;
	text-align: center;
	font-weight: normal;
}

.formatter-table td.formatter-table-head p {
	margin-bottom: 0;
}

.bt.formatter-table td.formatter-table-head {
	display: none;
}


/* -- Table responsive basictable.js -- */
/* ------------------------------------ */
.responsive-table {
	max-width: 100%;
	overflow: auto;
}

.bt thead,
.bt thead th {
	display: none;
}

.bt tfoot th,
.bt tfoot td,
.bt tbody td {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	vertical-align: top;
}

.bt tfoot th::before,
.bt tfoot td::before,
.bt tbody td::before {
  content: attr(data-th) ": ";
  display: inline-block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  font-weight: bold;
  width: 6.5em;
}

.bt tfoot th.bt-hide,
.bt tfoot td.bt-hide,
.bt tbody td.bt-hide {
  display: none;
}

.bt tfoot th .bt-content,
.bt tfoot td .bt-content,
.bt tbody td .bt-content {
  vertical-align: top;
}

.bt thead th:first-child{
	display: block;
}

.bt tbody td {
	display: block;
	width: 100%;
	text-align: left;
	vertical-align: top;
}

.bt tbody td:before {
	display: inline-block;
	width: 35%;
	content: attr(data-th) " ";
	font-weight: bold;
}

.bt tbody td.bt-hide {
	display: none;
}

.bt tbody td .bt-content {
	display: inline-block;
	padding-left: 0.309em;
	max-width: 100%;
	vertical-align: top;
}

.bt-wrapper.active {
	max-height: 310px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.bt.bt--no-header tfoot td::before,
.bt.bt--no-header tbody td::before {
  display: none;
}

/* --- Taille des colonnes --- */
.col-smaller { width: 3em;  }
.col-small   { width: 6em;  }
.col-large   { width: 9em;  }
.col-larger  { width: 12em; }
.col-xlarge  { width: 15em; }

/* --- BBCode --- */
/* --- Bordures partout --- */
.bordered td {
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: transparent;
}

.bordered td:last-child {
	border-width: 1px 1px 0 1px;
}

.bordered tr:last-child td {
	border-width: 1px 0 1px 1px;
}

.bordered tr:last-child td:last-child {
	border-width: 1px;
}

.bordered .bt td,
.bordered .bt tbody tr td:last-child,
.bordered .bt tr:last-child td {
	border-width: 1px 1px 0 1px;
}

.bordered .bt tr:last-child td:last-child {
	border-width: 1px;
}
