/* --------------------------------------
		table.css
Contient les elements pour l'affichage des tableaux HTML et responsive.
 - Affichage des tableaux basic
 - Table responsive basictable.js
-------------------------------------- */

/* -- Affichage des tableaux basic -- */
/* ---------------------------------- */
table {
	margin: 0.618em 0;
	padding: 0;
	width: 100%;
	border-spacing: 0;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

/* --- Entete du tableau --- */
table caption {
	margin: 0.456em 0 0.456em 1.482em;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: transparent;
	font-size: 0.8em;
	text-align: left;
}

table thead th,
.table-head {
	padding: 0.228em;
	font-size: 0.9em;
	text-align: center;
	font-weight: normal;
}

/* --- Contenu du tableau --- */
table tbody td,
.table-element-container {
	padding: 0.228em;
	font-size: 0.9em;
	text-align: center;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: transparent;
}

table.bt tbody tr td {
	border-bottom-width: 0;
}

table.bt tbody tr td:last-child {
	border-width: 0 0 1px;
}

/* --- Pied de tableau --- */
table tfoot tr td {
	padding: 0.228em;
	font-size: 0.9em;
}

table tfoot tr td:only-child {
	text-align: right;
}

table tfoot tr td * {
	vertical-align: middle;
}

table tfoot tr td select {
	padding: 0.1618 0.309em;
}

@media (min-width: 769px) {
	table thead th,
	table tbody td,
	table tfoot tr td {
		padding: 0.309em;
		font-size: 1em;
	}
}

/* --- Patch thead tableaux formates --- */
table.formatter-table th.formatter-table-head {
	padding: 0.618em;
	font-size: 1.482em;
	text-align: center;
	font-weight: normal;
}

table.formatter-table th.formatter-table-head p {
	margin-bottom: 0;
}

/* -- Table responsive basictable.js -- */
/* ------------------------------------ */
table.bt thead th {
	display: none;
}

table.bt thead th:first-child{
	display: block;
}

table.bt tbody td {
	display: block;
	width: 100%;
	text-align: left;
	vertical-align: top;
}

table.bt tbody td:before {
	display: inline-block;
	width: 35%;
	content: attr(data-th) " ";
	font-weight: bold;
}

table.bt tbody td.bt-hide {
	display: none;
}

table.bt tbody td .bt-content {
	display: inline-block;
	padding-left: 0.309em;
	max-width: 100%;
	vertical-align: top;
}

.bt-wrapper.active {
	max-height: 310px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

/* --- Options -------------------------------------------------------------- */

/* --- CSS --- */
/* --- Taille des colonnes --- */
.col-smaller { width: 3em;  }
.col-small   { width: 6em;  }
.col-large   { width: 9em;  }
.col-larger  { width: 12em; }
.col-xlarge  { width: 15em; }

/* --- BBCode --- */
/* --- Bordures partout --- */
.bordered td {
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: transparent;
}
.bordered td:last-child {
	border-width: 1px 1px 0 1px;
}
.bordered tr:last-child td {
	border-width: 1px 0 1px 1px;
}
.bordered tr:last-child td:last-child {
	border-width: 1px;
}
/* -- Adaptabilité des tables créées en bbcode -- */
.responsive-table {
	width: 100%;
	overflow: auto;
}
