/*
* Surchargez ce fichier dans votre thème pour personnaliser le module
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

/* -- header
============================================================================= */
#forum-top {
	padding: 0.456em;
}

#forum-top h1 {
	font-size: 1.618em;
	text-align: left;
}

/* --- Forum table --- */
#module-forum table.bt tbody td.forum-last-topic .bt-content {
	max-width: 63%;
}

#module-forum table tbody td .bt-content span {
	display: block;
	text-align: left;
}

#module-forum table.bt tbody tr:last-child td:last-child {
	border-width: 0 0 1px;
}

#module-forum header h2 > i,
.footer-forum > i {
	font-size: 0.618em;
}

@media (min-width: 769px) {
	.forum-index {
		display: block;
	}
}

.forum-links .cssmenu-group > ul > li .cssmenu-title,
.forum-links .cssmenu-group > ul > li:hover .cssmenu-title {
	border: none;
	background: none;
}

.forum-links .cssmenu.cssmenu-group > ul > li > .cssmenu-title {
	padding: 0.309em 0.809em;
	letter-spacing: 0;
	font-size: 1.482rem;
}

/* -- details des pages
============================================================================= */

/* --- pagination --- */
article header ul.pagination,
article footer ul.pagination {
	display: inline;
}

/*--- details des topic --- */
.user-group {
	display: block;
}

.user-editor {
	margin-top: 2.618em;
	padding: 0.618em 0;
	font-size: 0.809em;
	font-style: italic;
	display: block;
}

.forum-post-form .fieldset-submit {
	margin-bottom: 0.309em;
	padding-top: 1em;
}

.error-auth-write-response {
	padding-bottom: 0.1618;
	font-size: 0.809em;
	text-align: center;
}

.error-auth-write {
	margin: auto;
	padding: 0.1618;
	height: auto;
	max-width: 300px;
}

.forum-poll-table {
	margin: 0.618em auto auto auto;
	width: 80%;
}


@media (max-width: 768px) {
	.forum-poll-table td {
		text-align: left;
	}
}

.del-msg {
	cursor:pointer;
}

.edit-pseudo {
	margin: 1.618em 0 1.309em;
	padding: 0.618em;
	font-size: 1em;
	font-style: italic;
}

/* --- stats --- */
.forum-stats span {
	display: block;
}

/* --- moderation --- */
@media (min-width: 769px) {
	#article-forum-moderation #id-message-helper.notice {
		width: 80%;
	}
}

#article-forum-moderation textarea {
	margin: 0 0.228em ;
	width: 99%;
	border-top: none;
}

.moderation-type-block {
	display: block;
	text-align: center;
}

.moderation-type-block > span {
	display: block;
}


/* --- creation de topic --- */
#add_poll_field_link {
	width: 185px;
}


/* --- header du contenu de la page --- */
.forum-contents header {
	margin: 0;
}

.forum-contents header h2,
.footer-forum,
.forum-contents footer {
	border: none;
	font-weight: 300;
	font-size: 1.382em;
}

.footer-forum {
	padding: 0 0.618em;
}

.forum-contents header a {
	font-size: 1em;
}

.forum-contents header a.basic-button,
.footer-forum a.basic-button {
	font-size: 0.618em;
}

.forum-contents table {
	margin-top: 0;
}

ul.pagination a {
	padding: 0.309em;
}

@media (min-width: 769px) {
	ul.pagination a {
		padding: 0.228em;
	}
}

.desc-forum {
	font-size: 0.809em;
}

/* --- Contenu de la page --- */
.forum-contents {
	padding: 0 0.809em;
}

.content {
	padding: 0;
	clear: both;
}


/* --- footer du contenu de la page --- */
article footer {
	margin-top: 0.618em;
	padding: 0.456em;
	min-height: 33px;
}

article footer a {
	font-size: 0.809em;
}

/* --- Classe du lien du pseudo sur forum --- */
a.forum-link-pseudo {
	font-weight: bold;
}

/* --- Messages non lus --- */
.forum-refresh {
	position: relative;
	float: left;
}

.forum-refresh #forum_block_forum_unread_top,
.forum-refresh #forum_block_forum_unread_bottom {
	position: absolute;
	z-index: 100;
	top: 100%;
	right: -150px;
}

.forum-notread {
	padding: 0.228em;
	font-size: 0.809em;
}

@media (max-width: 768px) {
	.forum-refresh #forum_block_forum_unread_top,
	.forum-refresh #forum_block_forum_unread_bottom {
		left: -34px;
		right: auto;
		top: 20px;
	}

	.forum-refresh #forum_block_forum_unread_top > div,
	.forum-refresh #forum_block_forum_unread_bottom > div {
		width: 300px !important;
		overflow: visible !important;
	}

	.forum-notread {
		padding: 0.456em 0.228em;
	}
}

/* --- contenu des tables ======================================================= */
.forum-display-block {
	display: block;
	margin: 0.309em 0;
}

.forum-textarea,
.forum-textarea:focus,
.forum-textarea:hover  {
	padding: 0.228em 0.309em;
	min-height: 150px;
}

/* --- taille des colonnes --- */
@media (min-width: 980px) {

	.td20P 	{ width: 20%; }
	.td25P 	{ width: 25%; }
	.td33P 	{ width: 33%; }
	.td66P 	{ width: 66%; }

	.td25 	{width: 1.618em; }
	.td70 	{width: 4.56em;  }
	.td100 	{width: 6.18em;  }

	.forum-mass-modo 		{ width: 1.618em; }
	.forum-fixed-topic 		{ width: 2.28em;  }
	.forum-announce-topic 	{ width: 2.28em;  }
	.forum-author 			{ width: 6.18em;  }
	.forum-subject-nb 		{ width: 3.82em;  }
	.forum-message-nb 		{ width: 3.82em;  }
	.forum-view 			{ width: 3.82em;  }
	.forum-pm 				{ width: 3.82em;  }
	.forum-mail 			{ width: 3.82em;  }
	.forum-delete 			{ width: 4.56em;  }
	.forum-last-topic 		{ width: 11em;    }

	td.forum-last-topic {
		font-size: 0.809em;
	}

	td.forum-topic {
		text-align: left;
	}
}

/* Cadre des liens: alerter les moderateurs et suivre le sujet */
.forum-action {
	margin-top: 0.309em;
	text-align: center;
}

/* Les des categories de niveau 0 */

/* Affichage des membres en ligne */
.forum-online {
	padding: 0.309em 0.309em 0 0.309em;
	height: auto;
	overflow: hidden;
	clear: both;
}

.forum-online-select-cat {
	padding: 0.309em;
	clear: both;
}

.forum-online-select {
	min-width: 160px;
	max-width: 530px;
}

@media (max-width: 768px) {
	.forum-online-select {
		max-width: 100%;
	}
}

/* Contenu */
.forum-cat-title {
	padding: 0 0.309em;
}

.pagin-forum {
	float: right;
}

/* Messages postes par les membres
--------------------------------------*/

/* Conteneur des messages */
.msg-position {
	margin: 1.618em auto;
}

/* Case contenant l'ensemble du message */
.msg-container,
.msg-container2 {
	display: flex;
	flex-direction: row;
	height: auto !important;
	overflow: hidden !important;
	clear: both;
}

/* Barre superieur des messages */
.msg-top {
	display: flex;
	flex-direction: column;
	width: 135px;
}

.msg-top-row p {
	margin: 0;
}

/* Pseudo du membre */
.msg-pseudo-mbr {
	padding: 0.456em;
}

.msg-info-mbr { /* Case des informations du membre */
	padding: 0.456em;
	font-size: 0.618em;
}

.msg-avatar-mbr img {
	margin: 0.309em 0;
	max-width: 120px;
}

/* Case contenant l'ensemble du message, infos membre + contenu */
.msg-contents-container,
.msg-contents-container2 {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	width: calc(100% - 135px);
}

/* --- info case du message ---*/
.msg-title,
.msg-contents-info {
	padding: 0.456em;
}

.msg-contents-info a {
	padding: 0 0.382em 0 0.228em;
}

/* Case du message */
.msg-contents{
	padding: 0.309em;
	flex: 1 1 auto;
}

/* Signature du membre */
.msg-sign,
.msg-sign2 {
	padding: 0.228em;
	width: 100%;
	font-size: 0.809em;
}

.msg-sign img,
.msg-sign2 img {
	max-height: 75px;
}

/* Signature du membre, fixe la hauteur maximale */
.msg-sign-mbr {
	padding-top: 0.309em;
	height: auto !important;
	max-height: 80px;
	overflow: hidden;
}

.msg-sign-mbr hr {
	clear: both;
	margin-bottom: 1em;
}

.msg-sign-info .float-right a {
	padding: 0.1618em 0.456em;
}

@media (max-width: 768px) {
	tfoot,
	td.forum-announce-topic,
	td.forum-fixed-topic,
	td.forum-subject-nb,
	td.forum-message-nb,
	td.forum-view,
	td.forum-author {
		display: none !important;
	}

	td.forum-last-topic {
		margin-bottom: 0.228em;
	}

	/* ---topic --- */
	.msg-container,
	.msg-container2 {
		flex-direction: column;
	}

	.msg-top {
		flex-direction: row;
		width: 100%;
	}

	.msg-pseudo-mbr { background-color: transparent;}

	.msg-top-row {
		flex: 1 0 auto;
		order: 2;
		text-align: center;
	}

	a.msg-link-pseudo {
		font-size: 1.2em;
	}

	.msg-avatar-mbr {
		order: 1;
	}

	.msg-avatar-mbr img {
		max-width: 60px;
		margin: 0.309em;
	}

	.msg-contents-container,
	.msg-contents-container2 {
		width: 100%;
	}

	.msg-contents-info {
		background-color: transparent;
		font-size: 0.809em;
		text-align: right;
	}

	.msg-contents-info span {
		float: none !important;
	}

	.msg-contents-info a {
		padding: 0 0.228em;

	}

	.msg-contents-info i {
		margin-bottom: 0.309em;
	}

	.msg-contents-info .float-right a {
		padding: 0.456em;
	}

	.msg-sign span a,
	.msg-sign2 span a {
		padding: 0.228em;
	}

	.msg-info-mbr,
	.msg-sign-mbr {
		display: none;
	}

	.msg-contents,
	.msg-sign,
	.msg-sign2 {
		margin: 0;
	}
}

/* -- footer ==================================================================== */
#forum-bottom {
	margin: 1em 0 0.309em 0;
	padding: 0.809em;
}

#forum-bottom .forum-message-options {
	border-bottom: none;
}

.forum-stats {
	display: block;
}
