.forum_table {
	width:100%;
	border-collapse:collapse;
	border:none;
}
 
/* Classe du lien du pseudo sur forum */
a.forum_link_pseudo{
	color:#e8eaeb; 
	font-weight:bold;
}
a.forum_link_pseudo:hover { 
	color:#f2fbff; 
	font-weight:bold;
}
/* Barre du titre du forum */
.forum_title_l{
	float:left;
	width:5px;
	height: 55px;
	border-top:1px solid #D1D4DF;
	border-left:1px solid #D1D4DF;
}
.forum_title_r{
	float:right;
	width:5px;
	height: 55px;
	border-top:1px solid #D1D4DF;
	border-right:1px solid #D1D4DF;
}
.forum_title{
	margin:auto;
	height:55px;
	color:#334455;
	background:#ECEFFA;
	border-top:1px solid #D1D4DF;

}
.forum_title h2{ /* Titre du forum */
	font-size:14px;
	font-weight:bold;
	color:#334455;
}
.forum_title a{ /* Couleur des liens */
	color:#334455;
}
/* Barre de liens du forum */
.forum_links{
	color:#334455;
	padding:6px;
	border: 2px solid #336397;
	border-left:1px solid #D1D4DF;
	border-right:1px solid #D1D4DF;
	background:#ECEFFA;
	

}
.forum_links a{ /* Couleur des liens */
	color:#334455;
}
.forum_notread{ /* Message non lus */
	background:#5D7C94;
	padding:4px;
	font-size:10px;
	color:#366393;
}
/* Barre des textes relatifs aux colonnes */
.forum_text_column {	
	height:20px;

	font-size:11px;
	color:#FFFFFF;	
	text-align:center;
	background:#366393;
}
/* Case des liens sous-catégories */
.forum_sous_cat{
	background:#ECEFFA;
	border-right:1px dotted #C4CED6;
	padding:6px;
}

/* Case compteur message/topic */
.forum_sous_cat_compteur{	
	width:60px;
	background:#ECEFFA;
	border-right:1px dotted #C4CED6;
	color:#000000;
	text-align:center; 
}
/* Case compteur dernier topic/dernier message */
.forum_sous_cat_last{
	width:150px;
	background:#ECEFFA;
	font-size:10px;
	color:#000000;
	text-align:center; 
}

/* Formulaire pour poster les messages */
.forum_post_form{
	width:80%;
	margin:auto;
	margin-top:15px;
}
/* Cadre des liens:alerter les modérateurs et suivre le sujet */
.forum_action{	
	margin-top:5px;
	text-align: center;
}

/* Les des catégories de niveau 0 */
a.forum_link_cat{
	font-weight:bold;
}
/* Affichage des membres en ligne */
.forum_online{
	color:#334455;
	border-top:none;
	padding:6px;
	overflow:hidden !important;
	height:auto !important;
	overflow:visible;
	height:1%;
	clear:both;
	border-bottom:1px solid #D1D4DF;
	border-left:1px solid #D1D4DF;
	border-right:1px solid #D1D4DF;
	background:#ECEFFA;
}
.forum_online_select_cat{
	float:left;
	text-align:right;
	clear:both;
	padding:5px;	
}
.forum_online_select{
	min-width:160px;
	max-width:530px;	
}

/* Fond des catégories dans l'administration */
.forum_cat_admin{
	width:100%;
	height:20px;
	margin-bottom:2px;
	padding:4px 0px;
}
/* Contenu */
.forum_contents{
	padding:0px;
	margin:0px;
	border:1px solid #D1D4DF;
	border-bottom:none;
}
.forum_cat_title{
	float:left;
	padding:0px 5px;
}
.forum_cat_title a{
}
a.forum_mbrmsg_links { /* Couleur des liens pour les messages du membre */
	color:#FFFFFF;
}

.module_top_l{ /* Barre supérieur des modules */
}
.module_top_r{
}
.module_top{
	min-height:20px;
	height:auto;
	padding:10px 5px 10px 5px;
	background:#ECEFFA;
	border:1px solid #D1D4DF;
	color:#334455;
	font-weight:normal;
	text-indent:0px;
}
.module_top a{
	color:#334455;
	font-size:13px;
}
.module_contents{ /* Contenu des modules */
	clear:both;
}

.module_bottom_l{ /* Barre inférieure des modules */
}
.module_bottom_r{
}
.module_bottom{
	min-height:20px;
	height:auto;
	padding:10px 5px 10px 5px;
	background:#ECEFFA;
	border:1px solid #D1D4DF;
	color:#334455;
	font-weight:normal;
	text-indent:0px;
}
.module_bottom a{
	color:#334455;
	font-size:13px;
}

.desc_forum{
	font-size: 10px;
}

.msg_position{
	width:94%;	
}
