/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

.fwkboost-mini-sandbox .stacked .stack-event.stack-sup { top: -0.456em; }

.sandbox-mini-form fieldset,
.sandbox-mini-form .fieldset-inset {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-width: 0;
}

.sandbox-mini-form .button.submit,
.sandbox-mini-form .button.submit:hover,
.sandbox-mini-form .button.submit:active {
    text-align: left;
    width: 100%
}

.sandbox-mini-form select {
    margin: 0 0 0 1em;
    width: calc(100% - 0.456em);
}

.sandbox-mini-form { margin: -0.618em 0 -0.618em -1.618em;}

.sandbox-mini-form span { display: inline-block; }

/* Toggle button position */

.fwkboost-toggle {
    padding: 0.1em 0.618em;
    text-align: center;
    z-index: 399;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    top: 0.618em;
    left: 0.618em;
	opacity: 0.3;
}

.fwkboost-toggle:hover {
    opacity: 1;
    text-decoration: none;
}

@media (min-width: 769px) {
	.fwkboost-toggle {
    	padding: 0.5em 1.618em;
        position: fixed;
	}
}
