/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

/* --- Summary To delete --- */

body {
	overflow: hidden;
	overflow-y: auto;
	left: 0;
}

.close-summary {
	text-align: right;
	padding: 0.618em 0.809em;
}

.open-summary {
	position: fixed;
	top: 0.1em;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.1em 0.809em;
}

@media (min-width: 769px) {
	.open-summary {
		padding: 0.618em 0.809em;
		top:3.236em;
		left: 0;
		transform: translateX(0);
		opacity: 0.3;
	}

	.open-summary:hover {
		opacity: 1;
	}
}

.open-summary,
.close-summary {
	cursor: pointer;
	z-index: 400;
}

.sandbox-summary {
  	left: -285px;
	top: 2.618em;
  	bottom: 0;
  	position: fixed;
  	width: 285px;
  	overflow-y: auto;
}

@media (min-width: 769px) {
	.sandbox-summary {
		top: 5.618em;
	}
}

.sandbox-summary ul {
	list-style-type: none;
	margin: 0;
}

.close-summary:hover,
.sandbox-summary a:hover {
	background-color: rgba(var(--darken), 0.05);
}

.sandbox-summary > ul > li > a {
	padding: 0.1618em 0.809em;
	display: block;
	text-transform: uppercase;
	background-color: rgba(var(--darken), 0.05);
}

.sandbox-summary > ul > li > ul > li > a {
	padding: 0.1618em 0 0.1618em 1.618em;
	display: block;
}

/* --- Content --- */
.sandbox-block {
	padding: 0 0 2.618em;
	border-bottom: 1px solid #366493;
	margin-bottom: 1.618em;
}

/* --- Source code
----------------------------------------------------------------------------- */
.formatter-hide .copy-code { float: none; }
.formatter-content .formatter-content { padding: 0; max-height: none; border-width: 0; }
.formatter-content.formatter-code { text-align: right;}
