/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

.component-mini-sandbox .stacked .stack-event.stack-sup { top: -0.456em; }

.sandbox-mini-form fieldset,
.sandbox-mini-form .fieldset-inset {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-width: 0;
}

.sandbox-mini-form .button.submit,
.sandbox-mini-form .button.submit:hover,
.sandbox-mini-form .button.submit:active {
    text-align: left;
    width: 100%
}

.sandbox-mini-form { margin: -0.618em 0 -0.618em -1.618em;}

.sandbox-mini-form span { display: inline-block; }

/* --- Toggle button position --- */

.fwkboost-toggle {
    padding: 0.809em 1.618em 1.618em 0.809em;
    text-align: center;
    z-index: 399;
    cursor: pointer;
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
	opacity: 0.3;
    border-radius: 0 0 100% 0;
}

.fwkboost-toggle:hover {
    opacity: 1;
    text-decoration: none;
    padding: 1em 1.809em 1.809em 1em;
}

.nav-item .mini-toolbox > .warning.blink { margin-right: 1.618em;}

.switchtheme.grouped-inputs input,
.switchtheme.grouped-inputs select,
.switchtheme.inputs-with-sup .label-sup {
    flex: auto 0 0;
    margin: 0;
    width: auto;
}
