:root {
    --txt-main    : #555555;

    --bgc-main     : #FFFFFF;
    --bgc-option   : #ECF2F8;

    --bdr-main     : #BDC2C9;

    --darken : 0, 0, 0;
    --lighten: 255, 255, 255;

/* main */
    --main-rgb     : 50, 100, 147;
    --main-dark    : #366493;
    --main-light   : #4E8EC1;

/* error */
    --ruby-rgb     : 191, 38, 60;
    --ruby-dark    : #BF263C;
    --ruby-light   : #DA4453;

/* warning */
    --tango-rgb    : 233, 87, 63;
    --tango-dark   : #E9573F;
    --tango-light  : #FC7D5F;

    --sun-rgb      : 246, 187, 66;
    --sun-dark     : #F6BB42;
    --sun-light    : #FFDD64;

/* alt - star */
    --straw-rgb    : 224, 195, 65;
    --straw-dark   : #E0C341;
    --straw-light  : #E8E15F;

    --grass-rgb    : 140, 193, 82;
    --grass-dark   : #8CC152;
    --grass-light  : #A0E378;

/* success */
    --basil-rgb    : 42, 186, 102;
    --basil-dark   : #2ABA66;
    --basil-light  : #2EDC82;

/* member */
    --mint-rgb     : 72, 252, 173;
    --mint-dark    : #37BC9B;
    --mint-light   : #48DEBE;

    --teal-rgb     : 125, 177, 177;
    --teal-dark    : #7DB1B1;
    --teal-light   : #A0DCDC;

/* question */
    --aqua-rgb     : 59, 175, 218;
    --aqua-dark    : #3BAFDA;
    --aqua-light   : #4FD2FA;

/* moderator */
    --lotus-rgb   : 150, 122, 221;
    --lotus-dark  : #967ADC;
    --lotus-light : #ACA0FA;

/* alt-submit */
    --plum-rgb     : 106, 80, 167;
    --plum-dark    : #6A50A7;
    --plum-light   : #8078C8;

    --candy-rgb    : 215, 112, 173;
    --candy-dark   : #D770AD;
    --candy-light  : #EC96D2;

    --bear-rgb     : 170, 142, 105;
    --bear-dark    : #AA8E69;
    --bear-light   : #BAB496;

    --gravel-rgb   : 122, 112, 99;
    --gravel-dark  : #7B7163;
    --gravel-light : #8E9182;

    --bole-rgb     : 80, 52, 44;
    --bole-dark    : #50342C;
    --bole-light   : #625046;

    --polar-rgb    : 245, 247, 250;
    --polar-dark   : #E1E1E1;
    --polar-light  : #F5F7FA;

/* notice */
    --mouse-rgb    : 170, 178, 189;
    --mouse-dark   : #AAB2BD;
    --mouse-light  : #BDC2C9;

    --cloud-rgb    : 67, 74, 84;
    --cloud-dark   : #434A54;
    --cloud-light  : #747D87;

/* administrator */
    --coal-rgb     : 50, 49, 51;
    --coal-dark    : #323133;
    --coal-light   : #676773;
}
