/* --------------------------------------
		global.css
 Contient les classes globales au site, peuvent être utilisées partout.
--------------------------------------*/ /* Classes générales
--------------------------------------*/
/* Case générale des tableaux du site*/
.row1,.block_contents1 {
    background:#E0E9EF;
	padding:8px 6px;
	border-top:1px solid #CCCCCC;
}

.block_contents1 {
    padding:20px 6px;	
}

.row2,.block_contents2 {
	padding:8px 6px;
}

.block_contents2 {
    padding:20px 6px;	
}

.row3,.block_contents3 {
	background:#F2F7FB;
    border-color:#C4CED6;
    padding:8px 6px;
}

.block_contents3 {
    padding:20px 6px;	
}

/* Case résultat recherche membre AJAX */
.xmlhttprequest_result_search {
    overflow:auto;
    height:100px;
    width:100px;
    overflow:auto;
    font-size:11px;
    background:#f5fbff;
    border:1px solid #2C5169;
    color:#061729;
    padding:2px;
}

/*Affichage du mini calendrier */
.calendar_block {
	position:absolute;
    text-align:center;
    padding:6px 4px;
    background:#f5fbff;
    border:1px solid #2C5169;
    width:204px;
    z-index:100;
}

/* Déplacement des fichiers*/
.upload_selected_cat {
    background:#f5fbff;
    border:1px solid #2C5169;
}

/* Lien du site
--------------------------------------*/
a {
	color:#2F5B8A;
    text-decoration:none;
    font-size:12px;
    font-weight:bold;
}

a:hover {
    color:#718396;
    text-decoration:underline;
    font-weight:bold;
}

.img_link, .img_link:hover{
	text-decoration:none;
}


/* Liens petite taille */
a.small_link {
    font-size:11px;
}

a.small_link:hover {
    font-size:11px;
}

/* Liens grande taille */
a.big_link {
    font-size:15px;
}

a.big_link:hover {
    font-size:15px;
}

/* Liens des commentaires. */
a.com {
    color:#515C68;
    font-size:10px;
    font-weight:bold;
}

a.com:hover {
    color:#01528D;
    font-size:10px;
    font-weight:bold;
}

/* Lien des utilisateurs => ne pas changer le nom de ces classes! */
a.admin {
    color:#FFA34F;
    font-weight:bold;
}

a.modo {
    color:#006699;
    font-weight:bold;
}

a.member {
    color:#000000;
    font-weight:bold;
}

/* Liens pagination
--------------------------------------*/
.pagination {
    font-size:11px;
}

.pagination_current_page {
    text-decoration:underline;
}

/* Menu dynamique des liens
--------------------------------------*/

.dynamic_menu {
    position:relative;
    z-index:100;
}

.dynamic_menu ul {
    margin:0;
    padding:0;
    border:none;
    font-weight:bold;
    list-style:none;
}

.dynamic_menu li {
    position:relative;
    float:left;
    display:inline;
}

.dynamic_menu li.vertical {
    display:block;
    float:none;
    margin-bottom:15px;
}

.dynamic_menu li a, .dynamic_menu li span {
    text-decoration:none;
    display:block;
    white-space:nowrap;
    margin:auto;
    padding:6px 12px 6px 32px;
    background-repeat:no-repeat;
    background-position:9px center;
}

/* Lien du menu */

.dynamic_menu h5 {
    text-align:center;
    padding:4px 6px;
    font-weight:bold;
    font-size:12px;
	color:#515C68;
    background:#F2F7FB;
    border:1px solid #C4CED6;
	margin-right:2px;
}

.dynamic_menu h5:hover {
    color:#01528D;
    background:#eaedee;
	cursor:default;
}

/* Séparateur */
.dynamic_menu ul li.separator {
    background:#e8edf3;
	height:2px;
}

.dynamic_menu ul li.extend > a, .dynamic_menu ul li.extend > span {
	padding-right:18px;
}

.dynamic_menu ul li.extend > a:after, .dynamic_menu ul li.extend > span:after{
	position:absolute;
	display: block;
	right:7px;
	top:50%;
	margin-top:-5px;
	font-family: FontAwesome;
	content: "\F0DA";
	color:#CCC;
	font-size:11px;
	font-weight:300;
}

/* Case du menu */
.dynamic_menu li ul {
    position:absolute;
	background-color:#FFFFFF;
	top:-99999em;
	opacity:0;
	-webkit-transition:opacity .2s ease-in-out,top 0 ease-in 0.2s;
	-moz-transition:opacity .2s ease-in-out,top 0 ease-in 0.2s;
	-o-transition:opacity .2s ease-in-out,top 0 ease-in 0.2s; 
	transition:opacity .2s ease-in-out,top 0 ease-in 0.2s;
	padding:5px 0;
	color:#333;
	font-size:14px;
	background: #FFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	border:1px solid #AAA;
	min-width:163px;
}

.dynamic_menu li:hover > ul {
	opacity:1;
	top:100%;
	-webkit-transition:opacity .2s ease-in-out,top 0s ease-in 0s;  
    -moz-transition:opacity .2s ease-in-out,top 0s ease-in 0s; 
    -o-transition:opacity .2s ease-in-out,top 0s ease-in 0s; 
    transition:opacity .2s ease-in-out,top 0s ease-in 0s;
}

.dynamic_menu li li {
    clear:both;
    display:block;
	width:100%;
	margin:0;
	padding:0;
	white-space: nowrap;
	text-align:left;
}

.dynamic_menu li li a, .dynamic_menu li li span {
    color:#0578CC;
    font-size:10px;
	display:block;
	text-decoration:none;
	padding:6px 12px 6px 32px;
	outline:none;
}

.dynamic_menu li li a:hover, .dynamic_menu li li span:hover {
    cursor:pointer;
	background-color: #F0F0F0;
	text-decoration:none;
}

/* Niveau 2 */
.dynamic_menu li li ul {
    left:100%;
    z-index:101;
}

.dynamic_menu li li:hover > ul {
    top:-6px;
}

.dynamic_menu li.vertical ul {
    top:0;
    margin-left:150px;
}

/* Menus par boutons
--------------------------------------*/
menu.tools_menu {
	margin:5px;
}

menu.tools_menu ul li ul {
	margin-left:0 !important;
	margin-top:1px !important;
}

menu.tools_menu > ul > li {
	position:relative;
	display:inline-block !important;
    display:inline;
	padding:4px 12px;
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.18) 0%, rgba(56,56,56,0.18) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.18)), color-stop(100%,rgba(56,56,56,0.18)));
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.18) 0%,rgba(56,56,56,0.18) 100%);
	background-image: -o-linear-gradient(top,  rgba(255,255,255,0.18) 0%,rgba(56,56,56,0.18) 100%);
	background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.18) 0%,rgba(56,56,56,0.18) 100%);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.18) 0%,rgba(56,56,56,0.18) 100%);
	color:#444;
	background-color:#f2f7fb;
	border:1px solid #999;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
	text-align:center;
	font-size:13px;
}

menu.tools_menu > ul > li:hover {
	background-color:#FFF;
}

menu.tools_menu > ul > li > a, menu.tools_menu > ul > li > a:hover {
	color:inherit;
	text-decoration:none;
	font-weight:300;
}

menu.tools_menu > ul > li > a > i {
	font-size:125%;
	vertical-align:-1px;
}

/* Menus groupés */
menu.tools_menu.group > ul {
	font-size:0
}

menu.tools_menu.group > ul > li {
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	border-right:1px solid #F9F9F9;
	border-left:1px solid #BBB;
}

menu.tools_menu.group > ul > li:first-child {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-left:1px solid rgba(0, 0, 0, 0.1);
}

menu.tools_menu.group > ul > li:last-child {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-right:1px solid rgba(0, 0, 0, 0.1);
}

/* Menus images bg */
menu.tools_menu.img_bg > ul > li > a {
	padding-left:24px;
	background-repeat:no-repeat;
	background-position:left center;
}