/* --------------------------------------
		admin_design.css
Contient les conteneur, fortement dépendant du design.
--------------------------------------*/ 

* { margin:0; padding:0; font-size:100%; }
html, body{	height: 100%; }

body {
    background:#E8EDF3 url(images/global.png) repeat-x;
    font-size:12px;
    font-family:"Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
    color:#3F5164;
    margin:0;
    padding:0;
}

div#global {
	width:1000px;
    margin:auto;
    min-height: 95%;
}

/* ##### Entête de la page ###### */
div#header_admin_container {
    background-position:20px 0px;
	margin-bottom:8px;
	height:170px;
}

div#logo {
	float: left;
	margin: 20px 20px 0px 35px;
	background: url('images/logo.png') no-repeat;
	height: 90px;
	width: 90px;
}

div#site_name {
	float:left;
	max-width: 600px;
	font-size: 40px;
    margin-top: 50px;
    font-family:"Trebuchet MS";
	text-shadow: -2px 0 #54687b, 0 2px #54687b, 2px 0 #54687b, 0 -2px #54687b;
	color: #243c56;
}

div#header_admin { height:139px; }
div#sub_header_admin { height: 32px; margin-top: 6px; }

div#sub_header_admin .dynamic_menu {
	width:auto;
	height:35px;
	margin-top:-3px;
	padding-left:15px;
	float:left;
}

div#sub_header_admin .dynamic_menu h5 {
    color:#FFFFFF;
	margin-right:2px;
	background:none;
	border:none;
	font-weight:normal;
}

div#sub_header_admin .dynamic_menu h5:hover, div#sub_header_admin .dynamic_menu h5:active {
    color:#366393;
    background:#e8edf3;
    border-bottom:1px solid #99B1CB;
}

div#admin_extend_link{
	float:right;
	margin-right:15px;
	margin-top:-3px;
    padding:4px 6px;
}

/* Conteneur principal */
div#admin_main {
	margin:0;
	padding:0;
	margin-top:10px;
}

/* Conteneurs */
div#admin_contents {
    margin:auto;
    margin-left:202px;
    border-spacing:1px;
    padding:10px;
    background:#FFFFFF;
    border:1px #BEBEBE solid;
    border-bottom:2px solid #99B1CB;
    overflow-x:auto;
}

html>body div#admin_contents {
    height:auto;
    min-height:450px;
}

/* Menu de gauche */
div#admin_quick_menu {
    float:left;
    width:170px;
    text-align:center;
    padding-top:5px;
    margin:auto;
    border-spacing:1px;
    padding:10px;
    padding-bottom:20px;
    background:#FFFFFF;
    border:1px #BEBEBE solid;
    border-bottom:2px solid #99B1CB;
}

div#admin_quick_menu ul {
    list-style-type:none;
    width:169px;
    margin-top:12px;
}

div#admin_quick_menu li {
    display:block;
    width:auto;
    padding:15px 0px;
}

div#admin_quick_menu li.title_menu {
    font-family:Verdana, 'Bitstream Vera Sans', Times, serif;
    text-transform:uppercase;
    font-weight:bold;
    font-size:11px;
    color:#0E2A48;
    padding:6px 0px;
	margin-bottom:20px;
	border-bottom: 2px solid #336397;
}

div#admin_quick_menu li a.quick_link {
    font-family:Verdana, 'Bitstream Vera Sans', Times, serif;
    text-transform:none;
    font-weight:normal;
    font-size:10px;
    color:#0E2A48;
	background: none repeat scroll 0 0 #f2f5f8;
    border:1px solid #D6DEE7;
    padding:3px 8px;
    text-decoration:none;
}

/* Tableaux de l'administration */
.block_container {
    width:98%;
    margin-top:15px;
}

.error_handler_position {
    margin-top:15px;
}

/* Fond des catégories dans l'administration */
.management_cat_admin {
    width:100%;
    height:20px;
    margin-bottom:2px;
    padding:4px 0px;
}

/* Liens vers les menus étendus */
a.admin_extend_link {
    text-decoration:none;
    color:#FFFFFF;
}

/* Coloration des moteur de recherche */
.robot {
    color:#FF6600;
    font-size:12px;
    font-weight:bold;
}

/* ##### Pied de page ###### */
div#footer {
	height:40px;
	clear:both;
    margin-top:0px;
    padding:10px 20px 0px 0px;
    text-align:right;
    border-top:#336397 2px solid;
	background:#212121;
	min-width:1000px;
}

div#footer span { color:#FFF; font-size:10px; }
div#footer span a { color:#FFF; font-size:10px; }

/* Gestion des couleurs */
.bbcode, .bbcode2{
	background-color:#336397;
	border-color:#BEBEBE;
	color:#FFFFFF;
}