/*
 * Contains all elements colors
*/

 /* --- admin_design.css ---------------------------------------------------- */
@media {
	body {
 		background-color: #ECF2F8;
 		color: #555555;
 	}

 	#header-admin {
		background-image: linear-gradient(to bottom, #366493 0%, #1c334a 100%);
		background-color: #366493;
		color: #FFFFFF;
 	}

 	#header-admin a { color: #FFFFFF; }

 	.robot {
 		color: #FF6600;
 	}

 	#footer {
 		background-color: #1c334a;
 		border-color: #404040;
 	}

 	#footer span {
 		color: #FFFFFF;
 	}

	.scroll-to         	{ background-color: #366493; }
	.scroll-to:hover	{ background-color: #0066cc; }

	.scroll-to i       	{ color: rgba(255, 255, 255, 0.4); }
	.scroll-to:hover i 	{ color: rgba(255, 255, 255, 1); }

 	.cookiebar-container {
 		background-color: #F2F2F2;
 		border-color: #E2E2E2;
 	}

 	.cookiebar-button {
 		color: #FEFEFE;
 	}

 	.cookiebar-button-understand {
		background-color: #366493;
		border-color: #2E6DA4;
	}

 	.cookiebar-button-allowed 			{ background-color: #5CB85C; border-color: #4CAE4C; }
 	.cookiebar-button-allowed:hover 	{ background-color: #4CAE4C; }

 	.cookiebar-button-declined 			{ background-color: #E84E40; border-color: #CE271A; }
 	.cookiebar-button-declined:hover 	{ background-color: #CE271A; }
}

/* -- Content
    #####  #####  #   #  #####  #####  #   #  #####
    #      #   #  ##  #    #    #      ##  #    #
    #      #   #  # # #    #    ###    # # #    #
    #      #   #  #  ##    #    #      #  ##    #
    #####  #####  #   #    #    #####  #   #    #
----------------------------------------------------------------------------- */
section header h1,
article header h1 {
	border-color: #366493;
}

section header h2,
article header h2 {
	border-color: #366493;
}

section header h3,
article header h3 {
	border-color: #366493;
}

ul.pagination-block li a {
	background-color: #FFFFFF;
	border-color:#DDDDDD;
}

ul.pagination-block li a:hover {
	background-color: transparent;
}

ul.pagination-block li a.current-page {
	background-color: #366493;
	color: #FFFFFF;
}

ul.pagination-block li a.current-page:hover {
	background-color: #0066CC;
}

.explorer h1 {
	color: #666666;
}

.explorer .content {
	border-color: #DDDDDD;
}

.explorer .content ul a {
	color: #666666;
}

.explorer .content ul a:hover,
.explorer .content ul a:hover+a {
	background-color: #EEEEEE;
}

.explorer .selected {
	background-color: #DDDDDD;
}

.options {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
}

.sortable-block .sortable-element {
	background-color: #FEFEFE;
	border-color: #D6DEE7;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.sortable-block .sortable-element:hover {
	border-color: #d0d8e1;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 769px) {

	.sortable-selector:after {
		color: #81A4C8;
	}
}

.sortable-block .sortable-element:hover {
	background-color: #F2F5F8;
}

.sortable-block .sortable-element hr {
	background-color: #999999;
}

.sortable-block .sortable-element label {
	color: #1F507F;
}

.dragged {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.dropzone {
	border-color: #AAAAAA;
	color: #AAAAAA;
}

div[class*="admin-index"] h2 {
	border-color: #BBBBBB;
}

.db-operator-color 	{ color:#FF00FF; }
.db-keywords-color 	{ color:#990099; }
.db-text-color		{ color:#008000; }
.db-number-color 	{ color:#008080; }

.db-executed-query {
	background-color: #FFFFFF;
}

.db-executed-query p {
	color: #000000;
}

.cssmenu.cssmenu-group .menu-button	{
	color: #676A74;
}

.cssmenu.cssmenu-group .menu-button:after {
	border-color: #676A74;
}

@media (max-width: 768px) {
	#menustats a.js-menu-button {
		color: #555555;
	}
}

.dnd-dropzone {
	background-color: #FFFFFF;
    border-color: #DDDDDD;
}

.dnd-dropzone.dragover {
    border-color: #366493;
}

.ulist li {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
}

.dnd-dropzone .filename {
	color: #555555;
}

.upload-address-bar {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
}

.upload-elements-repertory {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
}

.upload-element-icon {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
}

.upload-recent-file {
	color: #2F9674;
}

.upload-selected-cat {
	background-color: #F5FBFF;
	border-color: #366493;
}

/* Couleurs des blocks themes/modules/langues */
article .admin-element-menu-title,
.admin-element-menu-title a {
	color: #FFFFFF;
}

.admin-element-menu-title,
.submit.admin-element-menu-title              { background-color: #366493; border-color: #366493; }
.default-element .admin-element-menu-title    { background-color: #2F9674; border-color: #2F9674; }
.deactivate-element .admin-element-menu-title { background-color: #AAAAAA; border-color: #AAAAAA; }
.not-compatible .admin-element-menu-title     { background-color: #E84E40; border-color: #E84E40; }

.admin-element.not-compatible {
	border-color: #E84E40;
}

span.not-compatible {
	color: #E84E40;
}

.admin-element-menu-container:hover .admin-element-menu-title,
.admin-element-menu-container.opened .admin-element-menu-title,
.admin-element-menu-title.opened { background-color: #0066cc; }

.admin-element-menu-container:hover .admin-element-menu-title,
.admin-element-menu-container:hover .admin-element-menu-title a,
.admin-element-menu-container.opened .admin-element-menu-title,
.admin-element-menu-container.opened .admin-element-menu-title a,
.admin-element-menu-title.opened,
.admin-element-menu-title.opened a { color: #FFFFFF; }

.deactivate-element .admin-element-menu-container:hover .admin-element-menu-title,
.deactivate-element .admin-element-menu-container.opened .admin-element-menu-title { color: #AAAAAA; }

.not-compatible .admin-element-menu-container:hover .admin-element-menu-title,
.not-compatible .admin-element-menu-container.opened .admin-element-menu-title { color: #E84E40; }

.default-element .admin-element-menu-container:hover .admin-element-menu-title { color: #2F9674; }

.admin-menu-elements-content {
	background-color: #FFFFFF;
	color: #FFFFFF;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.multiple-select-menu-container .admin-menu-elements-content {
	box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
}

.deactivate-element .admin-menu-elements-content { border-color: #AAAAAA; }
.not-compatible .admin-menu-elements-content     { border-color: #E84E40; }

.admin-menu-element > * { background-color: #366493; }

.not-compatible .admin-menu-element:hover > *,
.not-compatible .admin-menu-element > .submit:hover { background-color: rgba(232, 78, 64, 0.2); color: #E84E40; }

.admin-element-auth-content {
	box-shadow: 0 0 10px rgba(54, 100, 147, 0.2);
	border-color: #DDDDDD;
}

.admin-element-auth i { color: #366493; }
.default-element .admin-element-auth i { color: #DDDDDD; }

.multiple-select-menu-container:hover {
	background-color:  #FFFFFF;
}

.multiple-select-menu-container .select-all-button {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.multiple-select-menu-container:hover .select-all-button {
	background-color: #FFFFFF;
	color: #366493;
}

.admin-menu-checkbox {
	background-color: #0066CC;
}

#tooltip {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	/* border-color: #ffffff; */
	color: #ffffff;
	background-color: #366493;
}

/* -- Table
    #####   ###   ###    #      #####
      #    #   #  #  #   #      #
      #    #####  ####   #      ###
      #    #   #  #   #  #      #
      #    #   #  ####   #####  #####
----------------------------------------------------------------------------- */
table caption {
	border-color: #DDDDDD;
}

table thead th {
	background-color: #366493;
	color: #FFFFFF;
}

table thead th a { color: #DDDDDD; }

/* Contenu */
table tbody td {
	border-color: #DDDDDD;
}

tr:nth-child(even) td {
	background-color: #FFFFFF;
}

table tbody tr td:last-child {
	border-color: #DDDDDD;
}

table tbody tr td.no-separator:first-child 	{
	border-color: #DDDDDD;
}

/* Pied */
table tfoot tr th {
	color: #AAAAAA;
	background-color: #F0F0F0;
	border-color: #DDDDDD;
}

table tfoot tr th:first-child {
	border-color: #DDDDDD;
}

table tfoot tr th:last-child {
	border-color: #DDDDDD;
}

table tfoot tr th a {
	color: #676A74;
}

table.formatter-table th.formatter-table-head {
	background-color: #4D4C50;
	color: #E5E6E6;
}

table.formatter-table th.formatter-table-head a 		{ color: #E5E6E6; }
table.formatter-table th.formatter-table-head a:hover 	{ color: #FFFFFF; }

@media (max-width: 980px) {
	table tbody td	{
		border-color: #DDDDDD;
	}

	table tbody tr td.no-separator {
		border-color: #D1D2D4;
	}
}

table tfoot nav.pagination a {
	color: #8B8D90;
}

table tfoot nav.pagination a span.current-page {
	color: #CED0D0;
}

.table-arrow-color {
	color: #81A4C8;
}



/* -- Form
    #####  #####  ####   #   #
    #      #   #  #   #  ## ##
    ###    #   #  ####   # # #
    #      #   #  #  #   #   #
    #      #####  #   #  #   #
----------------------------------------------------------------------------- */

/* --- Buttons
----------------------------------------------------------------------------- */
.bbcode.expand {
    background-color: #FFFFFF;
}

.bbcode-block {
    background-color: #ECF2F8;
    box-shadow: 0 0 3px 1px rgba(54, 100, 147, 0.1);
}
.bbcode-block-list li a:hover {
    background-color: #FFFFFF;
}

.bbcode-block-container::after {
	border-color: transparent;
	border-bottom-color: #366493;
}

.bbcode {
	border-color: #DDDDDD !important;
}

.xmlhttprequest-preview {
	border-color: #DDDDDD;
}

/* --- Highlight text --- */
.highlight-search-word {
	background-color: #FFFF00;
	color: #000000;
}


button,
.button {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	color: #555555;
}

button:hover,
.button-hover {
	border-color: #555555;
}

button:active,
.button-active {
	border-color: #366493;
}

.submit {
	background-color: #366493;
	border-color: #1c334a;
	color: #FFFFFF;
}

.submit:hover {
	background-color: #0066cc;
	border-color: #1c334a;
}

.submit.alt {
	background-color: #48419D;
	border-color: #8F8ACF;
}

.submit.alt:hover {
	background-color: #1E186E;
}

.basic-button {
	background-color: #366493;
	color: #FFFFFF;
}

.basic-button:hover {
	background-color: #0066cc;
	color: #FFFFFF;
}

.basic-button.alt 		{ background-color: #E2A447; }
.basic-button.alt:hover { background-color: #A96E16; }

/* --- Fieldset --- */

legend,
.legend {
	border-color: #DDDDDD;
}

@media (min-width: 769px) {
	.form-element {
		border-color: #dddddd;
	}
}

/* --- Input --- */
[type=text],
[type=email],
[type=url],
[type=number],
[type=color],
[type=tel],
[type=search],
[type=password],
[type=file],
textarea,
select {
	background-color: #ECF2F8;
	border-color: #DDDDDD;
	color: #555555;
}

[type=text]:hover,
[type=email]:hover,
[type=url]:hover,
[type=number]:hover,
[type=color]:hover,
[type=tel]:hover,
[type=search]:hover,
[type=password]:hover,
[type=file]:hover,
textarea:hover,
select:hover {
	background-color: #FFFFFF;
	border-color: #555555;
}

[type=text]:focus,
[type=email]:focus,
[type=url]:focus,
[type=number]:focus,
[type=color]:focus,
[type=tel]:focus,
[type=search]:focus,
[type=password]:focus,
[type=file]:focus,
textarea:focus,
select:focus {
	background-color: #FFFFFF;
	border-color: #555555;
}

optgroup {
	border-color: #5B5A5A;
}

.form-field-checkbox-mini [type="checkbox"]:not(:checked) + label:before,
.form-field-checkbox-mini [type="checkbox"]:checked + label:before {
	background: #EEEEEE;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}

.form-field-checkbox-mini [type="checkbox"]:checked + label:before {
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0);
}

.form-field-checkbox-mini [type="checkbox"] + label:after {
	color: #0066cc;
}

.form-field-checkbox [type="checkbox"]:not(:checked) + label:before,
.form-field-checkbox [type="checkbox"]:checked + label:before {
	border-color: #DDDDDD;
}

.form-field-checkbox [type="checkbox"]:not(:checked) + label:after,
.form-field-checkbox [type="checkbox"]:checked + label:after {
	background-color: rgba(0, 0, 0, 0.1);
}

.form-field-checkbox [type="checkbox"]:checked + label:after {
	background-color: #0066cc;
	color: #EEEEEE;
}

.form-field-radio [type="radio"]:not(:checked) + label:before,
.form-field-radio [type="radio"]:checked + label:before {
	background-color: #FFFFFF;
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.05);
}

.form-field-radio [type="radio"]:not(:checked) + label:after,
.form-field-radio [type="radio"]:checked + label:after {
	background-color: #DDDDDD;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.18) 0%, rgba(56, 56, 56, 0.1) 100%);
}

.form-field-radio [type="radio"]:checked + label:after {
	background-color: #0066cc;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.18) 0%, rgba(56, 56, 56, 0.1) 100%);
}

form input:focus:invalid,
form textarea:focus:invalid,
form .constraint-status-right input,
form .constraint-status-right textarea {
	border-color: #E0464A;
	box-shadow: 0 0 3px rgba(224, 70, 74, 0.2);
}

form input:focus:valid,
form textarea:focus:valid,
form .constraint-status-right input,
form .constraint-status-right textarea {
	border-color: #40b73a;
	box-shadow: 0 0 0.309em rgba(64, 184, 58, 0.2);
}

[disabled=disabled],
[disabled=disabled]:hover,
[disabled=disabled]:focus {
	background-color: #F1F1F1;
	border-color: #CCCCCC;
	color: #AAAAAA;
}

input[readonly=readonly],
input[readonly=readonly]:hover,
input[readonly=readonly]:focus,
textarea[readonly=readonly],
textarea[readonly=readonly]:hover,
textarea[readonly=readonly]:focus,
select[readonly=readonly],
select[readonly=readonly]:hover,
select[readonly=readonly]:focus {
	background-color: #FAFAFA;
	border-color: #CCCCCC;
	color: #888888;
}

/* --- Verification des contraintes de formulaire --- */
.constraint-status-error input,
.constraint-status-error textarea {
	border-color: rgba(196, 60, 43, 0.3);
	color: #C43C35;
}

.constraint-status-error input:hover,
.constraint-status-error input:focus,
.constraint-status-error textarea:hover,
.constraint-status-error textarea:focus {
	border-color: rgba(196, 60, 43, 0.5);
	color: #C43C35;
}

.text-status-constraint {
	background-color: #FEFEFE;
	border-color: #EAEAEA;
	box-shadow: 1px 3px 0.382em rgba(0, 0, 0, 0.3);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

.text-status-constraint:before {
	border-color: transparent transparent #FFFFFF transparent;
}

.text-status-constraint:after {
	border-color: transparent transparent #FFFFFF transparent;
}

div.field-required:after {
	color: #C43C35;
}

.constraint-status-right div.picture-status-constraint:after {
	color: #57A957;
}

.constraint-status-error i.picture-status-constraint {
	color: #C43C35;
}

.constraint-status-right .form-field-multi-select select {
	border-color: rgba(71, 137, 72, 0.3);
	box-shadow: 0 0 0.309em rgba(71, 137, 72, 0.1);
}

.html-table-header-sortable.sort-active a {
	background-color: #E5E6E6;
}

.html-table-header-sortable.sort-active i {
	color: #4D4C50;
}

/* --- Auto-completion --- */
.autocomplete-suggestions {
	border-color: #DDDDDD ;
	background-color: #FFFFFF;
}

.autocomplete-suggestions strong {
	color: #3399FF;
}

.autocomplete-selected {
	background-color: #F0F0F0;
}

/* --- Lined textarea --- */
.linedtextarea {
	background-color: #FFFFFF;
}

.linedwrap .lines {
	background-color: #FFFFFF;
	border-color: #C0C0C0;
}

.linedwrap .codelines .lineno {
	color: #AAAAAA;
}

.linedwrap .codelines .lineselect {
	color: red;
}

/* -- Global
    #####  #      #####  ###     ###   #
    #      #      #   #  #  #   #   #  #
    #  ##  #      #   #  ####   #####  #
    #   #  #      #   #  #   #  #   #  #
    #####  #####  #####  ####   #   #  #####
----------------------------------------------------------------------------- */
a {
	color: #366493;
}

a:hover {
	color: #0066CC;
}

/* --- Les liens des utilisateurs --- */
.member { color: #2F9674; }
.modo 	{ color: #48419D; }
.admin 	{ color: #353535; }

/* --- Couleur de texte --- */
.color-alert 		{ color: #B22222; }
.color-notavailable { color: #B22222; }
.color-available 	{ color: #008000; }
.color-unknown 		{ color: #004b80; }

.bkgd-color-visible 	{ background-color: #CCFFCC; }
.bkgd-color-unvisible 	{ background-color: #FFEE99; }
.bkgd-color-unaprobed 	{ background-color: #FFCCCC; }

.bkgd-color-fixed 			{ background-color: #7FFF9C; }
tr td.bkgd-color-fixed 		{ background-color: #7FFF9C; }
.bkgd-color-processing 		{ background-color: #FFD86F; }
tr td.bkgd-color-processing { background-color: #FFD86F; }
.bkgd-color-unknown 		{ background-color: #FF796F; }
tr td.bkgd-color-unknown 	{ background-color: #FF796F; }

tr td.alert-very-low-priority,
.alert-very-low-priority  { background-color: #9AC4F8; border-color: #A3C9F8; color: #546B88; }
tr td.alert-low-priority,
.alert-low-priority       { background-color: #7FFF9C; border-color: #74E88E; color: #468C56; }
tr td.alert-medium-priority,
.alert-medium-priority    { background-color: #FFD86F; border-color: #FFDB7C; color: #8C7844; }
tr td.alert-high-priority,
.alert-high-priority      { background-color: #FFAF87; border-color: #FFAF87; color: #8C604A; }
tr td.alert-very-high-priority,
.alert-very-high-priority { background-color: #FF796F; border-color: #E86E65; color: #944641; }
td.alert-priority         { border-color: #D1D2D4;}

.calendar-block {
	border-color: #999999;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.calendar-block .date-select-container {
	background-color: #F5F5F5;
}

.calendar-block .date-select-next i,
.calendar-block .date-select-previous i {
	color: #666666;
}

.calendar-block .date-picker thead tr th {
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	color: #666666;
}

.calendar-block .date-picker tbody td.calendar-none    { background-color: #FFFFFF; }
.calendar-block .date-picker tbody td.calendar-today   { background-color: #B5E5B9; }
.calendar-block .date-picker tbody td.calendar-event   { background-color: #DBE5EE; }
.calendar-block .date-picker tbody td.calendar-weekend { background-color: #FFE3B6; }

.xmlhttprequest-result-search {
	background-color: #FFFFFF;
	border-color: #CCCCCC;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.01);
}

.progressbar-container {
	background-color: #F5F5F5;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progressbar {
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.progressbar-container .progressbar {
	background-color: #8ECF67;
}

.notation .star,
.static-notation .star {
	color: #E3CF7A;
}

.fa-success:before 		{ color: #40b73a; }
.fa-error:before 		{ color: #E0464A; }
.fa-trend-up:before 	{ color: #40b73a; }
.fa-trend-down:before 	{ color: #E0464A; }
.fa-forbidden:before 	{ color: #E0464A; }
/* .fa-syndication:before 	{ color: #E27B47; }
.fa-warning:before 		{ color: #C19954; }
.fa-ban:before 			{ color: #BA4B49; }
.fa-unban:before 		{ color: #478948; }
.fa-male:before 		{ color: #8DC3E9; }
.fa-female:before 		{ color: #F49CC4; }
.fa-online:before 		{ color: #52D132; }
.fa-offline:before 		{ color: #E05759; } */
.message-helper { background-color: #FFFFFF }

.notice, .notice:before             { color: #888888; }
.question, .question:before         { color: #0066cc; }
.success, .success:before           { color: #40b73a; }
.warning, .warning:before           { color: #E27B47; }
.error, .error:before               { color: #E0464A; }
.member-only, .member-only:before   { color: #2F9674; }
.modo-only, .modo-only:before       { color: #48419D; }
.admin-only, .admin-only:before     { color: #353535; }

.notice       { border-color: #888888; background-color: rgba(136, 136, 136, 0.2); }
.question     { border-color: #0066cc; background-color: rgba(0, 102, 204, 0.2); }
.success      { border-color: #40b73a; background-color: rgba(64, 184, 58, 0.2); }
.warning      { border-color: #E27B47; background-color: rgba(226, 123, 70, 0.2); }
.error        { border-color: #E0464A; background-color: rgba(224, 70, 74, 0.2); }
.member-only  { border-color: #2F9674; background-color: rgba(47, 150, 116, 0.2); }
.modo-only    { border-color: #48419D; background-color: rgba(72, 65, 157, 0.2); }
.admin-only   { border-color: #353535; background-color: rgba(54, 54, 54, 0.2); }

.message-helper-button.notice       { background-color: #888888; }
.message-helper-button.question     { background-color: #0066cc; }
.message-helper-button.success      { background-color: #40b73a; }
.message-helper-button.warning      { background-color: #E27B47; }
.message-helper-button.error        { background-color: #E0464A; }
.message-helper-button.member-only  { background-color: #2F9674; }
.message-helper-button.modo-only    { background-color: #48419D; }
.message-helper-button.admin-only   { background-color: #353535; }

.floating-message-container .message-helper {
	background-color: rgba(235, 239, 244, 1);
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.floating-message-container .notice         { background-color: rgba(215, 215, 215, 1); }
.floating-message-container .question       { background-color: rgba(215, 224, 233, 1); }
.floating-message-container .success        { background-color: rgba(217, 240, 219, 1); }
.floating-message-container .warning        { background-color: rgba(248, 229, 218, 1); }
.floating-message-container .error          { background-color: rgba(249, 218, 219, 1); }
.floating-message-container .member-only    { background-color: rgba(223, 216, 234, 1); }
.floating-message-container .modo-only      { background-color: rgba(223, 216, 234, 1); }
.floating-message-container .admin-only     { background-color: rgba(223, 216, 234, 1); }


.fa-circle-alert span {
	color: #FFFFFF;
}

/* -- AdminMenu ModalMenu CssMenu
    #   #  #####  #   #  #   #  #####
    ## ##  #      ##  #  #   #  #
    # # #  ###    # # #  #   #  #####
    #   #  #      #  ##  #   #      #
    #   #  #####  #   #  #####  #####
----------------------------------------------------------------------------- */

/* --- Menu header --- */
h3.menu-title {
	background-color: rgba(0,0,0,.2);
}
/* --- admin_menus --- */

.admin-menu > ul > li:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.admin-li.current:not(:hover) > a { background-color: rgba(255, 255, 255, 0.1); }

.admin-menu ul.modal-menu li:hover > a,
.modal-menu li.current > a,
.modal-menu li:hover > a,
.admin-li.current:hover > a { border-color: #366493; }

nav.admin-index li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

nav.admin-index a {
	color: #FFFFFF;
}

.admin-li > a {
	color: #FFFFFF;
}

.admin-li > a:hover {
	text-shadow: 5px 5px #000000;
}

.modal-menu > li > a {
	border-color: #DDDDDD;
}

ul.level-2 a {
	color: #333333;
}

nav#admin-quick-menu {
	background-color: #353535;
}

nav#admin-quick-menu li a.quick-link {
	color: #FFFFFF;
}

a.js-menu-button {
	color: #EEEEEE;
}

a:hover.js-menu-button {
	color: #FFFFFF;
}

@media (min-width: 769px) {

	nav#admin-quick-menu {
		background-color: rgba(255, 255, 255, 0.5);
		border-color: #DDDDDD;
	}

	nav#admin-quick-menu li a.quick-link {
		color: #4372AA;
	}

	nav#admin-quick-menu li:hover a.quick-link {
		color: #2D4D73;
	}
}

.admin-extend-menu li:hover {
	background-color: #EEEEEE;
}

.admin-extend-menu i.fa-cog 							{ color: #999999; }
.admin-extend-menu li:hover i.fa-cog 					{ color: #777777; }

.admin-extend-menu i.fa-download 						{ color: #F86227; }
.admin-extend-menu li:hover i.fa-download 				{ color: #D6511C; }

.admin-extend-menu i.fa-clock 							{ color: #FCC44C; }
.admin-extend-menu li:hover i.fa-clock 					{ color: #E5AF39; }

.admin-extend-menu i.fa-image    						{ color: #05BAB0; }
.admin-extend-menu li:hover i.fa-image   				{ color: #058480; }

.admin-extend-menu i.fa-language 						{ color: #2ECC71; }
.admin-extend-menu li:hover i.fa-language 				{ color: #16A352; }

.admin-extend-menu i.fa-bell 							{ color: #F1C40F; }
.admin-extend-menu li:hover i.fa-bell 					{ color: #D8B00E; }

.admin-extend-menu i.fa-refresh 						{ color: #DDDDDD; }
.admin-extend-menu li:hover i.fa-refresh 				{ color: #BBBBBB; }

.admin-extend-menu i.fa-exclamation-triangle 			{ color: #BA4B49; }
.admin-extend-menu li:hover i.fa-exclamation-triangle 	{ color: #880000; }

.admin-extend-menu i.fa-building 						{ color: #34495E; }
.admin-extend-menu li:hover i.fa-building 				{ color: #1B344D; }

.admin-extend-menu i.fa-user 							{ color: #1FA6D5; }
.admin-extend-menu li:hover i.fa-user 					{ color: #1589B1; }

.admin-extend-menu i.fa-users 							{ color: #3498DB; }
.admin-extend-menu li:hover i.fa-users 					{ color: #1B7CBD; }

.admin-extend-menu i.fa-bars 							{ color: #9B59B6; }
.admin-extend-menu li:hover i.fa-bars 					{ color: #8533A7; }

.admin-extend-menu i.fa-square 						    { color: #3A3A3A; }
.admin-extend-menu li:hover i.fa-square				    { color: #212121; }

.admin-extend-menu i.fa-list-ul 						{ color: #1FA6D5; }
.admin-extend-menu li:hover i.fa-list-ul 				{ color: #1589B1; }

.admin-extend-menu i.fa-file 							{ color: #E67E22; }
.admin-extend-menu li:hover i.fa-file 				    { color: #CA6A14; }

.admin-extend-menu i.fa-comment 						{ color: #FC4C7D; }
.admin-extend-menu li:hover i.fa-comment 				{ color: #E03363; }

.admin-extend-menu i.fa-smile 						    { color: #FCC44C; }
.admin-extend-menu li:hover i.fa-smile 				    { color: #E5AF39; }

.admin-extend-menu i.fa-cubes 							{ color: #05BAB0; }
.admin-extend-menu li:hover i.fa-cubes 					{ color: #058480; }

/* --- Menu Manager --- */

.menu-link-element {
	background-color: #E5E5E5;
	border-color: #8F8F8F;
}

.menu-link-menu {
	background-color: #EFEFEF;
	border-color: #8F8F8F;
}

.menu-link-element:hover {
	border-color: #AAAAAA;
}

.menu-link-element label {
	color: #1F507F;
}

@media (max-width: 769px) {
    .themesmanagement {
    	background-color: #353535;
    	color: #ffffff;
    }

    .themesmanagement select {
        background-color: #ffffff;
        color: #353535
    }
}


@media (min-width: 769px) {
	.themesmanagement {
		background-color: rgba(255, 255, 255, .5);
		color: #4372AA;
	}
}

.menusmanagement a,
.menusmanagement i{
	color: #4372AA !important;
}

.menusmanagement a:hover {
	color: #2D4D73 !important;
}

.menu-block-libelle {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	color: #0E2A48;
}

.menus-block-add {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	color: #0E2A48;
}

.menus-block-add-links:last-child {
	border-color: #DDDDDD;
}

.menus-block-container {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
}

.menus-block-title {
	color: #515C68;
}

#mod_header, #mod_subheader, #mod_left,
#mod_right, #mod_topcentral,
#mod_central, #mod_bottomcentral,
#mod_topfooter, #mod_footer {
	border-color: #bbbbbb;
}

/* --- cssmenus --- */

.cssmenu ul ul,
.cssmenu-actionslinks > ul {
	background-color: #FFFFFF;
	box-shadow: 0 0 10px rgba(54, 100, 147, 0.2);
}

@media (min-width: 769px) {
	.cssmenu ul > li:hover > .cssmenu-title  { background-color: rgba(54, 100, 147, 0.2); }
	.cssmenu ul > li.current > .cssmenu-title  { background-color: rgba(54, 100, 147, 0.2); }

	/* --- Variante cssmenu-group
	----------------------------------------------------------------------------- */
	.cssmenu-group .cssmenu-title {
		background-image: linear-gradient(to bottom, rgba(54, 100, 147, 0.05) 0%,rgba(54, 100, 147, 0.2) 100%);
		border-color: rgba(54, 100, 147, 0.4);
	}

	.cssmenu-group li.current .cssmenu-title,
	.cssmenu-group .cssmenu-title:hover  {
	    background-image: linear-gradient(to bottom, rgba(54, 100, 147, 0.2) 0%,rgba(54, 100, 147, 0.05) 100%);
	}
}

.cssmenu-static ul ul {
	background-color: transparent ;
    box-shadow: 0 0 0 transparent;
}

.small-screen.cssmenu ul ul,
.small-screen.cssmenu-actionslinks ul {
    box-shadow: 0 0 0 transparent;
}

.small-screen.cssmenu ul ul,
.small-screen.cssmenu-actionslinks ul {
	background-color: transparent;
}

.cssmenu-actionslinks .menu-button:after {
	border-color: rgba(54, 100, 147, 0.4);
	background-color: rgba(54, 100, 147, 0.1);
}

.cssmenu-actionslinks:hover .menu-button:after {
	background-color: #FFFFFF;
}

.cssmenu-actionslinks.small-screen .menu-button:after {
	background-color: transparent;
	border-color: transparent;
}

.cssmenu-actionslinks ul li:hover > .cssmenu-title:after { background-color: #333333;	}

/* --- indicateur de sous-Menu --- */
.cssmenu .has-sub > .cssmenu-title:after,
.cssmenu .has-sub > .cssmenu-title:before { color: #666666; }

.small-screen .menu-button.menu-opened:after,
.small-screen .submenu-button.submenu-opened:after { background-color: rgba(54, 100, 147, 0.2); }

/* -- Sharing elements (Email, print...) -- */
/* ------------------ */
.sharing-element > a i {
	color: #FFFFFF !important;
}

.sharing-element-comments > a { background-color: #CDCDCD; }
.sharing-element-mail > a     { background-color: #366393; }
.sharing-element-print > a    { background-color: #999999; }
.sharing-element-sms > a      { background-color: #999999; }




/* -- lightcase.css
    #      #####  #####  #   #  #####  ####   #####  #   #
    #        #    #      #   #    #    #   #  #   #   # #
    #        #    #  ##  #####    #    ####   #   #    #
    #        #    #   #  #   #    #    #   #  #   #   # #
    #####  #####  #####  #   #    #    ####   #####  #   #
----------------------------------------------------------------------------- */
a[class*='lightcase-icon-'], a[class*='lightcase-icon-']:focus {
    color: rgba(255, 255, 255, 0.2);
}

a[class*='lightcase-icon-']:hover {
    color: #FFFFFF;
    text-shadow: 0 0 0.618em #FFFFFF;
}

.lightcase-isMobileDevice a[class*='lightcase-icon-']:hover {
    color: #aaa;
}

#lightcase-case {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 641px) {
    html:not([data-lc-type=error]) #lightcase-content {
        background-color: #FFFFFF;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }
}

@media screen and (min-width: 641px) {
    html[data-lc-type=image] #lightcase-content, html[data-lc-type=video] #lightcase-content {
        background-color: #333333;
    }
}

#lightcase-content h1,
#lightcase-content h2,
#lightcase-content h3,
#lightcase-content h4,
#lightcase-content h5,
#lightcase-content h6,
#lightcase-content p {
    color: #333;
}

#lightcase-case p.lightcase-error {
    color: #CE271A;
}

#lightcase-info #lightcase-title {
    color: #FFFFFF;
}

#lightcase-info #lightcase-caption {
    color: #FFFFFF;
}

#lightcase-info #lightcase-sequenceInfo {
    color: #FFFFFF;
}

#lightcase-loading {
    text-shadow: 0 0 0.618em #FFFFFF;
}

#lightcase-loading, #lightcase-loading:focus {
    color: #FFFFFF;
}

#lightcase-overlay {
    background: #366493;
}

.tab-container > nav > ul > li a.shown {
	background-color: rgba(54, 100, 147, 0.2);
}

/* -- plugins
    #####  #      #   #  #####  #####  ##    #  #####
    #   #  #      #   #  #        #    # #   #  #
    #####  #      #   #  #  ##    #    #  #  #  #####
    #      #      #   #  #   #    #    #   # #      #
    #      #####  #####  #####  #####  #    ##  #####
----------------------------------------------------------------------------- */

.wizard-container .wizard-header li .completed-step {
  	background-color: rgba(0, 255, 0, 0.4);
}

.wizard-container .wizard-header .progress {
	background-color: rgba(54, 100, 147, 0.2);
}

.fa-finish:before {
	color: rgba(0, 255, 0, 0.4);
}

.modal-btn {
    background-color: rgba(54,100,147,.2);
    border-color: rgba(54,100,147,.6);
}

.accordion-container > nav > ul > li > a {
    border-color: #366493;
    background-color: rgba(54,100,147,.2);
}

.tabs-container > nav > ul > li a.active-tab {
    background-color: rgba(54,100,147,.2);
}

.close-modal {
    color: #fff;
}

.modal { background-color: rgba(0, 0, 0, 0.5); }
.modal .content-panel { background-color: #ECF2F8; }

#header-admin .modal .content-panel a { color: #4372AA; }
#header-admin .modal .content-panel a:hover { color: #2D4D73; }
#header-admin .modal .content-panel .modal-menu > li > a { color: #353535; }
