/* --------------------------------------
		global.css
 Contient les classes globales au site, peuvent être utilisées partout.
--------------------------------------*/ /* Classes générales
--------------------------------------*/
/* Case générale des tableaux du site*/
.row1,.block_contents1 {
    background:#E0E9EF;
	padding:8px 6px;
	border-top:1px solid #CCCCCC;
}

.block_contents1 {
    padding:20px 6px;	
}

.row2,.block_contents2 {
	padding:8px 6px;
}

.block_contents2 {
    padding:20px 6px;	
}

.row3,.block_contents3 {
	background:#F2F7FB;
    border-color:#C4CED6;
    padding:8px 6px;
}

.block_contents3 {
    padding:20px 6px;	
}

/* Case résultat recherche membre AJAX */
.xmlhttprequest_result_search {
    overflow:auto;
    height:100px;
    width:100px;
    overflow:auto;
    font-size:11px;
    background:#f5fbff;
    border:1px solid #2C5169;
    color:#061729;
    padding:2px;
}

/*Affichage du mini calendrier */
.calendar_block {
	position:absolute;
    text-align:center;
    padding:6px 4px;
    background:#f5fbff;
    border:1px solid #2C5169;
    width:204px;
    z-index:100;
}

/* Déplacement des fichiers*/
.upload_selected_cat {
    background:#f5fbff;
    border:1px solid #2C5169;
}

/* Lien du site
--------------------------------------*/
a {
	color:#2F5B8A;
    text-decoration:none;
    font-size:12px;
    font-weight:bold;
}

a:hover {
    color:#718396;
    text-decoration:underline;
    font-weight:bold;
}

.img_link, .img_link:hover{
	text-decoration:none;
}


/* Liens petite taille */
a.small_link {
    font-size:11px;
}

a.small_link:hover {
    font-size:11px;
}

/* Liens grande taille */
a.big_link {
    font-size:15px;
}

a.big_link:hover {
    font-size:15px;
}

/* Liens des commentaires. */
a.com {
    color:#515C68;
    font-size:10px;
    font-weight:bold;
}

a.com:hover {
    color:#01528D;
    font-size:10px;
    font-weight:bold;
}

/* Lien des utilisateurs => ne pas changer le nom de ces classes! */
a.admin {
    color:#FFA34F;
    font-weight:bold;
}

a.modo {
    color:#006699;
    font-weight:bold;
}

a.member {
    color:#000000;
    font-weight:bold;
}

/* Liens pagination
--------------------------------------*/
.pagination {
    font-size:11px;
}

.pagination_current_page {
    text-decoration:underline;
}

/* Menu dynamique des liens
--------------------------------------*/

.dynamic_menu {
    position:relative;
    z-index:100;
}

.dynamic_menu ul {
    margin:0;
    padding:0;
    border:none;
    font-weight:bold;
    list-style:none;
}

.dynamic_menu li {
    position:relative;
    float:left;
    display:inline;
}

.dynamic_menu li.vertical {
    display:block;
    float:none;
    margin-bottom:15px;
}

/* Lien du menu */

.dynamic_menu h5 {
    text-align:center;
    padding:4px 6px;
    font-weight:bold;
    font-size:12px;
	color:#515C68;
    background:#F2F7FB;
	margin-right:2px;
}

.dynamic_menu h5:hover {
    color:#01528D;
    background:#eaedee;
	cursor:default;
}

/* Séparateur */
.dynamic_menu ul li.separator {
    background:#e8edf3;
	height:2px;
}

.dynamic_menu ul li.extend > a, .dynamic_menu ul li.extend > span {
	padding-right:22px;
}

.dynamic_menu ul li.extend:after{
	position:absolute;
	display: block;
	right:7px;
	top:50%;
	margin-top:-5px;
	font-family: FontAwesome;
	content: "\F0DA";
	color:#CCC;
	font-size:10px;
	font-weight:300;
}

/* Case du menu */
.dynamic_menu li ul {
    border:none;
    border:1px solid #C4CED6;
    border-bottom:1px solid #99B1CB;
	visibility:hidden;
    position:absolute;
	background-color:#FFFFFF;
}

.dynamic_menu li li {
    clear:both;
    display:block;
	width:100%;
}

.dynamic_menu li li a, .dynamic_menu li li span {
    color:#0578CC;
    font-size:10px;
    text-decoration:none;
    display:block;
    white-space:nowrap;
    margin:auto;
    padding:6px 12px 6px 32px;
    background-repeat:no-repeat;
    background-position:5px;
}

.dynamic_menu li li a:hover, .dynamic_menu li li span:hover {
    background-color:#D2E3F1;
    cursor:pointer;
}

/* Niveau 2 */
.dynamic_menu li li ul {
    visibility:hidden;
    top:-1px;
    left:100%;
    z-index:101;
}

.dynamic_menu li.vertical ul {
    top:0;
    margin-left:150px;
}