/* --------------------------------------
		global.css
 Contient les classes globales au site, peuvent être utilisées partout.
--------------------------------------*/


/* La mise en forme du texte
-------------------------------------------*/

/* --- Les liens du site --- */
a {
	color: #4372AA;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #2D4D73;
	text-decoration: underline;
}

/* --- Les liens des utilisateurs --- */
a.admin { color: #FFA34F; }
a.modo { color: #006699; }
a.member { color: #000000; }

/* --- Les differentes tailles de polices --- */
.smaller { font-size: 0.869em; }
.small { font-size: 0.923em; }
.big { font-size: 1.231em; }
.bigger { font-size: 1.385em; }
.biggest { font-size: 1.538em; }

/* --- Les titres (balise h) --- */
h1 { font-size: 1.615em; }
h2 { font-size: 1.462em; }
h3 { font-size: 1.385em; }
h4 { font-size: 1.308em; }
h5 { font-size: 1.231em; }
h6 { font-size: 1.154em; }
h1, h2, h3, h4, h5, h6{font-weight: 400;}

h5 {
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/* --- Les sous titres --- */
h3.title1, h3.title2, h4.stitle1, h4.stitle2 { display: inline; }

h3.title1, h3.title2 {
	border-bottom: 1px solid #366393;
	font-weight: bold;
	padding: 0px 0px 0px 3px;
	margin-bottom: 15px;
}

/* Titre 1 */
h3.title1 {
	font-size: 2em;
}

/* Titre 2 */
h3.title2 {
	font-size: 1.7em;
	display: inline-block;
	margin-left: 20px;
}

/* Sous titre 1 */
h4.stitle1 {
	font-size: 1.5em;
	color: #366393;
	margin: 0px 0px 10px 40px;
}

/* Sous titre 2 */
h4.stitle2 {
	font-size: 1.3em;
	margin: 0px 0px 10px 60px;
}

/* --- Les listes --- */
ul, ol {
	margin-left: 20px;
	margin-bottom: 10px;
}

/* -- Mise en forme du contenu --
--------------------------------------*/

/* --- Affichage du mini calendrier --- */
.calendar-block {
	position: absolute;
	border: 1px solid #999999;
	top: 100%;
	left: 0;
	right:0;
	z-index: 10;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.calendar-block .date-picker {
	margin: 0;
	width: 100%;
	table-layout: fixed;
}

.calendar-block .date-picker a {
	display: block;
	padding: 10px 0;
}

.calendar-block .date-select-container {
	background: #F5F5F5;
	padding: 2px 0px;
	border-radius: 3px 3px 0px 0px;
}

@media (max-width:768px){
	.calendar-block .date-select-container {font-size: 1.5em;}
}

.calendar-block .date-select-previous {
	float: left;
}

.calendar-block .date-select-next {
	float: right;
}

.calendar-block .date-select-next i,
.calendar-block .date-select-previous i {
	color: #666666;
	display: block;
	padding: 0 10px;
}

.calendar-block .date-select-content {
	width: 100%;
	text-align: center;
}

.calendar-block .date-select-content select,
.calendar-block .date-select-content select:focus {
	padding: 1px 1px;
	font-size: 0.9em;
	border: none;
	background: none;
	box-shadow: none;
}

.calendar-block .date-select-month,
.calendar-block .date-select-year{
	width: auto;
}



.calendar-block .date-picker select,
.calendar-block .date-picker select:focus {
	box-shadow: none;
	max-width: 75px;
}

.calendar-block .date-picker thead tr th {
	border-top: 1px solid #CCCCCC;
	padding: 5px 0px;
	border-radius: 0px;
	background: #FFFFFF;
	font-weight: bold;
	color: #666666;
}

.calendar-block .date-picker tbody tr:last-child {
	border-bottom: none;
}

.calendar-block .date-picker tbody td {
	height: 23px;
	padding: 1px 2px;
}

.calendar-block .date-picker tbody td:first-child { border-left: none; }
.calendar-block .date-picker tbody td:last-child  { border-right: none; }

.calendar-block .date-picker tbody td.calendar-none    { background: #FFFFFF; }
.calendar-block .date-picker tbody td.calendar-today   { background: #B5E5B9; }
.calendar-block .date-picker tbody td.calendar-event   { background: #DBE5EE; }
.calendar-block .date-picker tbody td.calendar-weekend { background: #FFE3B6; }

.calendar-block .date-picker tbody tr:last-child td {
	border-bottom: none;
}

.calendar-block .date-picker tbody tr:last-child td:first-child { border-radius: 0px 0px 0px 2px; }
.calendar-block .date-picker tbody tr:last-child td:last-child  { border-radius: 0px 0px 2px 0px; }

/* --- les blocs bbcode --- */
.bbcode-block-container {
	position: absolute;
	text-align: center;
	margin: 0;
	padding: 0;
	z-index: 20;
	top: 26px;
	left: -4px;
}

.bbcode-block {
	background: #F3F3F3;
	border-radius: 3px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid #AAAAAA;
	margin: 0;
}

.bbcode-block a {
	cursor: pointer;
	text-decoration: none;
}

/* --- Le selecteur de couleur --- */
.color-picker {
	position: absolute;
	z-index: 100;
}

.color-picker .bbcode-block table {
	border-collapse: collapse;
	margin: auto;
	border: none;
}

.color-picker td {
	padding: 0;
	border: 1px solid #F3F3F3;
}

.color-picker td a {
	display: block;
	width: 14px;
	height: 14px;
}

/* --- les blocs de quote, de code ou caches --- */
.formatter-blockquote, .formatter-code, .formatter-hide {
	display: block;
	width: 93%;
	padding: 2px 0px;
	font-weight: bold;
	margin: auto;
}
.blockquote, .code, .hide {
	overflow: auto;
	max-height: 500px;
	background: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	color: #444444;
	padding: 8px;
	margin: 0px 25px;
}

.hide {
	cursor: pointer;
	height: 10px;
	overflow: hidden;
}

.hide2 {
	visibility: hidden;
	overflow: auto;
}

/* --- les autres element bbcode --- */
.indent { margin-left: 30px; }

.formatter-acronym { cursor: help; }

.formatter-block {
	margin: 5px 20px;
	padding: 5px;
	border: 1px solid #C4CED6;
	display: block;
	overflow: hidden;
}

.formatter-fieldset { margin: 10px; }

.formatter-ul { text-align: left; }

/* --- les listes numerotees --- */
.code ol { margin-left: 3em; }

/* --- La recherche de membre (AJAX) --- */
.xmlhttprequest-result-search {
	overflow: auto;
	min-height: 40px;
	width: 100px;
	overflow: auto;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 2px;
	margin: 2px 0px 0px 0px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.01);
}

/* --- La barre de progression --- */
.progressbar-container {
	background: #F5F5F5;
	margin: 4px 0px 10px;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	position: relative;
}
.progressbar-container .progressbar-infos {
	line-height: 13px;
	font-size: .95em;
	text-align: center;
	width: 100%;
	position: absolute;
}
.progressbar {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.progressbar[style*="width: 100"] {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.progressbar-container .progressbar {
	height: 13px;
	background-color: #8ECF67;
	transition: width .6s ease;
}

/* --- Le systeme de notation --- */
.static-notation, .notation { display: inline-block; }
.static-notation .star, .notation .star { color: #E3CF7A; font-size: 1.1em; padding-right: 5px; text-decoration: none; }


/* -- Les Icones specifiques PHPBoost de FontAwesome --
-------------------------------------------*/

.fa-syndication:before { color: #F57900; }
.fa-success:before { color: #478948; }
.fa-forbidden:before { color: #BA4B49; }
.fa-error:before { color: #BA4B49; }
.fa-warning:before { color: #C19954; }
.fa-ban:before { color: #BA4B49; }
.fa-unban:before { color: #478948; }
.fa-male:before { color: #8DC3E9; }
.fa-female:before { color: #F49CC4; }
.fa-online:before { color: #52D132; }
.fa-offline:before { color: #E05759; }
.fa-trend-up:before { color: #478948; }
.fa-trend-down:before { color: #BA4B49; }

li.small-block .fa-stack { height: 2.34em; }

.fa-circle-alert {
	z-index: 1;
	position: absolute;
	top: -3px;
	left: 20px;
	font-size: 1.32em;
}

.fa-circle-alert span {
	display: block;
	position: absolute;
	top: 4px;
	width: 100%;
	margin: 0 auto;
	color: white;
	font-size: 0.7em;
	text-align: center;
}

/* --- menu de flux --- */
.feed-list {
	list-style-type: none;
	text-align: left;
	margin: 5px 0px;
}


/* -- Les message d erreurs --
--------------------------------------*/

div.message-helper-small { width: 90%; }

@media (min-width:769px){
	div.message-helper-small { width: 50%; }
}

.error, .notice, .warning, .success, .question {
	height: auto;
	padding: 10px 10px 10px 40px;
	margin: 5px auto 15px auto;
	line-height: 20px;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	position: relative;
	display: block;
	text-align: left;
	overflow: hidden;
}

.error:before, .notice:before, .warning:before, .success:before, .question:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 2em;
	position: absolute;
	left: 6px;
	top: 7px;
	width: 28px;
	text-align: center;
}

.error:before { content: "\f00d"; }
.error, .error:before { color: #BA4B49; }
.notice:before { content: "\f12a"; }
.notice, .notice:before { color: #888888; }
.warning:before { content: "\f071"; }
.warning, .warning:before { color: #C19954; }
.success:before { content: "\f00c"; }
.success, .success:before { color: #478948; }
.question:before { content: "\f128"; }
.question, .question:before { color: #3B88AE; }

.question { background-color: #DAEEF8; border-color: #BDE9F2; }
.notice { background-color: #F0F0F0; border-color: #E2E2E2; }
.warning { background-color: #FDF9E4; border-color: #FBECCD; }
.error { background-color: #F3DFDF; border-color: #ECCDD2; }
.success { background-color: #E0F1D9; border-color: #D7EAC7; }

/* ===========================
   #   #  #####  #   #  #   #  #####
   ## ##  #      ##  #  #   #  #
   # # #  ###    # # #  #   #  #####
   #   #  #      #  ##  #   #      #
   #   #  #####  #   #  #####  #####
*/

/* --- Classes multi niveau --- */
/* ---- Classes générales cssmenu ----*/
.cssmenu,
.cssmenu ul,
.cssmenu ul li,
.cssmenu ul li .cssmenu-title {
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	margin: 0;
}
.cssmenu:after,
.cssmenu > ul:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#menu-left .cssmenu { margin-right: -9px; }
#menu-right .cssmenu { margin-left: -9px; }

.cssmenu li:hover > .cssmenu-title { text-decoration: none; }

.cssmenu .cssmenu-title img {
	margin: 0px 5px 0px 0px;
	vertical-align: bottom;
}

#top-header .cssmenu li.has-sub ul li:first-child .cssmenu-title { border-radius: 0px 5px 0px 0px; }
#top-header .cssmenu li.has-sub ul li:last-child .cssmenu-title  { border-radius: 0px 0px 5px 5px; }

@media (max-width: 768px) {
	.cssmenu {
		width: 100%;
	}
	.cssmenu ul {
		width: 100%;
		display: none;
	}
	.cssmenu ul li {
		width: 100%;
		border-top: 1px solid rgba(120, 120, 120, 0.2);
	}
	.cssmenu ul ul li,
	.cssmenu li:hover > ul > li {
		height: auto;
	}

	.cssmenu ul li .cssmenu-title,
	.cssmenu ul ul li .cssmenu-title {
		width: 100%;
		border-bottom: 0;
	}
}

/* ---- Variante cssmenu-horizontal ---- */
#main .cssmenu-horizontal {
	border: 1px #BEBEBE solid;
	background: #FFFFFF;
}

/* ---- Variante cssmenu-group ---- */
div.cssmenu-group {
    border-radius: 4px;
    border-right: 1px solid #F9F9F9;
    border-left: 1px solid #BBBBBB;
    position: relative;
    padding: 2px 8px;
    color: #444444;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.18) 0%,rgba(56,56,56,0.18) 100%);
    background-color: #FFFFFF;
    border: 1px solid #999999;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #B3B3B3;
    cursor: pointer;
    display: inline-block;
}

div.cssmenu-group .cssmenu-title {
	font-size: 1.2rem;
	text-decoration: none;
	color: #444444;
	font-weight: 300;
}

@media (max-width: 768px) {
	.cssmenu-group {
		margin: 0 0 5px 0;
	}
}

/* ---- Variante cssmenu-actionslinks ---- */
.cssmenu-actionslinks {
	margin: 0 0 20px 0;
}

@media (min-width: 769px) {
	.cssmenu-actionslinks {
		float: right;
		margin: 0 5px 5px 5px;
	}
}

.cssmenu.cssmenu-actionslinks ul li .cssmenu-title,
.cssmenu.cssmenu-actionslinks ul li ul li .cssmenu-title {
	padding: 5px;
	font-weight: normal;
	font-size: 11px;
	border: none;
}

@media (max-width: 768px) {
	.cssmenu-actionslinks ul li {
		border: none;
	}
}

/* ---- Autres variantes ---- */
@media (min-width: 769px) {
	#cssmenu-galleryfilter ul { width: 130px; }
}

@media (min-width: 769px) {
	.cssmenu.cssmenu-static li.has-sub > .cssmenu-title:after,
	.cssmenu.cssmenu-static li.has-sub > .cssmenu-title:before {
		display: none;
	}
}

/* --- Niveau 1 --- */
/* ---- Classes générales cssmenu ---- */
@media (min-width: 769px) {
	.cssmenu > ul > li {
		float: left;
	}

	#sub-header .cssmenu-horizontal > ul > li {
		border-right: 1px solid #444444;
		position: relative;
	}
	#sub-header .cssmenu-horizontal > ul > li:after {
		position:absolute;
		right: 1;
		top: 50;
		height: 100%;
		width: 1px;
		border-right: 1px solid #333333;
	}

	#sub-header .cssmenu-horizontal > ul > li:last-child,
	#main .cssmenu-horizontal > ul > li:last-child { border: none; }

	#sub-header .cssmenu-horizontal > ul > li:last-child:after,
	#main .cssmenu-horizontal > ul > li:last-child:after {
		width: 0;
		height: 0;
	}

	#main .cssmenu-horizontal > ul > li {
		border-right: 1px solid #EFEFEF;
		position: relative;
	}
	#main .cssmenu-horizontal > ul > li:after {
		position:absolute;
		right: 1;
		top: 50;
		height: 100%;
		width: 1px;
		border-right: 1px solid #EEEEEE;
	}

	header .cssmenu-horizontal > ul > li:hover {
		border-radius : 5px 5px 5px 5px;
	}

	header .cssmenu-horizontal > ul > li.has-sub:hover {
		border-radius : 5px 5px 0px 0px;
	}

}

.cssmenu-left > ul > li,
.cssmenu-right > ul > li {
	float: none;
	text-align: left;
}

.cssmenu > ul > li > .cssmenu-title {
	padding: 17px;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 700;
}

/* ---- Indicateur de sous menu ---- */
.cssmenu > ul > li.has-sub > .cssmenu-title {
	padding-right: 30px;
}

@media (min-width: 769px) {
	.cssmenu > ul > li.has-sub > .cssmenu-title:after,
	.cssmenu > ul > li.has-sub > .cssmenu-title:before {
		position: absolute;
		display: block;
		content: '';
	}

	.cssmenu > ul > li.has-sub > .cssmenu-title:after {
		width: 8px;
		height: 2px;
	}

	.cssmenu > ul > li.has-sub > .cssmenu-title:before {
		width: 2px;
		height: 8px;
		transition: all .25s ease;
	}

	.cssmenu > ul > li.has-sub:hover > .cssmenu-title:before {
		height: 0;
	}

	.cssmenu-vertical > ul > li > .cssmenu-title {
		padding: 5px 17px 5px 6px;
	}

	.cssmenu > ul > li.has-sub > .cssmenu-title:after 			{ top: 22px; right: 11px; }
	.cssmenu > ul > li.has-sub > .cssmenu-title:before 			{ top: 19px; right: 14px; }
	.cssmenu > ul > li.has-sub:hover > .cssmenu-title:before 	{ top: 23px; }

	.cssmenu-vertical > ul > li.has-sub > .cssmenu-title:after  { top: 11px; }
	.cssmenu-vertical > ul > li.has-sub > .cssmenu-title:before { top: 8px;  }
}

/* ---- Position des sous menu ---- */
.cssmenu li:hover > ul 							{ left: auto ; 			  }
aside .cssmenu-left li:hover > ul,
#container-leftmenu .cssmenu-left li:hover > ul { left: 100% ; top: 0;    }
aside .cssmenu.cssmenu-right li:hover > ul,
#container-rightmenu .cssmenu.cssmenu-right li:hover > ul { right: 100%; top: 0;    }
.cssmenu.cssmenu-actionslinks li:hover > ul 	{ right: 0   ; top: 100%; }
.cssmenu.cssmenu-actionslinks ul li:hover > ul 	{ right: 100%; top: 0;    }

@media (max-width: 768px) {
	.cssmenu li:hover > ul 						{ left: 0;  }
	.cssmenu.cssmenu-right li:hover > ul 		{ right: 0; }
	.cssmenu.cssmenu-left li:hover > ul 		{ left: 0;  }
}

/* ---- Variante cssmenu-group ---- */
.cssmenu-group > ul {
	text-align: center;
	font-size: 0;
}

.cssmenu-group > ul > li {
    border-right: 1px solid #F9F9F9;
    border-left: 1px solid #BBBBBB;
    color: #444444;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.18) 0%,rgba(56,56,56,0.18) 100%);
    background-color: #FFFFFF;
    border: 1px solid #999999;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #B3B3B3;
    cursor: pointer;
}
.cssmenu.cssmenu-group > ul > li {
	display: inline-block;
	float: none;
}

.cssmenu.cssmenu-group > ul > li:hover {
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.18) 40%,rgba(56,56,56,0.18) 100%);
    background-color: #F0F0F0;
    border-bottom-color: #B3B3B3;
}

.cssmenu-group > ul > li:first-child {
	border-radius: 4px 0px 0px 4px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.cssmenu-group > ul > li:last-child {
    border-radius: 0px 4px 4px 0px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.cssmenu-group > ul > li.current {
    background-image: linear-gradient(to top, rgba(255,255,255,0.18) 0%,rgba(56,56,56,0.18) 100%);
    background-color: #F0F0F0;
    border-top-color: #B3B3B3;
}

.cssmenu.cssmenu-group > ul > li > .cssmenu-title {
	padding: 4px 12px;
	font-size: 1.1rem;
	text-decoration: none;
	color: #444444;
	font-weight: 300;
}

@media (max-width: 768px) {
	.cssmenu-group > ul > li {
		border-radius: 0px;
	}
	.cssmenu-group > ul > li:first-child {
	    border-radius: 4px 4px 0px 0px;
	}
	.cssmenu-group > ul > li:last-child {
	    border-radius: 0px 0px 4px 4px;
	}
}

/* ---- Variante cssmenu-actionslinks ---- */
@media (max-width: 768px) {
	.cssmenu-actionslinks > ul > li:last-child {
		padding: 0 0 10px 0;
		border-bottom: 1px solid rgba(120, 120, 120, 0.2);
	}
}

@media (min-width: 769px) {
	.cssmenu.cssmenu-static li > .cssmenu-title {
		border: none;
	}

	.cssmenu.cssmenu-static > ul > li.has-sub > .cssmenu-title {
		text-align: center;
	}
}

/* ---- Variante cssmenu-static ---- */
@media (min-width: 769px) {

	.cssmenu.cssmenu-static > ul > li {
		padding: 0px 10px 0px 10px;
	}

	footer .cssmenu.cssmenu-static > ul > li 		{ border-right: 1px solid #2A2A2A; }
	#top-footer .cssmenu.cssmenu-static > ul > li 	{ border-right: 1px solid #DDDDDD; }

	footer .cssmenu.cssmenu-static > ul > li:last-child,
	#top-footer .cssmenu.cssmenu-static > ul > li:last-child {
		border-right: none;
	}

	.cssmenu.cssmenu-static > ul > li > .cssmenu-title {
		font-size: 17px;
		border-bottom: 1px solid #25466C;
		margin: 0px 0px 20px 0px;
		padding-bottom: 5px;
		font-weight: bold;
    }
}

/* --- Niveau 2 --- */
/* ---- Classes générales cssmenu ---- */
.cssmenu ul ul {
	position: absolute;
	left: -9999px;
	z-index: 10;
}

@media (min-width: 769px) {
	.cssmenu ul ul li {
		height: 0;
		transition: all .25s ease;
	}
}

.cssmenu li:hover > ul > li {
	height: auto;
	vertical-align: middle;
}

.cssmenu ul ul ul {
	margin-left: 100%;
	top: 0;
}

.cssmenu ul ul li .cssmenu-title {
	padding: 11px 15px;
	font-size: 12px;
}

@media (min-width: 769px) {
	.cssmenu ul ul li .cssmenu-title {
		border-bottom: 1px solid rgba(150, 150, 150, 0.15);
		width: 170px;
	}
}

/* ---- Indicateur de sous menu ---- */
.cssmenu ul ul li:last-child > .cssmenu-title,
.cssmenu ul ul li.last-item > .cssmenu-title {
	border-bottom: 0;
}

.cssmenu ul ul li.has-sub > .cssmenu-title:after,
.cssmenu ul ul li.has-sub > .cssmenu-title:before {
	position: absolute;
	display: block;
	content: '';
}
.cssmenu ul ul li.has-sub > .cssmenu-title:after {
	width: 8px;
	height: 2px;
}

.cssmenu ul ul li.has-sub > .cssmenu-title:before {
	width: 2px;
	height: 8px;
	transition: all .25s ease;
}

.cssmenu ul ul li.has-sub > .cssmenu-title:after  { top: 16px; right: 11px; }
.cssmenu ul ul li.has-sub > .cssmenu-title:before { top: 13px; right: 14px; }

.cssmenu ul ul > li.has-sub:hover > .cssmenu-title:before {
	top: 17px;
	height: 0;
}

@media (max-width: 768px) {
	.cssmenu ul ul li .cssmenu-title,
	.cssmenu.cssmenu-actionslinks ul li ul li .cssmenu-title {
		padding-left: 25px;
	}
	.cssmenu ul ul ul li .cssmenu-title,
	.cssmenu.cssmenu-actionslinks ul li ul li ul li .cssmenu-title  {
		padding-left: 35px;
	}
	.cssmenu ul ul li .cssmenu-title {
		background: none;
	}
	.cssmenu ul ul,
	.cssmenu ul ul ul {
		position: relative;
		left: 0;
		width: 100%;
		margin: 0;
		text-align: left;
	}
}

/* ---- Variantes ---- */
@media (min-width: 769px) {
	.cssmenu-vertical ul ul {
		position: relative;
	}

	aside .cssmenu-vertical ul ul {
		position: absolute;
	}

	aside .cssmenu-vertical ul ul {
	    border: 1px #BEBEBE solid;
	}

	header .cssmenu-vertical ul ul li .cssmenu-title,
	#main .cssmenu-vertical ul ul li .cssmenu-title {
		border-bottom: none;
		width: 100%;
		padding: 5px 15px;
	}
}

@media (min-width: 769px) {
	.cssmenu-static ul ul {
	    position: relative;
	    left: 0;
	}

	.cssmenu-static ul ul li {
    	height: auto;
	}

	.cssmenu-static ul ul ul {
		margin-left: 0;
	}

	.cssmenu.cssmenu-static ul ul > li > .cssmenu-title {
		padding-left: 10px;
	}
	.cssmenu.cssmenu-static ul ul ul > li > .cssmenu-title {
		padding-left: 20px;
	}

}

.cssmenu-actionslinks ul li.has-sub .cssmenu-title:after  { top: 9px; }
.cssmenu-actionslinks ul li.has-sub .cssmenu-title:before { top: 6px; }

/* --- Personnalisation graphique --- */
/* ---- Niveau 1 ---- */
header .cssmenu > ul > li > .cssmenu-title 					{ color: #DDDDDD; }
.cssmenu.cssmenu-vertical > ul > li > .cssmenu-title		{ color: #444444; }
#main .cssmenu > ul > li > .cssmenu-title 					{ color: #444444; }
.cssmenu-actionslinks > ul > li > .cssmenu-title 			{ color: #666666; }
footer .cssmenu-static > ul > li > .cssmenu-title 			{ color: #DDDDDD; }
#top-footer .cssmenu-static > ul > li > .cssmenu-title 		{ color: #444444; }

header .cssmenu li:hover > .cssmenu-title 					{ color: #FFFFFF; }
.cssmenu.cssmenu-vertical li:hover > .cssmenu-title 		{ color: #666666; }
#main .cssmenu li:hover > .cssmenu-title 					{ color: #666666; }

@media (min-width: 769px) {
	header .cssmenu-horizontal > ul > li:hover				{ background: #333333; }
	#main .cssmenu-horizontal > ul > li:hover  				{ background: #F9F9F9; }
}

/* ---- Niveau 2 ---- */
.cssmenu ul ul li .cssmenu-title 							{ color: #DDDDDD; }
#main .cssmenu ul ul li .cssmenu-title 						{ color: #333333; }
.cssmenu.cssmenu-vertical ul ul li .cssmenu-title  			{ color: #333333; }
.cssmenu-actionslinks li ul li .cssmenu-title    			{ color: #666666; }
#top-footer .cssmenu-static li ul li .cssmenu-title 		{ color: #666666; }

.cssmenu ul ul li:hover > .cssmenu-title					{ color: #333333; }
header .cssmenu ul ul li:hover > .cssmenu-title 			{ color: #FFFFFF; }
#main .cssmenu ul ul li:hover > .cssmenu-title 				{ color: #555555; }
.cssmenu.cssmenu-vertical ul ul li:hover > .cssmenu-title 	{ color: #555555; }
.cssmenu-actionslinks li:hover > .cssmenu-title 			{ color: #333333; }
footer .cssmenu-static ul ul li:hover > .cssmenu-title 		{ color: #FFFFFF; }
#top-footer .cssmenu-static ul ul li:hover > .cssmenu-title { color: #262626; }

header .cssmenu ul ul li .cssmenu-title						{ background: #333333; }
.cssmenu.cssmenu-vertical ul ul li .cssmenu-title  			{ background: #FFFFFF; }

.cssmenu-actionslinks ul li:hover > .cssmenu-title:after 	{ background: #333333; }

@media (min-width: 769px) {
	.cssmenu-actionslinks li:hover > .cssmenu-title 		{ background: #DDDDDD; }
	#main .cssmenu-horizontal ul ul							{ background: #F9F9F9; }
	#main .cssmenu-horizontal ul ul	> li:hover				{ background: #F1F1F1; }
}

/* ---- Personnalisation de l'indicateur de sous-Menu ---- */
@media (min-width: 769px) {
	.cssmenu li.has-sub > .cssmenu-title:after,
	.cssmenu li.has-sub > .cssmenu-title:before 		 	{ background: #DDDDDD; }
	.cssmenu-vertical li.has-sub > .cssmenu-title:after,
	.cssmenu-vertical li.has-sub > .cssmenu-title:before 	{ background: #444444; }
}

/* --- Bouton responsive --- */
/* ---- Classes générales cssmenu ---- */
.cssmenu #menu-button {
	list-style: none;
	line-height: 1;
	display: none;
	position: relative;
}

@media (min-width: 769px) {
	.cssmenu #menu-button:before {
		font-size: 1.3rem;
	}
}

@media (max-width: 768px) {
	.cssmenu #menu-button {
		display: block;
		padding: 17px 40px 17px 17px;
		cursor: pointer;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 700;
	}

	.cssmenu #menu-button:after, 
	.cssmenu #menu-button:before {
		position: absolute;
		display: block;
		content: '';
	}

	.cssmenu #menu-button:after {
		height: 4px;
		width: 20px;
		border-width: 2px 0 2px 0;
		border-style: solid;
	}
	.cssmenu #menu-button:before {
		height: 2px;
		width: 20px;
		background: #DDDDDD;
		font-size: 1.3rem;
	}

	.cssmenu #menu-button.menu-opened:after {
		border: 0;
		height: 2px;
		transform: rotate(45deg);
	}

	.cssmenu #menu-button.menu-opened:before {
		transform: rotate(-45deg);
	}

}
/* ---- Position du bouton ---- */
@media (max-width: 768px) {
	.cssmenu #menu-button:after 				{ top: 22px; right: 17px; }
	.cssmenu #menu-button:before 				{ top: 16px; right: 17px; }
	.cssmenu #menu-button.menu-opened:after,
	.cssmenu #menu-button.menu-opened:before 	{ top: 23px; width: 15px; }
}

/* ---- Variante cssmenu-actionslinks ---- */
@media (min-width: 769px) {

	.cssmenu #menu-button:before {
		font-size: 1.3rem;
	}

	.cssmenu-actionslinks #menu-button {
		float: right;
		position: relative;
	    display: inline-block;
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
	    color: #444444;
	    background-image: linear-gradient(to bottom, rgba(255,255,255,0.18) 0%,rgba(56,56,56,0.18) 100%);
	    background-color: #FFFFFF;
	    border: 1px solid #999999;
	    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1)  #B3B3B3 rgba(0, 0, 0, 0.25);
	    border-radius: 4px;
	    cursor: pointer;
	    text-align: center;
	    padding: 4px 12px 4px 12px;
	    font-size: 0;
	}

	.cssmenu-actionslinks #menu-button + ul {
		display: none;
	}

	.cssmenu-actionslinks #menu-button:hover + ul,
	.cssmenu-actionslinks #menu-button + ul:hover {
		display: block;
	}

	.cssmenu-actionslinks #menu-button:before {
		content: "\f013";
	}

	.cssmenu-tools #menu-button:before {
		content: "\f0c9";
	}

	.cssmenu-actionslinks ul {
		position: absolute;
		right: 0;
		top: 23px;
		padding: 5px 0;
		width: 170px;
		font-size: 11px;
		background: #FFFFFF;
		border-radius: 3px;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
		border: 1px solid #AAAAAA;
		z-index: 10;
	}
}

/* ---- Variante Static ---- */
@media (max-width: 768px) {
	
	.cssmenu-static #menu-button {
		cursor: default;
	}

	.cssmenu-static #menu-button:after,
	.cssmenu-static #menu-button:before {
		display: none;
	}

	.cssmenu-static ul li {
		border-top: none;
	}

	.cssmenu-static > ul > li > .cssmenu-title,
	.cssmenu-static ul ul > li > .cssmenu-title {
		padding-bottom: 5px;
	}
}

/* ---- Personnalisation graphique du bouton responsive---- */
@media (max-width: 768px) {
	.cssmenu #menu-button:after {
		border-color: #555555;
	}

	.cssmenu #menu-button:before {
		background: #555555;
	}

	#main .cssmenu #menu-button {
		color: #111111;
	}
	
	.cssmenu #menu-button.menu-opened:after,
	.cssmenu #menu-button.menu-opened:before {
		background: #555555;
	}

	header .cssmenu #menu-button.menu-opened:after,
	header .cssmenu #menu-button.menu-opened:before 			{ background: #FFFFFF; }

	header .cssmenu-vertical #menu-button.menu-opened:after,
	header .cssmenu-vertical #menu-button.menu-opened:before 	{ background: #DDDDDD; }
}

/* --- Bouton submenu --- */
/* --- Classes générales cssmenu --- */
@media (max-width: 768px) {
	.cssmenu .submenu-button {
		position: absolute;
		z-index: 99;
		right: 0;
		top: 0;
		display: block;
		border-left: 1px solid rgba(120, 120, 120, 0.2);
		height: 46px;
		width: 46px;
		cursor: pointer;
	}

	.cssmenu ul ul .submenu-button {
		height: 34px;
		width: 34px;
	}

	.cssmenu .submenu-button:after,
	.cssmenu .submenu-button:before {
		position: absolute;
		display: block;
		content: '';
	}

	.cssmenu .submenu-button:after {
		width: 8px;
		height: 2px;
	}
	
	.cssmenu .submenu-button:before {
		width: 2px;
		height: 8px;
	}

	.cssmenu .submenu-button.submenu-opened:before {
		display: none;
	}

	.cssmenu-actionslinks .submenu-button {
		height: 21px;
		width: 21px;
		border: none;
	}
}

/* ---- Variante Static ---- */
@media (max-width: 768px) {
	.cssmenu-static .submenu-button,
	.cssmenu-static .submenu-button:after,
	.cssmenu-static .submenu-button:before {
		display: none;
	}
}

/* ---- Personnalisation background Bouton submenu ---- */
@media (max-width: 768px) {
	.cssmenu .submenu-button:after  						{ background: #DDDDDD; }
	.cssmenu .submenu-button:before 						{ background: #DDDDDD; }

	.cssmenu .submenu-button.submenu-opened:after 			{ background: #FFFFFF; }

	.cssmenu .submenu-button.submenu-opened 				{ background: #262626; }
	.cssmenu-actionslinks .submenu-button.submenu-opened 	{ background: #DDDDDD; }

	#menu-left .cssmenu .submenu-button.submenu-opened 		{ background: rgba(120, 120, 120, 0.2); }
	#menu-right .cssmenu .submenu-button.submenu-opened 	{ background: rgba(120, 120, 120, 0.2); }
}
	
/* ---- Postion icone Submenu ---- */
@media (max-width: 768px) {
	.cssmenu .submenu-button:after 				 { top: 22px; right: 19px; }
  	.cssmenu .submenu-button:before 			 { top: 19px; right: 22px; }
  	.cssmenu ul ul .submenu-button:after 		 { top: 15px; right: 13px; }
	.cssmenu ul ul .submenu-button:before 		 { top: 12px; right: 16px; }
	.cssmenu-actionslinks .submenu-button:after  { top: 9px;  right: 7px;  }
	.cssmenu-actionslinks .submenu-button:before { top: 6px;  right: 10px; }
}