
/* --- ###################################################################### 
 *
 *                            admin_content.css
 *                            
 *            Contient la mise en forme des pages specifiques aux modules
 *            - conteneur de page
 *            - pagination
 *            - explorateur de categories
 *            - drag and drop
 *            - page d'accueil
 *            - pages des bases de donnees
 *            - pages des statistiques
 *            - pages des menus
 * 
 * --- ###################################################################### ---*/


/* --- Conteneurs, elements de module, ... =========================================== */
section, article {
	width: 96%;
	margin: auto;
	margin-bottom: 10px;
	vertical-align: top;
}

section header, article header {
	margin: 0 0 20px 0;
}

/* --- Titre d'une page ou d'un element d'un module ================================== */
section header h1, article header h1 {
	border-bottom: 1px solid #336397;
}

section header h1, article header h1 {
	font-size: 1.6em;
	font-weight: bold;
}

section header h2, article header h2 {
	border-bottom: 1px solid #336397;
	margin-left: 16px;
}

section header h2, article header h2 {
	font-size: 1.4em;
	font-weight: bold;
}

section header h3, article header h3 {
	border-bottom: 1px solid #336397;
	margin-left: 16px;
}

section header h3, article header h3 {
	font-size: 1.3em;
	font-weight: bold;
}

/* --- Icones avec les actions (edition, suppression, etc) =================== */
span.actions {
	float: right;
}

span.actions a {
	font-size: 1em;
}

.more {
	font-size: .95em;
	font-style: italic;
}

/* Contenu */
.content {
	margin: 0 15px;
	word-wrap: break-word;
	overflow: hidden;
	text-align: justify;
}

section footer, article footer {
	margin-bottom: 15px;
}

/* Pagination */
section footer ul.pagination {
	text-align: center;
}

ul.pagination 				{ margin: 0px; }
ul.pagination .fa:before 	{ font-size: 1em; }

ul.pagination-block 		{ margin: 5px 0px; }
ul.pagination-block li 		{ padding: 2px 2px; }

ul.pagination-block li a {
	display: inline-block;
	padding: 2px 7px;
	text-align: center;
	text-decoration: none;
	outline: none;
	font-weight: bold;
	font-size: 1em;
}

ul.pagination-block li a {
	color: #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
	background-image: -ms-linear-gradient(top,  rgba(255, 255, 255, 0.18) 0%,rgba(56, 56, 56, 0.10) 100%);
	background-image: linear-gradient(to bottom,  rgba(255, 255, 255, 0.18) 0%,rgba(56, 56, 56, 0.10) 100%);
	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
	border-color: #E1E1E1 #E1E1E1 #BFBFBF #CFCFCF;
	border-radius: 4px;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0px 2px rgba(0, 0, 0, 0.05);
}

ul.pagination-block li a:hover {
	background-color: #FDFDFD;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0px 2px rgba(0, 0, 0, 0.1);
	transition: all 0.1s linear;
}

ul.pagination-block li a:active {
	background-color: #F1F1F1;
	border: 1px solid #DDDDDD;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0px 2px rgba(0, 0, 0, 0.05);
}

ul.pagination-block li a.current-page {
	color: #FEFEFE;
	background-color: #3B6B9F;
	border-color: #366393;
	text-decoration: none;
}

ul.pagination-block li a.current-page:hover, ul.pagination-block li a.current-page:hover{
	background-color: #366393;
	border-color: #315A86;
}

ul.pagination-block-bis li a.prev-page,
ul.pagination-block-bis li a.next-page {
	border: none;
	background: none;
	box-shadow: none;
	text-shadow: none;
}

ul.pagination-block-bis li a.prev-page:hover,
ul.pagination-block-bis li a.next-page:hover { text-decoration: underline; }

/* --- Block ==================================================================== */

.block .content, .medium-block .content, .small-block .content { margin: 0; }

.block h1, .medium-block h1, .small-block h1 	{ border: none; 		}
.block 											{ width: auto; 			}
.block header 									{ margin-bottom: 10px; 	}
.block footer 									{ margin: 0; 			}

.medium-block, .small-block {
	display: inline-block;
	margin: 0.5%;
	vertical-align: top;
}

.small-block,
.medium-block {
	width: 100%;
	margin: 0;
	float: left;
}

.medium-block select{
	margin-bottom:10px;
}

@media (min-width:981px){
	
	.small-block,
	.medium-block {
		float: left;
	}

	/* Affiche 3 blocs côte à côte */
	.small-block {
		width: 33.33%;
	}
	
	/* Affiche 2 blocs côte à côte */	
	.medium-block {
		width: 50%;
	}
}

/* --- Exploreur des catégories ================================================= */
.explorer .cats,
.explorer .files {
	display: inline-block;
	width: 62%;
	margin: 5px 0.33%;
	vertical-align: top;
}

.explorer .cats {
	width: 35.6%;
	min-width: 200px;
}

.explorer h1 {
	color: #666666;
	font-size: 1em;
	margin: 5px 0;
}

.explorer .content {
	border: 1px solid #DDDDDD;
	padding: 5px 0;
	border-radius: 3px;
	min-height: 120px;
}

.explorer .content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.explorer .content ul ul {
	margin-left: 22px;
}

.explorer .content ul a.parent {
	float: left;
}

.explorer .content ul a {
	padding: 3px 0px;
	display: block;
	text-decoration: none;
	color: #666666;
}

.explorer .content > ul > li > a { padding: 3px 5px; }

.explorer .content ul .fa {
	width: 20px;
	vertical-align: top;
}

.explorer .content ul .fa:before {
	vertical-align: middle;
}

.explorer .content ul a.parent .fa:first-child {
	width: 14px;
}

.explorer .content ul a.parent .fa:first-child:before {
	width: 14px;
	font-size: .95em;
}

.explorer .content ul a:hover,
.explorer .content ul a:hover+a {
	background-color: #EEEEEE;
}

.explorer .content ul .sub a.parent {
	padding-left: 4px;
}

.explorer .selected {
	background-color: #DDDDDD;
}

.options {
	margin: 5px;
	padding: 6px 12px;
	background-color: #EEEEEE;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	float: right;
}

.options h6 {
	margin: 10px 3px;
	font-size: 1.1em;
}

/* --- Gestion des Categories --- */
#cats-elements-list {
	position: relative;
	padding: 5px;
}

/* --- Système de drag&Drop ================================================== */
.sortable-block .sortable-element > .sortable-block {
	margin-left: 30px;
}

.sortable-block {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
	min-height: 24px;
}

.sortable-block .sortable-element {
	background-color: #FFFFFF;
	border: 1px solid #D6DEE7;
	padding: 0;
	margin-bottom: 6px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
	transition: box-shadow 0.2s;
	display: table;
	width: 100%;
}

.sortable-block .sortable-element:hover {
	border: 1px solid #d0d8e1;
	box-shadow: 0px 0px 5px #EAEAEA;
}

@media (min-width:769px) {
	
	.sortable-block .sortable-element .sortable-selector {
		display: table-cell;
		position: relative;
		width: 20px;
		background-color: #81A4C8;
		opacity: 0.3;
		transition: opacity 1s;
		cursor: move;
	}
	
	.sortable-selector:after {
		position: absolute;
		content: '\f047';
		top: 28%;
		left: 2px;
		color: #ffffff;
		font-family: fontawesome;
	}
}

.sortable-block .sortable-element:hover .sortable-actions {
	opacity: 1;
}

.sortable-block .sortable-element:hover .sortable-selector {
	opacity: 0.6;
	width: 20px;
}

@media (min-width:769px) {
	
	.sortable-block .sortable-element .sortable-selector {
		width: 20px;
		opacity: .6;
	}
	
	.sortable-block .sortable-element:hover .sortable-selector {
		opacity: 1;
	}
}

.sortable-block .sortable-title {
	background-image: linear-gradient(to bottom, #FFFFFF 50%, #FAFAFA 100%);
	padding: 8px 5px 5px 10px;
}

.sortable-block .sortable-title:hover {
	background-image: linear-gradient(to bottom, #FFFFFF 25%, #F2F5F8 100%);
}

.sortable-block .sortable-title span {
	font-size: 1.5em;
	font-weight: bold;
}

.sortable-block .sortable-title span.cat-desc {
	font-size: 0.8em;
	font-weight: normal;
	font-style: italic;
}

.sortable-block .sortable-title img {
	cursor: move;
}

.sortable-block fieldset {
	padding: 0px 30px;
}

.sortable-block .sortable-actions {
	float: right;
	padding: 3px 3px;
	opacity: 0.5;
	transition: opacity 0.2s;
}

.sortable-block .sortable-element hr {
	background-color: #999999;
	margin-top: 5px;
}

.sortable-block .sortable-element label {
	color: #1F507F;
	margin-left: 14px;
}

.sortable-block .sortable-actions img,
.sortable-block .sortable-element:hover label,
.sortable-block .sortable-element .fa:hover {
	cursor: pointer;
}

.dragged {
	position: absolute;
	opacity: 0.9;
	z-index: 2000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

body.dragging, body.dragging * {
	cursor: move !important;
}

.dropzone {
	margin: 10px 0px;
	padding-top: 5px;
	height: 30px;
	border: 1px dashed #AAAAAA;
	border-radius: 5px;
	text-align: center;
	color: #AAAAAA;
	opacity: 0.6;
}

.preview img {
	overflow: hidden;
}


/* --- Page d'accueil ========================================================== */
.welcome {
	overflow: hidden;
	display: table;
	margin: auto;
	padding:5px;
}

.welcome img {
	margin-right: 5px;
}

.welcome-desc {
	padding-top: 10px;
}

.welcome-desc p {
	clear: both;
	padding: 10px;
}

.quick-acces ul {
	margin:0 0 20px 30px;
}

@media (min-width:980px){
	
	.welcome {
		padding:10px;
	}
	
	.welcome-desc{
		margin-left: 20px;
		float: left;
	}
}

.system-report { font-family: monospace; }

/* --- database =============================================================== */

.db-restore {
	padding: 5px;
}

.cssmenu.cssmenu-group #menu-button						{ color: #676A74; }
.cssmenu.cssmenu-group #menu-button:before,
.cssmenu.cssmenu-group #menu-button.menu-opened:before,
.cssmenu.cssmenu-group #menu-button.menu-opened:after	{ background-color: #676A74; }
.cssmenu.cssmenu-group #menu-button:after 				{ border-color: #676A74; }

/* --- statistiques =============================================================== */
@media (max-width:768px){
	
	#menustats a.js-menu-button {
		color: #555555;
		display: block;
	}
}

.bargraph img {
	width: 100%;
}

@media (min-width:641px){
	
	.bargraph img {
		width:auto;
	}
}

.fieldset-img {
	width: 100%;
}

@media (min-width:641px){
	
	.fieldset-img {
		width:auto;
	}
}

/* --- Gestion des Menus ==================================================== */
.menu-link-list {
	list-style-type: none;
	list-style-position: outside;
	margin-left: 20px;
	padding: 10px 0;
}

.menu-link-element {
	margin-top: 10px;
	background-color: #E5E5E5;
	border: 1px solid #8F8F8F;
	padding: 5px
}

.menu-link-menu {
	margin-top: 15px;
	background-color: #EFEFEF;
	border: 1px solid #8F8F8F;
}

.menu-link-element:hover {
	border-color: #AAAAAA;
	cursor: move;
}

.menu-link-element label 		{ color: #1F507F; }
.menu-link-element:hover label 	{ cursor: move; }
.menu-link-element:hover img 	{ cursor: pointer; }
.menu-link-element:hover label	{ cursor: pointer; }

/* --- Choix des themes --- */
.themesmanagement {
	overflow: hidden;
	padding: 8px 12px;
	background-color: #353535;
	color: #ffffff;
}

@media (min-width:769px){
	
	.themesmanagement {
		background-color: rgba(255, 255, 255, .5);
		color: #4372AA;
		padding: 12px 12px 13px;
	}
}

.themesmanagement > div {
	float: right;
}

.themesmanagement select {
	padding: 0;
	width: auto;
	min-width: 200px;
	margin-right: 20px;
}

/* --- colonnes des menus --- */

.menusmanagement {
	padding: 10px;
}

.menusmanagement a,
.menusmanagement i{
	color: #4372AA !important;
}

.menusmanagement a:hover {
	color: #2D4D73 !important;
}

.menumanagement hr {
	margin: 10px 0;
}

#valid-position-menus {
	position: fixed;
	z-index: 101;
	top: 90%;
	right: 0px;
	margin-right: 5px;
	padding: 6px;
}

div.container-block {
	width: 165px;
	margin: auto;
}

div.container-block > div {
	position: relative;
	float: left;
	z-index: 99;
}

div.container-block-absolute {
	position: absolute;
	margin-top: 38px;
	margin-left: 0px;
	float: left;
	display: none;
}

div.container-block-absolute > div {
	position: absolute;
	z-index: 100;
}

.menu-block-libelle {
	color: #0E2A48;
	width: 165px;
	min-height: 20px;
	margin: 0px;
	text-align: center;
	font-weight: bold;
	background-color: #f9f9f9;
	border: 1px solid #8F8F8F;
	border-bottom: none;
	border-radius: 4px 4px 0px 0px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.menus-block-add {
	color: #0E2A48;
	width: 165px;
	height: 20px;
	margin: 0px;
	background-color: #f9f9f9;
	border: 1px solid #8F8F8F;
	border-top: none;
	cursor: pointer;
	text-align: center;
	border-radius: 0px 0px 4px 4px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.menus-block-add-links {
	padding: 2px 0px;
	border-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin: -1px 0px 0px 0px;
}

.menus-block-container {
	margin: 0px;
	margin-bottom: 6px;
	padding: 5px;
	padding-bottom: 7px;
	background-color: #cbd6e2;
	border: 1px solid #366393;
	border-radius: 3px;
	overflow: auto;
}

.menus-block-container .module-mini-container{
	display: none;
}

.menus-block-container:hover .module-mini-container{
	display: block;
}

.menus-block-top {
	margin-bottom: 5px;
}

.menus-block-title {
	font-size: 1.1em;
	color: #515C68;
}

.menus-block-move-cursor {
	cursor: move;
}

.menus-block-container .module-mini-bottom {
	padding-bottom: 5px;
}

.menus-block-move {
	height: 16px;
}

.menus-block-move a {
	display: block;
	position: relative;
	height: 16px;
	width: 100%;
}

.menus-block-move-top a:after {
	position: absolute;
	top: -10px;
	right: 0;
	content: '\f106';
	font-family: fontawesome;
	font-size: 2em;
}

.menus-block-move-bot a:after {
	position: absolute;
	bottom: 0;
	right: 0;
	content: '\f107';
	font-family: fontawesome;
	font-size: 2em;
}

@media (min-width:769px){
	.menus-block-container > div.menus-block-move-top a			{opacity: 0}	
	.menus-block-container > div.menus-block-move-bot a			{opacity: 0}
	.menus-block-container:hover > div.menus-block-move-top a	{opacity: 1}	
	.menus-block-container:hover > div.menus-block-move-bot a	{opacity: 1}	
}

.menu-spacer {
	width: 99%;
	padding: 0px 5px;
	margin: 0;
	height: 15px;
}

/* --- Conteneur des menus --- */

#mod_header, #mod_subheader, #mod_left,
#mod_right, #mod_topcentral,
#mod_central, #mod_bottomcentral,
#mod_topfooter, #mod_footer {
	min-height: 55px;
	padding: 10px;
	padding-top: 30px;
	border: 2px dashed #bbbbbb;
	margin-top: 20px;
	border-radius: 3px;
	background-color: #f5f5f5;
	text-align: center;
}

/* --- Contenaires --- */
#container-header, #container-subheader, #container-leftmenu,
#container-rightmenu, #container-topcentral, #container-central,
#container-bottomcentral, #container-topfooter, #container-footer {
	padding: 5px;
	vertical-align: top;
	padding-bottom: 5px;
}

#container-header {
	padding-top: 10px;
}

#container-central .menus-block-container {
	margin: 5px;
	margin-top: 0px;
	float: left
}

.menusmanagementcolumn {
	overflow: hidden;
}

#container-leftmenu,
#container-rightmenu,
.menusmanagementcentral{
	width: 100%;
}

#container-topfooter {
	clear: both;
}

@media (min-width:981px) {

	.menusmanagementcolumn > div:nth-child(1) {
		width: 220px;
		float: left;
	}
	
	.menusmanagementcolumn > div:nth-child(3)  {
		width: 220px;
		float: right;
	}
	
	.menusmanagementcentral {
		width: calc(100% - 440px);
		float: left;
	}
}

/* -- Systeme d'Upload ========================================== */
.upload-address-bar {
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	color: #444444;
	margin: 0px 25px;
	padding: 6px;
}

.upload-address-bar-links {
	margin: 0 25px 25px 25px;
}

.upload-address-bar-links a {
	margin-left: 10px;
}

#empty-folder {
	width: 70%;
}

.upload-elements-file,
.upload-elements-repertory {
	float: left;
	margin: 10px;
}

.upload-elements-repertory {
	height: 60px;
}

a.upload-recent-file {
	color: #BA4B49;
}

#new-file .form-field {
	width: auto;
}

.file-move-container {
	margin: 5px 0;
	text-align: center;
}

@media (min-width:769px){
	.file-move-container{
		width: calc(100% / 3);
		float: left;
	}
}

/* --- Deplacement des fichiers --- */
.upload-selected-cat {
	background-color: #F5FBFF;
	border: 1px solid #2C5169;
}

