
/* --- flex layout ---------------------------------------------------------- */
.cell-flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.cell-flex::before,
.cell-flex::after {
	display: block;
	clear: both;
	content: "";
}

.cell {
	width: 100%;
}

@media (min-width: 768px) {
	.cell-flex { flex-direction: row; }

	.cell-flex-2 .cell { width: calc(100% / 2); }
	.cell-flex-3 .cell { width: calc(100% / 2); }
	.cell-flex-4 .cell { width: calc(100% / 2); }

	.cell-flex .cell-2-2,
	.cell-flex .cell-3-3,
	.cell-flex .cell-4-4 { width: 100% !important; }
	.cell-flex .cell-2-4 { width: calc(100% / 2) !important;}
	.cell-flex .cell-2-3 { width: calc(100% / 2) !important;}
	.cell-flex .cell-3-4 { width: calc(100% / 2) !important;}
}

@media (min-width: 1024px) {
	.cell-flex-2 .cell { width: calc(100% / 2); }
	.cell-flex-3 .cell { width: calc(100% / 3); }
	.cell-flex-4 .cell { width: calc(100% / 4); }

	.cell-flex .cell-2-2,
	.cell-flex .cell-3-3,
	.cell-flex .cell-4-4 { width: 100% !important; }
	.cell-flex .cell-2-4 { width: calc(100% / 2) !important;}
	.cell-flex .cell-2-3 { width: calc(100% * 2 / 3) !important;}
	.cell-flex .cell-3-4 { width: calc(100% * 3 / 4) !important;}
}

/* --- Cell structure ------------------------------------------------------- */
.cell-flex .cell {
	display: flex;
	flex-direction: column;
}

.cell-flex .cell-body,
.cell-flex .cell-list,
.cell-flex .cell-table {
	flex: 1 1 auto;
}

.cell-flex .cell-thumbnail {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell-flex .cell-thumbnail-caption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-flex .cell-list ul li.li-stretch {
	display: flex;
	justify-content: space-between;
}

.cell-flex .cell-footer {
	flex: 0 1 auto;
}
