
/* --- Cell grid ==================================================================== */
.cell-flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.cell-flex::before,
.cell-flex::after {
	display: block;
	clear: both;
	content: "";
}

.cell {
	width: 100%;
}

@media (min-width: 768px) {
	.cell-flex { flex-direction: row; }

	.cell-flex-2 .cell { width: calc(100% / 2); }
	.cell-flex-3 .cell { width: calc(100% / 2); }
	.cell-flex-4 .cell { width: calc(100% / 2); }

	.cell-2-2,
	.cell-3-3,
	.cell-4-4 { width: 100% !important; }
	.cell-2-4 { width: calc(100% / 2) !important;}
	.cell-2-3 { width: calc(100% / 2) !important;}
	.cell-3-4 { width: calc(100% / 2) !important;}
}

@media (min-width: 1024px) {
	.cell-flex-2 .cell { width: calc(100% / 2); }
	.cell-flex-3 .cell { width: calc(100% / 3); }
	.cell-flex-4 .cell { width: calc(100% / 4); }

	.cell-2-2,
	.cell-3-3,
	.cell-4-4 { width: 100% !important; }
	.cell-2-4 { width: calc(100% / 2) !important;}
	.cell-2-3 { width: calc(100% * 2 / 3) !important;}
	.cell-3-4 { width: calc(100% * 3 / 4) !important;}
}

/* --- Cell structure ------------------------------------------------------- */
.cell {
	padding: 0.456em;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.cell-title {
	padding: 0.456em;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}

.cell-body,
.cell-list,
.cell-table {
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	flex: 1 1 auto;
}

.cell-body {
    padding: 0.456em;
}

[class*="cell-"] + .cell-body,
[class*="cell-"] + .cell-list {
	border-width: 0 1px 1px;
}

.cell-thumbnail {
    position: relative;
    margin: -0.456em;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.cell-thumbnail-caption {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-thumbnail-caption:hover {
    opacity: 1
}

.cell-list ul {
	margin: 0;
	padding: 0;
}

.cell-list ul li {
	list-style-type: none;
	padding: 0.309em 0.456em 0;
}

.cell-list ul li.li-stretch {
	display: flex;
	justify-content: space-between;
}

.cell-list ul li:last-child {
    padding: 0.309em 0.456em;
}

.cell-table {
    overflow: auto;
}

.cell-table table {
    margin: -2px 0 0;
}

.cell-table table thead th {
	border-width: 0 1px;
	border-style: solid;
}
.cell-table table tbody tr td:first-child { border-width: 0 0 1px 0; }
.cell-table table tbody tr td:last-child  { border-width: 0 0 1px 1px; }

.cell-footer {
	padding: 0.456em;
	border-style: solid;
	border-width: 0 1px 1px;
	border-color: transparent;
	flex: 0 1 auto;
}

.cell .content {
	margin: 0;
}

.cell h1 {
	border: none;
}

.cell header,
.cell footer {
	margin: 0;
}
