/* --- flex layout ---------------------------------------------------------- */
.cell-flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.cell-flex::before,
.cell-flex::after {
	display: block;
	clear: both;
	content: "";
}

.cell {
	width: 100%;
}

@media (min-width: 768px) {
	.cell-flex { flex-direction: row; }

	.cell-columns-2 .cell { width: calc(100% / 2); }
	.cell-columns-3 .cell { width: calc(100% / 2); }
	.cell-columns-4 .cell { width: calc(100% / 2); }

	.cell-flex .cell-2-2,
	.cell-flex .cell-3-3,
	.cell-flex .cell-4-4 { width: 100% !important; }
	.cell-flex .cell-2-4 { width: calc(100% / 2) !important;}
	.cell-flex .cell-2-3 { width: calc(100% / 2) !important;}
	.cell-flex .cell-3-4 { width: calc(100% / 2) !important;}
}

@media (min-width: 1024px) {
	.cell-columns-2 .cell { width: calc(100% / 2); }
	.cell-columns-3 .cell { width: calc(100% / 3); }
	.cell-columns-4 .cell { width: calc(100% / 4); }

	.cell-flex .cell-2-2,
	.cell-flex .cell-3-3,
	.cell-flex .cell-4-4 { width: 100% !important; }
	.cell-flex .cell-2-4 { width: calc(100% / 2) !important;}
	.cell-flex .cell-2-3 { width: calc(100% * 2 / 3) !important;}
	.cell-flex .cell-3-4 { width: calc(100% * 3 / 4) !important;}
}

/* --- Cell structure ------------------------------------------------------- */

.cell-flex .cell {
	display: flex;
	flex-direction: column;
}

.cell-flex .cell-header {
	display: flex;
	align-items: center;
}

.cell-flex .cell-name {
	flex: 1 1 auto;
	min-width: 0;
	display: flex;
}

.cell-flex .cell-body,
.cell-flex .cell-list,
.cell-flex .cell-table {
	flex: 1 1 auto;
}

.cell-flex .cell-thumbnail {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.cell-flex .cell-thumbnail-caption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-flex .cell-list ul li.li-stretch {
	display: flex;
	justify-content: space-between;
}

.cell-flex .cell-form {
	display: flex;
	flex-direction: column;
}

.cell-input input:not([type="checkbox"]):not([type="radio"]),
.cell-input select,
.cell-input textarea {
	width: 100%;
}

.cell-input .input-element-button input {
	width: calc(100% - 2.618em);
}

@media (min-width: 769px) {
	.cell-flex .cell-form {
		flex-direction: row;
		justify-content: space-between;
	}

	.cell-flex .cell-form .cell-label {
		width: 40%;
	}

	.cell-flex .cell-form .cell-input {
		width: 60%;
	}
}

.cell-flex .cell-footer {
	flex: 0 1 auto;
}
