.cell-modal .cell {
	max-width: 512px;
}

.cell {
	padding: 0.618em;
	margin: 0;
}

.cell .content {
	margin: 0;
}

.cell h1 {
	border: none;
}

.cell header,
.cell footer,
.cell-header button {
	margin: 0;
}

.cell-header {
	padding: 0.618em;
	white-space: normal;
}

.cell-header .cell-name {
	display: inline-block;
	font-size: 1.618em;
	padding: 0 0.309em;
}

.cell-body {
    padding: 0.618em;
}

.cell-body .message-helper {
	margin: 0;
}

.cell-header,
.cell-body,
.cell-list,
.cell-table,
.cell-form,
.cell-footer {
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}

[class*="cell-"] + .cell-body,
[class*="cell-"] + .cell-list,
[class*="cell-"] + .cell-table,
[class*="cell-"] + .cell-form {
	border-width: 0 1px 1px;
}

.cell-thumbnail {
    position: relative;
    margin: -0.618em;
	overflow: hidden;
}

.cell-thumbnail-caption {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.cell-thumbnail-caption:hover {
    opacity: 1
}

.cell-list ul {
	margin: 0;
	padding: 0;
}

.cell-list ul li {
	list-style-type: none;
	padding: 0.456em 0.618em 0;
}

.cell-list ul li:last-child {
    padding: 0.456em 0.618em;
}

.cell-table {
    overflow: auto;
}

.cell-table table {
    margin: -2px 0 0;
}

.cell-table table thead th {
	border-width: 0 1px;
	border-style: solid;
}

.cell-table table tbody tr td:first-child { border-width: 0 0 1px 0; }
.cell-table table tbody tr td:last-child  { border-width: 0 0 1px 1px; }

.cell-form .cell-label,
.cell-form .cell-input {
	padding: 0.456em 0.618em
}

.cell input,
.cell label,
.cell button,
.cell .button,
.cell textarea,
.cell .input-element-button,
.cell .formatter-title {
	margin: 0 !important;
}

.cell .formatter-title {
	display: block;
}

.cell-footer {
	padding: 0.618em;
	text-align: right;
	border-width: 0 1px 1px;
}
