/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
*/

.cell-flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.cell-flex::before,
.cell-flex::after {
	display: block;
	clear: both;
	content: "";
}

.cell { width: 100%; }

@media (min-width: 769px) {
	.cell-flex { flex-direction: row; }

	.cell-columns-2 .cell { width: calc(100% / 2); }
	.cell-columns-3 .cell { width: calc(100% / 2); }
	.cell-columns-4 .cell { width: calc(100% / 2); }

	.cell-flex .cell-2-2,
	.cell-flex .cell-3-3,
	.cell-flex .cell-4-4 { width: 100% !important; }
	.cell-flex .cell-2-4 { width: calc(100% / 2) !important;}
	.cell-flex .cell-2-3 { width: calc(100% / 2) !important;}
	.cell-flex .cell-3-4 { width: calc(100% / 2) !important;}
}

@media (min-width: 1024px) {
	.cell-columns-2 .cell { width: calc(100% / 2); }
	.cell-columns-3 .cell { width: calc(100% / 3); }
	.cell-columns-4 .cell { width: calc(100% / 4); }

	.cell-flex .cell-2-2,
	.cell-flex .cell-3-3,
	.cell-flex .cell-4-4 { width: 100% !important; }
	.cell-flex .cell-2-4 { width: calc(100% / 2) !important;}
	.cell-flex .cell-2-3 { width: calc(100% * 2 / 3) !important;}
	.cell-flex .cell-3-4 { width: calc(100% * 3 / 4) !important;}
}

.cell-flex .cell {
	display: flex;
	flex-direction: column;
}

.cell-flex .cell-body,
.cell-flex .cell-list,
.cell-flex .cell-table,
.cell-flex .cell-textarea,
.flex-wide {
	flex: 1 1 auto;
}

.cell-flex .cell-list-inline ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.cell-flex .cell-form {
	display: flex;
	flex-direction: column;
}

.cell-flex .cell-form.grouped-inputs {
	flex-direction: row;
}

@media (min-width: 769px) {
	.cell-flex .cell-form {
		flex-direction: row;
		justify-content: space-between;
	}

	.cell-flex .cell-form .cell-label { width: 40%; }

	.cell-flex .cell-form .cell-input { width: 60%; }
}

.cell-flex .cell-footer { flex: 0 1 auto; }

/* --- List layout ---------------------------------------------------------- */
.cell-row::after,
.cell-row::before {
    content: '';
    display: block;
    clear: both;
}

.cell-row .cell-body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

@media (min-width: 769px) {
	.cell-row .cell-thumbnail {
		width: 30%;
		padding: 0.618em;
	}

	.cell-row .cell-thumbnail + .cell-content { width: 70%; }
}

/* --- Modal ---------------------------------------------------------------- */
.cell-modal .cell {
	max-width: 512px;
}

/* --- Options -------------------------------------------------------------- */
@media (min-width:769px) {
	.cell-options {
		float: right;
		min-width: 235px;
		max-width: 50%;
	}
}

/* --- Inline --------------------------------------------------------------- */
@media (min-width: 769px) {
	.cell-inline .cell {
		max-width: 235px;
	}
}

/* --- Mini module ---------------------------------------------------------- */
.cell-mini-vertical .cell {
	padding:  0.618em 0 0;
}

.cell-mini .cell-form .cell-label,
.cell-mini .cell-form .cell-input {
	padding: 0;
}

.cell-mini fieldset { margin: 0; }

.cell-mini-vertical .cell-form:not(.grouped-inputs) input:not([type="checkbox"]):not([type="radio"]) {
	width: 100%;
}
