/*
 *
*/

 /* TODO: Reorder for accessibility */

 /* --- checkbox mini --- */
 .checkbox-mini .form-field-checkbox {
 	margin: 0;
 	position: relative;
 	display: inline-block;
 	margin: 0.228em 1em 0 0;
 }

 .checkbox-mini .form-field-checkbox > span {
 	display: inline-block;
 }

 .checkbox-mini .form-field-checkbox [type="checkbox"]:not(:checked),
 .checkbox-mini .form-field-checkbox [type="checkbox"]:checked {
 	position: absolute;
 	margin: 0;
 	opacity: 0;
 }

 .checkbox-mini .form-field-checkbox [type="checkbox"]:not(:checked) + span,
 .checkbox-mini .form-field-checkbox [type="checkbox"]:checked + span {
 	position: relative;
 	padding-left: 1.618em;
 	cursor: pointer;
 }

 .checkbox-mini .form-field-checkbox [type="checkbox"]:disabled + span {
 	cursor: not-allowed;
 }

 .checkbox-mini .form-field-checkbox [type="checkbox"]:not(:checked) + span:before,
 .checkbox-mini .form-field-checkbox [type="checkbox"]:checked + span:before,
 .checkbox-mini .form-field-checkbox [type="checkbox"]:not(:checked) + span:after,
 .checkbox-mini .form-field-checkbox [type="checkbox"]:checked + span:after {
 	position: absolute;
 	content: '';
 	font-family: 'Font Awesome 5 Free';
 	font-weight: 900;
 }

 .checkbox-mini .form-field-checkbox [type="checkbox"]:not(:checked) + span:before,
 .checkbox-mini .form-field-checkbox [type="checkbox"]:checked + span:before {
 	left:-1px;
 	top: -2px;
 	width: 1.309em;
 	height: 1.309em;
 	border-width: 1px;
 	border-style: solid;
 	border-color: transparent;
 	border-radius: 3px;
 	transition: background-color 0.2s;
 }

 .checkbox-mini .form-field-checkbox.possible-values [type="checkbox"]:not(:checked) + span:before,
 .checkbox-mini .form-field-checkbox.possible-values [type="checkbox"]:checked + span:before {
 	top: -12px;
 }

 .select-all-checkbox [type="checkbox"]:not(:checked) + span:before,
 .select-all-checkbox [type="checkbox"]:checked + span:before {
 	left: 0;
 	top: 0;
 	width: 1em;
 	height: 1em;
 }

 .form-field-checkbox .text-status-constraint {
 	top: 1.618em;
 	left: -0.309em;
 }

 /* on checked */

 .checkbox-mini .form-field-checkbox input[type="checkbox"]:checked + span:after {
 	position: absolute;
 	content: '\f00c';
 	top: 0;
 	left: 2px;
 	transition: all .3s ease 0s;
 }

 .checkbox-mini .form-field-checkbox.possible-values input[type="checkbox"]:checked + span:after {;
 	top: -10px;
 }

 td .form-field-checkbox {
 	margin: auto;
 }

 .form-field-multiple-checkbox .spacer { margin-bottom: 0.309em;}

 /* --- checkbox --- */
 .custom-checkbox .form-field-checkbox {
 	height: 2.618em;
 	position: relative;
	display: inline-block;
 }

 .custom-checkbox .form-field-checkbox [type="checkbox"]:not(:checked),
 .custom-checkbox .form-field-checkbox [type="checkbox"]:checked {
 	opacity: 0;
 }

 .custom-checkbox .form-field-checkbox [type="checkbox"]:not(:checked) + span,
 .custom-checkbox .form-field-checkbox [type="checkbox"]:checked + span {
 	cursor: pointer;
 	position: relative;
 	width: 60px;
    display: block;
 }

 .custom-checkbox .form-field-checkbox [type="checkbox"]:disabled + span { cursor: not-allowed;;}

 .custom-checkbox .form-field-checkbox [type="checkbox"]:not(:checked) + span:before,
 .custom-checkbox .form-field-checkbox [type="checkbox"]:checked + span:before,
 .custom-checkbox .form-field-checkbox [type="checkbox"]:not(:checked) + span:after,
 .custom-checkbox .form-field-checkbox [type="checkbox"]:checked + span:after {
 	content: '';
 	position: absolute;
 }

 .custom-checkbox .form-field-checkbox [type="checkbox"]:not(:checked) + span:before,
 .custom-checkbox .form-field-checkbox [type="checkbox"]:checked + span:before {
 	left:0;
 	top: -1em;
 	width: 100%;
 	height: 1.618em;
 	transition: all 0.2s;
 	border-width: 1px;
 	border-style: solid;
 	border-color: transparent;
 }

 .custom-checkbox .form-field-checkbox [type="checkbox"]:not(:checked) + span:after,
 .custom-checkbox .form-field-checkbox [type="checkbox"]:checked + span:after {
 	top: -1em;
 	content: 'O';
 	text-align: center;
 	padding: 0.1618em 0;
 	left: 0;
 	width: calc(50% + 1px);
 	transition: all 0.3s;
 }

 .custom-checkbox .form-field-checkbox [type="checkbox"]:checked + span:after {
 	content: 'I';
 }

 /* on checked */
 .custom-checkbox .form-field-checkbox [type="checkbox"]:checked + span:after {
 	left: calc(50% + 1px);
 }

 .custom-checkbox .form-field-checkbox .text-status-constraint {
 	top: 70%;
 	left: -0.309em;
 }

 /* --- admin-element checkbox --- */
 .form-field.multiple-checkbox-container {
 	display: inline-block;
 	width: 1.309em;
 	height: 1em;
 	margin: 0 0.309em 0 0;
 }

.form-field-checkbox label {
	display: block;
}

.inline-checkbox .form-field-checkbox {
	display: inline-block;
}
