/*
 * Copy this file in your theme to customize the module.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
 *
 * Contains all elements colors
*/

/* --- shape ---------------------------------------------------------------- */
body {
	background-color: #FFFFFF;
    color: #555555;
}

.bgc-main	{ background-color: #FFFFFF; }
.bkgd-sub   { background-color: #ECF2F8; }
.bgc-title	{ background-color: #afd2fa; color: #FFFFFF; }

#footer       { border-color: #366493; }
.footer-infos { border-color: #366493; }

.scroll-to   	 { background-color: #366493; }
.scroll-to:hover { background-color: #4E8EC1; }
.scroll-to i 	 { color: #FFFFFF; }

.robot { color: #E9573F; }

/* --- Content -------------------------------------------------------------- */
/* --- Cookies --- */
.cookiebar-container { background-color: #ECF2F8; }

/* --- Pagination --- */
.pagination-item a { border-color: #BDC2C9; }

.pagination-item a:hover:not(.current-page) {
	background-color: #4E8EC1;
	color: #FFFFFF;
}

.pagination-item a:active {
	background-color: #ECF2F8;
	border-color: #BDC2C9;
}

.pagination-item a.current-page {
	border-color: #366493;
	background-color: rgba(54, 100, 147, 0.3);
}

/* --- Explorer --- */
.explorer .content { border-color: #BDC2C9; }

.explorer .content ul a:not(.parent):hover { background-color: rgba(54, 100, 147, 0.2); }

.explorer .selected { background-color: rgba(54, 100, 147, 0.2); }

/* --- Options --- */
.options {
	background-color: #ECF2F8;
	border-color: #BDC2C9;
}

/* --- Progress bar --- */
.progressbar-container { background-color: #ECF2F8; }

.progressbar-container .progressbar { background-color: #2ABA66; }

/* --- Notation --- */
.notation .star-width:before,
.notation .star,
.static-notation .star { color: #E0C341; }

/* --- Sortables --- */
.sortable-element { border-color: #BDC2C9; }
.sortable-element:hover { background-color: rgba(54, 100, 147, 0.05); }

.sortable-selector:after { color: #366493; }

.dragged { box-shadow: 0 2px 4px rgba(54, 100, 147, 0.5) !important; }

.dropzone { border-color: rgba(54, 100, 147, 0.5); }

/* --- Messages --- */
.message-header-container { background-color: #ECF2F8; }

.message-header-container,
.message-content,
.message-footer-container,
.message-user-sign { border-color: #BDC2C9; }

.current-user-message.message-content,
.current-user-message.message-footer-container,
.current-user-message.message-user-sign { background-color: #ECF2F8; }

.message-announce     { color: #517BA6; }
.message-announce-new { color: #2ABA66; }

.sharing-element > a { color: #FFFFFF; }

.sharing-element-comments > a { background-color: #AAB2BD; }
.sharing-element-mail > a     { background-color: #366393; }
.sharing-element-print > a    { background-color: #AAB2BD; }
.sharing-element-sms > a      { background-color: #AAB2BD; }

.sharing-element-comments > a:hover { border-color: #AAB2BD; color: #AAB2BD; background-color: rgba(136, 136, 136, 0.4); }
.sharing-element-mail > a:hover     { border-color: #366393; color: #366393; background-color: rgba(54, 99, 147, 0.4); }
.sharing-element-print > a:hover    { border-color: #AAB2BD; color: #AAB2BD; background-color: rgba(136, 136, 136, 0.4); }
.sharing-element-sms > a:hover      { border-color: #AAB2BD; color: #AAB2BD; background-color: rgba(136, 136, 136, 0.4); }

.actions-menu.opened .actions-title {
	background-color: #FFFFFF;
	box-shadow: 0 0 5px rgba(54, 100, 147, 0.1);
}

.actions-submenu {
	background-color: #FFFFFF;
	box-shadow: 0 4px 5px rgba(54, 100, 147, 0.1);
}

.action:hover { background-color: rgba(54, 100, 147, 0.1); }

/* --- Form ----------------------------------------------------------------- */
.button {
	background-color: #FFFFFF;
	border-color: #366493;
	color: #366493;
}

.button:hover {
	border-color: #4E8EC1;
	color: #4E8EC1;
}

.button:active {
	background-color: rgba(54, 100, 147, 0.1);
}

.button.reset,
.reset {
	background-color: #FFFFFF;
	border-color: #323133;
	color: #323133;
}

.button.reset:hover,
.reset:hover {
	border-color: #676773;
	color: #676773;
}

.button.reset:active,
.reset:active {
	background-color: rgba(50, 49, 51, 0.1);
}

.button.submit,
.submit {
    background-color: #366493;
    border-color: #FFFFFF;
	color: #FFFFFF;
}

.button.submit:hover,
.submit:hover {
	background-color: #4E8EC1;
}

.button.submit:active,
.submit:active { background-color: #366493; }

.button.alt-submit,
.alt-submit {
	background-color: #6A50A7;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.button.alt-submit:hover,
.alt-submit:hover {
	background-color: #ACA0FA;
}

.button.alt-submit:active,
.alt-submit:active {
	background-color: #6A50A7;
}

.button.alt-button,
.alt-button {
	background-color: #E0C341;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.button.alt-button:hover,
.alt-button:hover {
	background-color: #E8E15F;
}

.button.alt-button:active,
.alt-button:active {
	background-color: #E0C341;
}

optgroup { border-color: #BDC2C9; }

legend { border-color: #BDC2C9; }

.grouped-element { border-color: #BDC2C9; }

/* --- Input --- */
[type=text],
[type=email],
[type=url],
[type=number],
[type=color],
[type=tel],
[type=search],
[type=password],
[type=file],
textarea,
select {
	background-color: #ECF2F8;
	border-color: #BDC2C9;
	color: #555555;
}

[type=text]:hover,
[type=email]:hover,
[type=url]:hover,
[type=number]:hover,
[type=color]:hover,
[type=tel]:hover,
[type=search]:hover,
[type=password]:hover,
[type=file]:hover,
textarea:hover,
select:hover { background-color: #ECF2F8; }

[type=text]:focus,
[type=email]:focus,
[type=url]:focus,
[type=number]:focus,
[type=color]:focus,
[type=tel]:focus,
[type=search]:focus,
[type=password]:focus,
[type=file]:focus,
textarea:focus,
select:focus { background-color: #ECF2F8; }

.label-time:after { background-color: #FFFFFF; }

[disabled],
[disabled]:hover {
	background-color: #BDC2C9;
	border-color: #AAB2BD;
}

[readonly],
[readonly]:hover {
	background-color: #FFFFFF;
	border-color: #AAB2BD;
	color: #AAB2BD;
}

.autocomplete-suggestion {
	background-color: #FFFFFF;
	border-color: #BDC2C9;
}

.xmlhttprequest-result-search {
	background-color: #FFFFFF;
	border-color: #BDC2C9;
}

/* --- Upload --- */
.dnd-dropzone {
	border-color: #BDC2C9;
	background-color: #FFFFFF;
}

.dnd-dropzone.dragover { border-color: #366493; }

.ulist li {
    background-color: #FFFFFF;
    border-color: #BDC2C9;
}

.dnd-dropzone .filename { color: #555555; }

.upload-address-bar {
	background-color: #FFFFFF;
	border-color: #BDC2C9;
}

/* --- Constraint --- */
form input:focus:invalid,
form textarea:focus:invalid,
form .constraint-status-error input,
form .constraint-status-error textarea { border-color: #BF263C; }

form input:focus:valid,
form textarea:focus:valid,
form .constraint-status-right input,
form .constraint-status-right textarea { border-color: #2ABA66; }

.field-required:after { color: #BF263C; }

.constraint-status-error input,
.constraint-status-error textarea {
	border-color: #BF263C;
	background-color: rgba(191, 38, 60, 0.2);
}

.constraint-status-error input:hover,
.constraint-status-error input:focus,
.constraint-status-error textarea:hover,
.constraint-status-error textarea:focus {
	border-color: #BF263C;
	background-color: rgba(191, 38, 60, 0.2);
}

.text-status-constraint {
	background-color: #FFFFFF;
	border-color: #BF263C;
	color: #BF263C;
}

.text-status-constraint:before,
.text-status-constraint:after { border-bottom-color: #BF263C; }

.constraint-status-right .picture-status-constraint:after { color: #2ABA66; }

.constraint-status-error i.picture-status-constraint { color: #BF263C; }

.constraint-status-right .form-field-multi-select select {
	border-color: rgba(42, 186, 102, 0.3);
	box-shadow: 0 0 5px rgba(42, 186, 102, 0.1);
}

/* --- linedwrap --- */
.linedtextarea { background-color: #FFFFFF; }

.linedwrap .lines {
	background-color: #FFFFFF;
	border-color: #BDC2C9;
}

.linedwrap .codelines .lineno { color: #AAB2BD; }

.linedwrap .codelines .lineselect { color: #BF263C; }

/* -- table.css ------------------------------------------------------------- */
table caption { border-color: #BDC2C9; }

thead th,
.formatter-table .formatter-table-head {
	background-color: #366493;
	color: #FFFFFF;
	border-color: #366493;
}

thead th a,
.formatter-table .formatter-table-head a { color: #FFFFFF; }

td,
.bordered-table td { border-color: #BDC2C9; }

.html-table-header-sortable:hover a,
.html-table-header-sortable.sort-active a {
	background-color: #FFFFFF;
	color: #366493;
}

.calendar-block table.date-picker th { border-color: #BDC2C9; }

.calendar-block .date-select-nav:hover,
.calendar-block .date-picker td:hover,
.calendar-block .date-picker  td.calendar-event { background-color: rgba(54, 100, 147, 0.4); }

td.calendar-none    { background-color: transparent; }
td.calendar-today   { background-color: rgba(0, 102, 204, 0.2); }
td.calendar-weekend { background-color: rgba(54, 100, 147, 0.1); }

.calendar-table a:hover { background-color: rgba(54, 100, 147, 0.1); }

.label-time:after { background-color: #FFFFFF; }
.calendar-container > a { background-color: #ECF2F8; }

/* --- Font Awesome icons --------------------------------------------------- */
.user-locked .fa-user-lock:before   { color: #BF263C; }
.user-unlocked .fa-user-lock:before { color: #2ABA66; }
.fa-male:before             { color: #8DC3E9; }
.fa-female:before           { color: #F49CC4; }

.fa-announce:before,
.fa-announce-hot:before     { color: #4E8EC1; }
.fa-announce-new:before,
.fa-announce-new-hot:before { color: #2ABA66; }

/* --- Alerts --------------------------------------------------------------- */
.floating-element,
.message-helper { background-color: #FFFFFF }

.notice        { color: #AAB2BD; border-color: #AAB2BD; }
.question      { color: #3BAFDA; border-color: #3BAFDA; }
.success       { color: #2ABA66; border-color: #2ABA66; }
.warning       { color: #E9573F; border-color: #E9573F; }
.error         { color: #BF263C; border-color: #BF263C; }
.member        { color: #37BC9B; border-color: #37BC9B; }
.moderator     { color: #967ADC; border-color: #967ADC; }
.administrator { color: #323133; border-color: #323133; }

.notice:hover        { color: #BDC2C9; border-color: #BDC2C9;}
.question:hover      { color: #4FD2FA; border-color: #4FD2FA;}
.success:hover       { color: #2EDC82; border-color: #2EDC82;}
.warning:hover       { color: #FC7D5F; border-color: #FC7D5F;}
.error:hover         { color: #DA4453; border-color: #DA4453;}
.member:hover        { color: #48DEBE; border-color: #48DEBE;}
.moderator:hover     { color: #ACA0FA; border-color: #ACA0FA;}
.administrator:hover { color: #676773; border-color: #676773;}

.bgc.notice        { background-color: rgba(170, 178, 189, 0.2); }
.bgc.question      { background-color: rgba(59, 175, 218, 0.2); }
.bgc.success       { background-color: rgba(42, 186, 102, 0.2); }
.bgc.warning       { background-color: rgba(233, 87, 63, 0.2); }
.bgc.error         { background-color: rgba(191, 38, 60, 0.2); }
.bgc.member        { background-color: rgba(72, 252, 173, 0.2); }
.bgc.moderator     { background-color: rgba(150, 122, 221, 0.2); }
.bgc.administrator { background-color: rgba(50, 49, 51, 0.2); }

.bgc-full,
.bgc-full:hover	{ color: #FFFFFF; }

.bgc-full.notice        { background-color: #AAB2BD; border-color: #AAB2BD;}
.bgc-full.question      { background-color: #3BAFDA; border-color: #3BAFDA;}
.bgc-full.success       { background-color: #2ABA66; border-color: #2ABA66;}
.bgc-full.warning       { background-color: #E9573F; border-color: #E9573F;}
.bgc-full.error         { background-color: #BF263C; border-color: #BF263C;}
.bgc-full.member        { background-color: #37BC9B; border-color: #37BC9B;}
.bgc-full.moderator     { background-color: #967ADC; border-color: #967ADC;}
.bgc-full.administrator { background-color: #323133; border-color: #323133;}

.bgc-full:hover.notice        { background-color: #BDC2C9; }
.bgc-full:hover.question      { background-color: #4FD2FA; }
.bgc-full:hover.success       { background-color: #2EDC82; }
.bgc-full:hover.warning       { background-color: #FC7D5F; }
.bgc-full:hover.error         { background-color: #DA4453; }
.bgc-full:hover.member        { background-color: #48DEBE; }
.bgc-full:hover.moderator     { background-color: #ACA0FA; }
.bgc-full:hover.administrator { background-color: #676773; }

.authorized-reader.member        { border-color: #48DEBE; }
.authorized-reader.moderator     { border-color: #ACA0FA; }
.authorized-reader.administrator { border-color: #323133; }

/* --- formatter & bbcode --------------------------------------------------- */
.bbcode-bar {
	background-color: #ECF2F8;
	border-color: #BDC2C9 !important;
}

.bbcode-button { color: #366493; }

.bbcode-button:hover {
	color: #4E8EC1;
	background-color: rgba(0, 102, 204, 0.2);
}

.formatter-content {
	background-color: #ECF2F8;
	border-color: #BDC2C9;
}

h2.formatter-title,
h3.formatter-title { border-color: #366393; }

.copy-code-content span[style*="color: #0000FF;"] {color: #AAB2BD !important;}
.copy-code-content span[style*="color: #000080;"] {color: #91367a !important;}
.copy-code-content span[style*="color: #8000FF;"] {color: #917a36 !important;}
.copy-code-content span[style*="color: #808080;"] {color: #369163 !important;}
.copy-code-content span[style*="color: #008000;"] {color: #2ABA66 !important;}

.formatter-hide .formatter-hide-message {
	background-color: rgba(54, 100, 147, 0.15);
	border-color: rgba(54, 100, 147, 0.4);
}

/* --- Highlighted text --- */
.highlight-search-word {
	background-color: #FFFF00;
	color: #000000;
}

/* -- cssmenu.css ----------------------------------------------------------- */
.cssmenu ul ul,
.cssmenu-actionslinks > ul {
	background-color: #FFFFFF;
	box-shadow: 0 0 10px rgba(54, 100, 147, 0.1);
}

@media (min-width: 769px) {
	.cssmenu ul > li:hover > .cssmenu-title  { background-color: rgba(54, 100, 147, 0.1); }
	.cssmenu ul > li.current > .cssmenu-title  { background-color: rgba(54, 100, 147, 0.1); }

	.cssmenu-group .cssmenu-title {
		border-color: #366493;
	}

	.cssmenu-group .cssmenu-title:hover  {
		border-color: #4E8EC1;
	}
}

.cssmenu-static ul ul {
	background-color: transparent ;
    box-shadow: 0 0 0 transparent;
}

.small-screen.cssmenu ul ul,
.small-screen.cssmenu-actionslinks ul { box-shadow: 0 0 0 transparent; }

.small-screen.cssmenu ul ul,
.small-screen.cssmenu-actionslinks ul { background-color: transparent; }

.cssmenu-actionslinks .menu-button:after {
	border-color: rgba(54, 100, 147, 0.4);
	background-color: rgba(54, 100, 147, 0.1);
}

.cssmenu-actionslinks:hover .menu-button:after {
	background-color: #FFFFFF;
}

.cssmenu-actionslinks.small-screen .menu-button:after {
	background-color: transparent;
	border-color: transparent;
}

.cssmenu-actionslinks ul li:hover > .cssmenu-title:after { background-color: #323133;	}

/* --- indicateur de sous-Menu --- */
.cssmenu .has-sub > .cssmenu-title:after,
.cssmenu .has-sub > .cssmenu-title:before { color: #555555; }

.small-screen .menu-button.menu-opened:after,
.small-screen .submenu-button.submenu-opened:after { background-color: rgba(54, 100, 147, 0.1); }


/* --- lightcase --- */
a[class*='lightcase-icon-'], a[class*='lightcase-icon-']:focus { color: rgba(255, 255, 255, 0.2); }

a[class*='lightcase-icon-']:hover {
    color: #FFFFFF;
    text-shadow: 0 0 0.618em #FFFFFF;
}

.lightcase-isMobileDevice a[class*='lightcase-icon-']:hover { color: #BDC2C9; }

#lightcase-case { text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

@media screen and (min-width: 641px) {
    html:not([data-lc-type=error]) #lightcase-content {
        background-color: #FFFFFF;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }
}

@media screen and (min-width: 641px) {
    html[data-lc-type=image] #lightcase-content,
	html[data-lc-type=video] #lightcase-content { background-color: #323133; }
}

#lightcase-content h1,
#lightcase-content h2,
#lightcase-content h3,
#lightcase-content h4,
#lightcase-content h5,
#lightcase-content h6,
#lightcase-content p { color: #323133; }

#lightcase-case p.lightcase-error { color: #BF263C; }

#lightcase-info #lightcase-title { color: #FFFFFF; }

#lightcase-info #lightcase-caption { color: #FFFFFF; }

#lightcase-info #lightcase-sequenceInfo { color: #FFFFFF; }

#lightcase-loading { text-shadow: 0 0 0.618em #FFFFFF; }

#lightcase-loading,
#lightcase-loading:focus { color: #FFFFFF; }

#lightcase-overlay { background-color: #323133; }

/* --- plugins --- */
.accordion-container > nav > ul > li > a {
    border-color: #366493;
    background-color: rgba(54, 100, 147, 0.2);
}
.accordion .content-panel { border-color: #BDC2C9; }

.close-modal { color: #FFFFFF; }

.modal { background-color: rgba(0, 0, 0, 0.5); }
.modal .content-panel { background-color: #FFFFFF; }

.tabs-container > nav > ul > li a.active-tab { background-color: rgba(54, 100, 147, 0.2); }

#tooltip {
	border-color: #BDC2C9;
	background-color: #FFFFFF;
}

.wizard-container .wizard-header li .completed-step {
  	background-color: #2ABA66;
	color: #FFFFFF;
}

.wizard-container .wizard-header .progress { background-color: rgba(54, 100, 147, 0.1); }

/* -- global ---------------------------------------------------------------- */
/* --- cell --- */
.cell-tile .cell-header,
.cell-tile .cell-body,
.cell-tile .cell-list,
.cell-tile .cell-table,
.cell-tile .cell-form,
.cell-tile .cell-textarea,
.cell-tile .cell-footer {
	background-color: #ECF2F8;
	border-color: #BDC2C9;
}

.cell-mini [class*="cell-"] { background-color: transparent; }

.no-style .cell-header,
.no-style .cell-body,
.no-style .cell-list,
.no-style .cell-table,
.no-style .cell-footer {
	background-color: transparent !important;
	border-color: transparent !important;
}

.new-content .cell-header { border-left-color: #37BC9B; }

.not-compatible .cell-header,
.not-compatible .cell-body,
.not-compatible .cell-list,
.not-compatible .cell-footer { border-color: #BF263C; }

.cell-thumbnail-caption { background-color: rgba(0, 0, 0, 0.5); }

.cell-thumbnail-caption:hover { color: #FFFFFF; }

.cell-modal .content-panel.cell { background-color: transparent; }

a,
.link-color {
	color: #366493;
	border-color: #366493;
}
.bgc.link-color { background-color: rgba(54, 100, 147, 0.2);}
.bgc-full.link-color { background-color: #366493; color: #FFFFFF}

a:hover,
.link-color:hover {
	color: #4E8EC1;
	border-color: #4E8EC1;
}
.bgc.link-color:hover { background-color: rgba(0, 102, 204, 0.3);}
.bgc-full:hover.link-color { color: #FFFFFF}

.dropdown-container {
	background-color: #FFFFFF;
	border: 1px solid #BDC2C9;
	box-shadow: 0 3px 6px #BBBBBB;
}

hr { background-color: #BDC2C9; }

figure { border-color: #BDC2C9; }

abbr,
a.wikipedia-link { border-bottom-color: #366493; }

.user-card {
	background-color: #EFEFEF;
	border-color: #BDC2C9;
}

.infos-container { border-color: #366493; }

.user-level {
	background-color: #366493;
	color: #FFFFFF;
}
