/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
 * Contains all elements colors
*/

/* --- shape ---------------------------------------------------------------- */

::selection {
	background-color: var(--main-dark);
	color: var(--txt-light);
}

body {
	background-color: var(--bgc-main);
    color: var(--txt-dark);
}

.bgc-main	{ background-color: var(--bgc-main); }
.bgc-sub    { background-color: var(--bgc-alt); }
.bgc-title	{ background-color: var(--main-light); color: var(--txt-light); }

#footer       { border-color: var(--main-dark); }
.footer-infos { border-color: var(--main-dark); }

.scroll-to   	 { background-color: var(--main-dark); }
.scroll-to:hover { background-color: var(--main-light); }
.scroll-to i 	 { color: var(--txt-light); }

.robot { color: var(--warning-dark); }

/* --- Content -------------------------------------------------------------- */
/* --- Cookies --- */
.cookiebar-container { background-color: var(--bgc-alt); }

/* --- Pagination --- */
.pagination-item a { border-color: var(--bdr-main); }

.pagination-item a:hover:not(.current-page) {
	background-color: var(--main-light);
	color: var(--txt-light);
}

.pagination-item a:active {
	background-color: var(--bgc-alt);
	border-color: var(--bdr-main);
}

.pagination-item a.current-page {
	border-color: var(--main-dark);
	background-color: rgba(var(--main-rgb-d), 0.3);
}

/* --- Explorer --- */
.explorer .content { border-color: var(--bdr-main); }

.explorer .content ul a:not(.parent):hover { background-color: rgba(var(--main-rgb-d), 0.2); }

.explorer .selected { background-color: rgba(var(--main-rgb-d), 0.2); }

/* --- Options --- */
.options {
	background-color: var(--bgc-alt);
	border-color: var(--bdr-main);
}

/* --- publication status --- */
.published { color: var(--success-dark); }
.draft 	   { color: var(--notice-dark); }
.waiting   { color: var(--warning-dark); }


/* --- Progress bar --- */
.progressbar-container { background-color: var(--bgc-alt); }

.progressbar-container .progressbar { background-color: var(--success-dark); }

/* --- Notation --- */
.notation .star-width:before,
.notation .star,
.static-notation .star { color: var(--star-dark); }

/* --- Sortables --- */
.sortable-element { border-color: var(--bdr-main); }
.sortable-element:hover { background-color: rgba(var(--main-rgb-d), 0.05); }

.sortable-selector:after { color: var(--main-dark); }

.dragged { box-shadow: 0 2px 4px rgba(var(--main-rgb-d), 0.5) !important; }

.dropzone { border-color: rgba(var(--main-rgb-d), 0.5); }

/* --- Messages --- */
.message-header-container { background-color: var(--bgc-alt); }

.message-header-container,
.message-content,
.message-footer-container,
.message-user-sign { border-color: var(--bdr-main); }

.current-user-message.message-content,
.current-user-message.message-footer-container,
.current-user-message.message-user-sign { background-color: var(--bgc-alt); }

.message-announce     { color: var(--question-dark); }
.message-announce-new { color: var(--success-dark); }

.sharing-element > a { color: var(--txt-light); }

.sharing-element-comments > a { background-color: var(--notice-dark); }
.sharing-element-mail > a     { background-color: var(--main-dark); }
.sharing-element-print > a    { background-color: var(--notice-dark); }
.sharing-element-sms > a      { background-color: var(--notice-dark); }

.sharing-element-comments > a:hover { border-color: var(--notice-dark); color: var(--notice-dark); background-color: rgba(var(--notice-rgb-d), 0.4); }
.sharing-element-mail > a:hover     { border-color: var(--main-dark); color: var(--main-dark); background-color: rgba(var(--main-rgb-d), 0.4); }
.sharing-element-print > a:hover    { border-color: var(--notice-dark); color: var(--notice-dark); background-color: rgba(var(--notice-rgb-d), 0.4); }
.sharing-element-sms > a:hover      { border-color: var(--notice-dark); color: var(--notice-dark); background-color: rgba(var(--notice-rgb-d), 0.4); }

.actions-menu.opened .actions-title {
	background-color: var(--bgc-main);
	box-shadow: 0 0 5px rgba(var(--main-rgb-d), 0.1);
}

.actions-submenu {
	background-color: var(--bgc-main);
	box-shadow: 0 4px 5px rgba(var(--main-rgb-d), 0.1);
}

.action:hover { background-color: rgba(var(--main-rgb-d), 0.1); }

/* --- Form ----------------------------------------------------------------- */
.button {
	background-color: var(--bgc-main);
	border-color: var(--main-dark);
	color: var(--main-dark);
}

.button:hover {
	border-color: var(--main-light);
	color: var(--main-light);
}

.button:active {
	background-color: rgba(var(--main-rgb-d), 0.1);
}

.button.reset-button,
.reset-button {
	background-color: var(--bgc-main);
	border-color: var(--notice-dark);
	color: var(--notice-dark);
}

.button.reset-button:hover,
.reset-button:hover {
	border-color: var(--notice-light);
	color: var(--notice-light);
}

.button.reset-button:active,
.reset-button:active {
	border-color: var(--notice-dark);
	color: var(--notice-dark);
}

.button.alt-button,
.alt-button {
	background-color: var(--star-dark);
	border-color: var(--star-dark);
	color: var(--txt-light);
}

.button.alt-button:hover,
.alt-button:hover {
	background-color: var(--star-light);
}

.button.alt-button:active,
.alt-button:active {
	background-color: var(--star-dark);
}

.button.submit,
.submit {
    background-color: var(--main-dark);
    border-color: var(--main-dark);
	color: var(--txt-light);
}

.button.submit:hover,
.submit:hover {
	background-color: var(--main-light);
	color: var(--txt-light);
}

.button.submit:active,
.submit:active { background-color: var(--main-dark); }

.button.alt-submit,
.alt-submit {
	background-color: var(--moderator-dark);
	border-color: var(--moderator-dark);
	color: var(--txt-light);
}

.button.alt-submit:hover,
.alt-submit:hover {
	background-color: var(--moderator-light);
}

.button.alt-submit:active,
.alt-submit:active {
	background-color: var(--moderator-dark);
}

optgroup { border-color: var(--bdr-main); }

select[multiple] option:checked {
	background-image: linear-gradient(0deg, var(--main-dark) 0%, var(--main-dark) 100%);
	color: var(--txt-light);
}

select[multiple] option[disabled] { color: var(--error-dark); }

legend { border-color: var(--bdr-main); }

.grouped-element { border-color: var(--bdr-main); }

/* --- Input --- */
[type=text],
[type=email],
[type=url],
[type=number],
[type=color],
[type=tel],
[type=search],
[type=password],
[type=file],
textarea,
select {
	background-color: var(--bgc-alt);
	border-color: var(--bdr-alt);
	color: var(--txt-dark);
}

[type=text]:hover,
[type=email]:hover,
[type=url]:hover,
[type=number]:hover,
[type=color]:hover,
[type=tel]:hover,
[type=search]:hover,
[type=password]:hover,
[type=file]:hover,
textarea:hover,
select:hover { background-color: var(--bgc-alt); }

[type=text]:focus,
[type=email]:focus,
[type=url]:focus,
[type=number]:focus,
[type=color]:focus,
[type=tel]:focus,
[type=search]:focus,
[type=password]:focus,
[type=file]:focus,
textarea:focus,
select:focus { background-color: var(--bgc-alt); }

[disabled],
[disabled]:hover {
	border-color: var(--notice-dark);
}

[readonly],
[readonly]:hover {
	background-color: var(--bgc-main);
	border-color: var(--notice-dark);
	color: var(--notice-dark);
}

.autocomplete-suggestion {
	background-color: var(--bgc-main);
	border-color: var(--bdr-main);
}

.xmlhttprequest-result-search {
	background-color: var(--bgc-main);
	border-color: var(--bdr-main);
}

/* --- Upload --- */
.dnd-dropzone {
	border-color: var(--bdr-main);
	background-color: var(--bgc-main);
}

.dnd-dropzone.dragover { border-color: var(--main-dark); }

.ulist li {
    background-color: var(--bgc-main);
    border-color: var(--bdr-main);
}

.dnd-dropzone .filename { color: var(--txt-dark); }

.upload-address-bar {
	background-color: var(--bgc-main);
	border-color: var(--bdr-main);
}

/* --- Constraint --- */
form input:focus:invalid,
form textarea:focus:invalid,
form .constraint-status-error input,
form .constraint-status-error textarea { border-color: var(--error-dark); }

form input:focus:valid,
form textarea:focus:valid,
form .constraint-status-right input,
form .constraint-status-right textarea { border-color: var(--success-dark); }

.field-required:after { color: var(--error-dark); }

.constraint-status-error input,
.constraint-status-error textarea {
	border-color: var(--error-dark);
	background-color: rgba(var(--error-rgb-d), 0.2);
}

.constraint-status-error input:hover,
.constraint-status-error input:focus,
.constraint-status-error textarea:hover,
.constraint-status-error textarea:focus {
	border-color: var(--error-dark);
	background-color: rgba(var(--error-rgb-d), 0.2);
}

.text-status-constraint {
	background-color: var(--bgc-main);
	border-color: var(--error-dark);
	color: var(--error-dark);
}

.text-status-constraint:before,
.text-status-constraint:after { border-bottom-color: var(--error-dark); }

.constraint-status-right .picture-status-constraint:after { color: var(--success-dark); }

.constraint-status-error i.picture-status-constraint { color: var(--error-dark); }

.constraint-status-right .form-field-multi-select select {
	border-color: rgba(var(--success-rgb-d), 0.3);
	box-shadow: 0 0 5px rgba(var(--success-rgb-d), 0.1);
}

/* --- linedwrap --- */
.linedtextarea { background-color: var(--bgc-main); }

.linedwrap .lines {
	background-color: var(--bgc-main);
	border-color: var(--bdr-main);
}

.linedwrap .codelines .lineno { color: var(--notice-dark); }

.linedwrap .codelines .lineselect { color: var(--error-dark); }

/* -- table.css ------------------------------------------------------------- */
table caption { border-color: var(--bdr-main); }

thead th,
.formatter-table .formatter-table-head {
	background-color: var(--main-dark);
	color: var(--txt-light);
	border-color: var(--main-dark);
}

thead th a,
.formatter-table .formatter-table-head a { color: var(--txt-light); }

td,
.bordered-table td { border-color: var(--bdr-main); }

.html-table-header-sortable:hover a,
.html-table-header-sortable.sort-active a {
	background-color: var(--bgc-main);
	color: var(--main-dark);
}

.calendar-block table.date-picker th { border-color: var(--bdr-main); }

.calendar-block .date-select-nav:hover,
.calendar-block .date-picker td:hover,
.calendar-block .date-picker  td.calendar-event { background-color: rgba(var(--main-rgb-d), 0.4); }

td.calendar-none    { background-color: transparent; }
td.calendar-today   { background-color: rgba(var(--main-rgb-d), 0.2); }
td.calendar-weekend { background-color: rgba(var(--main-rgb-d), 0.1); }

.calendar-table a:hover { background-color: rgba(var(--main-rgb-d), 0.1); }

.calendar-container > a { background-color: var(--bgc-alt); }

/* --- Font Awesome icons --------------------------------------------------- */
.user-locked .fa-user-lock:before   { color: var(--error-dark); }
.user-unlocked .fa-user-lock:before { color: var(--success-dark); }
.fa-male:before             { color: #8DC3E9; }
.fa-female:before           { color: #F49CC4; }

.fa-announce:before,
.fa-announce-hot:before     { color: var(--main-light); }
.fa-announce-new:before,
.fa-announce-new-hot:before { color: var(--success-dark); }

/* --- formatter & bbcode --------------------------------------------------- */
.bbcode-bar {
	background-color: var(--bgc-alt);
	border-color: var(--bdr-main) !important;
}

.bbcode-button { color: var(--main-dark); }

.bbcode-button:hover {
	color: var(--main-light);
	background-color: rgba(var(--main-rgb-d), 0.2);
}

.formatter-content {
	background-color: var(--bgc-alt);
	border-color: var(--bdr-main);
}

h2.formatter-title,
h3.formatter-title { border-color: var(--main-dark); }

.copy-code-content span[style*="color: #0000FF;"] {color: var(--notice-dark) !important;}
.copy-code-content span[style*="color: #000080;"] {color: #91367a !important;}
.copy-code-content span[style*="color: #8000FF;"] {color: #917a36 !important;}
.copy-code-content span[style*="color: #808080;"] {color: #369163 !important;}
.copy-code-content span[style*="color: #008000;"] {color: var(--success-dark) !important;}

.formatter-hide .formatter-hide-message {
	background-color: rgba(var(--main-rgb-d), 0.15);
	border-color: rgba(var(--main-rgb-d), 0.4);
}

/* --- Highlighted text --- */
.highlight-search-word {
	background-color: var(--star-dark);
}

/* -- cssmenu.css ----------------------------------------------------------- */
.cssmenu ul ul,
.cssmenu-actionslinks > ul {
	background-color: var(--bgc-main);
	box-shadow: 0 0 10px rgba(var(--main-rgb-d), 0.1);
}

@media (min-width: 769px) {
	.cssmenu ul > li:hover > .cssmenu-title  { background-color: rgba(var(--main-rgb-d), 0.1); }
	.cssmenu ul > li.current > .cssmenu-title  { background-color: rgba(var(--main-rgb-d), 0.1); }

	.cssmenu-group .cssmenu-title {
		border-color: var(--main-dark);
	}

	.cssmenu-group .cssmenu-title:hover  {
		border-color: var(--main-light);
	}
}

.cssmenu-static ul ul {
	background-color: transparent ;
    box-shadow: 0 0 0 transparent;
}

.cssmenu-select .has-sub > .cssmenu-title {
	background-color: var(--bgc-alt);
	border-color: var(--bdr-main);
	color: var(--txt-dark);
}

.cssmenu-select .has-sub:hover > .cssmenu-title { background-color: var(--bgc-alt); }

.small-screen.cssmenu ul ul,
.small-screen.cssmenu-actionslinks ul { box-shadow: 0 0 0 transparent; }

.small-screen.cssmenu ul ul,
.small-screen.cssmenu-actionslinks ul { background-color: transparent; }

.cssmenu-actionslinks .menu-button:after {
	border-color: rgba(var(--main-rgb-d), 0.4);
	background-color: rgba(var(--main-rgb-d), 0.1);
}

.cssmenu-actionslinks:hover .menu-button:after {
	background-color: var(--bgc-main);
}

.cssmenu-actionslinks.small-screen .menu-button:after {
	background-color: transparent;
	border-color: transparent;
}

.cssmenu-actionslinks ul li:hover > .cssmenu-title:after { background-color: var(--administrator-dark);	}

/* --- indicateur de sous-Menu --- */
.cssmenu .has-sub > .cssmenu-title:after,
.cssmenu .has-sub > .cssmenu-title:before { color: var(--txt-dark); }

.small-screen .menu-button.menu-opened:after,
.small-screen .submenu-button.submenu-opened:after { background-color: rgba(var(--main-rgb-d), 0.1); }

/* --- pushmenu ------------------------------------------------------------- */

/* .pushmenu h2 { color: var(--txt-dark); } */

.pushmenu::after,
.pushmenu .nav-wrapper::after { background-color: rgba(var(--darken), 0.3); }

.pushmenu .nav-container {
	background-color: var(--bgc-main);
}

.pushmenu .nav-item {
    border-color: var(--bdr-main);
}

.pushmenu .nav-item .button.submit,
.pushmenu .nav-item .button.submit:hover,
.pushmenu .nav-item .button.submit:active {
    background-color: transparent;
    border-width: 0;
	color:  var(--main-dark);
}

.pushmenu:not(.touch-device) .nav-item:hover { background-color: rgba(var(--main-rgb-d), 0.1); }

.pushmenu li.nav-close a,
.pushmenu li.nav-back a {
    background-color: rgba(var(--main-rgb-d), 0.2);
}

.pushmenu li.nav-close span::before,
.pushmenu li.nav-close span::after { border-color: var(--txt-dark); }

.pushmenu a[href]:not([href="#"])>span.nav-next { border-color: var(--main-light); }

.pushmenu span.nav-next::before,
.pushmenu li.nav-back span::before { border-color: var(--txt-dark); }

.nav-levels-overlap.nav-position-left.nav-open .nav-wrapper   { box-shadow: 1px 0 2px rgba(var(--darken), 0.2); }
.nav-levels-overlap.nav-position-right.nav-open .nav-wrapper  { box-shadow: -1px 0 2px rgba(var(--darken), 0.2); }
.nav-levels-overlap.nav-position-top.nav-open .nav-wrapper    { box-shadow: 0 1px 2px rgba(var(--darken), 0.2); }
.nav-levels-overlap.nav-position-bottom.nav-open .nav-wrapper { box-shadow: 0 -1px 2px rgba(var(--darken), 0.2); }

.pushmenu.nav-position-left.nav-open > .nav-container > .nav-wrapper   { box-shadow: 1px 0 2px rgba(var(--darken), 0.2); }
.pushmenu.nav-position-right.nav-open > .nav-container > .nav-wrapper  { box-shadow: -1px 0 2px rgba(var(--darken), 0.2); }
.pushmenu.nav-position-top.nav-open > .nav-container > .nav-wrapper    { box-shadow: 0 1px 2px rgba(var(--darken), 0.2); }
.pushmenu.nav-position-bottom.nav-open > .nav-container > .nav-wrapper { box-shadow: 0 -1px 2px rgba(var(--darken), 0.2); }

.pushmenu.nav-levels-expand .nav-container ul .nav-wrapper,
.pushmenu.nav-levels-none .nav-container ul .nav-wrapper {
    box-shadow: none;
    background-color: transparent;
}

.pushmenu.nav-levels-expand .nav-container li.level-open > .nav-item,
.pushmenu.nav-levels-none .nav-container li.level-open > .nav-item { background-color: rgba(var(--main-rgb-d), 0.2); }

.pushmenu.nav-levels-expand .nav-container li.level-open a,
.pushmenu.nav-levels-none .nav-container li.level-open a { border-color: var(--main-light); }

.pushmenu.nav-levels-expand .nav-container li.level-open a:hover,
.pushmenu.nav-levels-none .nav-container li.level-open a:hover { background-color: rgba(var(--main-rgb-d), 0.1); }

.nav-levels-overlap .nav-wrapper { background-color: var(--bgc-main); }

/* --- lightcase --- */
a[class*='lightcase-icon-'], a[class*='lightcase-icon-']:focus { color: rgba(var(--lighten), 0.2); }

a[class*='lightcase-icon-']:hover {
    color: var(--txt-light);
    text-shadow: 0 0 0.618em var(--bgc-main);
}

.lightcase-isMobileDevice a[class*='lightcase-icon-']:hover { color: var(--bdr-main); }

#lightcase-case { text-shadow: 0 0 10px rgba(var(--darken), 0.5); }

@media screen and (min-width: 769px) {
    html:not([data-lc-type=error]) #lightcase-content {
        background-color: var(--bgc-main);
        box-shadow: 0 0 30px rgba(var(--darken), 0.5);
    }
}

@media screen and (min-width: 769px) {
    html[data-lc-type=image] #lightcase-content,
	html[data-lc-type=video] #lightcase-content { background-color: var(--administrator-dark); }
}

#lightcase-content h1,
#lightcase-content h2,
#lightcase-content h3,
#lightcase-content h4,
#lightcase-content h5,
#lightcase-content h6,
#lightcase-content p { color: var(--administrator-dark); }

#lightcase-case p.lightcase-error { color: var(--error-dark); }

#lightcase-info #lightcase-title { color: var(--txt-light); }

#lightcase-info #lightcase-caption { color: var(--txt-light); }

#lightcase-info #lightcase-sequenceInfo { color: var(--txt-light); }

#lightcase-loading { text-shadow: 0 0 0.618em var(--bgc-main); }

#lightcase-loading,
#lightcase-loading:focus { color: var(--txt-light); }

#lightcase-overlay { background-color: var(--administrator-dark); }

/* --- plugins --- */
.accordion-container > .accordion-nav > ul > li > a {
    border-color: var(--main-dark);
    background-color: rgba(var(--main-rgb-d), 0.2);
}

.accordion .content-panel { border-color: var(--bdr-main); }

.close-modal { color: var(--txt-light); }

.modal { background-color: rgba(var(--darken), 0.5); }
.modal .content-panel { background-color: var(--bgc-main); }

.tabs-container > .tabs-nav > ul > li a.active-tab { background-color: rgba(var(--main-rgb-d), 0.2); }

.tooltip {
	border-color: var(--bdr-main);
	background-color: var(--bgc-main);
}

.wizard-container .wizard-header li .completed-step {
  	background-color: var(--success-dark);
	color: var(--txt-light);
}

.wizard-container .wizard-header .progress { background-color: rgba(var(--main-rgb-d), 0.1); }

.wizard-container .wizard-header a:hover {
    color: var(--main-dark);
}

/* -- global ---------------------------------------------------------------- */
/* --- cell --- */
.cell-tile .cell-header,
.cell-tile .cell-infos,
.cell-tile .cell-body,
.cell-tile .cell-list,
.cell-tile .cell-table,
.cell-tile .cell-form,
.cell-tile .cell-textarea,
.cell-tile .cell-footer {
	background-color: var(--bgc-alt);
	border-color: var(--bdr-main);
}

.cell-list li:hover,
.cell-list .current { background-color: rgba(var(--main-rgb-d), 0.1); }

.cell-mini [class*="cell-"] { background-color: transparent; }

.no-style {
	background-color: transparent !important;
	border-color: transparent !important;
}

.new-content .cell-header { border-left-color: var(--member-dark); }

.not-compatible .cell-header,
.not-compatible .cell-body,
.not-compatible .cell-list,
.not-compatible .cell-footer { border-color: var(--error-dark); }

.cell-thumbnail-caption { background-color: rgba(var(--darken), 0.5); }

.cell-thumbnail-caption:hover { color: var(--txt-light); }

.cell-modal .content-panel.cell { background-color: transparent; }

a,
.link-color {
	color: var(--main-dark);
	border-color: var(--main-dark);
}

.bgc.link-color { background-color: rgba(var(--main-rgb-d), 0.2);}

.bgc-full.link-color {
	background-color: var(--main-dark);
	color: var(--txt-light)
}

a:hover,
.link-color:hover {
	color: var(--main-light);
	border-color: var(--main-dark);
}

.link-color-alt {
	color: var(--star-dark);
	border-color: var(--star-dark);
}

.bgc-full:hover.link-color { color: var(--txt-light)}

.bgc.link-color-alt { background-color: rgba(var(--star-rgb-d), 0.2);}

.bgc-full.link-color-alt {
	background-color: var(--star-dark);
	color: var(--txt-light)
}

.link-color-alt:hover {
	color: var(--star-light);
	border-color: var(--star-dark);
}

.bgc-full:hover.link-color-alt { color: var(--txt-light)}

.dropdown-container {
	background-color: var(--bgc-main);
	border-color: var(--bdr-main);
	box-shadow: 0 3px 6px var(--bdr-main);
}

hr { background-color: var(--bdr-main); }

figure { border-color: var(--bdr-main); }

abbr,
a.wikipedia-link { border-bottom-color: var(--main-dark); }

.user-card {
	background-color: var(--bgc-alt);
	border-color: var(--bdr-main);
}

.infos-container { border-color: var(--main-dark); }

.user-level {
	background-color: var(--main-dark);
	color: var(--txt-light);
}

/* --- Colors classes --------------------------------------------------------------- */
.floating-element,
.message-helper { background-color: var(--bgc-main) }

.notice        { color: var(--notice-dark); border-color: var(--notice-dark); }
.question      { color: var(--question-dark); border-color: var(--question-dark); }
.success       { color: var(--success-dark); border-color: var(--success-dark); }
.warning       { color: var(--warning-dark); border-color: var(--warning-dark); }
.error         { color: var(--error-dark); border-color: var(--error-dark); }
.visitor       { color: var(--visitor-dark); border-color: var(--visitor-dark); }
.custom-author { color: var(--custom-author-dark); border-color: var(--custom-author-dark); }
.member        { color: var(--member-dark); border-color: var(--member-dark); }
.moderator     { color: var(--moderator-dark); border-color: var(--moderator-dark); }
.administrator { color: var(--administrator-dark); border-color: var(--administrator-dark); }

.button.notice:hover        { color: var(--notice-light); border-color: var(--notice-light);}
.button.question:hover      { color: var(--question-light); border-color: var(--question-light);}
.button.success:hover       { color: var(--success-light); border-color: var(--success-light);}
.button.warning:hover       { color: var(--warning-light); border-color: var(--warning-light);}
.button.error:hover         { color: var(--error-light); border-color: var(--error-light);}
.button.visitor:hover       { color: var(--visitor-light); border-color: var(--visitor-light);}
.button.custom-author:hover { color: var(--custom-author-light); border-color: var(--custom-author-light);}
.button.member:hover        { color: var(--member-light); border-color: var(--member-light);}
.button.moderator:hover     { color: var(--moderator-light); border-color: var(--moderator-light);}
.button.administrator:hover { color: var(--administrator-light); border-color: var(--administrator-light);}

.bgc.notice        { background-color: rgba(var(--notice-rgb-d), 0.2); }
.bgc.question      { background-color: rgba(var(--question-rgb-d), 0.2); }
.bgc.success       { background-color: rgba(var(--success-rgb-d), 0.2); }
.bgc.warning       { background-color: rgba(var(--warning-rgb-d), 0.2); }
.bgc.error         { background-color: rgba(var(--error-rgb-d), 0.2); }
.bgc.visitor       { background-color: rgba(var(--visitor-rgb-d), 0.2); }
.bgc.custom-author { background-color: rgba(var(--custom-author-rgb-d), 0.2); }
.bgc.member        { background-color: rgba(var(--member-rgb-d), 0.2); }
.bgc.moderator     { background-color: rgba(var(--moderator-rgb-d), 0.2); }
.bgc.administrator { background-color: rgba(var(--administrator-rgb-d), 0.2); }

.bgc-full,
.bgc-full:hover	{ color: var(--txt-light) !important; }

.bgc-full.notice        { background-color: var(--notice-dark); border-color: var(--notice-dark);}
.bgc-full.question      { background-color: var(--question-dark); border-color: var(--question-dark);}
.bgc-full.success       { background-color: var(--success-dark); border-color: var(--success-dark);}
.bgc-full.warning       { background-color: var(--warning-dark); border-color: var(--warning-dark);}
.bgc-full.error         { background-color: var(--error-dark); border-color: var(--error-dark);}
.bgc-full.visitor       { background-color: var(--visitor-dark); border-color: var(--visitor-dark);}
.bgc-full.custom-author { background-color: var(--custom-author-dark); border-color: var(--custom-author-dark);}
.bgc-full.member        { background-color: var(--member-dark); border-color: var(--member-dark);}
.bgc-full.moderator     { background-color: var(--moderator-dark); border-color: var(--moderator-dark);}
.bgc-full.administrator { background-color: var(--administrator-dark); border-color: var(--administrator-dark);}

.bgc-full:hover.notice        { background-color: var(--notice-light); }
.bgc-full:hover.question      { background-color: var(--question-light); }
.bgc-full:hover.success       { background-color: var(--success-light); }
.bgc-full:hover.warning       { background-color: var(--warning-light); }
.bgc-full:hover.error         { background-color: var(--error-light); }
.bgc-full:hover.visitor       { background-color: var(--visitor-light); }
.bgc-full:hover.custom-author { background-color: var(--custom-author-light); }
.bgc-full:hover.member        { background-color: var(--member-light); }
.bgc-full:hover.moderator     { background-color: var(--moderator-light); }
.bgc-full:hover.administrator { background-color: var(--administrator-light); }
