/*
 * Contains:
 * 		- Categories,
 * 		- Contents,
 * 		- maintenance,
*/

/* --- Categories --- */
.cat-description {
	margin: 0.618em 0.309em;
	text-align: left;
}

.more {
	font-size: 0.809em;
	font-style: italic;
}

.pinned {
	display: inline-block;
	padding: 0.1618em 0.228em;
	margin: 0 0 0.228em 0;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.more .pinned {
	border: none;
	background-color: transparent !important;
}

aside:not(#menu-left):not(#menu-right) {
	padding: 0.809em;
}

/* --- Control Icons (edit, delete, etc) --- */
.controls a {
	display: inline-block;
	padding: 0 0.456em;
}

@media (max-width: 768px) {
	.controls a {
		padding: 0 0.809em;
	}
}

/* --- Main content --- */
.content {
	padding: 0.809em;
	margin-bottom: 1.618em;
}

.content::after,
.content::before {
    content: '';
    display: block;
    clear: both;
}

/* --- Id Card --- */
.id-card {
	margin: 1.618em 0 0;
}

.id-card::after,
.id-card::before {
    content: '';
    display: block;
    clear: both;
}

/* --- Sibling links --- */
.sources-container {}
.tags-container {}

.suggested-links li {
	list-style-type: none;
}

.related-links,
.suggested-item,
.related-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.suggested-item,
.related-item { flex-direction: row; }

.related-item {
	flex-wrap: nowrap;
}

.suggested-item:hover,
.related-item:hover { text-decoration: none; }

.suggested-item img,
.related-item img {
	max-height: 50px;
}

.suggested-item img,
.related-item.previous-item img,
.related-item.previous-item i { padding: 0 0.309em 0 0;}
.related-item.next-item img,
.related-item.next-item i 	 { padding: 0 0 0 0.309em;}

@media (min-width: 769px) {
	.related-links {
		flex-direction: row;
		justify-content: space-between;
	}

	.related-item { max-width: 35%; }
}

/* --- Media --- */
.item-thumbnail {
	padding: 0.309em 0;
	display: block;
}

@media (min-width: 769px) {
	.item-thumbnail {
		max-width: 38%;
		float: left;
		padding: 0.309em 0.618em 0.309em 0;
	}
}

@media (max-width: 768px) {
	.media-content {
		clear: both;
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
	}

	.media-content object,
	.media-content embed,
	.media-content video,
	.media-content iframe,
	.media-content .video-player {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@media (min-width:769px) {
	.media-content embed,
	.media-content iframe {
		width: auto;
		height: auto;
	}
}

/* --- Options --- */
.options {
	margin: 0.309em 0;
	padding: 0.456em 0.809em;
	max-width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	font-size: 0.809em;
}

@media (min-width: 769px) {
	.options {
		float: right;
		margin: 0.309em 0 0.309em 1em;
	}
}

.options .horizontal-fieldset,
.options .horizontal-fieldset-element,
.options .horizontal-fieldset .form-element {
	margin: 0;
}

/* --- Maintain --- */
#maintain {
	margin: 0.618em 0;
}

.delay {
	margin: 1.309em 0;
}

#message-maintain {
	position: absolute;
	z-index: 20;
	top: 1em;
	width: 100%;
	opacity: 0.98;
	text-align: center;
}

#message-maintain > div {
	margin: 0 auto;
}

#release {
	margin-top: 1.309em;
}

/* --- Friends content (e.g web) --- */
.content-friends {
	border-width: 7px 1px 1px 1px;
}

.content-privileged-friends {
	border-width: 7px 1px 1px 1px;
}

/* --- Alternate action menu (e.g faq)  */
.actions-menu {
	position: relative;
}

.actions-title {
	position: relative;
	display: block;
	padding: 0.309em 0.456em;
}

@media (max-width: 768px) {
	.actions-title {
		position: relative;
		display: block;
		padding: 1em 1.309em;
	}
}

.actions-menu.opened .fa-ellipsis-h:before {
	content: "\f00d";
}

.actions-submenu {
	position: absolute;
	list-style: none;
	padding: 0;
	top: 100%;
	left: -9999px;
	width: 250px;
	z-index: 1;
}

.opened .actions-submenu {
	left: auto;
	right: 0;
}

.action a {
	display: block;
	font-size: 1.5rem;
	padding: 0.309em 0.456em;
}

@media (max-width: 768px) {
	.action a {
		padding: 1em 0.618em;
	}
}

.action i {
	text-align: center;
	width: 20px;
}
