/*
 * Copy this file in your theme to customize the module.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
 *
 * Contains css for specific containers
 * 		visit counter
 * 		breadcrumb
 * 		notation
 * 		progress bar
 * 		related links
 * 		suggested links
 * 		options (for filters)
*/

/* --- Visits counter --- */
#visit-counter {
	position: absolute;
	right: 1.618em;
	top : 92.5%;
	font-size: 0.9em;
	text-align: right;
}

/* --- Breadcrumb --- */
#breadcrumb {
	padding: 0.618em;
	font-size: 0.809em;
}

#breadcrumb ol {
	margin: 0;
	list-style: none;
}

#breadcrumb li {
	display: inline;
}

#breadcrumb li:not(.current):after {
	content: '/';
}

/* --- Item infos --- */
.more {
	font-size: 0.809em;
	font-style: italic;
}

.more .pinned {
	border: none;
	background-color: transparent !important;
}

/* --- Item control Icons (edit, delete, etc) --- */
.controls a {
	display: inline-block;
	padding: 0 0.456em;
}

@media (max-width: 768px) {
	.controls a {
		padding: 0 0.809em;
	}
}

/* --- Main content --- */
.cat-description,
.content {
	padding: 0.809em;
	margin-bottom: 1.618em;
}

.cat-description::before,
.cat-description::after,
.content::before,
.content::after {
    content: '';
    display: block;
    clear: both;
}

aside:not(#menu-left):not(#menu-right) {
	padding: 0.809em;
}

/* --- Id Card --- */
.id-card {
	margin: 1.618em 0 0;
}

.id-card::after,
.id-card::before {
    content: '';
    display: block;
    clear: both;
}

/* --- Sibling links --- */
.sources-container {}
.tags-container {}

.suggested-links li {
	list-style-type: none;
}

.related-links,
.suggested-item,
.related-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.suggested-item,
.related-item { flex-direction: row; }

.related-item {
	flex-wrap: nowrap;
}

.suggested-item:hover,
.related-item:hover { text-decoration: none; }

.suggested-item img,
.related-item img {
	max-height: 50px;
}

.suggested-item img,
.related-item.previous-item img,
.related-item.previous-item i { padding: 0 0.309em 0 0;}
.related-item.next-item img,
.related-item.next-item i 	 { padding: 0 0 0 0.309em;}

@media (min-width: 769px) {
	.related-links {
		flex-direction: row;
		justify-content: space-between;
	}

	.related-item { max-width: 35%; }
}

/* --- Media --- */
.item-thumbnail {
	padding: 0.309em 0;
	display: block;
}

@media (min-width: 769px) {
	.item-thumbnail {
		max-width: 38%;
		float: left;
		padding: 0.309em 0.618em 0.309em 0;
	}
}

@media (max-width: 768px) {
	.media-content {
		clear: both;
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
	}

	.media-content object,
	.media-content embed,
	.media-content video,
	.media-content iframe,
	.media-content .video-player {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@media (min-width:769px) {
	.media-content embed,
	.media-content iframe {
		width: auto;
		height: auto;
	}
}

/* --- Progress bar --- */
.progressbar-container {
	position: relative;
	margin: 0.228em 0 0.618em;
}

.progressbar-container .progressbar-infos {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	line-height: 0.809em;
	font-size: 0.618em;
	text-align: center;
}

.progressbar-container .progressbar {
	height: 1.618em;
	transition: width .6s ease;
}

/* --- Le systeme de notation --- */
.notation,
.static-notation {
	display: inline-block;
}

.notation .star,
.static-notation .star {
	position: relative;
	font-size: 1.5rem;
	text-decoration: none;
}

.static-notation .star {
	cursor: default;
}

.notation .star-width {
	position: absolute;
	display: inline-block;
	top:0;
	left:0;
}

.notation .star-width:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	left: 0;
	top:0;
	content:"\f005";
	display:block;
	overflow:hidden;
}

.star-width-0   { width: 0%;   }
.star-width-10  { width: 30%;  }
.star-width-25  { width: 41%;  }
.star-width-50  { width: 50%;  }
.star-width-75  { width: 65%;  }
.star-width-90  { width: 78%;  }
.star-width-100 { width: 100%; }


/* --- Options --- */
.options {
	margin: 0.309em 0;
	padding: 0.456em 0.809em;
	max-width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	font-size: 0.809em;
}
.options .form-element {padding: 0;}

@media (min-width: 769px) {
	.options {
		float: right;
		margin: 0.309em 0 0.309em 1em;
	}
}

.options .horizontal-fieldset,
.options .horizontal-fieldset-element,
.options .horizontal-fieldset .form-element {
	margin: 0;
}

/* --- Le selecteur de couleur --- */
.color-picker {
	position: absolute;
	z-index: 100;
}

.color-picker td {
	padding: 0;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.color-picker td a {
	display: block;
	width: 0.809em;
	height: 0.809em;
}

/* --- Maintain --- */
#maintain {
	margin: 0.618em 0;
}

.delay {
	margin: 1.309em 0;
}

#message-maintain {
	position: absolute;
	z-index: 20;
	top: 1em;
	width: 100%;
	opacity: 0.98;
	text-align: center;
}

#message-maintain > div {
	margin: 0 auto;
}

#release {
	margin-top: 1.309em;
}

/* --- Friends content (e.g web) --- */
.content-friends {
	border-width: 7px 1px 1px 1px;
}

.content-privileged-friends {
	border-width: 7px 1px 1px 1px;
}
