
.form-field-date,
.form-field-datetime {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.form-field-datetime .label-time {
	max-width: 18%;
	position: relative;
}

.label-time:after {
    position: absolute;
    top: -0.618em;
    right: 0.309em;
    content: attr(data-time);
    background-color: #fff;
    padding: 0.228em;
    line-height: 0.5;
}

.form-element .fa-calendar {
	cursor: pointer;
}

/* --- Grouped input --- */
.calendar-container > a {
    height: 100%;
}

.calendar-container div a {
    border: none;
}
