/* --------------------------------------
		default.css
Css par défaut commun à tout les thèmes, permet les ajouts nécessaires au framework et retrocompatibilité
--------------------------------------*/ /* Titres */

/* Sécurité */
.row_priority_very_high {
    text-align: center;
    background: #F3A29B !important;
    color: #ffffff !important;
    font-weight: bold !important;
}

.row_priority_high {
    text-align: center;
    background: #FFD5D1 !important;
}

.row_priority_medium {
    text-align: center;
    background: #F5D5C6 !important;
}

.row_priority_low {
    text-align: center;
    background: #ECDBB7 !important;
}

.row_priority_very_low {
    text-align: center;
    background: #FFFFFF !important;
}

/* Imite l'affichage fieldset / legend */

.fieldset_content {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

div.block_title span {
    border: 1px solid;
    padding: 2px 8px;
    padding: 1px 0;
    vertical-align: middle;
    position: relative;
    margin-top: -0.4em;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.2em;
}

div.block_title {
    position: relative;
    top: -1.2em;
}

div.block_content {
    width: 95%;
    margin: auto;
    margin: 20px auto;
    padding: 6px;
    border: 1px solid;
    position: relative;
}

div.block_content ul {
    padding-left: 20px;
}

/* Menu Vertical */
h3.menu_vertical_0 {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    margin-top: -2px;
    padding-bottom: 2px;
}

ul.menu_vertical a {
    color: #445766;
}

ul.menu_vertical {
    text-align: left;
}

ul.menu_vertical li {
    margin-top: 3px;
    margin-left: 10px;
    list-style: none;
    margin-left: 10px;
}

ul.menu_vertical li span {
    font-size: 11px;
    font-weight: bold;
}

ul.menu_vertical_0 {
    
}

ul.menu_vertical li_0 {
    
}

ul.menu_vertical_0 li a, ul.menu_vertical_0 li span {
    color: #334455;
}

ul.menu_vertical_1 {
    
}

ul.menu_vertical_1 li {
    
}

ul.menu_vertical_1 li a, ul.menu_vertical_1 li span  {
    color: #445566;
}

ul.menu_vertical_2 {
    
}

ul.menu_vertical_2 li {
    font-style: italic;
}

ul.menu_vertical_2 li a, ul.menu_vertical_2 li span  {
    color: #556677;
}

ul.menu_vertical_3 {
    
}

ul.menu_vertical_3 li {
    font-style: normal;
}

ul.menu_vertical_3 li a, ul.menu_vertical_3 li span  {
    color: #778899;
    font-size: 80%;
}
