/* --------------------------------------
		default.css
Css par défaut commun * tout les thèmes, permet les ajouts nécessaires au framework et retrocompatibilité
--------------------------------------*/ /* Titres */ /* Sécurité */
.row_priority_very_high {
    text-align:center;
    background:#F3A29B !important;
    color:#ffffff !important;
    font-weight:bold !important;
}

.row_priority_high {
    text-align:center;
    background:#FFD5D1 !important;
}

.row_priority_medium {
    text-align:center;
    background:#F5D5C6 !important;
}

.row_priority_low {
    text-align:center;
    background:#ECDBB7 !important;
}

.row_priority_very_low {
    text-align:center;
    background:#FFFFFF !important;
}

.button {    
    cursor:pointer;
}

/* Imite l'affichage fieldset / legend */
.fieldset_content {
    width:95%;
    margin:auto;
    margin-top:20px;
}

div.block_title span {
    border:1px solid;
    padding:2px 8px;
    padding:1px 0;
    vertical-align:middle;
    position:relative;
    margin-top:-0.4em;
    padding-left:10px;
    padding-right:10px;
    line-height:1.2em;
}

div.block_title {
}

div.block_content {
    width:95%;
    margin:auto;
    margin:20px auto;
    padding:6px;
    border:1px solid;
}

div.block_content ul {
    padding-left:20px;
}

/*Menu dynamique des liens
--------------------------------------*/
.dynamic_menu {
    position:relative;
    z-index:100;
}

.dynamic_menu ul {
    margin:0;
    padding:0;
    border:none;
    font-weight:bold;
    list-style:none;
}

.dynamic_menu li {
    position:relative;
    float:left;
    display:inline;
}

.dynamic_menu li.vertical {
    display:block;
    float:none;
    margin-bottom:15px;
}

/* Lien du menu */
.dynamic_menu h5 {
    color:#0578CC;
    text-align:center;
    background:#F2F7FB;
    border:1px solid #C4CED6;
    padding:4px 6px;
    font-weight:bold;
    font-size:12px;
}

.dynamic_menu h5:hover {
    color:#01528D;
    background:#E4F0F9;
    cursor:default;
}

/* Séparateur */
.dynamic_menu ul li.separator {
    background:#104069;
    height:2px;
}

.dynamic_menu ul li.extend {
}

/* Case du menu */
.dynamic_menu li ul {
    visibility:hidden;
    position:absolute;
    border:1px solid #104069;
}

.dynamic_menu li.vertical ul {
    top:0;
    margin-left:150px;
}

.dynamic_menu li li {
    clear:both;
    color:#0578CC;
    background:#FFFFFF url(images/bgmenu.png) repeat-y;
    display:block;
    width:169px;
}

.dynamic_menu li li span {
    color:#0578CC;
    font-size:10px;
    text-decoration:none;
    padding-left:32px;
    width:133px;
    display:block;
    white-space:nowrap;
    margin:auto;
    padding-top:6px;
    padding-bottom:6px;
    background-repeat:no-repeat;
    background-position:5px;
}

.dynamic_menu li li a {
    color:#0578CC;
    font-size:10px;
    text-decoration:none;
    padding-left:32px;
    width:133px;
    display:block;
    white-space:nowrap;
    margin:auto;
    padding-top:6px;
    padding-bottom:6px;
    background-repeat:no-repeat;
    background-position:5px;
}

.dynamic_menu li li a:hover {
    background:#D7EDFA;
    background-repeat:no-repeat;
    background-position:5px;
    border:1px solid #0578CC;
    padding-top:5px;
    padding-bottom:5px;
    cursor:pointer;
}

/* Niveau 2 */
.dynamic_menu li li ul {
    visibility:hidden;
    top:-1px;
    left:100%;
    z-index:101;
}

/* Menu Vertical - Scrolling */
ul.vertical_scrolling_menu li {
    /*list-style:none;*/
    padding-left:5px;
    padding-right:5px;
}

ul.vertical_scrolling_menu li ul {
    /*list-style:none;*/
    margin-left:155px;
}

ul.vertical_scrolling_menu li.first_level {
    padding-left:20px;
}

/* Menu Horizontal - Scrolling */
ul.horizontal_scrolling_menu li {
    display:inline;
    padding-left:5px;
    padding-right:5px;
}

ul.horizontal_scrolling_menu li.first_level {
    padding-left:20px;
}

/* Menu Horizontal */
div.menu_horizontal {
    padding:10px;
}

ul.menu_horizontal {
    
}

ul.menu_horizontal li {
    display:inline;
}

/* Menu Vertical */
h3.menu_vertical_0 {
    text-align:center;
    font-size:12px;
    font-weight:bold;
    margin-top:-2px;
    padding-bottom:2px;
}

ul.menu_vertical a {
    color:#445766;
}

ul.menu_vertical {
    text-align:left;
}

ul.menu_vertical li {
    margin-top:3px;
    margin-left:10px;
    list-style:none;
    margin-left:10px;
}

ul.menu_vertical li span {
    font-size:11px;
    font-weight:bold;
}

ul.menu_vertical_0 {
    
}

ul.menu_vertical li_0 {
    
}

ul.menu_vertical_0 li a,ul.menu_vertical_0 li span {
    color:#334455;
}

ul.menu_vertical_1 {
    
}

ul.menu_vertical_1 li {
    
}

ul.menu_vertical_1 li a,ul.menu_vertical_1 li span {
    color:#445566;
}

ul.menu_vertical_2 {
    
}

ul.menu_vertical_2 li {
    font-style:italic;
}

ul.menu_vertical_2 li a,ul.menu_vertical_2 li span {
    color:#556677;
}

ul.menu_vertical_3 {
    
}

ul.menu_vertical_3 li {
    font-style:normal;
}

ul.menu_vertical_3 li a,ul.menu_vertical_3 li span {
    color:#778899;
    font-size:80%;
}

/* Fieldsets */
div.horizontal_fieldset, div.vertical_fieldset {
    margin:20px 0;
}

div.vertical_fieldset dl {
    margin-top:5px;
    margin-bottom:5px;
}

div.horizontal_fieldset dl {
    float:left;
    margin:0 5px;
}

div.vertical_fieldset dl dt {
    margin:0 5px;
}

div.horizontal_fieldset dl dd{
    float:left;
    margin:0 5px;
}

div.horizontal_fieldset dl dt label, div.vertical_fieldset dl dt label {
    font-weight:bold;
}

/* Lightbox*/
#lightbox{  position:absolute;  left:0; width:100%; z-index:100; text-align:center; line-height:0;}
#lightbox img{ width:auto; height:auto;}
#lightbox a img{ border:none; }

#outerImageContainer{ position:relative; background-color:#fff; width:250px; height:250px; margin:0 auto; }
#imageContainer{ padding:10px; }

#loading{ position:absolute; top:40%; left:0%; height:25%; width:100%; text-align:center; line-height:0; }
#hoverNav{ position:absolute; top:0; left:0; height:100%; width:100%; z-index:10; }
#imageContainer>#hoverNav{ left:0;}
#hoverNav a{ outline:none;}

#prevLink, #nextLink{ width:49%; height:100%; background-image:url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display:block; }
#prevLink { left:0; float:left;}
#nextLink { right:0; float:right;}
#prevLink:hover, #prevLink:visited:hover { background:url(../images/lightbox/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background:url(../images/lightbox/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font:10px Verdana, Helvetica, sans-serif; background-color:#fff; margin:0 auto; line-height:1.4em; overflow:auto; width:100%   ; }

#imageData{ padding:0 10px; color:#666; }
#imageData #imageDetails{ width:70%; float:left; text-align:left; } 
#imageData #caption{ font-weight:bold;  }
#imageData #numberDisplay{ display:block; clear:left; padding-bottom:1.0em; }           
#imageData #bottomNavClose{ width:66px; float:right;  padding-bottom:0.7em; outline:none;}      

#overlay{ position:absolute; top:0; left:0; z-index:90; width:100%; height:500px; background-color:#000; }