

fieldset,
.fieldset {
	margin: 1.618em 0;
	background: none;
	border: none;
}

legend,
.legend {
	display: block;
	padding: 0 0.809em;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: transparent;
	text-transform: none;
	font-size: 1.5em;
}

legend > h1 {
	font-size: inherit;
}

fieldset p {
	margin: 0;
	padding: 15px 0.618em;
}

.fieldset-inset {
	overflow: hidden;
	padding: 0.618em 0;
}

.fieldset-refresh {
	text-align: center;
}

.fieldset-refresh a:hover {
	text-decoration: none;
}

.fieldset-refresh a:hover span {
	text-decoration: underline;
}

.fieldset-inset p {
	width: 100%;
}

.fieldset-inset h2 { width: 100%; }

.fieldset-mini {
	margin: 1.309em auto auto auto;
	width: 540px;
}
.fieldset-submit {
	text-align: center;
}

.fieldset-submit .fieldset-inset {
	justify-content: center;
}

.fieldset-submit legend {
	display: none;
}

.horizontal-fieldset-desc,
.horizontal-fieldset-element  {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
}

.horizontal-fieldset-desc + .horizontal-fieldset-element {
	max-width: 100%;
}

.horizontal-fieldset-element .form-field-select {
	max-width: none;
}

fieldset[id*="_captcha_fieldset"],
fieldset[id*="_captcha_fieldset"] .fieldset-inset {
	padding: 0 0.309em;
	margin: 0;
}

@media (min-width: 769px) {
	fieldset[id*="_captcha_fieldset"] {
		padding: 0 1.309em;
	}
}
