
.form-field-date,
.form-field-datetime {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.form-field-date .input-date {
	width: 80%;
}

.form-field-datetime .input-date {
	width: 40%;
}

.form-field-datetime .label-time {
	width: 18%;
	position: relative;
	display: inline-block;
}

.form-field-datetime .label-time input {
	padding: 0.309em;
	width: 100%;
}

.label-time:after {
	position: absolute;
	bottom: 18%;
	left: 103%;
	content: attr(data-time);
}

.form-element .fa-calendar {
	cursor: pointer;
}
