figure {
    padding: 0.618em;
    text-align: center;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

figcaption {
    padding: 0.618em;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

/* --- flexbox --- */
.justify-between {
    display: flex !important;
	justify-content: space-between;
}
