/*
 * Copy this file in your theme to customize the module.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
 *
 * Contains standalone framwork classes
 *
*/

/* --- Link --- */
a { text-decoration: none; }

a:hover {
	text-decoration: underline;
	transition: all 0.3s ease;
}

/* --- Titles --- */
h1 { font-size: 2.4em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	word-wrap: normal;
	overflow-wrap: normal;
	hyphens: none;
	line-height: normal;
}

/* --- figure --- */
figure {
    padding: 0.618em;
    text-align: center;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

figcaption {
    padding: 0.618em;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

/* --- Sizes --- */
.smallest { font-size: 0.309em; vertical-align: middle; }
.smaller  { font-size: 0.618em; vertical-align: middle; }
.small    { font-size: 0.809em; vertical-align: middle; }
.normal   { font-size: 1.000em;  }
.big      { font-size: 1.228em;  }
.bigger   { font-size: 1.456em;  }
.biggest  { font-size: 2.1618em; }

/* --- Alignment --- */
.indent {
	text-indent: 2.618em;
}

.indent::first-letter {
	font-weight: 600;
	font-size: 130.9%
}

.pinned {
	display: inline-block;
	padding: 0 0.228em;
	margin: 0 0 0.228em 0;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 3px;
}

/* --- Search engines --- */
.robot {
	font-size: 0.9em;
	font-weight: bold;
}

/* --- Member search (AJAX) --- */
.xmlhttprequest-result-search {
	overflow: auto;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

/* --- Authorized reader --- */
.authorized-reader {
    border-width: 0 0 0 3px;
    border-style: solid;
    border-color: transparent;
    position: relative;
}

.authorized-reader::before {
    position: absolute;
    content: attr(data-reader);
    font-style: italic;
    font-size: 0.618em;
}

/* --- add ellispsis --- */
.ellipsis {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* --- Country flags in select --- */
.flag-selector {
	padding-left: 3.309em;
	background-position: 0.309em;
	background-repeat: no-repeat;
	background-size: contain;
}

/* -- screen reader only --- */
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* --- Stacked element --- */
.stacked {
    position: relative;
}

.stacked .stack-event {
    position: absolute;
    top: -0.809em;
    padding: 0 0.309em;
    font-size: 0.618em;
}

.stacked .stack-event.stack-left  { left: -0.309em; }
.stacked .stack-event.stack-right { right: -0.309em; }

.stacked .stack-event.stack-circle {
    border-width: 1px;
    border-style: solid;
    border-radius: 100%;
}

/* --- Floating sub container --- */
.dropdown-container {
	z-index: 10;
}

/* --- Coast to coast elements --- */
.flex-between {
    display: flex !important;
	justify-content: space-between;
	flex-direction: column;
}

@media (min-width: 769px) {
	.flex-between {
		flex-direction: row;
	}
}

/* --- Announces & messaging icons ------------------------------------------ */
.fa-announce:before,
.fa-announce-new:before 		{ content: "\f075"; } /* copy comment */
.fa-announce-hot:before,
.fa-announce-new-hot:before 	{ content: "\f086"; } /* copy comments */
.fa-announce-lock:before,
.fa-announce-new-lock:before 	{ content: "\f023"; } /* copy lock */
.fa-announce-post:before,
.fa-announce-new-post:before 	{ content: "\f071"; } /* copy exclamation-triangle */
.fa-announce-top:before,
.fa-announce-new-top:before 	{ content: "\f06a"; } /* copy exclamation-circle */
