figure {
    padding: 0.618em;
    text-align: center;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

figcaption {
    padding: 0.618em;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.ellipsis {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.flag-selector {
	padding-left: 3.309em;
	background-position: 0.309em;
	background-repeat: no-repeat;
	background-size: contain;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.stacked {
    position: relative;
}

.stacked .stack-event {
    position: absolute;
    top: -0.809em;
    left: -0.309em;
    border-radius: 100%;
    padding: 0 0.309em;
    font-size: 0.618em;
    border: 1px;
    border-style: solid;
}

/* --- flexbox --- */
.justify-between {
    display: flex !important;
	justify-content: space-between;
}
