/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
*/

#global {
	padding: 2.618em;
	min-height: 0;
	width: 100%;
	border-spacing: 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fieldset-content {
	margin: 0 auto;
	max-width: 100%;
}

.cookiebar-container {
	position: fixed;
}
