.message-container {
    display: flex;
    flex-direction: column;
    margin: 0.809em 0;
}

.message-user-avatar { max-width: 0; }
.message-small .message-user-avatar { max-width: 80px; }

.message-header-container h3 { font-size: 1.618em; }

.message-header-container,
.message-content,
.message-footer-container,
.message-user-sign {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.message-user-sign {
    border-width: 0 1px;
}

.message-header-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    position: relative;
}

.message-header-infos,
.message-content,
.message-user-sign,
.message-footer-container {
    padding: 0.309em 0.618em;
}

.message-user-infos,
.message-actions a,
.message-user-sign,
.message-footer-container {
    font-size: 0.809em
}

.message-header-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
}
.message-content {
    border-width: 0 1px 1px;
    flex: 1 1 auto;
}

.message-user,
.message-infos,
.message-user-management,
.message-user-infos,
.message-user-assoc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 769px) {
    .message-user-avatar { max-width: 120px; }

    .message-header-container h3 { font-size: 2em; }    
}

.message-user-sign {
    max-height: 75px;
    overflow: hidden;
}

.message-actions,
.message-infos {
    text-align: right;
}

.message-actions a {
    padding: 0 0.228em;
}

.message-footer-container {
    border-width: 0 1px 1px;
    padding: 0.309em 0.618em;
    margin: 0;
}

.message-user-management {
    justify-content: flex-end;
}

/* --- Current user --- */
.current-user-message .message-user-avatar { order: 2 }
.current-user-message .message-header-infos { order: 1 }

.current-user-message .message-user,
.current-user-message .message-infos {
    flex-direction: row-reverse;
}
/* --- message offset --- */
.message-container.message-offset {
	justify-content: flex-start;
}

.message-offset .message-header-container,
.message-offset .message-content,
.message-offset .message-footer-container {
	width: 90%;
}

.message-offset .current-user-message.message-header-container,
.message-offset .current-user-message.message-content,
.message-offset .current-user-message.message-footer-container {
	align-self: flex-end;
}

/* --- Moderation --- */
.message-moderate {
	margin-bottom: 0.618em;
	padding: 0.309em 0 0.309em 0;
	width: 98%;
	text-align: center;
	vertical-align: middle;
}

.message-moderate a {
	vertical-align: top;
}

/* --- view message --- */

.view-topic {
	padding: 0.809em 0;
}

.view-topic i {
	margin: 0 0 0.1618em 0.309em;
}

/* hexagon  -- set img.-picture in div.-avatar*/
/* .message-user-avatar {
    width: 60px;
    height: 120px;
}

.message-user-picture {
    display: block;
    top: 0;
    left: -8%;
    position: absolute;
    clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0%);
    margin: 0 auto;
}

.message-user-picture::after {
    content: "";
    position: absolute;
    top: 4%;
    left: 4%;
    right: 4%;
    bottom: 4%;
    margin: 0 auto;
    clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
} */
