/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
*/

.pagination ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.pagination-item {
	list-style-type: none;
	padding: 0.1618em;
}

.pagination-item a {
	display: block;
	padding: 0.228em 0.618em;
	font-weight: bold;
	font-size: 0.809em;
	text-align: center;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	transition: all 0.2s linear;
}

.light-pagination .pagination-item a {
	border-radius: 50%;
}

.pagination-item a:hover {
	transition: all 0.1s linear;
	text-decoration: none;
}

.pagination-item a:active {
	transition: all 0.2s linear;
}

.pagination-item li a.current-page {
	text-decoration: none;
}

.pagination-item-bis li a.prev-page:hover,
.pagination-item-bis li a.next-page:hover {
	text-decoration: underline;
}

.pages-pagination a {
	text-decoration: none;
}
