
section footer .pagination {
	text-align: center;
}

.pagination {
	margin: 0;
}

.pagination .fa:before {
	font-size: 0.809em;
}

.pagination-block {
	margin: 0.309em 0;
}

.pagination-block li {
	padding: 0.1618em;
}

.pagination-block li a {
	display: inline-block;
	padding: 0.1618em 0.618em;
	outline: none;
	font-weight: bold;
	font-size: 0.809em;
	text-align: center;
	text-decoration: none;
}

.pagination-block li a {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	transition: all 0.2s linear;
}

.pagination-block li a:hover {
	transition: all 0.1s linear;
}

.pagination-block li a:active {
	transition: all 0.2s linear;
}

.pagination-block li a.current-page {
	text-decoration: none;
}

.pagination-block-bis li a.prev-page:hover,
.pagination-block-bis li a.next-page:hover {
	text-decoration: underline;
}

.pages-pagination a {
	text-decoration: none;
}
