/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
*/

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none; }

body {
	margin: auto;
	width: 97%;
	background-color: #FFFFFF;
	font-family: serif;
	font-size: 1.309em;
	color: black;
}

h1 {
	border-bottom: 1px solid #000000;
}

td, th {
	border: 1px solid #000000;
}

th {
	font-weight: bold;
}

img, table, td, blockquote, code, pre, textarea, input, video, object, .video-player {
	max-width: 100%; }

div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto; }
