body{
	width: 98%;
	background-color: #FFFFFF;
	font-family: "Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
	font-size: 12px;
	color: black;
}

h1 {
	border-bottom: 1px solid #000000;
}

td, th {
	border: 1px solid #000000;
}

th {
	font-weight: bold;
}
