/* --------------------------------------
		print.css
Mise en forme d'une page pour l'impression
--------------------------------------*/

body {
	margin: auto;
	width: 97%;
	background-color: #FFFFFF;
	font-family: serif;
	font-size: 1.309em;
	color: black;
}

h1 {
	border-bottom: 1px solid #000000;
}

td, th {
	border: 1px solid #000000;
}

th {
	font-weight: bold;
}