.scroll-to {
    position: fixed;
    z-index: 10;
    display: none;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}

.scroll-to:hover {
    opacity: 1;
}

.scroll-to,
.scroll-to i {
    transition: 0.2s;
}

.scroll-to:hover,
.scroll-to:hover i  {
    transition: 0.3s;
}

#scroll-to-top {
    bottom: 0;
    border-radius: 50% 50% 0 0;
    padding: 0.309em 1.618em 0.309em;
}

#scroll-to-bottom {
    top: 0;
    border-radius: 0 0 50% 50%;
    padding: 0.309em 0.618em 0.309em;
}

@media (min-width: 769px) {
    .scroll-to i {
        font-size: 1.618em;
    }

    #scroll-to-bottom {
        padding: 0.309em 1.618em 0.309em;
    }
}
