/*
* Clone this file into the theme to customize this module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

.bbcode-sidebar > textarea {
	min-height: 380px;
	padding: 0.309em 1.228em 0.309em 1.618em;
}

.bbcode-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	list-style-type: none;
}

.form-field-textarea { position: relative;}

.bbcode-bar {
	display: table;
    position: absolute;
    top: 0.809em;
    right: -1.1618em;
    width: 0;
}

.bbcode-groups {
    list-style-type: none;
    margin: 0;
    padding: 0;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-color: var(--bdr-main);
	background-color: var(--bgc-main);
}

.bbcode-group {
	position: relative;
}

.bbcode-group > ul {
    position: absolute;
    top: 50%;
    right: calc(100% + 1px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    width: 12.28em;
	background-color: var(--bgc-main);
}

.bbcode-group.bbcode-sub > ul {
    top: 0;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s
}

.bbcode-sub > span {
	color: var(--main-light);
	background-color: rgba(var(--main-rgb-t), 0.2);
}

/* --- content of elements --- */

.constraint-status-right .bbcode-elements input,
.constraint-status-right .bbcode-elements select,
.constraint-status-right .bbcode-elements textarea { padding-left: 0.618em; }

.bbcode-elements .flex-between .formatter-title {
	flex: 1 1 auto;
	margin-right: 0.618em !important;
}

.bbcode-elements .flex-between .button {
	height: 31px;
	align-self: flex-end;
}

.bbcode-label { flex: 1 1 auto; }

.bbcode-elements .button { display: inline-block; }

.cell-table.color-table td {
	cursor: pointer;
	border-width: 3px !important;
    width: calc(100% / 8);
}

.bbcode-forbidden {
	opacity: 0.3 !important;
	cursor: not-allowed !important;
}

/* --- BBCode bar icons --- */
.bbcode-button {
	display: inline-block;
	padding: 0.309em;
	cursor: pointer;
	font-size: 1.228em
}

/* --- BBCode bar styles --- */
#html-style .button.bgc-full {
	padding: 0.228em 1.618em;
}

#emojis.bbcode-elements ul li h5 { padding: 0.618em 0.618em; }

#emojis.bbcode-elements ul li h6 { padding: 0.618em 1.618em; }

#emojis.bbcode-elements ul li span {
	display: block;
	padding: 0.228em 0.809em;
	cursor: pointer;
}
