/*
* Clone this file into the theme to customize this module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/
.bbcode-bar {
	position: relative;
	display: table;
	width: 100%;
	border-width: 1px 1px 0;
	border-style: solid;
	border-color: transparent;
}

.bbcode-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin: 0;
	list-style-type: none;
}

/* --- content of elements --- */
.hide-modal {
	cursor: pointer;
}

.constraint-status-right .bbcode-elements input,
.constraint-status-right .bbcode-elements select,
.constraint-status-right .bbcode-elements textarea {
	padding-left: 0.618em;
}

.bbcode-elements .flex-between .formatter-title {
	flex: 1 1 auto;
	margin-right: 0.618em !important;
}

.bbcode-elements .flex-between .button {
	height: 31px;
	align-self: flex-end;
}

.bbcode-label {
	flex: 1 1 auto;
}

.bbcode-elements .button {
	display: inline-block;
}

.bbcode-container .cell-table.color-table td {
	cursor: pointer;
	border-width: 3px !important;
}

.bbcode-forbidden {
	opacity: 0.3 !important;
	cursor: not-allowed !important;
}

/* --- BBCode bar icons --- */
.bbcode-button {
	display: inline-block;
	padding: 0.309em;
	cursor: pointer;
	font-size: 1.228em
}
