/** BBcode **/
/* Tableau du bbcode */
.bbcode, .bbcode2{
	background-color:#336397;
	color:#FFFFFF;
	border:1px solid #BEBEBE;
	border-collapse:collapse;
	border-spacing:0px;
	height:32px;
	font-size:12px;
	width: 491px;
}

.bbcode td, .bbcode2 td{ }

.bbcode img, .bbcode2 img{ vertical-align:middle; }

/* Curseur de la souris au passage sur les icônes */
.bbcode_hover{ cursor:pointer; }

/* Menu caché du BBcode */
.bbcode_block{
	position:absolute;
	text-align:center;
	padding:6px 4px;
	background-color:#87A6BE;
	border:1px solid #2C5169;
	bottom:2px; 
	z-index:100;
}

.bb_ul { margin-left: 20px; }