/*
 * Global classes
 * 		- links
 * 		- calendar
 * 		- BBCode classes
 * 		- progressbars
 * 		- internal menus
 *      - Message helper
*/


/* --- Text formatting ---------------------------------------------------------- */

/* --- Links --- */
a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

.member,
.modo,
.admin {
	font-weight: 700;
}

/* --- Font sizes --- */
.smaller { font-size : 0.869em; }
.small   { font-size : 0.923em; }
.big     { font-size : 1.231em; }
.bigger  { font-size : 1.385em; }
.biggest { font-size : 1.538em; }

h1 { font-size: 1.615em; }
h2 { font-size: 1.462em; }
h3 { font-size: 1.385em; }
h4 { font-size: 1.308em; }
h5 { font-size: 1.231em; }
h6 { font-size: 1.154em; }

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

/* -- Content formatting ---------------------------------------------------- */

/* --- Calendar picker --- */
.calendar-block-container {
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
}

.calendar-container { display: inline-block; }

.calendar-container a .fa-calendar { font-size: 1.618em; }

.calendar-block {
	position: absolute;
	top: 100%;
	left: 0;
	right:0;
	z-index: 10;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 3px;
}

@media (min-width: 769px) {
	.calendar-block {
		width: 300px;
	}
}

.calendar-block .date-picker {
	margin: 0;
	width: 100% !important;
	table-layout: fixed;
}

.calendar-block .date-picker a {
	display: block;
	padding: 0.618em 0;
}

.calendar-block .date-select-container {
	padding: 0.1618em 0;
	border-radius: 3px 3px 0 0;
}

@media (max-width: 768px) {
	.calendar-block .date-select-container {
		font-size: 1.5em;
	}
}

.calendar-block .date-select-previous { float: left;  }
.calendar-block .date-select-next     { float: right; }

.calendar-block .date-select-next i,
.calendar-block .date-select-previous i {
	display: block;
	padding: 0 0.618em;
}

.calendar-block .date-select-content {
	width: 100%;
	text-align: center;
}

.calendar-block .date-select-content select,
.calendar-block .date-select-content select:focus {
	padding: 1px 1px;
	border: none;
	background: none;
	box-shadow: none;
	font-size: 0.9em;
}

.calendar-block .date-select-month,
.calendar-block .date-select-year{
	width: auto;
}

.calendar-block .date-picker select,
.calendar-block .date-picker select:focus {
	box-shadow: none;
	max-width: 75px;
}

.calendar-block .date-picker thead tr th {
	padding: 0.309em 0;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: transparent;
	border-radius: 0;
	font-weight: bold;
}

.calendar-block .date-picker tbody tr:last-child {
	border-bottom: none;
}

.calendar-block .date-picker tbody td {
	height: 23px;
	padding: 1px 2px;
}

.calendar-block .date-picker tbody td:first-child { border-left: none; }
.calendar-block .date-picker tbody td:last-child  { border-right: none; }

.calendar-block .date-picker tbody tr:last-child td {
	border-bottom: none;
}

.calendar-block .date-picker tbody tr:last-child td:first-child { border-radius: 0 0 0 2px; }
.calendar-block .date-picker tbody tr:last-child td:last-child  { border-radius: 0 0 2px 0; }

/* --- Preview for BBCode --- */

/* --- Preview --- */
.xmlhttprequest-preview {
	margin-top: 0.618em;
	border-width: 2px;
	border-style: dashed;
	border-color: transparent;
}

/* --- Le selecteur de couleurs --- */
.color-picker td {
	padding: 0;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.color-picker td a {
	display: block;
	width: 14px;
	height: 14px;
}

/* --- les blocs de quote, de code ou caches --- */
.formatter-blockquote, .formatter-code, .formatter-hide {
	display: block;
	width: 93%;
	margin: auto;
	padding: 2px 0;
	font-weight: bold;
}

.blockquote, .code, .hide {
	overflow: auto;
	margin: 0 1.482em;
	padding: 0.618em;
	max-height: 500px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 3px;
}

/* --- Progressbar ---------------------------------------------------------- */
.progressbar-container {
	position: relative;
	margin: 4px 0 0.618em;
	padding: 2px;
	border-radius: 3px;
}

.progressbar-container .progressbar-infos {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	line-height: 13px;
	font-size: .95em;
	text-align: center;
}

.progressbar {
	border-radius: 3px 0 0 3px;
}

.progressbar[style*="width: 100"] {
	border-radius: 3px 3px 3px 3px;
}

.progressbar-container .progressbar {
	height: 14px;
	transition: width .6s ease;
}

/* -- PHPBoost specific FontAwesome icons ----------------------------------- */

li.block .fa-stack {
	height: 2.34em;
}

.fa-circle-alert {
	position: absolute;
	z-index: 1;
	top: -3px;
	left: 1.309em;
	font-size: 1.32em;
}

.fa-circle-alert span {
	display: block;
	position: absolute;
	top: 4px;
	width: 100%;
	margin: 0 auto;
	font-size: 0.7em;
	text-align: center;
}

/* --- Internal menus ------------------------------------------------------- */
/* --- rss menus --- */
.feed-list {
	margin: 0.309em 0;
	list-style-type: none;
	text-align: left;
}

@media (max-width: 769px) {
	.feed-list li a {
		margin: 1px 0;
		padding: 4px 0;
	}
}

.feed-option-title {
	padding: 1px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.list {
	margin-top: 0.618em
}

/* --- rss menus with picture --- */
.feed-img {
	float: left;
	width: 73px;
	text-align: center;
}

.feed-desc {
	float: left;
	width: 250px;
	padding-left: 6px;
}

/* --- content menus --- */
.block-contents div {
	text-align: justify;
	padding-top: 0.309em;
}

/* -- Message helper -------------------------------------------------------- */
.message-helper-small {
	width: 90%;
}

@media (min-width: 769px) {
	.message-helper-small {
		width: 50%;
	}
}

.message-helper {
	position: relative;
	display: block;
	overflow: hidden;
	height: auto;
	padding: 0.618em 0.618em 0.618em 2.618em;
	margin: 0.309em auto 1em auto;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	text-align: left;
	line-height: 1.309em;
}

.message-helper:before {
	position: absolute;
	display: inline-block;
	left: 6px;
	top: 7px;
	width: 28px;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	line-height: 1;
	font-size: 1.309em;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.message-helper.error:before    { content: "\f00d"; }
.message-helper.notice:before   { content: "\f12a"; }
.message-helper.warning:before  { content: "\f071"; }
.message-helper.success:before  { content: "\f00c"; }
.message-helper.question:before { content: "\f128"; }

.message-update.error:before,
.message-update.notice:before,
.message-update.warning:before,
.message-update.success:before,
.message-update.question:before {
	content: "";
}

.floating-message-container {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	top: 0.618em;
}

.floating-message-container.active {
	z-index: 100;
}

.floating-message-container .message-helper {
	overflow: visible;
	opacity: 0;
}

@media (max-width: 768px) {
	.floating-message-container {
		width: 100%;
		top: 1em;
	}

	.floating-message-container .message-helper {
		max-width: 90%;
		padding: 0.618em 0.618em 0.618em 2.618em;
	}
}

.floating-message-container .message-helper-button {
	position: absolute;
	z-index: 1;
	top: -0.618em;
	right: -0.618em;
	height: 1.482em;
	width: 1.482em;
	border-radius: 100em;
	text-align: center;
}

.floating-message-container .fa-close-message {
	display: inline-block;
	color: white;
	font-size: 1em;
	margin: auto;
}

.floating-message-container .fa-close-message:before {
	content: "\f00d";
}

.floating-message-container .message-helper > a {
	color: inherit;
	cursor: pointer;
}

.alert-priority {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

td.alert-priority {
	border-width: 0 0 1px 1px;
}
