/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
 * Contains all the elements colors of the dashboard if not in colors.css or if different
*/

 /* --- dashboard_shape.css ---------------------------------------------------- */
	body {
 		background-color: var(--bgc-alt);
	    color: var(--txt-dark);
 	}

 	#header-admin {
		background-image: linear-gradient(to bottom, var(--main-dark) 0%, var(--main-darker) 100%);
		background-color: var(--main-dark);
		color: var(--txt-light);
 	}

	#site-name {
		color: var(--txt-light);
	}

 	#footer {
 		background-color: var(--main-darker);
 		border-color: var(--main-dark);
 	}

 	#footer span { color: var(--txt-light); }

/* --- Content -------------------------------------------------------------- */

.options {
	background-color: var(--bgc-main);
}

.db-executed-query {
	background-color: var(--bgc-main);
}

.addon-auth-content { background-color: var(--bgc-main);}

/* --- cell.css ------------------------------------------------------------- */

.cell-tile .cell-header,
.cell-tile .cell-body,
.cell-tile .cell-list,
.cell-tile .cell-footer,
.cell-tile .cell-table,
.cell-tile .cell-form,
.cell-tile .cell-textarea {
	background-color: var(--bgc-main);
}

.cell-thumbnail a:hover {
    color: var(--txt-light);
}

.cell-modal .content-panel.cell {
	background-color: transparent;
}

.cell-textarea .form-element {
	border-color: transparent;
}

.sortable-element,
.sortable-element:hover {
    background-color: var(--bgc-main);
}

/* --- Table ----------------------------------------------------------------- */
table thead th {
	background-color: var(--main-dark);
	color: var(--txt-light);
}

table thead th a { color: var(--txt-light); }

.html-table-header-sortable:hover a,
.html-table-header-sortable.sort-active a {
	background-color: var(--bgc-main);
	color: var(--txt-dark);
}

/* --- Form elements --------------------------------------------------------- */
.button {
	background-color: var(--bgc-main);
	border-color: var(--bdr-main);
}

.button-hover {
	border-color: var(--txt-dark);
}

.button-active {
	border-color: var(--main-dark);
}

@media (min-width: 769px) {
	.form-element {
		border-color: var(--bdr-main);;
	}
}

/* --- Input --- */
[type=text],
[type=email],
[type=url],
[type=number],
[type=color],
[type=tel],
[type=search],
[type=password],
[type=file],
textarea,
select {
	background-color: var(--bgc-alt);
}

[type=text]:hover,
[type=email]:hover,
[type=url]:hover,
[type=number]:hover,
[type=color]:hover,
[type=tel]:hover,
[type=search]:hover,
[type=password]:hover,
[type=file]:hover,
textarea:hover,
select:hover {
	background-color: var(--bgc-main);
}

[type=text]:focus,
[type=email]:focus,
[type=url]:focus,
[type=number]:focus,
[type=color]:focus,
[type=tel]:focus,
[type=search]:focus,
[type=password]:focus,
[type=file]:focus,
textarea:focus,
select:focus {
	background-color: var(--bgc-main);
}

[disabled],
[disabled]:hover,
[readonly],
[readonly]:hover {
	background-color: var(--bgc-alt);
}

/* --- Checkbox --- */
.mini-checkbox .checkbox [type="checkbox"] + span::before {
	background-color: var(--bgc-main);
	box-shadow: 0 0 1px 1px rgba(var(--darken), 0.25);
}

.mini-checkbox .checkbox [type="checkbox"]:checked + span::after {
	color: var(--main-dark);
}

.custom-checkbox .checkbox [type="checkbox"] + span::before {
	border-color: var(--error-dark);
}

.custom-checkbox .checkbox [type="checkbox"]:checked + span::before {
	border-color: var(--success-dark);
}

.custom-checkbox .checkbox [type="checkbox"] + span::after {
	background-color: var(--error-dark);
	color: var(--txt-light);
}

.custom-checkbox .checkbox [type="checkbox"]:checked + span::after {
	background-color: var(--success-dark);
	color: var(--txt-light);
}

.custom-radio .radio [type="radio"]:not(:checked) + span::before,
.custom-radio .radio [type="radio"]:checked + span::before {
	background-color: var(--bgc-main);
	box-shadow: 0 0 1px 1px rgba(var(--darken), 0.25);
}

.custom-radio .radio [type="radio"]:not(:checked) + span:after,
.custom-radio .radio [type="radio"]:checked + span:after {
	background-color: var(--bgc-alt);
	background-image: linear-gradient(to bottom, rgba(var(--lighten), 0.18) 0%, rgba(var(--darken), 0.1) 100%);
}

.custom-radio .radio [type="radio"]:checked + span:after {
	background-color: var(--main-dark);
	background-image: linear-gradient(to bottom, rgba(var(--lighten), 0.18) 0%, rgba(var(--darken), 0.1) 100%);
}

/* --- Lined textarea --- */
.linedtextarea {
	background-color: var(--bgc-alt);
}

.linedwrap .lines {
	background-color: var(--bgc-alt);
}

/* -- AdminMenu ModalMenu CssMenu ------------------------------------------- */

/* --- Menu header --- */
.menu-title {
	background-color: rgba(var(--darken), 0.2);
}

/* --- admin_menus --- */
.admin-menu > ul > li:hover {
	background-color: rgba(var(--darken), 0.3);
}

.admin-li.current:not(:hover) > a { background-color: rgba(var(--lighten), 0.1); }

.admin-menu ul.modal-menu li:hover > a,
.modal-menu li.current > a,
.modal-menu li:hover > a,
.admin-li.current:hover > a { border-color: var(--main-dark); }

nav.admin-index li:hover {
	background-color: rgba(var(--darken), 0.1);
}

nav.admin-index a {
	color: var(--txt-light);
}

.admin-li > a {
	color: var(--txt-light);
}

.admin-li > a:hover {
	text-shadow: 3px 3px var(--main-darker);
}

.modal-menu > li > a {
	border-color: var(--bdr-main);
	color: var(--txt-dark);
}

#admin-quick-menu {
	background-color: var(--administrator-dark);
}

#admin-quick-menu li .quick-link {
	color: var(--txt-light);
}

.js-menu-button { color: var(--txt-light)}

@media (min-width: 769px) {

	#admin-quick-menu {
		background-color: var(--bgc-main);
		border-color: var(--bdr-main);
	}

	#admin-quick-menu li .quick-link {
		color: var(--main-dark);
	}

	#admin-quick-menu li:hover .quick-link {
		color: var(--main-light);
	}
}

.admin-extend-menu li:hover {
	background-color: var(--bgc-main);
}

/* --- Menu Manager --- */
@media (max-width: 769px) {
    .themesmanagement {
    	background-color: var(--administrator-dark);
    	color: var(--txt-light);
    }

    .themesmanagement select {
        background-color: var(--bgc-main);
        color: var(--administrator-dark)
    }
}

@media (min-width: 769px) {
	.themesmanagement {
		background-color: var(--bgc-main);
		color: var(--main-dark);
	}
}

.menu-block-libelle {
	background-color: var(--bgc-main);
	border-color: var(--bdr-main);
}

.menus-block-add {
	background-color: var(--bgc-main);
	border-color: var(--bdr-main);
}

.menus-block-add-links:last-child {
	border-color: var(--bdr-main);
}

.menus-block-container {
	background-color: var(--bgc-main);
	border-color: var(--bdr-main);
}

#mod_header, #mod_subheader, #mod_left,
#mod_right, #mod_topcentral,
#mod_central, #mod_bottomcentral,
#mod_topfooter, #mod_footer {
	border-color: var(--bdr-main);
}
