
/*
 * Shape of the dashboard.
 *		- html/body
 *		- header
 *		- main
 *		- footer
*/

html {
	font-size: 100%;
	font-size: 10px;
}

body {
	position: relative;
	height: auto;
	min-height: 100%;
	font-size: 1.309em;
	font-family: 'Open Sans', sans-serif;
}

@media (min-width: 769px) {
	/* body {font-size: 1.618em ;} */
}

/* --- Top header ----------------------------------------------------------- */

#site-name-container {
	padding: 1.618em 0.809em;
	text-align: center;
}

#site-name {
	font-size: 1.309em;
	letter-spacing: 1.1pt;
	text-decoration: none;
}

/* --- Sub header ----------------------------------------------------------- */
#sub-header-admin {
	z-index: 8;
	width: 100%;
}

@media (min-width: 769px) {
	#header-admin {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 3;
		width: 230px;
	}
}

/* --- Main ----------------------------------------------------------------- */
#global {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

@media (min-width: 769px) {
	#global {
		width: 100%;
		padding-left: 230px;
	}
}

/* --- Containers --- */
#admin-main {
	padding-bottom: 40px;
	flex: 1 1 auto;
}

@media (min-width: 769px) {
	#admin-contents{
		padding: 0.618em 2em;
	}
}

/* --- Search engine --- */
.robot {
	font-size: 0.809em;
	font-weight: bold;
}

/* --- Footer --------------------------------------------------------------- */
#footer {
	min-height: 5vh;
	padding: 0.618em 1.309em;
	border-width: 5px 0 0 0;
	border-style: solid;
	border-color: transparent;
	text-align: right;
	width: 100%;
}
