/*
 * Contains all the elements colors of the dashboard if not in colors.css or if different
*/

 /* --- dashboard_shape.css ---------------------------------------------------- */
	body {
 		background-color: #ECF2F8;
	    color: #555555;
 	}

 	#header-admin {
		background-image: linear-gradient(to bottom, #366493 0%, #1c334a 100%);
		background-color: #366493;
		color: #FFFFFF;
 	}

	#site-name {
		color: #FFFFFF;
	}

 	#footer {
 		background-color: #1c334a;
 		border-color: #366493;
 	}

 	#footer span { color: #FFFFFF; }

/* --- Content -------------------------------------------------------------- */

.options {
	background-color: #FFFFFF;
}

.db-executed-query {
	background-color: #FFFFFF;
}

/* --- cell.css ------------------------------------------------------------- */

.cell-tile .cell-header,
.cell-tile .cell-body,
.cell-tile .cell-list,
.cell-tile .cell-footer,
.cell-tile .cell-table,
.cell-tile .cell-form,
.cell-tile .cell-textarea {
	background-color: #FFFFFF;
}

.cell-thumbnail a:hover {
    color: #FFFFFF;
}

.cell-modal .content-panel.cell {
	background-color: transparent;
}

.cell-textarea .form-element {
	border-color: transparent;
}

/* --- Addons (themes/modules/langs) ---------------------------------------- */
article .addon-menu-title,
.addon-menu-title a {
	color: #FFFFFF;
}

.multiple-select-button,
.addon-menu-title,
.submit.addon-menu-title              { background-color: #366493; border-color: #366493; }
.default-addon .addon-menu-title      { background-color: #2F9674; border-color: #2F9674; }
.deactivate-element .addon-menu-title { background-color: #888888; border-color: #888888; }
.not-compatible .addon-menu-title     { background-color: #913636; border-color: #913636; }

.addon.not-compatible {
	border-color: #913636;
}

span.not-compatible {
	color: #913636;
}

.multiple-select-button:hover,
.addon-menu-container:hover .addon-menu-title,
.addon-menu-container.opened .addon-menu-title,
.addon-menu-title.opened { background-color: #336493; }

.addon-menu-container .addon-menu-title,
.addon-menu-container.opened .addon-menu-title,
.addon-menu-container.opened .addon-menu-title a,
.addon-menu-title.opened,
.addon-menu-title.opened a { color: #FFFFFF; }

.deactivate-element .addon-menu-container:hover .addon-menu-title,
.deactivate-element .addon-menu-container.opened .addon-menu-title { color: #888888; }

.not-compatible .addon-menu-container:hover .addon-menu-title,
.not-compatible .addon-menu-container.opened .addon-menu-title { color: #913636; }

.default-addon .addon-menu-container:hover .addon-menu-title { color: #2F9674; }

.addon-menu-content {
	background-color: #FFFFFF;
	color: #FFFFFF;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.multiple-select-menu-container .addon-menu-content {
	box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
}

.deactivate-element .addon-menu-content { border-color: #888888; }
.not-compatible .addon-menu-content     { border-color: #913636; }

.addon-menu-item > * { background-color: #366493; }

.not-compatible .addon-menu-item:hover > *,
.not-compatible .addon-menu-item > .submit:hover { background-color: rgba(145, 54, 54, 0.2); color: #913636; }

.addon-auth-content {
	box-shadow: 0 0 10px rgba(54, 100, 147, 0.2);
	border-color: #DDDDDD;
	background-color: #FFFFFF;
}

.addon-auth i { color: #366493; }
.default-addon .addon-auth i { color: #DDDDDD; }

.multiple-select-button .select-all-button {
	background-color: transparent;
	border: none;
	box-shadow: none;
	color: #FFFFFF;
}

.addon-menu-checkbox {
	background-color: #366493;
}

.sortable-element,
.sortable-element:hover {
    background-color: #FFFFFF;
}
/* --- Table ----------------------------------------------------------------- */
table thead th {
	background-color: #366493;
	color: #FFFFFF;
}

table thead th a { color: #FFFFFF; }

.html-table-header-sortable:hover a,
.html-table-header-sortable.sort-active a {
	background-color: #FFFFFF;
	color: #555555;
}

/* --- Form elements --------------------------------------------------------- */
.button {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
}

.button-hover {
	border-color: #555555;
}

.button-active {
	border-color: #366493;
}

@media (min-width: 769px) {
	.form-element {
		border-color: #dddddd;
	}
}

/* --- Input --- */
[type=text],
[type=email],
[type=url],
[type=number],
[type=color],
[type=tel],
[type=search],
[type=password],
[type=file],
textarea,
select {
	background-color: #ECF2F8;
}

[type=text]:hover,
[type=email]:hover,
[type=url]:hover,
[type=number]:hover,
[type=color]:hover,
[type=tel]:hover,
[type=search]:hover,
[type=password]:hover,
[type=file]:hover,
textarea:hover,
select:hover {
	background-color: #FFFFFF;
}

[type=text]:focus,
[type=email]:focus,
[type=url]:focus,
[type=number]:focus,
[type=color]:focus,
[type=tel]:focus,
[type=search]:focus,
[type=password]:focus,
[type=file]:focus,
textarea:focus,
select:focus {
	background-color: #FFFFFF;
}

.label-time:after {
	background-color: #ECF2F8;
}

[disabled],
[disabled]:hover,
[readonly],
[readonly]:hover {
	background-color: #ECF2F8;
}

/* --- Checkbox --- */
.mini-checkbox .checkbox [type="checkbox"] + span::before {
	background: #FFFFFF;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
}

.mini-checkbox .checkbox [type="checkbox"]:checked + span::after {
	color: #0066cc;
}

.custom-checkbox .checkbox [type="checkbox"] + span::before {
	border-color: #DDDDDD;
}

.custom-checkbox .checkbox [type="checkbox"] + span::after {
	background-color: rgba(0, 0, 0, 0.1);
}

.custom-checkbox .checkbox [type="checkbox"]:checked + span::after {
	background-color: #0066cc;
	color: #FFFFFF;
}

.custom-radio .radio [type="radio"]:not(:checked) + span::before,
.custom-radio .radio [type="radio"]:checked + span::before {
	background-color: #FFFFFF;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
}

.custom-radio .radio [type="radio"]:not(:checked) + span:after,
.custom-radio .radio [type="radio"]:checked + span:after {
	background-color: #DDDDDD;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.18) 0%, rgba(56, 56, 56, 0.1) 100%);
}

.custom-radio .radio [type="radio"]:checked + span:after {
	background-color: #0066cc;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.18) 0%, rgba(56, 56, 56, 0.1) 100%);
}

/* --- Lined textarea --- */
.linedtextarea {
	background-color: #E5E6E6;
}

.linedwrap .lines {
	background-color: #E5E6E6;
}

/* -- AdminMenu ModalMenu CssMenu ------------------------------------------- */

/* --- Menu header --- */
.menu-title {
	background-color: rgba(0, 0, 0, 0.2);
}
/* --- admin_menus --- */

.admin-menu > ul > li:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.admin-li.current:not(:hover) > a { background-color: rgba(255, 255, 255, 0.1); }

.admin-menu ul.modal-menu li:hover > a,
.modal-menu li.current > a,
.modal-menu li:hover > a,
.admin-li.current:hover > a { border-color: #366493; }

nav.admin-index li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

nav.admin-index a {
	color: #FFFFFF;
}

.admin-li > a {
	color: #FFFFFF;
}

.admin-li > a:hover {
	text-shadow: 3px 3px #152638;
}

.modal-menu > li > a {
	border-color: #DDDDDD;
	color: #555555;
}

#admin-quick-menu {
	background-color: #353535;
}

#admin-quick-menu li .quick-link {
	color: #FFFFFF;
}

.js-menu-button { color: #FFFFFF}

@media (min-width: 769px) {

	#admin-quick-menu {
		background-color: #FFFFFF;
		border-color: #DDDDDD;
	}

	#admin-quick-menu li .quick-link {
		color: #366493;
	}

	#admin-quick-menu li:hover .quick-link {
		color: #0066CC;
	}
}

.admin-extend-menu li:hover {
	background-color: #FFFFFF;
}

.admin-extend-menu .fa-cog 								{ color: #999999; }
.admin-extend-menu li:hover .fa-cog 					{ color: #777777; }

.admin-extend-menu .fa-download 						{ color: #F86227; }
.admin-extend-menu li:hover .fa-download 				{ color: #D6511C; }

.admin-extend-menu .fa-clock 							{ color: #FCC44C; }
.admin-extend-menu li:hover .fa-clock 					{ color: #E5AF39; }

.admin-extend-menu .fa-image    						{ color: #05BAB0; }
.admin-extend-menu li:hover .fa-image   				{ color: #058480; }

.admin-extend-menu .fa-language 						{ color: #2ECC71; }
.admin-extend-menu li:hover .fa-language 				{ color: #16A352; }

.admin-extend-menu .fa-bell 							{ color: #F1C40F; }
.admin-extend-menu li:hover .fa-bell 					{ color: #D8B00E; }

.admin-extend-menu .fa-sync 							{ color: #DDDDDD; }
.admin-extend-menu li:hover .fa-sync 				{ color: #BBBBBB; }

.admin-extend-menu .fa-exclamation-triangle 			{ color: #BA4B49; }
.admin-extend-menu li:hover .fa-exclamation-triangle 	{ color: #880000; }

.admin-extend-menu .fa-building 						{ color: #34495E; }
.admin-extend-menu li:hover .fa-building 				{ color: #1B344D; }

.admin-extend-menu .fa-user 							{ color: #1FA6D5; }
.admin-extend-menu li:hover .fa-user 					{ color: #1589B1; }

.admin-extend-menu .fa-users 							{ color: #3498DB; }
.admin-extend-menu li:hover .fa-users 					{ color: #1B7CBD; }

.admin-extend-menu .fa-bars 							{ color: #9B59B6; }
.admin-extend-menu li:hover .fa-bars 					{ color: #8533A7; }

.admin-extend-menu .fa-square 						    { color: #3A3A3A; }
.admin-extend-menu li:hover .fa-square				    { color: #212121; }

.admin-extend-menu .fa-list-ul 							{ color: #1FA6D5; }
.admin-extend-menu li:hover .fa-list-ul 				{ color: #1589B1; }

.admin-extend-menu .fa-file 							{ color: #E67E22; }
.admin-extend-menu li:hover .fa-file 				    { color: #CA6A14; }

.admin-extend-menu .fa-comment 							{ color: #FC4C7D; }
.admin-extend-menu li:hover .fa-comment 				{ color: #E03363; }

.admin-extend-menu .fa-smile 						    { color: #FCC44C; }
.admin-extend-menu li:hover .fa-smile 				    { color: #E5AF39; }

.admin-extend-menu .fa-cubes 							{ color: #05BAB0; }
.admin-extend-menu li:hover .fa-cubes 					{ color: #058480; }

/* --- Menu Manager --- */
@media (max-width: 769px) {
    .themesmanagement {
    	background-color: #353535;
    	color: #FFFFFF;
    }

    .themesmanagement select {
        background-color: #FFFFFF;
        color: #353535
    }
}

@media (min-width: 769px) {
	.themesmanagement {
		background-color: #FFFFFF;
		color: #366493;
	}
}

.menu-block-libelle {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
}

.menus-block-add {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
}

.menus-block-add-links:last-child {
	border-color: #DDDDDD;
}

.menus-block-container {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
}

#mod_header, #mod_subheader, #mod_left,
#mod_right, #mod_topcentral,
#mod_central, #mod_bottomcentral,
#mod_topfooter, #mod_footer {
	border-color: #888888;
}
