/*--------------------------------------
			connect_mini.css
			Module connect
--------------------------------------*/

/* classe generique */
#connect-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#connect-menu a {
	color: #DEDEDE;
	text-decoration: none;
}

i.alert {
	color: #9F3F0E;
}

.fa-connect:before {
	content: "\f085";
}

#connect-menu .horizontal-fieldset {
	margin: 0px auto;
	min-height: 28px;
	max-width: 1024px;
}

#connect-menu div.connect-content {
	text-align: center;
	margin: auto;
}

/* affichage du message de bienvenue */
.connect-welcome {
	overflow: hidden;
	text-align: right;
	color: #E3F3F3;
	font-style: Italic;
	padding: 7px 10px 0px 5px;
	height: 28px;
	float: left;
}

.connect-welcome .modo,
.connect-welcome .admin,
.connect-welcome .member {
	color: #E0F3FF;
	font-weight: normal;
	text-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
	text-transform: capitalize;
}

/* Bouton responsive */
.js-menu-button {
	display: none;
}

@media (max-width: 768px) {
	.js-menu-button {
		display: inline-block;
		padding: 5px 10px 5px 10px;
		float: right;
	}

	.disconnected .js-menu-button {
		float: none;
	}
}

/* Bouton du mode deconnecte */
#connect-menu button {
	transition: 0.3s ease-out;
}

#connect-menu button#btn-connect:hover,
#connect-menu button#btn-register:hover {
	transition: 0.3s ease-out;
	color: #EFEFEF;
}

#connect-menu button#btn-connect {
	background-color: #168661;
	border-color: #096A4A;
	color: #7CCAB0;
}
#connect-menu button#btn-connect:hover {
	background-color: #2F9674;
	border-color: #168661;
}

#connect-menu button#btn-register {
	background-color: #1E5083;
	border-color: #1E5083;
	color: #81A4C8;
}
#connect-menu button#btn-register:hover {
	background-color: #366493;
	border-color: #1E5083;
}

@media (min-width: 769px) {
	#connect-menu button {
		margin-top: 1px;
	}
}

@media (max-width: 768px) {
	#connect-menu.active button.submit {
		display: block;
		padding: 10px 20px;
		margin: 10px auto 0 auto;
		width: 70%;
	}

	#connect-menu button {
		display: block;
	}
}

/* Mot de passe oublie */ 
@media (min-width: 769px) {
	.forgot-pass {
		display: inline-block;
		padding: 0px 0px 0px 5px;
		vertical-align: middle;
		color: #E0F3FF;
	}
	.forgot-pass:hover {
		color: #F1F1F1;
	}
}

@media (max-width: 768px) {
	#connect-menu.disconnected .forgot-pass {
		padding: 20px;
		display: block;
	}
	#connect-menu.disconnected .forgot-pass:hover {
		text-decoration: underline;
	}
}



/* Affichage des elements */
@media (min-width: 769px) {
	#connect-menu ul.connect-content {
		text-align: center;
		float: right;
	}

	ul.connect-content > li {
		border-left: 1px solid rgba(255, 255, 255, 0.30);
		border-right: 1px solid rgba(255, 255, 255, 0.20);
	}

	ul.connect-content > li:first-child { border-left: none;  }
	ul.connect-content > li:last-child  { border-right: none; }

	.connect-menu-container {
		position: relative;
		float:left;
		height: 28px;
		width: 35px;
		padding: 6px 2px 0px 0px;
		border-right: 1px solid rgba(255, 255, 255, 0.20);
		color: #FFFFFF;
		transition: 0.5s ease-out;
		transition-delay: 0.3s;
	}
	.connect-menu-container:hover {
		background-color: #373737;
		transition: 0.3s ease-out;
	}

	.connect-disconnect {
		border-left: 1px solid rgba(255, 255, 255, 0.30);
		height: 28px;
		float: left;
	}

	.connect-disconnect i {
		padding: 6px 10px 5px 10px;
		color: #FFFFFF;
	}

	#connect-menu ul.connect-connected {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		top: 28px;
		left: -220px;
		width: 280px;
		background-color: #373737;
		padding: 5px;
		text-align: left;
		transition: 0.3s ease-out;
		transition-delay: 0.3s;
	}

	#connect-menu li.connect-menu-container:hover ul.connect-connected {
		transition: 0.5s ease-out;
		opacity: 1;
		visibility: visible;
	}

	ul.connect-connected > li {
		padding: 2px 0;
	}

	ul.connect-connected a {
		color: #FFFFFF;
	}

	.connect-avatar {
		height: 100px;
		width: 90px;
		margin: 5px 5px 0px 0px;
		float: left;
	}

	.connect-avatar img {
		overflow: visible;
	}

	#connect-menu form {
		display: inline-block;
	}
}

@media (max-width: 768px) {
	#connect-menu.disconnected .horizontal-fieldset {
		text-align: center;
	}

	.connect-content {
		display: none;
	}

 	#connect-menu.active .fa-bars:before {
		content: "\f00d";
	}

	#connect-menu.active .connect-content {
		display: block;
		padding-top: 28px;
	}
	#connect-menu.active .fa-connect {
		display: none;
	}

	#connect-menu.active li {
		width: 100%;
		text-align: left;
		padding-top: 5px;
	}

	#connect-menu.active .connect-connected {
		border-top: 1px solid rgba(255, 255, 255, 0.15);
	}

	#connect-menu.active .connect-connected span,
	#connect-menu.active .connect-content .connect-welcome {
		display: none;
	}
	
	#connect-menu.active .connect-connected li:hover,
	#connect-menu.active .connect-disconnect a:hover {
		background-color: rgba(255, 255, 255, 0.10);
	}
	
	#connect-menu.active .connect-connected li a,
	#connect-menu.active .connect-disconnect a {
		display: block;
		padding: 7px 5px 7px 10px;
	}

	#connect-menu.active .connect-connected li a i.fa {
		vertical-align: top;
	}
	
	#connect-menu.active .connect-content form {
		padding: 0px 10px;
	}

	#connect-menu.active .connect-content input {
		display: inline-block;
		padding: 10px 20px;
	}

	#connect-menu.active .connect-content input#autoconnect {
		margin-bottom: 4px;
	}

	#connect-menu.active .connect-content form span {
		padding: 5px 0px 0px 5px;
	}

	#connect-menu.active .connect-content input#login,
	#connect-menu.active .connect-content input#password {
		width: 100%;
		margin-bottom: 10px;
	}
}

/* Partie Sociale */
#connect-menu a.twitter { color: #5EA9DD; }

#connect-menu a.fb i,
#connect-menu a.google i {
	height: 25px;
	width: 29px;
	color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	font-size: 1.5em;
	margin-top: 1px;
	text-align: left;
	overflow: hidden;
	transition: 0.3s ease-out;
}
#connect-menu a.fb:hover i,
#connect-menu a.google:hover i {
	color: #FFFFFF;
	transition: 0.3s ease-out;
}

#connect-menu a.fb i {
	padding: 4px 0 0 10px;
	background-color: #3B5998;
}

#connect-menu a.google i {
	padding: 2px 0 0 0;
	background-color: #D8432E;
}

@media (min-width: 769px) {
	#connect-menu a span { 
		display: none;
	}
}

@media (max-width: 768px) {
	#connect-menu a.social-connect {
		color: #DEDEDE;
		padding: 5px 10px;
		display: block;
		text-align: center;
		margin: 5px auto;
		border-radius:4px;
		width: calc(70% - 10px);
	}

	#connect-menu a.fb {
		margin-top: 20px;
	}

	#connect-menu a.fb 	{ background: #3B5998; }
	#connect-menu a.google 	{ background: #D8432E; }	
	#connect-menu a.twitter { background: #5EA9DD; }

	#connect-menu a span { 
		font-size: 0.89em;
	}
}
