/* --------------------------------------
		design.css
Contient les conteneur, fortement dépendant du design.
--------------------------------------*/ /* Corps du site 
--------------------------------------*/
* {
    margin:0;
    padding:0;
    font-size:100%;
}

body {
    background-color:#f2f8fc;
    font-size:12px;
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana,
        'Bitstream Vera Sans', Times, serif;
    color:#0E2A48;
    margin:auto;
    padding:0;
	width:1000px;

	
}
/* Conteneurs 
--------------------------------------*/
    /* ##### Conteneur global du site ###### */
div#global {
    margin:auto 5px;
    margin-bottom:15px;
}

/* ##### Entéte de la page ###### */
div#header_container {
    background: url(images/header.png) no-repeat;
	height: 233px;

}

/* ##### Entéte de la page ###### */
div#header,div#header_admin {
    height:95px;
	
}

/* #####  Conteneur en dessous de l'entéte ###### */
div#sub_header,div#sub_header_admin {
	background: url(images/sub_header2.png) no-repeat;
    height:auto;
	padding-top:40px;
	text-align:left;
    padding-right:10px;
	position:absolute;
	height:34px;
	width:947px;
	margin-left:25px;
	margin-top: 100px;
}

div#sub_header p a {
    color:#445766;
}

/* Lien du subheader */
div#header .dynamic_menu h5.links {
    background:none;
    border:none;
    color:#edfff0;
    width:134px;
    background:url(images/button.png) no-repeat;
    padding:5px 0px;
    font-size:11px;
    margin-right:1px;
}

div#header .dynamic_menu h5.links:hover {
    color:#edfff0;
    cursor:default;
    background:url(images/button_click.png) no-repeat;
}

div#header .dynamic_menu h5 a {
    color:#FFFFFF;
    text-decoration:none;
}

/* ##### Compteur de visites  ###### */
div#compteur {
	position:relative;
	left:580px !important;
	left:-5px;
	top:125px;
	padding:10px;
	padding-top:5x;
	padding-left:10px;
	background: url(images/comp.png) no-repeat;
	width : 180px;
	height: 60px;
}

/* ##### Menu de gauche ###### */
div#left_menu {
    float:left;
    width:200px;
    margin:0;
    margin-top:10px;
    margin-right:2px !important;
    margin-right:-1px;
    padding:0;
}

/* ##### Menu droit ###### */
div#right_menu {
    float:right;
    width:190px;
    margin:0;
    margin-top:10px;
    margin-left:10px !important;
    margin-left:7px;
}

/* #####  Contenu de la page ###### */
div#main {
    width:700;
    min-width:450px;
    overflow:hidden !important;
    height:auto !important;
    overflow:visible;
    height:1%;
    padding:0;
    margin:0;
    float:none;
}

/* ##### Contenu central ###### */
div#main_content {
    width:auto;
    margin-top:10px;
    padding:10px 10px;
	margin-left: 20px;
    padding-top:5px;
    border-spacing:1px;
    border:1px #cccccc solid;
    background-color:#ffffff;
    -moz-border-radius:12px;
    -khtml-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
}

/* ##### Barre de lien rapide ###### */
div#links { /*width:96%;*/
    text-indent:10px;
    margin-bottom:20px;
}

/* ##### Emplacement au dessus de contenu de la page ###### */
div#top_contents {
    margin-top:15px;
	margin :0;
	margin-left: 20px;
    margin-bottom:15px;
    background: url(images/sub_header.png) no-repeat;
	height:29px;
	width:622px;
}

/* ##### Emplacement en dessous de contenu de la page ###### */
div#bottom_contents {
    padding-top:15px;
    padding-bottom:15px;
    float:left;
}

/* ##### Bloc au dessus du pied de page ###### */
div#top_footer {
    clear:both;
    padding:0.75em;
    margin-top:25px;
    border-spacing:1px;
    height:50px;
      background:url(images/footer.png) no-repeat;
}

/* ##### Pied de page ###### */
div#footer {
     clear:both;
    height:50px;
    margin:auto;
    margin-top:12px;
    padding:0px;
    padding-top:10px;
    padding-bottom:15px;
    text-align:center;

    background:url(images/footer.png) no-repeat;
}

div#footer span {
    color:#445766;
    font-size:10px;
}

div#footer span a {
    color:#445766;
    font-size:10px;
}

/* ##### Liens rapides ###### */
div#links_vertical {
    display:block !important;
    display:none;
    position:fixed;
    background:url(images/vertical_menu_repeat.png) repeat-y;
    top:45%;
    margin-left:989px;
    width:27px;
    text-align:center;
    padding-left:2px;
}

div#links_vertical_top {
    width:29px;
    background:url(images/vertical_menu_top.png) no-repeat;
    text-align:center;
    margin-left:-2px;
    padding-top:8px;
}

div#links_vertical_central {
    width:27px;
    text-align:center;
    margin-left:-2px;
    padding:4px 0px;
}

div#links_vertical_bottom {
    width:29px;
    background:url(images/vertical_menu_bottom.png) no-repeat;
    text-align:center;
    height:32px;
    margin-left:-2px;
}

.bglinks {
    background:url(images/bgmenu_links.jpg) no-repeat bottom right;
    margin:0px;
    padding:0px;
    list-style-type:none;
    padding-bottom:7px;
    margin-bottom:5px;
}

.block {
    padding-top:40px;
	margin-left:25px;
	background: url(images/sub_header2.png) no-repeat;
	 height:74px;
	 width:947px;
}