.input-element-button input {
	width: 120px;
	font-size: 12px;
	border-radius: 4px 0px 0px 4px;
}

.input-element-button button {
	font-size: 12px;
	border-radius: 0px 4px 4px 0px;
	margin-left: -1px;
}

#mini-search-form {
	margin: 20px 25px 10px 0;
	display: flex;
	white-space: nowrap;
	vertical-align: middle;
}