/*
* Copy this file in your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

#mini-search-form {
	margin: 1em 1em 1em 0;
	white-space: nowrap;
	vertical-align: middle;
}

@media (min-width: 769px) {
	#mini-search-form {
		margin: 0.618em 1.618em 0.618em 0;
	}
}
