/* Surcharge de la classe notes pour passer � la ligne et ne pas deformer les tableaux */
.notes{ white-space: nowrap; }

#scrolling_images {
    position: relative;
    width: 150px;
    height: 150px;
    margin:  20px auto;
    overflow: hidden;
}

#mini-gallery-slideshow {
    position: absolute;
    top: 0;
    left: 0; 
    margin: 0;            
    padding: 0;
}

#mini-gallery-slideshow li {
     display: inline-block;
     width: 150px;
    float: left;
}