/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

/* --- Tools menu for filters ----------------------------------------------- */
@media (min-width: 769px) {
	#cssmenu-galleryfilter ul {
		min-width: 130px;
	}
}

.gallery-tools-container {
	margin-bottom: 1.618em;
}

/* --- gallery list --------------------------------------------------------- */

.pic-name-input {
	width: 100%;
}

/* pics max */
.bt td {
	width: 100% !important;
}

.table-pics {
	display: table;
	margin: auto;
	table-layout: fixed;
}

.table-cat {
	display: table;
	table-layout: fixed;
}

.table-cat tbody td {
	padding: 1em 0;
}

.table-pics tbody td {
	padding: 1em 0;
}

.article-gallery .options {
	float: none;
}

.pics-max {
	padding: 1em 0;
	overflow: auto;
	text-align: center;
}

.pics-max-thumbnails {
	display: table;
	margin: auto;
	table-layout: fixed;
}

.move-pics-container {
	float: left;
	display: none;
	padding: 0.618em;
}

.move-pics-block {
	width: 190px;
	overflow: auto;
}

.move-pics-block > div {
	margin-bottom: 0.228em;
	font-weight: bold;
}

.nbr-total-pics {
	padding-top: 1em;
	text-align: center;
}

.link-to-other-pics-container {
	margin: auto;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.actions-container {
	margin: auto;
}

.image-quota-container {
	margin: auto;
	width: 50%;
	text-align: center;
}

.article-gallery > header {
	display: none;
}

.mr5 {
	margin-right: 0.309em;
}
