/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

#scrolling-images {
	position: relative;
	height: 150px;
	overflow: hidden;
	text-align: center;
}

#module-mini-gallery ul {
	margin: 0 auto;
	list-style: none;
}

#scrolling-images .mini-picture {
	display: flex;
	justify-content: center;
	align-items: center;
}
