.newsletter_form{
    width: 250px;
    height: 20px;
    color: #ffffff;
    background-color: transparent;
    background-image: url(images/newsletter_form.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
}
.newsletter_title{
    font-weight:bold;
    text-indent:10px;
    font-size:11px;
    margin:0;
    margin-right:5px;
    margin-top:3px;
    float:left;
}
.newsletter_text{
    height:14px;
    border:none;
    border-left:1px solid #A9A9A9;
}
.newsletter_img{
    margin-left:-4px;
    padding:0;
    border:none;
}