#search_form {
	float:right;
	margin-top: 40px;
	margin-right: 60px;
}
 
.search_entry {
	background:url('images/search.png') no-repeat;
	border:none;
	padding-left:23px;
	width:96px;
	height:22px;
	font-size:12px;
	color:#E9ECEF;
}
.search_entry:hover {
	background:url('images/search.png') no-repeat;
	border:none;	
}
.search_entry:focus {
	background:url('images/search.png') no-repeat;
	border:none;	
}
 
.search_submit {
	padding:0px;
	border:none;
	width:31px;
	height:22px;
	background:url('images/search_submit.png') no-repeat;
}
.search_submit:hover {
	border:none;
	background:url('images/search_submit.png') no-repeat;
	cursor:pointer;
}
.search_submit:focus {
	border:none;
	background:url('images/search_submit.png') no-repeat;
}
 
input.mini_search_vert {
	background:url('../search_mini.png') no-repeat;
	background-color:#FFFFFF;
	background-position:2px 1px;
	padding-left:22px;
	border-radius:3px;
}