#newsletter {
	float: right;
}

.newsletter-link {
	margin: 0.618em 0 0 0;
}

.newsletter-form {
	white-space: nowrap;
	vertical-align: middle;
}

.newsletter-title {
	padding: 0.309em 0.618em 0.309em 0;
	vertical-align: middle;
	display: block;
}

@media (min-width: 769px) {
	.newsletter-title {
		display: inline-block;
	}
}

#newsletter .newsletter-submit {
	margin: 0 0 0.1618em -0.228em;
	padding: 0.309em 0.618em;
}
