/*--------------------------------------
		design.css
Contient les conteneurs de mise en page.
Le design.css permet de mettre en forme votre site web avec le design de votre choix
--------------------------------------*/


/* -- Elements HTML generiques specifique au theme -- */
/* -------------------------------------------------- */
html {
	font-size: 100%;
	font-size: 10px;
}

body {
	position: relative;
	height: auto;
	min-height: 100%;
	background-color: #EFEFEF;
	color: #555555;
	font-size: 1.3em;
	font-family: "Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
}

@media (max-width: 768px) {
	body {
		font-size: 1.4em;
	}
}

/* -- En-tete de page - Header -- */
/* ------------------------------ */
header#header {
	background: linear-gradient(to bottom, #81a4c8 0%,#517ba6 22%,#366493 51%,#1e5083 83%,#103b67 100%);
}

/* --- Partie superieure du header --- */
div#command-bar {
	background-color: rgba(255, 255, 255, 0.15);
}
div#top-header {
	height: 180px;
	max-width: 1024px;
	margin: auto;
	display: flex;
	flex-direction: row;
}

@media (max-width: 768px) {
	div#top-header {
		flex-direction: column;
	}
}

div#top-header-content {
	flex: 1 1 auto;
}

@media (max-width: 768px) {
	div#top-header-content {
		align-self: flex-end;
	}
}

/* --- Partie inferieur du header --- */
div#sub-header {
	min-height: 35px;
	background-image: linear-gradient(#373737,#232323);
	border-top: 1px solid #2F2F2F;
	box-shadow: #2F2F2F 0 0 3px;
}

div#sub-header-content{
	max-width: 1024px;
	margin: auto;
}

/* --- Logo et Nom du site web --- */
div#site-infos {
	max-width: 940px;
	margin: 3.5em 0 0 1.5em;
	flex: 1 1 auto;
	display: flex;
	display: -ms-flexbox;
}

div#site-logo {
	margin: 0 1em 0 0;
	background-image: url('images/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
}

div#site-name-container {
	margin: 1em 0 0 0;
}

a#site-name {
	color: #F9FCFF;
	font-size: 4em;
	font-weight: bold;
	line-height: 1em;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-shadow: 0 0 0 rgb(0, 0, 0), 1px 0 0 rgb(0, 0, 0), 2px 0 0.1px rgba(0, 0, 0, 0.1), 2px 0 0.1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, .1);
}

span#site-slogan {
	display: block;
	padding: 0.1em 0 0 0.1em;
	color: #FFFFFF;
	font-size: 1em;
	letter-spacing: 0.1em;
}

@media (max-width: 768px) {
	div#site-logo {
		width: 60px;
		height: 60px;
	}

	div#site-name-container {
		margin: 0.4em 0 0 0;;
	}

	a#site-name {
		font-size: 3em;
	}
	
}

/* -- Conteneur global du site -- */
/* ------------------------------ */
div#global {
	max-width: 1024px;
	margin: 1px auto 0 auto;
	padding: 0;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row; /* IE10 Tricks */
	-webkit-flex-direction: row;
	border-width: 0px 1px;
	border-style: solid;
	border-color: #DFDFDF;
	background-color: #FAFAFA;
}

div#main {
	max-width: 100%;
	position:relative;
}

aside#menu-right {
	background-image: #F4F4F4;
	position: relative;
}

@media (min-width: 769px) {
	div#global {
		min-height: 100vh;
	}

	#main {
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
		flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		padding: 0 10px;
		width: 77%;
	}

	aside#menu-left,
	aside#menu-right {
		width: 23%;
		padding: 10px 5px 10px 5px;
	}

	aside#menu-left  { 
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
	}
	aside#menu-right { 
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
		border-left: 1px solid #DEDEDE;
	}
	
	div#top-footer {
		order : 4;
		-ms-flex-order: 4;
		-webkit-flex-order: 4;
		flex-basis:100%;
		-ms-flex-basis:100%;
	}
	div#main:before,
	aside#menu-right:before {
		position: absolute;
		top: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		content:"";
		box-shadow: #999999 0px 0px 3px;
	}

	div#main:before 		{ left: 0; }
	aside#menu-right:before { right: 0; }
}

@media (max-width: 768px) {
	div#global {
		flex-direction: column;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
	}

	#main {
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
		padding: 0 0 10px 0;
	}

	aside#menu-left,
	aside#menu-right {
    	width: 100%;
	}

	aside#menu-left  {
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
	}
	aside#menu-right {
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
		padding-top: 50px;
	}

	div#top-footer {
		order : 4;
		-ms-flex-order: 4;
		-webkit-flex-order: 4;
	}
}

div#top-footer {
	padding: 2% 0;
}


/* -- Contenu de la page -- */
/* ------------------------ */

/* --- Contenu central --- */
div#main-content {
	padding: 1.5em 0.8em;
}

div.block-container {
	margin-top: 15px;
}

/* --- Emplacement au dessus et en dessous du contenu de la page --- */
div#top-content {
	margin: 0 0 2% 0;
}

/* --- Emplacement au dessus du pied de page --- */
div#bottom-content {
	margin: 2% 0 0 0;
}


/* -- Pied de page - Footer -- */
/* --------------------------- */
footer#footer {
	clear: both;
	width: 100%;
	background-color: #103B67;
	border-top: 2px solid #517BA6;
}

footer#footer .footer-content {
	margin: 0 auto 0 auto;
	max-width: 1024px;
	padding: 1.5em 0;
	border-bottom: 2px groove #444444;
}

footer#footer .footer-infos {
	min-height: 40px;
	text-align: center;
	padding-top: 10px;
}

footer#footer .footer-infos span {
	color: #81A4C8;
	font-size: 0.8em;
}

footer#footer .footer-infos a {
	color: #9F7D0E;
}
footer#footer .footer-infos a:hover {
	color: #E2BE47;
	text-decoration: none;
}


/* -- Elements specifiques PHPboost -- */
/* ----------------------------------- */

/* --- Compteur de visite --- */
div#compteur {
	color: #E9ECD9;
	position: absolute;
	right: 0;
	font-size: 0.9em;
	margin-right: 15px;
	text-align: right;
}

@media (min-width: 769px) {
	div#compteur {
		top: 100px;
	}
}

/* --- Barre d'outils --- */
#actions-links-menu {
	float:right;
	margin: 0 5px 5px 5px;
}

/* --- Barre de lien rapide --- */
nav#breadcrumb {
	text-indent: 10px;
	margin: 0px 0px 20px 10px;
}

nav#breadcrumb ol {
	list-style: none;
	margin: 0;
}

nav#breadcrumb ol li {
	display: inline;
}

nav#breadcrumb ol li:not(.current):after {
	content: '/';
	color: #616161;
}
