/* Conteneur des messages de la shoutbox.*/
div#shout_container{
	width:142px;
	height:150px;
	overflow:hidden;
	text-align:left;
	margin:auto;
	word-wrap: break-word;
}

.shout_horizontal div#shout_container{
	width:auto;
}

.shout_horizontal {
	width:auto;
}

.shout_spacing {
	margin:0;
	margin-bottom:10px;
}