.informations-side {
	margin: 69px 0;
	width: 38%;
}

.form-side {
	width: 60%;
}

.per-default {
	margin: 0 13px 0 15px;
}

.is_default_title {
	margin-right: 30px;
}

.name_title {
	margin-right: 92px;
}

div[id*="AdminContactFieldFormController_possible_values_"] {
	margin: 10px 0 0 0;
	clear: both;
}

div[id*="AdminContactFieldFormController_possible_values_"] .form-field-checkbox {
	display: inline-block;
	vertical-align: middle;
}

input[id*="field_name_AdminContactFieldFormController_possible_values_"] {
	margin-bottom: 5px;
	width: calc(100% - 75px);
}

input[id*="field_email_AdminContactFieldFormController_possible_values_"] {
	margin-bottom: 5px;
}

#add-AdminContactFieldFormController_possible_values i[class*="fa-plus"] {
	float: right;
}

@media (min-width: 769px) {
	#ContactController_send_a_mail .fieldset-inset {
		margin: auto;
		padding-top: 30px;
		width: 90%;
		max-width: 630px;
	}

	#ContactController_send_a_mail .fieldset-inset .form-element {
		margin: 0 1em 2em 1em;
	}

	#ContactController_f_sender_mail_field .form-field {
		width: 59%;
		max-width: none;
	}

	#ContactController_f_sender_mail_field input {
		width: 100%;
	}

	#ContactController_f_subject_field {
		margin: 0 1em 1em 1em;
	}
}	

#ContactController_f_subject_field .form-field {
	max-width: none;
	display: block;
}

#ContactController_f_subject_field label {
	display: block;
	width: 100%;
	padding-bottom: 2px;
}

#ContactController_f_subject_field label span {
	display: inline-block;
}

#ContactController_f_subject_field input {
	display: block;
	width: 100%;
	max-width: 604px;
}

#ContactController_captcha_fieldset {
	margin: 0;
}

#ContactController_fbuttons {
	margin: 1em 0 0 0;
}
