/* Options Dropdown menu */
.nav{
    background-color:#376394;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0 1px 3px inset;
    background-image:linear-gradient(#5179a5, #376294 45%, #376294);
    background-repeat:no-repeat no-repeat;
    box-shadow:rgba(0, 0, 0, 0.2) 0 1px 3px inset;
    display:inline-block;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
    padding:10px 10px;
    text-decoration:none;
    display:inline-block;
    height:15px;
}

.nav:hover{
    background-color:#383435;
    color:#FFFFFF;
    background-image:linear-gradient(#454042, #383435 45%, #383435);
    background-repeat:no-repeat no-repeat;
    box-shadow:rgba(0, 0, 0, 0.6) 0 4px 10px inset;
    text-decoration:none;
}
.nav li{
    float:right;
    list-style:none;
    position:relative;
}

.nav li a{
    text-decoration:none;
    color:#FFFFFF;
}

#options span.options{
	display:inline-block;
	background:url(images/cog.png) no-repeat;
	width:16px;
	height:16px;	
}

.subnav {
    visibility: hidden;
    position: absolute;
    background-color:#383435;
    -moz-border-radius:0 0 3px 3px;
    -webkit-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px;
    top: 110%;
    right: -10px;
    width: 54px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
}

.subnav li {
    float: none;
}

.subnav li:hover{
    background-color:#376394;
}

.subnav li a {
    line-height:30px;
    text-align:right;
    padding:0 0 0 20px;;
}

#options:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}

span.caret{
	display: inline-block;
	margin:0px 5px 5px 5px;
	border-top: 4px solid #FFFFFF;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

/* Options Dropdown menu:END */

.cat_tool {
	float:right;
	padding:0px 30px;
}

.cat_tool img{ opacity:0.01; }
.cat_tool img:hover{ opacity:1!important; }

.cat:hover > .cat_tool img{ opacity:0.5; }

.article_tools {
	float:right;
	padding:0px 10px;
}

.article_tools img{ opacity:0.01; }
.article_tools img:hover{ opacity:1!important; }

.article_content, .article_content_list_view{
	position: relative;
	width: auto;
	margin: 5px;
	display: block;
}
.article_content:before, .article_content_list_view:before,
.article_content:after, .article_content_list_view:after {
    content:"";
    display:table;
}
.article_content:after, .article_content_list_view {
    clear:both;
}
.article_content article{
	display: block;
	width: 200px;
	height: 420px;
	background: #f9fbfd;
	float: left;
	text-align: left;
	text-transform: none;
	margin: 15px;
	z-index: 1;
	box-shadow: 
		0px 0px 0px 10px rgba(249,251,253,1), 
		1px 1px 3px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 
		0px 0px 0px 10px rgba(249,251,253,1), 
		1px 1px 3px 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 
		0px 0px 0px 10px rgba(249,251,253,1), 
		1px 1px 3px 10px rgba(0,0,0,0.2);
}

.article_content_list_view article{
	display: block;
	width:96%;
	height: 200px;
	background: #f9fbfd;
	float: left;
	text-align: left;
	text-transform: none;
	margin: 15px;
	z-index: 1;
	box-shadow: 
		0px 0px 0px 10px rgba(249,251,253,1), 
		1px 1px 3px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 
		0px 0px 0px 10px rgba(249,251,253,1), 
		1px 1px 3px 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 
		0px 0px 0px 10px rgba(249,251,253,1), 
		1px 1px 3px 10px rgba(0,0,0,0.2);
}

.article_content article:hover, .article_content_list_view article:hover {
	background: #e8edf3;
	box-shadow: 
		0px 0px 0px 10px rgba(232,237,243,1), 
		1px 1px 3px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 
		0px 0px 0px 10px rgba(232,237,243,1), 
		1px 1px 3px 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 
		0px 0px 0px 10px rgba(232,237,243,1), 
		1px 1px 3px 10px rgba(0,0,0,0.2);
    
}

.article_content article:hover > .article_tools img{ opacity:0.5; }
.article_content_list_view article:hover > .article_tools img{ opacity:0.5; }

.article_content_list_view header {
	margin-left:150px;
	padding:0 0 10px 10px;
}
.article_content h3 {
	font-size: 14px;
	font-weight: bold;
	height: 36px;
	max-height: 36px;
	color:#334455;
}

.article_content_list_view h3 {
	font-size: 14px;
	font-weight: bold;
	color:#334455;
}

.article_content article header span{
	font-size: 11px;
	font-style:italic;
	padding-bottom: 10px;
	display: block;
}

.article_content_list_view article header span{
	font-size: 11px;
	font-style:italic;
	display: block;
}

.article_content article figure {
	width:150px;
	margin:auto;
	height:150px;
}

.article_content_list_view article figure {
	float:left;
	width:150px;
	height:150px;
	padding:5px 0 0 0;
}

.img_container {
	width: 150px;
	height: 150px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.article_content .description {
	height:70px;
	max-height:70px;
	padding:5px 0 5px 0; 
	font-size: 12px; 
}

.article_content .article_tags {
	font-size:10px;
	font-style:italic;
	padding:10px 0 0 0;
}

.article_content_list_view .description {
	margin-left:150px;
	width:500px;
	height:60px;
	max-height:60px;
	padding:0 0 10px 10px;
	font-size:12px;
	text-align:left;
}

.article_content_list_view .description a {
	float:left;
}

.article_content_list_view .article_tags {
	margin:0;
	padding:10px 0 0 0;
	font-size:10px;
	font-style:italic;
}

.button_read_more {
    background-color:#376294;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0 1px 3px inset;
    background-image:linear-gradient(#5179a5, #376294 45%, #376294);
    background-repeat:no-repeat no-repeat;
    box-shadow:rgba(0, 0, 0, 0.2) 0 1px 3px inset;
    display:inline-block;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
    padding:10px 10px;
    text-decoration:none;
}

.button_read_more:hover {
    background-color:#383435;
    color:#FFFFFF;
    background-image:linear-gradient(#454042, #383435 45%, #383435);
    background-repeat:no-repeat no-repeat;
    box-shadow:rgba(0, 0, 0, 0.6) 0 4px 10px inset;
    text-decoration:none;
}

.button_read_more:active {
    position:relative;
    top:1px;
}

.button_cat {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background-color:transparent;
    font-size:11px;
    font-weight:bold;
    padding:10px 10px;
    text-decoration:none;
}

.button_cat:hover {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background-color:#383435;
    background-image:linear-gradient(#454042, #383435 45%, #383435);
    background-repeat:no-repeat no-repeat;
    box-shadow:rgba(0, 0, 0, 0.6) 0 4px 10px inset;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
    padding:10px 10px;
    text-decoration:none;
}

.button_cat:active {
    position:relative;
    top:1px;
}

.article_top {
    color:#515C68;
    height:60px;
    
}

.article_top_title {
    font-size:20px;
    font-weight:bold;
    border-bottom:1px solid #336397;
}

.article_info {
    font-style:italic;
    padding:5px 0 0 0;
}