.tags a {
	display: inline-block;
	padding: 3px 3px;
    background-color: #376294;
	background-image: linear-gradient(#5179a5, #376294 45%, #376294);
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px inset;
	color: #FFFFFF;
	font-size: 0.869em;
	font-weight: bold;
	line-height: 12px;
	text-decoration: none;
}

.tags a:hover {
	background-color: #383435;
	background-image: linear-gradient(#454042, #383435 45%, #383435);
	box-shadow: rgba(0, 0, 0, 0.6) 0 4px 10px inset;
    color: #FFFFFF;
	text-decoration: none;
}

#module-articles hr {
	margin-top: 10px;
}

.pages-pagination {
	float: right;
	width: 33%;
	margin-bottom: 10px;
}

#module-articles .small-block {
	min-height: 420px;
}

.article-articles.article-several.small-block {
	padding: 1.2em;
}

.article-articles.article-several h2,
.article-articles.article-several .more {
	margin: 0;
}

.article-articles.article-several .content {
	padding: 0 0.5em 0 0.5em;
}

.article-articles.article-several img {
	padding: 0 0 0.5em 0;
}

span.contents + hr {
	margin: 35px 0 20px 0;
	clear: both;
}

.form-field-action-link ul {
	margin: 0;
    list-style-type: none;
}

.form-field-action-link i {
	font-size: 2.3rem;
}

#module-articles .small-block.one-article {
	width: 99%;
}

@media (min-width: 769px) {
	#module-articles .small-block.two-articles {
		width: 49%;
	}
}

.fa-pagebreak:before { content: "\f0f6"; }
