.tags a {
    background-color: #376294;
    border-radius: 3px;
    background-image: linear-gradient(#5179a5, #376294 45%, #376294);
    background-repeat: no-repeat no-repeat;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px inset;
    display: inline-block;
    color: #FFFFFF;
    font-size: 0.869em;
    font-weight: bold;
    padding: 3px 3px;
    line-height: 12px;
    text-decoration: none;
}

.tags a:hover {
    background-color: #383435;
    color: #FFFFFF;
    background-image: linear-gradient(#454042, #383435 45%, #383435);
    background-repeat: no-repeat no-repeat;
    box-shadow: rgba(0, 0, 0, 0.6) 0 4px 10px inset;
    text-decoration: none;
}

.pages-pagination {
    float: right;
    width: 33%;
}

#module-articles .small-block { min-height: 410px; }
