.connect_form {
	background:url('images/form.png') no-repeat right bottom;
	border:none;
	padding-left:4px;
	padding-top:3px;
	height:18px;
	width:115px;
	font-size:12px;
	color: #E9ECEF;
}
.connect_form:hover {
	background:url('images/form.png') no-repeat right bottom;
	border:none;
}
.connect_form:focus {
	background:url('images/form.png') no-repeat right bottom;
	border:none;
}
 
div.connect_align {
	text-align:right;
	margin:7px 8px 0px 0px;
}

div.connect_align a {
	color:#FFF;
}
 
.connect_align form {
	text-align:right;
	display:inline;
}
 
.connect_inline {
	display:inline;
}
 
.connect_content {
	text-align:left;
}
 
.connect_content ul{
	margin:0;
	padding:0;
	padding-left:4px;
	list-style-type:none;
	line-height:18px;
}
 
.connect_register {
	margin:0;
	margin-top:5px;
}
 
.connect_vertical input#login, .connect_vertical input#password {
	width:120px;
}

