/* Classe du lien du pseudo sur forum */
a.forum_link_pseudo{
	color:#e8eaeb; 
	font-weight:bold;
}
a.forum_link_pseudo:hover { 
	color:#f2fbff; 
	font-weight:bold;
}
/* Barre du titre du forum */
.forum_title{
	width:96%;
	margin:auto;
	height:27px;
	background:#4C6749 url(images/forum_title.jpg) no-repeat;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	padding-top:12px;
}
/* Barre des textes relatifs aux colonnes */
.forum_text_column {	
	height:20px;
	background:#4C6749;
	border-top:1px solid #7C7D6A;
	border-bottom:1px solid #7C7D6A;
	font-size:10px;
	color:#e8eaeb;	
	text-align:center;
	font-weight:bold;
	padding:0px;
}
/* Case des liens sous-catégories */
.forum_sous_cat{
	background:#9CB18F;
	border-bottom:1px solid #7C7D6A;
	border-right:1px solid #7C7D6A;
	padding:6px;
}
.forum_sous_cat:hover{
	background:#A7BE99;
}
/* Case compteur message/topic */
.forum_sous_cat_compteur{	
	width:60px;
	background:#B1C5A5;
	border-bottom:1px solid #7C7D6A;
	border-right:1px solid #7C7D6A;
	color:#000000;
	text-align:center; 
}
/* Case compteur dernier topic/dernier message */
.forum_sous_cat_last{
	width:150px;
	background:#9CB18F;
	border-bottom:1px solid #7C7D6A;
	font-size:10px;
	color:#000000;
	text-align:center; 
}
.forum_sous_cat_last:hover{
	background:#A7BE99;
}
/* Cadre des liens:alerter les modérateurs et suivre le sujet */
.forum_action{
	width:550px;
	margin:auto;
	background:#9CB18F;
	border:1px solid #4C6749;
	border-spacing:1px;
	text-align:center;
	-moz-border-radius:0.4em;
}
/* Les des catégories de niveau 0 */
a.forum_link_cat{
	color:#FEFFE4;
	font-weight:bold;
}
/* Affichage des membres en ligne */
.forum_online{
	background:#B1C5A5;
	color:#000000;
	border:1px solid #7C7D6A;
	border-top:none;
	padding:6px;
}
/* Fond des catégories dans l'administration */
.forum_cat_admin{
	width:100%;
	height:20px;
	margin-bottom:2px;
	padding:4px 0px;
}
/* Contenu */
.forum_contents{
	padding:0px;
	padding-right:2px;
}
