/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

.grecaptcha-badge {
	bottom: 70px !important;
}

@media (max-width: 768px) {
	.grecaptcha-badge {
		z-index: 300 !important;
		bottom: 60px !important;
	}
	
	.g-recaptcha div {
		width: 101% !important;
	}
	
	.g-recaptcha iframe {
		max-width: 101%;
	}
}
