.admin-poll input[type="text"] {
    border: 1px solid #d4d4d4;
}

.admin-poll tbody tr:first-child td {
    border-top: 1px solid #d4d4d4;
}

.poll-question-select {
	margin-top: 15px;
	padding-left: 25px;
}

#module-mini-poll hr {
	width: 90%;
	margin: 10px auto;
}

.poll-container-title {
	font-size: 0.8em;
}

.poll-question-mini-container {
	padding-left: 6px;
	text-align: left;
}

.poll-vote {
    width: 80% !important;
}

.fieldset-inset {
    overflow: visible;
}

#calendar1 .calendar-block, 
#calendar2 .calendar-block, 
#calendar3 .calendar-block {
    position:absolute;
    z-index:100;
    top: auto;
    bottom: 100%;
    left: 0;
}