div.syndication_choices {
    position:absolute;
    width:0px;
    height:0px;
    overflow:visible;
    visibility:hidden;
}

div.syndication_choices ul {
    width:90px;
    padding-top:5px;
    padding-bottom:1px;
    background:#ffffff;
    border:1px #ccccff solid;
    list-style-type:none
}