/* --- Menus ---------------------------------------------------------------- */
.step-menu .cssmenu-title {
    border-width: 0 0 3px 0;
	border-style: solid;
	border-color: transparent;
}

.row-current .cssmenu-title {
	border-color: var(--warning-tone);
    background-color: rgba(var(--main-rgb-t), 0.5);
}

.row-success .cssmenu-title {
	border-color: var(--success-tone);
	background-color: rgba(var(--main-rgb-t), 0.5);
}

@media (min-width: 769px) {
    .step-menu .cssmenu-title { border-width: 0 0 0 5px; }
}

@media (max-width: 768px) {
	.step-menu.cssmenu > ul > li.3-steps {
        display: inline-block;
		width: calc(100% / 3);
	}

	.step-menu.cssmenu > ul > li.4-steps {
        display: inline-block;
		width: calc(100% / 4);
	}

	.step-menu.cssmenu > ul > li.5-steps {
        display: inline-block;
		width: calc(100% / 5);
	}

    .step-menu .cssmenu-title {
		display: block;
		padding: 0.309em;
		text-align: center;
		white-space: normal;
	}

	.step-menu.cssmenu > ul > li > .cssmenu-title i {
		display: inline-block;
		padding: 0;
	}

	.step-menu.cssmenu > ul > li > .cssmenu-title span { display: none; }
}

/* --- Content -------------------------------------------------------------- */
#global h1 {
	padding: 0.809em;
	border-width: 0 0 2px;
    border-style: solid;
    border-color: var(--bdr-main);
}

.admin-main { flex: 1 1 auto; }

section header { margin-bottom: 0.809em; }

section header h2 {
	padding: 0.809em;
	border-bottom: none;
	font-weight: 400;
}

.next-step button {
	margin: 0;
    padding: 1em 2em;
}

.next-step button { border-width: 1px 0 1px 1px; }

.next-step button:last-child { border-width: 1px; }

/* --- Welcome -------------------------------------------------------------- */
@media (min-width: 769px) {
	.pbt-box { padding: 0 0.456em 0.456em 6.18em; }
}

/* --- Server configuration ------------------------------------------------- */
#chmod .message-helper {
	display: inline-block;
	width: calc(50% - 0.809em);
}

/* --- Execute -------------------------------------------------------------- */
#update-in-progress-container { display: none; }

.update-in-progress-background {
	position: fixed;
	display: block;
	z-index: 2000;
	opacity: 0.8;
	background-color: var(--main-dark);
	top: -9999px;
	bottom: -9999px;
	left: 0;
	min-height: 100%;
	width: 100%;
}

.update-in-progress-spinner {
	display: inline-block;
	position: fixed;
	z-index: 2001;
	opacity: 1;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	line-height: 1;
	margin-left: -0.5em;
	margin-top: -0.5em;
	text-align: center;
	color: rgba(var(--lighten), 0.7);
}

.update-in-progress-spinner span { display: block; }

/* --- Finish --------------------------------------------------------------- */
.finish-menu ul {
	display: table;
	margin: 1.309em auto;
	padding: 0;
	list-style-type: none;
}

.finish-menu ul li {
	display: inline-block;
	padding: 0.809em;
	width: 100%;
	text-align: center;
}

.finish-menu ul li a { text-decoration: none; }

.finish-menu ul li i,
.finish-menu ul li span { display: block; }

@media (min-width: 769px) {
	.finish-menu ul li {
		width: 200px;
		vertical-align: top;
	}

	.finish-menu ul li i,
	.finish-menu ul li span { display: block; }
}
