/* --------------------------------------
		content.css
Contient les formulaires, les modules (et modules minis), et messages.
--------------------------------------*/

/* Titres */
h2.title{
	font-size:16px;
	font-weight:bold;
}
/* Titres */
h3.title{
	font-size:12px;
	font-weight:bold;
	display:inline;
}
/* Sous-Titres */
h5.sub_title{ /* Titre des menu */
	font-size:12px;
	padding-top:28px;
	color:#FFFFFF;
}
h6.sub_title2{ /* Sous titre dans les menu */
	font-size:12px;
	font-weight:bold;
	padding-top:4px;
	text-indent:10px;
	width:155px;
	height:32px;
	color:#E53B00;
}

.block_top, th{ /* Entête de conteneur et des tableaux */
	padding:5px 6px;
	color:#FFFFFF;
	background:#0A131C;
	border:1px solid #063E59;
	border-bottom:1px solid #063E59;
	text-align:left;
	font-size:0.75em;
	font-weight:bold;
	text-transform:uppercase;
}
hr {
	background:#C4CED6;
	border:none;
	margin:1px auto;
	height:1px;
	width:99%;
}
/* Formulaires 
--------------------------------------*/
.fieldset_mini{	
	width:74%;
	margin:auto;
	margin-top:20px;
}
.fieldset_content{
	width:95%;
	margin:auto;
	margin-top:20px;
}
input, textarea, optgroup, select, .xmlhttprequest_preview{
	font-family:Verdana, 'Bitstream Vera Sans', Times, serif;
	font-size:11px;
	vertical-align:middle;
	border-left:1px solid #000000;
	border-top:1px solid #000000;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	background-color:#DEF2FF;		
	color:#101010;
	padding:1px 2px;
}
input:hover, textarea:hover{
	border:1px solid #213D4F;
	background-color:#DEF2FF; 
}
input:focus, textarea:focus{
	border:1px solid #42B6FF;
	background-color:#DEF2FF;
}
fieldset textarea.post{
	width:90%;
	display:inline;	
}
textarea{
	display:block;
	width:94%;
	margin:auto;
}
input.text{
	padding:2px;
}
input.submit{
	border:1px solid #5B5A5A;	
	color:#061729;	
	padding:1px;
	font-weight:bold;
	font-size:10px;
	background:#FFFFFF url('images/form/form.gif') repeat-x;
}
input.reset{
	border:1px solid #5B5A5A;	
	color:#E10000;
	font-family:Verdana, 'Bitstream Vera Sans', Times, serif;
	font-weight:bold;
	font-size:10px;
	padding:1px;
	background:#FFFFFF url('images/form/form.gif') repeat-x;
}
input.reset:hover, input.submit:hover{
	border:1px solid #22435F;
	cursor:pointer;
	color:#507CA2;
}
optgroup, select{
	font-family:Verdana, 'Bitstream Vera Sans', Times, serif;
	cursor:pointer;
	vertical-align:middle;
	width:auto;	
}
optgroup{
	font-weight:bold;
	border:none;
	border-bottom:1px solid #5B5A5A;
}
option{
	padding:0px 3px;
}
legend{
	padding:1px 0;
	font-family:Verdana, 'Bitstream Vera Sans', Times, serif;
	font-size:0.75em;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#0A131C;
	border:1px solid #2C5169;
	padding:2px 8px;
	margin-top:-0.4em;
	position:relative;
	text-transform:none;
	line-height:1.2em;
	top:0;
	vertical-align:middle;
	text-transform:uppercase;
}
legend{ 
	top:-1.2em; 
}
* html legend{
	margin:0 0 -10px -7px;
	line-height:1em;
	font-size:.85em;
}
fieldset{
	font-family:Verdana, 'Bitstream Vera Sans', Times, serif;
	margin:20px 0;
	padding:6px;
	border:1px solid #40486D;
	background-color:#101010;
	position:relative;
}
fieldset.fieldset_submit{
	margin-top:-10px;
	padding-bottom:15px;
	width:99%;
	text-align:center;
	background:none;
	border:none;
}
fieldset.fieldset_submit legend{
	display:none;
}
fieldset dl{
	height:1%;
	overflow:hidden;
	margin-bottom:16px;
	font-size:11px;	
}
fieldset dl.overflow_visible{
	overflow:visible;
}
html>body fieldset dl{
	height:auto;
	min-height:20px;
}
fieldset dt{
	width:45%;
	text-align:left;
	padding-top:3px;
}
fieldset dd{
	margin:0 0 0 45%;
	padding:0 0 0 5px;
	border:none;
	vertical-align:top;
	font-size:11px;
}
dt{
	float:left;
	width:auto;
}
dt span{ 
	padding:0 5px 0 0;
}
label{
	cursor:pointer;
}
fieldset label{
	font-size:11px;
	text-align:left;
	font-weight:bold;
	color:#FFFFFF;
}
dd label{
	white-space:nowrap;
	margin:0 10px 0 0;
	font-weight:normal;
	color:#476A7F;
}
dt span{
	font-size:10px;
	color:#476A7F;
}
label img{
	vertical-align:middle;
}
fieldset dl dd label:hover{
	color:#214155;
}


/* Messages postés par les membres (messages privés, commentaires, etc...) 
--------------------------------------*/
/* Classe du lien du pseudo des messages */
a.msg_link_pseudo{
	color:#e8eaeb; 
	font-weight:bold;
}
a.msg_link_pseudo:hover { 
	color:#f2fbff; 
	font-weight:bold;
}
.msg_position{ /* Conteneur des messages */
	background: #172E46 url(images/border.gif) repeat-y left;
	width:98%;
	margin:auto;
}
.msg_container, .msg_container2{ /* Case contenant l'ensemble du message */
	background:url(images/sr.jpg) repeat-y right;
	padding-right:25px;
	padding-left:33px;
	overflow:hidden !important;
	height:auto !important;
	overflow:visible;
	height:1%;
	clear:both;
}
.msg_container2{ /*  Case contenant l'ensemble du message => Couleur alternative */
	background:url(images/sr.jpg) repeat-y right;
}
/* Barre supérieur des messages */
.msg_top_l{
	margin-right:0px !important;
	margin-right:-3px;
	width:32px;
	height:38px;
	background:url(images/msg_top_l.gif) no-repeat left;
	float:left;
}
.msg_top_r{
	margin-left:0px !important;
	margin-left:-3px;
	width:29px;
	height:38px;
	background:url(images/msg_top_r.gif) no-repeat right;
	float:right;
}
.msg_top a{
	color:#FFFFFF;
}
.msg_top{
	height:23px;
	background:#000000 url(images/msg_top.gif) repeat-x;
	padding-top:15px;
	padding-left:6px;
}
.msg_pseudo_mbr{ /* Pseudo du membre */
	width:137px;
	background:#0A131C;
	padding:2px 4px;
	float:left;
	margin-right:0px !important;
	margin-right:-3px;
	margin-left:-131px !important;
	margin-left:-64px;
	margin-top:-4px;
}
.msg_top_row{ /* Case au dessus du message, indique la date et les boutons d'administration */
	height:16px;
	background:#0A131C;
	font-size:10px;
	color:#e8eaeb;
	border-top:1px solid #092139;
	border-bottom:1px solid #092139;
	padding-top:4px;
	padding-left:127px;
	overflow:hidden !important;
	height:auto !important;
	overflow:visible;
	height:1%;
}
.msg_info_mbr{	/* Case des informations du membre */ 
	background:#172E46;
	width:127px;
	padding:4px;
	float:left;
	font-size:10px;
	border-right:1px solid #174a84;
}
.msg_contents_container{ /* Case contenant l'ensemble du message, infos membre + contenu */
	margin-right:1px;
	background:#172E46;
}
.msg_contents, .msg_contents2{ /* Case du message */
	margin-left:135px;
	padding:0px 5px;
	border-left:1px solid #174a84;
}
.msg_contents2{ /* Case du message => Couleur alternative */
	background:#47637F;
}
.msg_contents_overflow{	/* Case du contents du message, évite que les images trop grandes déforme */ 
	width:99%;
	height:auto;
	min-height:80px;
	overflow:auto;
	padding:10px 0px;
}
.msg_sign, .msg_sign2{ /* Signature du membre */
	background:url(images/sr.jpg) repeat-y right;
	padding:4px;
	font-size:11px;
	margin-left:168px;
	padding-right:30px;
	border-left:1px solid #174a84;
}
.msg_sign2{ /* Signature du membre => Couleur alternative */
	background:#47637F url(images/sr.jpg) repeat-y right;
}
.msg_sign_overflow{ /* Signature du membre, fixe la hauteur maximale */
	height:auto !important;
	height:80px;
	width:99%;
	max-height:80px;
	max-width:99%;
	overflow:hidden;
}


/* Modules
--------------------------------------*/
/* Conteneur des modules */
.module_position{
	width:98%;
	margin:auto;
	background:#0E1B24 url(images/border.gif) repeat-y left;
}
.module_top_l{
	margin-right:0px !important;
	margin-right:-3px;
	width:32px;
	height:38px;
	background:url(images/msg_top_l.gif) no-repeat left;
	float:left;
}
.module_top_r{
	margin-left:0px !important;
	margin-left:-3px;
	width:29px;
	height:38px;
	background:url(images/msg_top_r.gif) no-repeat right;
	float:right;
}
.module_top{
	height:23px;
	background:#000000 url(images/msg_top.gif) repeat-x;
	padding-top:15px;
	padding-left:6px;
}
.module_top a{
}
.module_contents{ /* Contenu des modules */
	background:url(images/sr.jpg) repeat-y right;
	padding-left:20px;
	padding-right:20px;
	clear:both;
	text-align:justify;
}
/* Barre inférieure des modules */
.msg_bottom_l{
	margin-right:0px !important;
	margin-right:-3px;
	width:32px;
	height:54px;
	background:#000000 url(images/sbl.jpg) left;
	float:left;
}
.msg_bottom_r{
	margin-left:0px !important;
	margin-left:-3px;
	width:29px;
	height:54px;
	background:#000000 url(images/sbr.jpg) right;
	float:right;
}
.msg_bottom{
	height:49px;
	background:#000000 url(images/sb.jpg) bottom;
	padding-top:5px;
	padding-left:20px;
}
.module_table, .block_container{ /* Tableau global, utilisé dans les différents modules */
	width:98%;
	margin:auto;
	border-spacing:0px;
	border-collapse:collapse;
}


/* Modules minis
--------------------------------------*/
.module_mini_container{ /*Placement des mini modules */
	width:197px;
	margin:auto;
	margin-top:1px;
	padding-top:5px;
	margin-bottom:10px;
}
.module_mini_top{
	width:197px;
	height:55px;
	background:url("images/row1.png") no-repeat;
	font-weight:bold;
	text-align:center;
}
.module_mini_contents{
	background:url("images/mini_block.gif") repeat-y;
	border-top:none;
	border-bottom:none;
	text-align:center; 
	padding-left:30px;
	padding-right:30px;
}
.module_mini_bottom{ /* Bordure inférieur des modules minis */ 
	height:80px;
	width:197px;
	background:url("images/module_bottom.jpg") no-repeat;
}

.label {
    font-weight:bold;
    font-size: 10px;
    color: #476a7f;
}