/** Général **/
body
{
    text-align:justify;
    font-family:Verdana, 'Bitstream Vera Sans', Times, serif;
}

/** Titres **/
h1
{
    text-align:center;
    background:#dddddd;
    padding:20px;
}
h2
{
    background:#dddddd;
    padding-left:10px;
}
h3
{
    background:#dddddd;
}
h4
{
    position:relative;
    left:30px;
}
h5
{
    position:relative;
    left:40px;
}
h6
{
    
}

/** Conteneurs **/
div#document
{
    position:relative;
    left:2%;
    width:96%;
    background:#fafafa;
}

div#content, div#thanks, div#related
{
    position:relative;
    left:1%;
    width:98%;
    padding-top:2px;
    padding-bottom:2px;
    background:#eeeeee;
}

div.text, div.code
{
    position:relative;
    left:1%;
    width:97%;
    padding-left:5px;
    padding-right:5px;
}

div.text
{
    background:#ffffff;
}


/** Dates **/
div.dates { font-size:10px; text-align:right; }
div.dates ul { list-style:none; }
div.dates li { display:inline; }
div.dates span.date { font-style:italic}

/** License **/
div.license { font-size:10px; text-align:right; }

/** Authors **/
div.authors { text-align:center; }
div.authors ul { list-style:none; }
div.authors li { display:inline; margin:5px; }
div.authors span.name { font-weight:bold; }
div.authors span.email { font-style:italic; }

/** Thanks **/
div.thanks-list { margin-left:4%; width:92%; padding:1px 1px; margin-bottom:20px; background:#ffffff; }

/** Code **/
div.code table { width:100%; border:1px #aaaaaa solid; }
div.code table tr td.numLines { width:30px; text-align:right; border-right:1px #000 solid; background:#ffffff; }
div.code table tr td.code { background:#fafafa; }