/* News */
h3.title{
	font-size:15px;
	font-weight:bold;
}
/* Contenu de la news */
.news_container{	
	width:100%;
	margin:auto;
	margin-bottom:25px;
}
/* Barre supérieur des news */
.news_top_l{
	float:left;
}
.news_top_r{
	float:right;
}
.news_top{
	font-weight:bold;
	color:#515C68;
	border-bottom:2px solid #515C68;
	margin:0 7px 5px;
}
.news_top img{
	margin-top:-5px;
}
.navigation_link{
	width:90%;
	margin:10px auto;
}
/* Titre et contenu de la news */
a.news_title{
	font-size:12px;
	font-weight:bold;
	color:#515C68;
}
.news_content{
	padding:10px 20px 0 20px;
	text-align:justify;
}
/* Barre inférieure des news */
.news_bottom{
	height:18px;
	font-size:10px;
	padding-left:12px;
	padding-right:12px;
}
.edito .title{
	padding-left:5px;
}
.edito .news_content{
	text-indent:25px;
}
.news_top img{
	padding-left:5px;
}