/* News */
/* Contenu de la news */
.news_container{	
	width:100%;
	margin:auto;
	margin-bottom:25px;
}
/* Barre supérieur des news */
.news_top_l{
	float:left;
}
.news_top_r{
	float:right;
}
.news_top{
	height:18px;
	font-size:12px;
	font-weight:bold;
	color:#E53B00;
	border-bottom:2px solid #E53B00;
}
/* Titre et contenu de la news */
.news_top a.com{
}
a.news_title{
	font-size:12px;
	font-weight:bold;
	color:#E53B00;
}
.news_content{
	padding:8px;
	text-align:justify;
}
/* Barre inférieure des news */
.news_bottom_l{
}
.news_bottom_r{
}
.news_bottom{
	height:18px;
	font-size:10px;
	padding-left:6px;
	padding-right:6px;
}
